[2021-08-20 17:31] khangcnttspkt commented on #619
Thank @aleksmaus ,

Now I can run fleet-server.

Thank you very much.

[2021-08-20 17:31] #619 closed

[2021-08-23 16:03] aleksmaus commented on #636
Merged the change for the client library to the main and 7.x branches.

Currently the fleet server is using version 7.13.1
[code]

In order to implement this, need the client library to tag with the proper version v7.x.x version so we can update the go mod and pick up this change.

[2021-08-30 12:47] ruflin commented on #602
I opened https://github.com/elastic/fleet-server/pull/672 with an initial version. This is not the end goal but at least should give us a place to track changes.

[2021-08-31 08:37] dikshachauhan-qasource commented on #234
hi @EricDavisX

Thanks for the feedback.

Further, as currently x86 artifacts availability after 7.13 has been stopped [Refer: https://github.com/elastic/beats/issues/25533#issuecomment-870777973], so above scenario will not be valid now.

Screenshot:
![image](https://user-images.githubusercontent.com/72375798/131470512-8f968110-4a18-4b4d-a895-927884f90471.png)

Thanks
QAS

[2021-08-31 09:06] #234 closed

[2021-08-31 20:19] blakerouse opened #682 "Upgrade from 7.14 to 7.15 results in Elastic Agent not being able to check-in"
This is a critical issue that needs to be fixed in Fleet Server for the 7.15.0 release.

- Version: 7.15.0
- Operating System: Any
- Steps to Reproduce:

1. Setup a 7.15.0-SNAPSHOT elasticsearch and Kibana
2. Install 7.14.0-SNAPSHOT Elastic Agent on a host bootstrapping Fleet Server
3. Click upgrade Elastic Agent so it upgrades it to 7.15.0-SNAPSHOT
4. Upgrade will work but the Elastic Agent will

[2021-08-31 20:53] #682 closed

[2021-08-31 23:26] nimarezainia commented on #550
**API Key Management in Fleet Server**
For better security on the Elastic Agent endpoints each agent should have a uniquely scoped API key for remote Elasticsearch clusters (the same as the main Elasticsearch endpoint that Fleet Server already uses). The difference is that multiple Fleet Server’s will share a service token when the Elasticsearch output is a remote cluster versus the main cluster w

[2021-09-01 13:19] #636 closed

[2021-09-01 18:28] EricDavisX commented on #552
I wanted to apologize for the delay in response and for the trouble being had.  We're aware of a few bugs over the last few versions that are being fixed as fast as we can.  It can be time consuming to review the nuances of each environment and usage.

I can open the dialog by asking if you *have to use the --insecure flag at present for any testing you're doing?  7.13.x is not a GA version, and w

[2021-09-03 18:39] blakerouse opened #691 "Agent Mode restart on failure uses the wrong configuration"
When Elastic Agent sends a new configuration to Fleet Server and that configuration fails to load, then Fleet Server will rollback to the very first configuration that Elastic Agent ever sent. So if Elastic Agent sent 5 configurations before the last bad one it would result it going back all the way to the 1st configuration not the 5th configuration.

Fleet Server should take the configuration fro

[2021-09-06 14:13] massifazio commented on #552
Hello,

do we have an update on this one?

Regards

[2021-09-06 14:30] bertol83 commented on #552
there is a bug.
We were able to install it with 7.14 using the auto-generated node cert (which works only for 127.0.0.1).
If you have to change the IP, you can do in a second step from kibana.

[2021-09-06 15:50] massifazio commented on #552
thank you for letting me know.  I will inform the customer that this needs a fix

[2021-09-07 18:01] #691 closed

[2021-09-08 10:53] amolnater-qasource opened #735 "[Fleet]: Even after setting Unenrollment timeout field back to blank, installed agents get unenrolled after getting offline."
**Kibana version:**  7.15.0 BC-5 Kibana Cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 BC-5 Kibana Cloud environment should be available.
2. Agent must be installed with Default policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Set unenrollment timeout from Default Policy setting to 6

[2021-09-08 20:36] EricDavisX commented on #552
We are now tracking this in 2 places, a little harder to coordinate - but Michal was follow up in the linked SDH, I have assigned him here.  We can discuss (a potential fix) after we've researched / reviewed more.

Just for sake of possible quicker response, Michal had asked in the SDH:
do they have a hostname available for ES deployment?
when connecting to ES using IP, IP SAN from cert is used in

[2021-09-09 20:46] pedrosk commented on #552
@jsoriano  Replicated both with 7.14.0 and 7.14.1 with elasticsearch self generated certs

[code]

[2021-09-10 06:41] michalpristas commented on #552
do we know how CN and SANs are set when generating self signed cert?
in case CN=* and SAN is empty and `fleet-server-es` specified by URI not the hostname it will unfortunately fail.
this is not the cert agent generated for fleet server but the one generated for ES if i understand this correctly and error is coming from Fleet Server to ES communication

[2021-09-10 07:55] bertol83 commented on #552
I think the self signed cert is generated with 127.0.0.1 as CN.
Running the following command i was able to install it:
`sudo ./elastic-agent install  -f  --fleet-server-es=https://127.0.0.1:9200  --fleet-server-service-token=TOKEN_FROM_KIBANA   --fleet-server-policy=POLICY_ID_FROM_KIBANA -i --fleet-server-es-ca=/path/ca.pem`

[2021-09-10 17:45] #400 closed

[2021-09-14 14:00] blakerouse commented on #550
## Implementation Plan

Below documents how this will be implemented in Fleet Server.

### Index Changes

Idea is that only the `.fleet-agents` index will be modified. The `default_api_key`, `default_api_key_id`, and `policy_output_permissions_hash` will be migrated to a new `api_keys` field inside the `.fleet-agents` index.

Each document in the `.fleet-agents` index will have a list of API keys

[2021-09-16 13:01] blakerouse commented on #552
This is a duplicate of https://github.com/elastic/beats/pull/27969 as it's ultimately an issue with Elastic Agent. Closing as I have a PR up for the other issue.

[2021-09-16 13:01] #552 closed

[2021-09-22 10:44] mdelapenya commented on #77
I did a research about this task, and after talking to @michalpristas, I'd like to confirm with the team if the following assumptions are correct, or if there is a simpler manner to build the agent with the new fleet-server code.

### Pre-requisites to build the agent with Fleet Server
1. the fleet-server code must be compiled and packaged first using `make release`, which will generate the artifa

[2021-09-22 11:48] mdelapenya commented on #77
Thanks to @michalpristas again, a simpler sequence of steps would be:

1. Package the elastic-agent with `DEV=true SNAPSHOT=true PLATFORMS="+all linux/amd64" mage package`, which will build all dependant Beats (MB/FB/HB)
2. Package fleet-server code using make release, which will generate the artifacts under `build/distributions`
3. Copy fleet-server an MB/FB/HB binaries to a dedicated folder (i.e

[2021-09-22 13:27] andresrc commented on #359
Is this still happening?

[2021-09-22 13:34] #617 closed

[2021-09-23 13:48] EricDavisX commented on #552
we can leave this closed as a dupe - note it did not make the cut for 7.15 in the end, we are re-doing the fix and will merge it back (to 7.15.x) as possible.

[2021-09-23 14:43] jen-huang commented on #735
@elastic/agent Hi, this seems like a bug on the Fleet Server side where if the `unenroll_timeout` is unset in the policy sent to Fleet Server, it still unenrolls the agent by the last timeout value.

[2021-09-24 20:45] EricDavisX commented on #735
I'd like to get this in 7.16 if possible, and backport to 7.15 is probably good plan.

[2021-09-27 08:58] amolnater-qasource commented on #735
### `Bug Conversion`

-  01 new testcase is created under the 'Policy settings' section:
   - [C150164](https://elastic.testrail.io/index.php?/cases/view/150164)

Thanks!

[2021-09-27 14:27] scunningham opened #741 "Fleet server is unexpectedly unenrolled under load"
Fleet server version: 7.15.0
Host OS: All

Preconditions:

1. Executing in 7.15 cloud.

Steps to reproduce:

1. Create default 7.15 Elastic deployment in cloud.
2. Modify the configuration to limit the number of simultaneous check-in to something reasonable (there's a separate issue where the limits that existed for 7.14 were dropped in 7.15).
  - ie. set server.limits.checkin_limit.max: 100
2. Us

[2021-09-27 14:39] scunningham opened #742 "Fleet server no longer throttled in 7.15"
In 7.14, the Kibana configurartion UX included default throttles for the Fleet Server to prevent it from consuming too many resources in our cloud installations. In particular, the number off connections and max number of check-in transactions were limited:

![Screen Shot 2021-09-27 at 10 32 50 AM](https://user-images.githubusercontent.com/294689/134929936-b8341c4e-ae7c-4c07-a679-2b94309f4c2c.png)

[2021-09-28 11:53] #742 closed

[2021-09-28 14:04] EricDavisX commented on #77
@mdelapenya hi - I don't see that the steps are that different really?  Either way I'm excited we feel good about the steps! I'd love to hear how its going and to follow along with any updates / dev on this.  cheers.

[2021-09-29 01:02] ppf2 opened #746 "Better error handling when enrolling an agent to a fleet server with version incompatibility"
When enrolling an Agent (7.15) to Fleet Server (7.14), we currently throw a brief `UnsupportedVersion` error.

[code]

The above links to the troubleshooting page which doesn't discuss the version compatibility requirement.

It will be a better experience to spell out what versions of the Agent is supported by the Fleet Server the Agent is being enrolled to.  If we are going to link to a documenta

[2021-09-29 16:00] scunningham opened #749 "Kibana UX marks agents as "offline" at large scale, despite being connected to fleet."
To repro:

- Use [horde](https://github.com/elastic/horde) to enroll 250k emulated agents.
-  Notice that regardless of cluster size, some subset of agents are always marked "offline".  Horde indicates they are online.

Kibana marks an agent as "offline" if it has not updated the agent's "last_checkin" in the .fleet-agent index in the last two minutes.  Kibana is behaving as expected, these record

[2021-10-01 08:09] andresrc commented on #550
@blakerouse is #713 related to this? Is there anything missing here for 7.16?

[2021-10-01 10:29] andresrc opened #755 "Update Go to 1.17.x"
- [ ] Create PR for the target version (or start with an automatic one, like https://github.com/elastic/fleet-server/pull/704)
- [ ] Fix issues to get a green build.
- [ ] Merge and backport

**NOTE:** We'd prefer to be aligned with beats, so use the same version as https://github.com/elastic/beats/issues/28211 and wait for it to be completed before merging.

[2021-10-01 13:30] #77 closed

[2021-10-04 14:02] blakerouse commented on #550
@andresrc Everything is here for 7.16.

[2021-10-05 10:33] andresrc commented on #550
shall we close this issue then?

[2021-10-05 13:05] blakerouse commented on #550
This issue is more about support other output types, like Logstash and Kafka. We still do not support that, we also still do not support a remote Elasticsearch cluster.

I think we should keep it open.

[2021-10-05 15:56] joshdover opened #760 "[8.0] Support "Security on by Default""
Starting in 8.0, Elasticsearch will be shipping with security enabled by default for on-prem deployments. This involves Elasticsearch generating a CA and using it to create self-signed certificates for TLS.

We need to investigate how this will impact the initial Fleet Server onboarding experience for new users. I suspect that Fleet Server will need access to the generated CA's fingerprint in orde

[2021-10-06 14:46] #134 closed

[2021-10-06 20:59] simitt opened #763 "Fleet Server exits if policy does not have fleet-server package"
Fleet Server is exiting if the policy that it subscribes to does not have the Fleet Server package installed.

Following logs are seen
[code]

[2021-10-07 19:44] EricDavisX commented on #486
Note we started investigating testing + automation for routine 'soak' tests of cloud based Fleet-Server container, that issue is here: https://github.com/elastic/obs-dc-team/issues/596 - noting it for the possible overlap, though the tests are very different.

[2021-10-11 18:07] #763 closed, assigned to blakerouse

[2021-10-13 13:42] blakerouse commented on #550
@jlind23 Set it to 8.0-candidate.

[2021-10-14 23:04] aleksmaus opened #785 "Utilize new fleet search API that handles refreshes under the hood"
**Describe the enhancement:**

Currently when fleet server queries Elasticsearch using sequence numbers, it does index refreshes if the the returned data contains holes.
Elasticsearch team merged the fleet specialized API for searches that performs refreshes under the hood for 7.16 release.

Add fleet search api to wait on refreshes
https://github.com/elastic/elasticsearch/pull/73134

Now we can r

[2021-10-20 07:44] azasypkin commented on #760
Yeah, the SHA-256 fingerprint you'll get from the CA certificate we put to `elasticsearchConfig.ssl.certificateAuthorities` during enrollment process is exactly the same as the fingerprint we receive in the enrollment token itself and rely on during enrollment.

Luckily, we've just upgraded to NodeJS 16 and you can now use [`X509Certificate`](https://nodejs.org/api/crypto.html#class-x509certificat

[2021-10-21 13:35] joshdover commented on #760
Now that I understand enrollment all happens in Agent 😬 , I believe we can close this in favor of elastic/beats#25705 as they should be solved in the same way.

[2021-10-28 09:52] gbanasiak opened #828 "Elastic Agent can get stuck in Updating state on Fleet upgrade"
**Kibana version:** 7.15.1

**Describe the bug:**

Elastic Agents can operate in unstable environment with network/DNS issues. When Elastic Agent upgrade is initiated in Fleet mode, Elastic Agent can fail to ack upgrade success to Fleet server causing constant `Updating` state as reported in Kibana. This is confusing for end user as it suggests there's ongoing upgrade, which is not the case. It's

[2021-10-29 16:19] joeypoon opened #819 "`agent.id` field isn't populated in `.fleet-agents` when upgrading from 7.14"
works if enrolled in 7.15 or above and then upgrading but if agent enrolled from <=7.14 and then upgraded, `agent.id` isn't populated.

[2021-11-02 17:37] #819 closed

[2021-11-02 18:08] jen-huang commented on #828
Transferring to Fleet Server, maybe `upgraded_at` on agent info is not properly set after network is restored?

[2021-11-04 15:49] jlind23 opened #838 "Enhance logs when a wrong token type is used"
Service token:
Fleet-server has a service account and fleet-server needs a service token to be passed in. This is not the same as an enrollment token.

API Key: Also called enrolment token which is an Elasticsearch API Key and used for enrollment of "normal" Elastic Agents.

If fleet-server gets passed in an API Key instead of a service token, it should complain.

- [ ] Improve logs
- [ ] Improve

[2021-11-04 15:56] jlind23 opened #839 "External fleet server configuration"
**Describe the enhancement:**
Update the doc in case of an external fleet-server outside of ESS usage.
We must recommend to create a separate policy for the fleet-server
**Describe a specific use case for the enhancement or feature:**

[2021-11-08 12:21] joshdover commented on #735
Hi all this recently affected a large user of Fleet in conjunction with #741. Could we get this prioritized for a 7.16 fix?

[2021-11-08 13:20] jlind23 commented on #735
Hi @joshdover we'll talk about it during our weekly and work on it as soon as possible.

[2021-11-08 14:26] jlind23 opened #847 "Remove zap logging usage"
Remove zap logging usage as it causes a change in log format.
Zap is used here:
https://github.com/elastic/fleet-server/blob/71428f924e886f1b5a8340aab6a884fadb5fcc9d/cmd/fleet/metrics.go#L49

Logs are written as follow:
`{"log.level":"info","@timestamp":"2021-11-08T10:38:17.403Z","message":"received initial configuration starting Fleet Server"}
{"log.level":"info","status":"STARTING","@timestamp":

[2021-11-08 14:30] jlind23 commented on #847
Closed by #806

[2021-11-08 14:31] #847 closed

[2021-11-09 15:51] simitt opened #850 "Add APM instrumentation to Fleet Server"
**Describe the enhancement:**
Add apm instrumentation to the Fleet Server. At least following configuration options should be supported:
* environment
* hosts
* secret-token | api-key

**Describe a specific use case for the enhancement or feature:**
Turning on APM tracing will help gain more insights into the Fleet Server performance and errors, especially in combination with https://github.com/el

[2021-11-11 17:31] nchaulet opened #865 "Fleet server not using default port"
When a port different from 8220 is configured for Fleet server (In Kibana UI I modified the default fleet server policy port)

The Fleet server agent is not able to correctly checkin and is stuck in `Updating` looking at the log the agent is trying to checkin to the wrong port.

See the agent logs
[code]

See https://discuss.elastic.co/t/fleet-server-installation-issue/287741

[2021-11-11 17:33] nchaulet commented on #865
I misconfigured fleet server on my side.

[2021-11-11 17:33] #865 closed

[2021-11-17 15:27] #371 closed

[2021-11-18 01:27] marclop commented on #850
I don't seem to have permissions to assign this issue to myself, if someone could give me permissions to do that or at least assign me to this issue so others don't work on it.

[2021-11-18 08:31] jlind23 commented on #850
You are assigned now;

[2021-11-18 09:13] jlind23 commented on #550
@lykkin i know you have been a bit busy on fleet server bugfix but is there any progress here? What is our confidence level to make it happened in 8..0.0?

[2021-11-19 10:08] ruflin opened #903 "[META]Allow specifying different and multiple fleet servers in agent policy"
Over the past few weeks we have seen several users trying to run multiple fleet-servers. This issue is to discuss the different scenarios and share an initial thoughts on how we could approach this. The goal is to come a conclusion and feed the information in the documentation and have it guideline for future features.

# Core concepts

* No load balancing: It is not the Elastic Agent jobs to load

[2021-11-19 10:08] ruflin commented on #903
@scunningham @joshdover @michel-laterman @nimarezainia  Would be great to get your take on the above.

[2021-11-19 10:38] scunningham commented on #903
@ruflin Makes sense.  We could consider an automatic mode where the agent would regularly ping each listed URL and determine shortest route either by round trip time or trace-route.  However, that seems like a nice to have and not sure customers would use it.

I think the bigger concern is going to be the multitude of outbound connections from the integrations to elastic.  There is very little vol

[2021-11-19 10:51] ruflin commented on #903
@scunningham To keep the discussion focused on fleet-server only, should we open a different issue / thread our the ES outputs per policy to set some guidelines there too?

[2021-11-22 03:51] nimarezainia commented on #903
thanks @ruflin for this discussion. I think if we work towards defining what Scenario 4 would look like - i.e FS per policy - it would address many of the multi-site use cases we see today. In the near future with either Logstash support or Secure proxy concept, we could move towards having control and data plane aggregated at a site and reduce the number of connections coming out of some of these

[2021-11-22 06:52] Jhinxs opened #905 "Loading Fleet take a very long time"
i have installed elastic  7.15.2 on ubuntu 20.04 tls and 18.04 ,everytime when going to fleet panel,it shown Loading Fleet...  and it take a
very long time,but nothing show up, i had try reinstall for sevrel time .some time it will successful,but is nothing in choose agent policy itembox,beause it should be have a default fleet server policy at there,its not be solved until now ...................

[2021-11-22 06:55] Jhinxs commented on #905
![image](https://user-images.githubusercontent.com/79248856/142817165-ef45f393-932f-4025-b510-651c4ffaab42.png)

[2021-11-22 16:34] SHolzhauer commented on #903
Hi, wanted to pitch in regarding scenario 4.

A use case we are working/struggling with is not necessarily multiple data centers but different  connection types.

There is one Elastic Stack running on premise (cloud but self managed) where the bulk of the servers are using internal
dns/connections to connect to a loadbalancer with 2+ (HA) fleet servers.

There are also endpoints (laptops) for the

[2021-11-23 03:26] #850 closed

[2021-11-23 08:12] #741 closed

[2021-11-23 10:25] ruflin commented on #903
@SHolzhauer Thanks for chiming in. When the VPN is disabled, what fleet-server do you expect these Elastic Agents to connect to? Is it a global fallback one?

@nimarezainia I think first, the teams (Elastic Agent / Fleet / Security)  need to agree that above scenarios is what we expect. Especially 4 I think needs a bit more discussions as it impacts also Fleet. But if everyone is aligned, we can g

[2021-11-23 17:56] michel-laterman commented on #903
So my understanding of the proposals is that if we specify more than one server address, the agent will try them in order so that the 1st address (either from the settings or from the policy) will be attempted before any others (such as the cloud address if available)?

[2021-11-24 13:42] ruflin commented on #903
@michel-laterman Correct. First one wins as long as it is reachable.

[2021-11-25 15:45] poulaone opened #919 "Fleet server unavailable after activating SSL/TLS communication in ELK"
Please include configurations and logs if available.

For confirmed bugs, please report:
- Version: ELK 7.15.2
- Operating System: UBUNTU 20
- Steps to Reproduce:
I installed ELK from the repo with apt
I had only password secure for ELK
I installed fleet server on the same server as ELK.
All works fine until there.

As soon as i configured ELK with secure traffic TLS/ELK, i lost the connection to

[2021-11-25 17:09] Dealmi commented on #905
I had this problem with a virtual machine running ubuntu 20. Turns out I had to turn the autoconfiguration of machines' network adapter off and use yml file for netplan instead. I use Vagrant, so the network part there is used as follows: "virtMachineName.vm.network "private_network", auto_config: false, virtualbox__intnet: "net1" ". "auto_config : false" is the key part.

YML file looks like this

[2021-11-25 18:56] SHolzhauer commented on #903
@ruflin When the VPN is **enabled** we would expect it to use the internal fleet endpoint.
When the vpn is **disabled** or when the host is **isolated** we would expect it to use the external fleet endpoint.

But if we can specify a fleet and ES endpoint per agent policy we already have a solution.

[2021-11-26 08:19] Jhinxs commented on #905
thank you for reply, i had try that but still not working

[2021-11-29 04:48] amolnater-qasource opened #924 "[8.0 Snapshot]: `APM & Fleet configuration failed` while creating 8.0 Snapshot environment."
**Description:**
`APM & Fleet configuration failed` while creating 8.0 Snapshot environment from:
- https://staging.found.no/deployments/create
- https://console.qa.cld.elstc.co/deployments/create

**Platform:**
Google Cloud Platform

**Observations:**
- Build is Healthy with Warnings
- None of the policies have the integrations.
- No hosted fleet server agent is available.

**Screenshot:**
![1](h

[2021-11-29 05:40] amolnater-qasource commented on #924
Further we are also not able to deploy our own Fleet Server, as no enrollment command is available to install fleet-server.

**Screenshot:**
![2](https://user-images.githubusercontent.com/77374876/143814552-06e3756c-4a52-4794-a86c-e07b11723abb.JPG)

Hence we are **blocked for agent related tests**.

[2021-11-29 05:44] amolnater-qasource commented on #924
@manishgupta-qasource Please review.

[2021-11-29 06:50] manishgupta-qasource commented on #924
Reviewed & mentioned to @joshdover

CC: @EricDavisX

[2021-11-29 07:14] dikshachauhan-qasource opened #929 "[8.1 Snapshot]: APM & Fleet configuration failed while creating 8.1 Snapshot environment."
**Description:**
APM & Fleet configuration failed while creating 8.1 Snapshot environment from:

Created from:
https://staging.found.no/deployments/create
https://console.qa.cld.elstc.co/deployments/create
Platform: Google Cloud Platform

Observations:

- Build is Healthy with Warnings
- Default Policies have the default integrations.
- No hosted fleet server agent is available.

**Screenshot:**
!

[2021-11-29 07:30] manishgupta-qasource commented on #929
Reviewed & mention to @joshdover

CC: @EricDavisX

[2021-11-29 15:12] kpollich opened #930 "[Enhancement] Periodically clean up `.fleet-policies` index to remove old revisions"
For long-lived policies like our `policy-elastic-agent-on-cloud` policy, we accrue many revisions over time, which results in confusing results and noise when debugging and working with support.

For example, when attempting to grab the current policy data during a support case, we recently ran this query and received **51 results**.

[code]

This makes it difficult to sort through the noise and d

[2021-11-30 02:03] EricDavisX commented on #929
The APM team had noted there was cloud side work to be done to sync up to 8.x changes done wrt to the APM changes - having this logged is nice, but we may not expect work to be tracked here.  we can raise it as an urgent issue as we near the 8.0 testing time frame.

[2021-11-30 02:07] EricDavisX commented on #924
The APM team had noted there was cloud side work to be done to sync up to 8.x changes done wrt to the APM changes - having this logged is nice, but we may not expect work to be tracked here. we can raise it as an urgent issue as we near the 8.0 testing time frame.

[2021-11-30 02:08] EricDavisX commented on #929
Also... I see we logged 2 of these, one for each version - just to be safe.  That's cool.  :)  In this case it doesn't help as the work is known, and isn't even on this team (or this repo).  So, I'm closing this one in favor of 924 - https://github.com/elastic/fleet-server/issues/924

[2021-11-30 02:08] #929 closed

[2021-11-30 08:24] ruflin commented on #930
Are both fleet-server and Fleet writing to this index? Ideally the cleanup is done by the "writer" process.

@aleksmaus Any thoughts on the above? Could a cleanup have an impact on the queries we run?

[2021-11-30 08:53] dikshachauhan-qasource commented on #929
Hi @EricDavisX

We have performed a sanity run on 8.1 snapshot cloud build and covered below scenarios:

- Agents install on all OSs
- Agent reboot and re-enroll scenarios
- Endpoint integrations
- Alerts detection and prevention tests
- Managed host and managed policy
- Policy reassigning and agent logging level
- Agent hardening
- Core integrations
- Discover and dashboards tabs
- Various filter

[2021-11-30 11:34] amolnater-qasource opened #935 "[Self-managed 8.0]: Getting `400 status code error` on running fleet server install command on 8.0 Snapshot."
**Kibana version:**  8.0.0 Kibana self-managed environment

**Host OS:** Windows 10x64

**Build details:**
[code]

**Pre-requirements:**
1. ELK setup should be completed.

**Steps to reproduce:**
1. Login to Kibana and navigate to Fleet>Agents tab.
2. Add host ip:`https://1.1.1.1:8220`.
3. Generate token and copy fleet server install command for windows.
4. Run agent install command and observe 40

[2021-11-30 11:34] amolnater-qasource commented on #935
@manishgupta-qasource Please review.

[2021-11-30 11:36] manishgupta-qasource commented on #935
Reviewed & mention to @blakerouse

CC: @EricDavisX

[2021-11-30 12:44] jlind23 commented on #930
@kpollich maybe we can introduce a new parameter called maxRevisionToRetrieve (Name can be changed obviously), set it to what number by default? Any recommendations from real world?

[2021-11-30 13:57] kpollich commented on #930
Fleet does write to this index, yes. Not sure on Fleet Server but a cursory look through the source code (my Go is pretty rusty, so forgive me if I'm incorrect) seems to me that Fleet Server only reads from this index. So it probably makes more sense for Fleet to perform some cleanup during setup or in some kind of background task.

Most recent support case where this came up we had 51 revisions,

[2021-11-30 22:49] EricDavisX commented on #935
raising this as an urgent issue.

[2021-12-01 06:39] Oddluo opened #942 "Windows7 Windows2008 R2 can't install elastic-agent"
For confirmed bugs, please report:
- Version: Elastic-Agent 7.15.2
- Operating System: Windows7/Windows Server2008R2
- Steps to Reproduce:
1.Get into the kibana --Fleet
2.Add Agent and follow the steps to install
3.in the cmd/powershell that shows Error--fleet-server-failed context cancled
![图片](https://user-images.githubusercontent.com/67694128/144184611-bb826317-a1c3-49b9-af0d-1df8675eb0ab.png)

[2021-12-01 08:25] jlind23 commented on #935
@amolnater-qasource was fleet server already running? don't you have logs in fleet server or in elastic agent logfiles?
Is your kibana instance properly running?
@manishgupta-qasource please mention @elastic/elastic-agent-control-plane instead of only @blakerouse.

[2021-12-02 06:45] poulaone opened #948 "Configuration of elastic-agent from fleet"
Hello,
I'm using ELK 7.15.
I don't understand how to configure elastic-agent from fleet in Kibana.
I want to make some changes on filebeat and other agent.
It is documented here https://www.elastic.co/guide/en/fleet/current/dynamic-input-configuration.html
But i don't know where to put the directives.
Thanks

Bye

[2021-12-02 07:15] poulaone commented on #919
Hello,
It's maybe not a real solution but i found a workaround.
- uninstall elastic-agent where the fleet was install
- delete all docs from fleet indexes (there are only 2 indexes)
- the first launch wizard on kibana for fleet start,
- deploy with ssl/tls information
It works for me

[2021-12-02 07:15] #919 closed

[2021-12-02 08:35] samratbhadra-qasource commented on #935
Hi @EricDavisX  as per the feedback on mail we have re-attempted agent installation on 8.0.0-Snapshot build on self-managed setup on macOS and found that the issue is **fixed** now.

**Screenshot:**

![Screenshot (399)](https://user-images.githubusercontent.com/84007952/144385455-6f5ebe53-6290-4c71-bb41-d01338ad7427.png)

![Screenshot (401)](https://user-images.githubusercontent.com/84007952/14438

[2021-12-02 08:36] amolnater-qasource commented on #935
Hi @jlind23
No it was a fresh self-managed 8.0 kibana and no agent/fleet-server was earlier installed on it.

Further today we have re-attempted to install fleet-server.
We restarted the Elasticsearch and kibana and ran install command again.
Today we are **successfully** able to install fleet-server on Windows 10 too:

**Install command:**
![14](https://user-images.githubusercontent.com/77374876/

[2021-12-02 08:36] #935 closed

[2021-12-02 13:41] EricDavisX commented on #935
@amolnater-qasource did we use the same version of 8.0 Agent / ELK in both tests?  I'm worried that we have an intermittent bug that we are ignoring.  Would you mind doing 3-4 more tests on different templates of Windows 10 to help provide confidence (this will help as we aren't doing a dog-fooding server within the QA team recently)

[2021-12-03 11:24] amolnater-qasource commented on #935
Hi @EricDavisX
Above MAC and Windows tests were done on different builds.

**My build details for https://github.com/elastic/fleet-server/issues/935#issuecomment-984407576 :**
BUILD: 48385
COMMIT: 767b23ad878cb7ca94331b6402789a9846388852

Further we have revalidated on various Windows platforms:
- Windows 10 different VM.
- Windows 11 Vsphere
- Windows 11 QA Lab
- Windows 2012 r2
- Windows 2019

*

[2021-12-03 23:27] EricDavisX commented on #935
@amolnater-qasource thanks - let's log the win 11 issue separately and, if you don't reproduce it consistently we can close it out too.  but it is helpful to have a record of it.  thanks so much for the re-testing

[2021-12-06 17:53] jlind23 commented on #550
@ruflin @nimarezainia what should we do with this? Policies can already support multiple output right?
We should rather focus on supporting other output rather than multiple output am I wrong?

[2021-12-07 05:28] nimarezainia commented on #948
Please have a look at the Quick Start guides here: https://www.elastic.co/guide/en/fleet/current/index.html

[2021-12-08 01:05] michel-laterman opened #971 "update elastic/beats in go.mod once v8.0.0 has been released"
PR https://github.com/elastic/fleet-server/pull/970 updated the go.mod file to an untagged commit on the 8.0 branch to allow fleet-server to use up to date code from libbeat (specifically new ca fingerprint handling).

Once `v8.0.0` has been released and tagged we should set our go.mod to refer to this version.

[2021-12-08 07:23] ruflin commented on #550
I suggest to close this issue as it is too generic. I rather have a vey specific one to for example support Logstash are a second Elasticsearch output to a remote cluster. This will make sure we have more focused discussions.

[2021-12-08 07:34] #550 closed

[2021-12-08 07:34] amolnater-qasource opened #976 "[7.16.0>8.0]: Unable to initialize fleet on upgrading 7.16.0 Snapshot to 8.0 Snapshot."
**Kibana version:**  7.16.0 Snapshot Upgrade to 8.0 Snapshot Kibana Cloud environment

**Host OS and Browser version:** All, All

**Preconditions:**
1. 7.16.0 Snapshot Kibana Cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Trigger Upgrade from edit deployment page.
3. Observe all modules upgraded successfully except APM & Fleet.
4. Navigate to Kib

[2021-12-08 07:34] amolnater-qasource commented on #976
@manishgupta-qasource Please review.

[2021-12-08 07:49] amolnater-qasource commented on #924
Hi @EricDavisX
Today we are able to deploy Healthy 8.0 Snapshot deployment from https://console.qa.cld.elstc.co/deployments

**Build details:**
Build: 48594
Commit: ad3660f3acbfe6eb809d869b908221edf2846313

Hence we are **closing** this issue.
Thanks

[2021-12-08 07:49] #924 closed

[2021-12-08 13:17] manishgupta-qasource commented on #976
Reviewed & mention to @elastic/elastic-agent-control-plane

CC: @EricDavisX

[2021-12-08 13:46] jlind23 opened #977 "fleet-server username/password feature must be deprecated in 7.16 / 7.17"
**Describe the enhancement:**
Write access to Elasticsearch using username/password must be deprecated.

[2021-12-08 13:47] jlind23 opened #978 "fleet-server username/password authentication must be removed in 8.0"
**Describe the enhancement:**
Write access to Elasticsearch using username/password must be totally removed.

**Describe a specific use case for the enhancement or feature:**

[2021-12-08 13:54] jlind23 commented on #976
@amolnater-qasource what are the logs that you have?
@michalpristas @blakerouse does it sound familiar to you?

[2021-12-08 13:55] ruflin commented on #977
This must not only be deprecated in fleet-server itself but also Elastic Agent which has environment variables and likely other code around for these config options.

[2021-12-08 13:55] ruflin commented on #978
It needs to be made sure also all the related code in Elastic Agent is removed too.

[2021-12-08 13:56] guilhermevini commented on #746
+1

[2021-12-08 15:26] jlind23 opened #979 "Fleet-Server - reduce noise from Elasticsearch deprecation logs"

[2021-12-09 10:57] amolnater-qasource commented on #976
Hi @jlind23
We added integrations like- Windows, Linux, Endpoint and Nginx and installed MAC, Windows and Linux agents on 7.16.0 Snapshot.

Could you please confirm which logs you want us to fetch apart from the error(screenshots pasted under reported issue).

Yesterday, we were getting this issue.
Entire kibana was accessible however only fleet tab was blocked.

Today when we attempted to reprodu

[2021-12-09 14:13] jlind23 commented on #976
@amolnater-qasource one question - Was the fleet linux binary pushed to staging? @joshdover does it sound familiar to you?

[2021-12-09 14:51] ruflin opened #983 "Too many checkins on scale up / down"
Today in Elastic Cloud when the users scales up / down the fleet-server container, a new container is spun up with the new size and then the old one is shut down. As the fleet-server keeps the connection open to all Elastic Agent connected, this means all Elastic Agent will check into the new fleet-server at the same time which also sends all the info at the same time. This could overload the syst

[2021-12-09 14:51] ruflin commented on #983
@blakerouse I remember you had some more ideas, could you add them?

[2021-12-09 15:41] blakerouse commented on #983
Another idea would be to only allow a Fleet Server to accept an X number of Elastic Agents per length of time (say like no more than 50 in 100ms). That would help the Fleet Server from trying to process all new connections in a quick amount of time, it could either queue the other connections or drop the extras having them retry.

[2021-12-09 15:41] blakerouse commented on #983
I think adding jitter on the Elastic Agent side should be the first step.

[2021-12-10 23:04] EricDavisX commented on #976
@jlind23 I will guess what you refer to above, are you asking about if the Linux Docker Container for Fleet&APM was recently pushed up / available to use in Cloud?  There is a multi-stage build process... starting with the stack and then it being setup in a 'stack pack' for the cloud release (and in parallel, the cloud builds their code to deploy to QA/Staging servers during testing - the QA/Stagi

[2021-12-13 12:45] jlind23 commented on #976
@amolnater-qasource could you tell us what particular hash you are on? Do you still face this issue?
All snapshots from Friday seems to be available.
Thanks @EricDavisX for understanding what i wanted to say... 👍🏼

[2021-12-13 13:14] amolnater-qasource commented on #976
Hi @jlind23
We don't have that build with this issue available now.
However currently we are not able to deploy any latest 8.0 Snapshot builds to reproduce this as per reported issue https://github.com/elastic/cloud/issues/93865

Hence we are blocked to test kibana upgrades.
Please let us know if anything else is required.

[2021-12-15 00:52] #760 closed

[2021-12-16 11:01] #976 closed

[2021-12-19 14:55] AbdellahXIV commented on #905
I have the same issue after I upgraded to version 7.16.0, and even with 7.16.1 the problem persits.
I think it's related to kibana.
Using air gapped envirenment settings https://www.elastic.co/guide/en/fleet/current/air-gapped.html solved the problem, but what about when we avoid the air-gapped envirenment.

[2021-12-20 13:39] AbdellahXIV commented on #905
As montioned on the https://www.elastic.co/guide/en/fleet/current/fleet-troubleshooting.html
use DevTools Console to execute:
' POST .kibana/_delete_by_query?q=ingest-agent-policies.is_default_fleet_server:true '
and the fleet server default policy will be there

[2021-12-22 13:41] aleksmaus opened #1020 "Revamp integration tests to support the username/password removal"
**Describe the enhancement:**

Revamp integration tests to support the username/password removal
https://github.com/elastic/fleet-server/pull/1006

[2021-12-22 19:40] cmacknz commented on #979
Closing this one. I set up fleet using `elastic-package stack up --version 8.0.0-SNAPSHOT`, installed the osquery manager integration, ran some queries and investigated the elasticsearch logs.

There were several deprecation warnings found, but none that appear to be caused by the elastic agent or fleet. I'm following up on the warnings I did find separately.

[2021-12-22 19:40] #979 closed

[2021-12-23 21:27] michel-laterman commented on #977
Deprecation messages have been added to fleet-server and the elastic-agent in 7.17 and backported to 7.16.
The docs pr for it is https://github.com/elastic/observability-docs/pull/1409

[2021-12-23 21:29] michel-laterman commented on #978
username/password has been removed from the fleet-server and elastic-agent in 8.1 and backported to 8.0.
The docs pr for this is: https://github.com/elastic/observability-docs/pull/1423

[2021-12-24 06:43] dikshachauhan-qasource opened #1028 "A new managed fleet server shows up, once logging level is changed of existing one."
**Kibana version:**  8.0 snapshot Kibana on-prem environment

**Browser version:** Chrome
**Host OS**: **n/a**

**Preconditions:**
1. 8.0 snapshot Kibana on-prem environment should be available.

**Build Details:**
[code]
2. **Apm and fleet should be enabled while creating deployment.**

**Steps to reproduce:**
- Login to kibana
- Navigate to Fleet tab.
- Click on Fleet server agent and navigate t

[2021-12-24 08:09] manishgupta-qasource commented on #1028
Reviewed & mention @jen-huang

[2021-12-24 11:05] dikshachauhan-qasource opened #1029 "User is able to install Fleet server using managed policy."
*Kibana version:**  8.0 snapshot Kibana on-prem environment

**Browser version:** Chrome
**Host OS**: **n/a**

**Preconditions:**
1. 8.0 snapshot Kibana on-prem environment should be available.

**Build Details:**
[code]
2. **APM & Fleet section should be disabled from Edit deployment page.**

**Steps to reproduce:**
- Login to kibana.
- Navigate to Integrations tab.
- Search for Fleet server Inte

[2021-12-24 11:13] manishgupta-qasource commented on #1029
Reviewed & mention to @jen-huang

[2021-12-27 10:07] jlind23 commented on #977
@michel-laterman as soon as the doc PR is closed, this issue can be closed too. Agree?

[2021-12-27 17:13] michel-laterman commented on #977
agreed

[2021-12-28 00:17] michel-laterman commented on #735
I've tried to recreate on `7.16.2` (on macOS and windows), however after stopping the `elastic-agent` (step 3 and 6) it is removed off the agents list in the Kibana UI. I didn't see it go to inactive in any case. Is this still an issue?

[2021-12-28 04:00] Blason opened #1034 "Elastic-agent gets stuck in Updating - How to troubleshoot and where to look for logs?"
Hi Team,

On certain windows hosts we observed that elastic-agent as soon as enroll gets stuck in updating phase. Can someone guide me where do I look for debug logs on fleet server as well as on windows host?

[2021-12-28 07:41] amolnater-qasource opened #1037 "[Self-Managed]: Unable to upgrade 7.16.2 Snapshot Fleet-Server to 8.0 Snapshot on upgraded 8.0 Snapshot Kibana."
**Kibana version:**  7.16.2>8.0.0 Snapshot Upgraded Kibana self-managed environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1.  7.16.2>8.0.0 Snapshot Upgraded Kibana self-managed environment should be available.
2. 7.16.2 Snapshot fleet server should be installed with Default Fleet Server policy with System, Endpoint and Fleet Server integratio

[2021-12-28 07:41] amolnater-qasource commented on #1037
@manishgupta-qasource Please review.

[2021-12-28 08:32] amolnater-qasource opened #1038 "[Self-Managed]: Unable to install lower version Fleet Server on 8.0 snapshot."
**Kibana version:**  8.0.0 Snapshot Kibana self-managed environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 8.0.0 Snapshot Kibana self-managed environment should be available.
2. 8.0 Self-managed should be setup using auto-configure feature[using fingerprints].

**Steps to reproduce:**
1. Login to Kibana environment.
2. Copy install command

[2021-12-28 08:38] amolnater-qasource commented on #1038
@manishgupta-qasource Please review.

[2021-12-28 09:04] manishgupta-qasource commented on #1037
Reviewed & mention to @elastic/elastic-agent-control-plane

[2021-12-28 09:04] manishgupta-qasource commented on #1038
Reviewed & mention to @elastic/elastic-agent-control-plane

[2021-12-28 11:48] amolnater-qasource commented on #735
Hi @michel-laterman
We have revalidated this issue on latest 8.0 Snapshot and found it still reproducible.
- Even after setting Unenrollment timeout field back to blank, installed agents get unenrolled after getting offline.

**Steps to reproduce:**
1. Set unenrollment timeout to 120 seconds for default policy.
2. Install an agent with this policy.
3. Stop Elastic Agent from services.
4. Observe a

[2021-12-28 13:51] EricDavisX commented on #1038
I think this will be an expected issue, @amolnater-qasource due to the new fingerprint functionality as you note.  We can confirm with the team, of course.

[2021-12-28 14:42] blakerouse commented on #1038
@EricDavisX is correct. This should be expected as 8.0 now has security on by default. You either need to start the 8.0 elasticsearch with security off (is that still possible?), or provide the certificates and CA to the command so that Fleet Server can communicate correctly.

[2021-12-28 14:45] blakerouse commented on #735
@amolnater-qasource Just for clarity after #7 is the steps above, it gets unenrolled.

[2021-12-28 21:32] michel-laterman commented on #735
OK, I was able to reproduce.
It's also important to note that this behaviour (of an agent going `inactive`) does not occur on a fresh install where the unenrollment timeout value is never altered.
I've confirmed that clearing the timeout value in Kibana will remove the `unenroll_timeout` value in the saved policy (however I don't think this value displays properly with `elastic-agent inspect`.
I t

[2021-12-28 22:30] michel-laterman commented on #735
It doesn't appear to be a parsing issue. However I can see that the unenrollment monitor starts twice (a few seconds apart) when the value is changed (and I have confirmed that the cancel is called twice):
[code]

[2021-12-29 07:08] amolnater-qasource commented on #735
Thanks @blakerouse for correction, yes it meant installed agent went inactive that is unenrolled from Kibana, after resetting unenrollment field to blank.
We have also updated the above comment.

Further, please let us know if any other testing is required on this from our end.

[2021-12-29 07:08] amolnater-qasource commented on #1038
Hi @blakerouse & @EricDavisX
Thanks for looking into this.

Did you mean to create certs and try installing lower version agent with `Production mode`?
![5](https://user-images.githubusercontent.com/77374876/147632150-1f1f9c4f-9ce5-494a-8ba2-2336e3ac5c5b.JPG)

We attempted this, however we got no success.

**Screenshot:**
![6](https://user-images.githubusercontent.com/77374876/147632250-aaa682a3-1

[2021-12-29 21:50] michel-laterman commented on #735
We have a goroutine leak.

Two methods ([ensureLeadership](https://github.com/elastic/fleet-server/blob/master/internal/pkg/coordinator/monitor.go#L304) and [handlePolicies](https://github.com/elastic/fleet-server/blob/master/internal/pkg/coordinator/monitor.go#L192)) call `rescheduleUnenroller` which leads to two goroutines monitoring for unenrollment (when the unenroll timeout is set). However,

[2021-12-30 11:14] simitt opened #1048 "Service tokens ignore privileges additionally defined by packages"
Removing the `username/password` and enforcing usage of service tokens (https://github.com/elastic/fleet-server/pull/1006) revealed a bug related to the privileges that the resulting API Keys have. It seems that any additionally defined privileges of the packages are just ignored.

## Description of the Problem
0. The `apmpackage` specifies additional privileges for the [`traces-apm.sampled-defaul

[2021-12-30 16:31] blakerouse commented on #735
@michel-laterman We need that function to be in both places because it could be that leadership changes due to interval timeout or in the case that the policy changes the unenroll timeout needs to be updated.

Seems that some type of locking will be needed to ensure that only 1 is started per policy.

[2021-12-30 16:36] blakerouse commented on #1038
@amolnater-qasource I think you are missing the `--fleet-server-es-ca` flag. That should point to the CA for the Elasticsearch.

[2021-12-30 21:48] nathandh22 opened #1049 "[Enhancement] Give administrators a greater degree of granularity for deploying output settings"
**Describe the enhancement:**
Managing Elastic Agents over Fleet is much easier for most use-cases. However, administrators managing Agents enrolled in Fleet only have the ability to deploy Elasticsearch Output settings globally. It would be very useful if we gave administrators the ability to deploy these settings to individual Agents or at least by Policy or Integration.

**Describe a specific u

[2021-12-31 01:35] michel-laterman commented on #1048
I'm not sure if this is related, but I've noticed that the `service_token` that Kibana issues is unable to list policies:
[code]

[2021-12-31 10:44] amolnater-qasource commented on #1038
Hi @blakerouse
We added the `--fleet-server-es-ca` flag, however we didn't get any success in installing lower version agent.
- When we run command with fingerprint flag, it shows Unknown flag error.
- When we removed fingerprint flag, it keeps showing x509- certificate signed by unknown authority.
- We even attempted with --insecure flag but got no success.

**Screenshot:**
![3](https://user-imag

[2022-01-04 13:21] #1020 closed

[2022-01-04 13:42] jlind23 commented on #1037
Hey there, after looking at the logs I do see two different issues and both can be found in this zip elastic-agent-20211228.zip.
The first one is a failed deletion caused by endpoint:
`Application: endpoint-security--8.0.0-SNAPSHOT[456ee4e4-5bf8-4ce7-aba5-397636d8b8c3]: State changed to FAILED: operation 'Exec' failed (return code: 5): 2021-12-28 05:29:52: info: Main.cpp:356 Upgrading existing ins

[2022-01-04 14:51] jlind23 commented on #977
Done thanks to @michel-laterman

[2022-01-04 14:51] #977 closed

[2022-01-04 20:25] jen-huang commented on #1028
@nimarezainia or @mostlyjason, do we expect to be able to change the logging level for the managed Fleet Server host on Cloud?

[2022-01-05 10:56] amolnater-qasource commented on #1037
Hi @jlind23
Thanks for looking into this, we have attempted to revalidate this issue.
Today we are successfully able upgrade 7.16.2 snapshot agent to 8.0 Snapshot on upgraded 8.0 Snapshot kibana.

**Screenshot:**
![16](https://user-images.githubusercontent.com/77374876/148202148-8f257a5c-9aaa-4031-a349-0e63e05b882f.JPG)

Hence we are **closing** this issue.
Further we will keep track of this, if f

[2022-01-05 10:56] #1037 closed

[2022-01-05 15:47] jlind23 commented on #1048
@simitt do you have any logs on fleet-server side while trying to create the token?
cc @blakerouse @michel-laterman

[2022-01-05 15:53] jlind23 commented on #1038
@michel-laterman @blakerouse could you chime in please?

[2022-01-05 22:04] blakerouse commented on #1038
@amolnater-qasource Are you generating the certificate that is being used by Elasticsearch or are you using the default certificates that Elasticsearch generates?

[2022-01-05 22:06] blakerouse commented on #1048
@simitt The permissions show up when using username/password, but not with the service token? If that is the case the Fleet Server calls the same API with the same contents no matter basic auth or service token. This makes me think its an issue on the Elasticsearch side.

As @jlind23 ask do you have any Elasticsearch logs for this, it might show errors about not being able to assign those permissi

[2022-01-06 05:41] axw commented on #1048
There is a single log record from Elasticsearch in our test setup:

The error message doesn't explicitly say so, but I'm pretty sure this is due to lack of `read` privilege on `traces-apm.sampled-default`.

API Keys have at most the privileges of the authenticated user. When fleet-server is run with the root user (as we were doing with user/pass auth in our tests previously), that's everything, so

[2022-01-06 06:52] amolnater-qasource commented on #1038
Hi @blakerouse
Thanks for looking into this.
We are generating certificates using elasticsearch-util tool available in elasticsearch\bin folder with below commands:
- `elasticsearch-certutil ca --pem` to generate ca certs.
- `elasticsearch-certutil cert --name fleet-server --ca-cert C:\elk\elasticsearch-8.0.0-SNAPSHOT\ca\ca.crt --ca-key C:\elk\elasticsearch-8.0.0-SNAPSHOT\ca\ca.key --dns AmolWin-1

[2022-01-06 08:18] jlind23 commented on #1048
@axw Couldn't we add the read right to the elastic/fleet-server service account?

[2022-01-06 08:22] axw commented on #1048
@jlind23 we could, I'm just not sure if this was intended. If not, then yes we could expand the privileges; if it is intentionally/necessarily limited, we need to go back to the drawing board on https://github.com/elastic/package-spec/issues/203.

[2022-01-06 08:24] jlind23 commented on #1048
So you can specify privileges in elastic package only if those privileges are already part of fleet-server ones right?
If yes, then I am pretty sure that it should be extended. Who owns the decision there? @ruflin ?

[2022-01-06 08:41] axw commented on #1048
Right. The ones in the elastic/fleet-server service account define the maximum set of privileges an agent's API Key can be assigned.

Yes, I think so. If not he can redirect :)

[2022-01-06 12:35] joshdover commented on #550
@blakerouse I'm tracking down dependencies for supporting the Logstash output. Is there anything remaining on the control plane team for this? If so, I'm happy to open a placeholder for us to track this now.

[2022-01-06 13:27] blakerouse commented on #550
@joshdover The only missing piece is that the output needs to be added to the Elastic Agent.

[2022-01-06 13:31] blakerouse commented on #1038
@amolnater-qasource Thats to generate the certificates for Fleet Server, did you also use that command to generate the certificates for the running Elasticsearch?

[2022-01-06 14:48] joshdover commented on #550
@blakerouse is that separate from [what's supported in standalone](https://www.elastic.co/guide/en/fleet/current/logstash-output.html)? Is there an existing issue to track, I can't find one.

[2022-01-06 19:38] #978 closed

[2022-01-10 08:49] amolnater-qasource commented on #1038
Hi @blakerouse
We don't use any certs to run elasticsearch or kibana, we only use these certs to install Fleet-Server.
Is that required if we need to run elasticsearch using certs?
Thanks

[2022-01-10 13:23] ruflin commented on #1048
As mentioned above, the current assumption is that fleet-server service account has all the permissions needed to hand out to Elastic Agents for ingesting data as it is creating the API keys. Unfortunately in the context of https://github.com/elastic/package-spec/issues/203 we missed this very important detail :-( I wonder why this only showed up now with the removal of username / password as I wa

[2022-01-10 13:52] simitt commented on #1048
apmpackage specifies following additional privileges in the package:
* `'cluster:monitor/main'` on `cluster`
* `[auto_configure, create_doc, maintenance, monitor, read]` on the `traces-apm.sampled-default` index

Test revealed that the `monitor` and `read` privileges for the `traces-apm.sampled-default` index are missing. As shown in the initial description, the API Key seemed to have all other pr

[2022-01-10 20:44] mostlyjason commented on #1028
@nimarezainia this is more in your ball court since its a fleet server / hosted agent issue. More advanced operators might appreciate more insight for troubleshooting, but I'm not sure if there is sensitive data in debug logs.

[2022-01-11 00:18] ppf2 opened #1076 "Better logging when agent is under memory pressure or eventually ran out of memory/crash"
Fleet server's Elastic Agent crashed:

![image](https://user-images.githubusercontent.com/7216393/148859221-d9d2a4ad-1505-4df7-9e11-23e21cf9a2e9.png)

It looks like the agent process crashed because it ran out of memory (these are 512m instances)

![image](https://user-images.githubusercontent.com/7216393/148859287-cf9665d9-f8ae-4889-abe2-b8b8dd611a26.png)

It will be helpful for the agent to repo

[2022-01-11 09:07] ruflin commented on #1048
I assume the read permissions on this data stream are needed for multiple apm-servers to sync up on sampled traces? What is the monitor permission used for?

My currently proposed path forward:

* Evaluate for apm-server if there is a way to get around these permissions as `read` is something we don't allow in general
* If no workaround found, add these 2 permissions to the fleet-server
* Figure o

[2022-01-11 10:18] axw commented on #1048
`monitor` is needed for index stats requests, which we perform in order to fetch the global checkpoint which is used for tailing the data stream. We also need `maintenance` for refreshing the data stream.

We have already evaluated this. The answer is no, not without:
 - introducing external components to our architecture (e.g. Redis) or
 - changing users' deployment architectures (adding smart pr

[2022-01-11 12:04] dikshachauhan-qasource commented on #978
Hi @jlind23

We have validated this ticket on 8.0 rc1 BC1 build self managed environment and found it working fine there.

**Steps included:**
- Set up a self managed env on 8.0 rc1 bc1 build.
- Access Kibana and install Fleet server agent under Default fleet server policy.
- Wait agent to be available on Fleet and running as Healthy.
- Now access location: C:\Program Files\Elastic\Agent and open

[2022-01-12 07:19] amolnater-qasource opened #1082 "[Deployment]: Fleet & APM configuration failed on deploying 8.1 Snapshot."
**Description:**
`APM & Fleet configuration failed` while creating 8.1 Snapshot environment from:
- https://staging.found.no/deployments/create

**Platform:**
Google Cloud Platform

**Observations:**
- Build is Healthy with Warnings
- Unable to load Fleet tab.

**Screenshot:**
![3](https://user-images.githubusercontent.com/77374876/149081468-e4c9c3b0-6a99-4082-9a86-51dc6d093c1a.JPG)
![4](https://u

[2022-01-12 07:19] amolnater-qasource commented on #1082
@manishgupta-qasource Please review.

[2022-01-12 07:52] manishgupta-qasource commented on #1082
Reviewed & mention to @jlind23

[2022-01-12 08:46] jlind23 commented on #1082
Thanks for the ping!
@jen-huang it rather seems to be a fleet issue am i wrong?

[2022-01-12 09:16] ruflin opened #1083 "Http Done log messages"
The http handler in fleet-server logs a "HTTP Done" log message every time a http request was handled: https://github.com/elastic/fleet-server/blob/8a4855bc5687cbc859dc5e82278366509ecf677e/internal/pkg/logger/http.go#L221 It logs additional meta information around response code, duration which is convenient for debugging purpose in case issues happen with fleet-server. At the same time it creates

[2022-01-12 09:17] ruflin commented on #1083
@scunningham Would appreciate your thoughts on the above as you added this initially.

[2022-01-12 12:17] ruflin commented on #1048
I think yes. Could this index contain any confidential info or is purely tracking?

[2022-01-12 13:02] scunningham commented on #1083
Well, we get complaints that we don't have enough logging.
And we get complaints that there's too much logging.

:shrug:

- It was originally debug, fine to default it back to debug.
- I'd be ok, with automatically changing level to info on non 2xx.
- The summaries at this level are harder as this is just middleware, and probably not useful.  Should use metrics for that.

[2022-01-12 16:15] jlind23 commented on #1082
Hello @amolnater-qasource @manishgupta-qasource it seems to be the issue mentioned here:
https://github.com/elastic/beats/issues/29811

A change on Elasticsearch side has caused it.

cc @ruflin @ph

[2022-01-12 21:57] jen-huang commented on #1082
Yep, caused by an ES change. We fixed it in #122798 so should be available in the next snapshot.

[2022-01-13 15:28] ruflin commented on #1083
Thanks for the input Sean. @ph Any thoughts on your end?

[2022-01-13 18:53] blakerouse commented on #1038
@amolnater-qasource So that is your issue then, because with 8.0 elasticsearch always generates self-signed certificates, so the Fleet Server cannot communicate with the elasticsearch because of it.

To get a lower version of Fleet Server to connect to the newer version of elasticsearch, you will need to either provide the same CA that elasticsearch generated on its own, or generate your own for e

[2022-01-13 18:55] blakerouse commented on #550
@joshdover Sorry, seems it's already supported. So it should work.

[2022-01-14 10:38] axw commented on #1048
Elasticsearch PR opened to add privileges for that one data stream pattern: https://github.com/elastic/elasticsearch/pull/82600

[2022-01-14 11:26] amolnater-qasource commented on #1038
Hi @blakerouse
We currently run elasticsearch and kibana with auto-configure method on 8.0 Snapshot.

**Details shared below:**
1. Download and extract elasticsearch and kibana 8.0 Snapshot artifacts.
2. Open cmd instance and navigate to elasticsearch\bin and run elasticsearch.
3. Copy the available Kibana enrollment token and password.
4. Now, open another cmd instance and navigate to kibana\bin

[2022-01-17 06:36] axw opened #1090 "8.1.0-60713df1-SNAPSHOT fails to bootstrap"
## Version

8.1.0-60713df1-SNAPSHOT

## Steps to reproduce

1. Clone https://github.com/elastic/apm-server/pull/7084 (`gh pr checkout https://github.com/elastic/apm-server/pull/7084` in apm-server clone, using https://github.com/cli/cli)
2. `docker-compose up -d`

This should cleanly start up Elasticsearch, Kibana, and Fleet Server. Fleet Server is failing to bootstrap, per the logs below:

## Log

[2022-01-18 04:34] amolnater-qasource commented on #1082
Hi @jen-huang
We are still not able to deploy Healthy 8.1-Snapshot from any of the below platforms:
- https://staging.found.no/
- https://console.qa.cld.elstc.co/

**Screenshots:**
![12](https://user-images.githubusercontent.com/77374876/149871199-8582c61a-9209-42cf-8a63-112a0b7a4926.JPG)
![13](https://user-images.githubusercontent.com/77374876/149871202-c35d5ae5-1372-4bf5-b932-11314f6a3f51.JPG)

[2022-01-18 05:11] amolnater-qasource commented on #1082
Further @jlind23
We are unable to upgrade from 7.17.0 Snapshot>8.0 Snapshot as we are not getting the 8.0 version available for upgrade from both platforms.
![14](https://user-images.githubusercontent.com/77374876/149874449-315fdde3-1094-4d6b-96a8-e69c0107a2d2.JPG)

Please let us know if you want us to log separate issue for this.
Thanks

[2022-01-18 09:51] jlind23 commented on #1082
@ph @ruflin do you know when a 8.1 will be available?

[2022-01-18 15:32] jlind23 commented on #1038
Hey @amolnater-qasource having an "old" fleet server with a fresh 8.0 install of Elasticsearch seems to be a strange testing scenario.
Maybe you wanted to upgrade Elasticsearch first?
Then disabling the security by default should be the best things to do.

Indeed 7.17 or lower won't support fingerprint value, that's why when upgrading from 7.17 to 8.0 security will not be unable by default.

[2022-01-18 22:04] #735 closed

[2022-01-19 07:04] axw commented on #1090
I don't see any commits here or in beats that obviously explain why, but the latest snapshot seems to be happier: https://github.com/elastic/fleet-server/pull/1097

[2022-01-19 11:13] amolnater-qasource commented on #1038
Hi @jlind23

This scenario is covered to test the Agent & Fleet-Server upgrades.
**Scenario 1:**
As till 7.17, we are able to install lower version fleet-server and agents on both self-managed and cloud build.
However on 8.0 due to fingerprint change we are unable to install lower version agent.
As confirmed by you this is the current expected behaviour.

**Scenario 2:**
Further we are successfull

[2022-01-19 11:13] #1038 closed

[2022-01-19 16:52] stuartnelson3 commented on #1076
hey, I think this issue can be closed. the issue was that the apm-server was OOM'ing, and not the fleet server:

![image](https://user-images.githubusercontent.com/1398104/150176719-0e002f59-aa35-4f44-805e-561a53d9a110.png)

it looks like the memory spike happened only in the apm-server.

[2022-01-19 20:37] ph commented on #1083
Well summarized @scunningham :)

Agree with all the above, I would just hide it for 200 for now to reduce the noise, and we can check how we would like to track metrics on the different error code.

[2022-01-24 02:21] axw commented on #1048
@simitt I've retargeted the issues and PR to only 8.1.0, to minimise risk.

[2022-01-24 02:21] #1048 closed

[2022-01-25 05:35] amolnater-qasource commented on #1082
Hi @jlind23
We are successfully able to deploy `Healthy` 8.1 Snapshot with complete configuration from:
- https://staging.found.no/

**Screenshot:**
![4](https://user-images.githubusercontent.com/77374876/150912784-838d3eaf-c3ec-4c3e-a40a-1ec27d96abb6.JPG)

Hence we are **closing** this issue.
Thanks

[2022-01-25 05:35] #1082 closed

[2022-01-25 06:20] amolnater-qasource commented on #735
Hi @michel-laterman
We have revalidated this issue on latest 8.0 Snapshot and found it **fixed** now.
- We have set unenrollment timeout to 240 seconds and then agent went to Inactive state after getting offline for 240 seconds.
- We reset the unenrollment timeout field to blank and then we stopped installed agent for a period of time.
- We observed it didn't go to inactive state and just remained

[2022-01-26 20:24] thbkrkr opened #1108 "Add FleetServer version to Status API"
#### Proposal

Add the current version of FleetServer in the status API as it is for other Elastic products.

Examples:
[code]

#### Use-case

Provide a way for ECK to verify the compatibiilty between the version of an Agent managed by ECK and the version of an associated FleetServer (see [ECK documentation to connect an Agent to a FleetServer]( https://www.elastic.co/guide/en/cloud-on-k8s/master/

[2022-01-28 11:39] jlind23 commented on #486
@ph should probably be included in your current proposal around testing.

[2022-01-28 13:17] #1083 closed

[2022-01-28 13:46] scunningham commented on #1108
We should not expose this data unauthenticated.  It servers as a fingerprint for an attacker.  If the requests supplies a valid api key, we can append the additional versioning data.

[2022-01-28 13:51] thbkrkr commented on #1108
Yes, makes sense and not a problem for my use-case.

[2022-01-28 13:57] aleksmaus commented on #1108
will update the PR with suggested change

[2022-01-28 14:41] ph commented on #1108
@scunningham Would be good to have a uniform strategy with Elasticsearch.

[2022-01-28 15:29] scunningham commented on #1108
@ph I believe you need creds in elastic if auth is enabled.  Not sure about kibana.

In any case, it is not recommended [security practice](https://owasp.org/www-project-web-security-testing-guide/latest/4-Web_Application_Security_Testing/01-Information_Gathering/02-Fingerprint_Web_Server) to expose software fingerprinting information unauthenticated.

[2022-01-28 15:37] ph commented on #1108
@scunningham Thanks sean, totally agree on the why. Maybe I've used too much ES without credentials for testing and it did change in some releases.

[2022-01-28 21:11] ph commented on #359
@mtojek still happenning?

[2022-01-28 21:34] mtojek commented on #359
It's definetely stale, we can close it.

[2022-01-29 01:25] #1108 closed

[2022-01-31 13:08] #359 closed

[2022-02-02 15:23] mtloaprhn opened #1124 "Elastic-agent not monitor windows nodes in AKS"
Hey guys,

I deployed elastic-agent by the K8S manifest in the documentation page ([https://www.elastic.co/guide/en/fleet/master/running-on-kubernetes-managed-by-fleet.html](https://www.elastic.co/guide/en/fleet/master/running-on-kubernetes-managed-by-fleet.html)) and agents are good and I have all Kubernetes metrics for Linux nodes only in my Dashboards and I thinked this agent could be monitor L

[2022-02-02 17:37] mtloaprhn commented on #1124
I added this lines :
[code]
And it's working.

[2022-02-03 08:19] jlind23 commented on #466
Rescoping it to 8.2 as discussed with @lykkin

[2022-02-03 09:43] AndersonQ opened #1128 ""elastic fail 503::" - Improve log message for better debug"
**Describe the enhancement:**

At least some error logs from fleet server provide little, sometimes almost no information about the root cause of the error.
[`ErrElastic`](https://github.com/elastic/fleet-server/blob/master/internal/pkg/es/error.go#L15).`Error()` method can be improved to account for `ErrElastic.Cause` not being empty, and produce a more clear message than _elastic fail..._. _elas

[2022-02-03 10:16] mtojek opened #1129 "[8.1.0-SNAPSHOT] Fleet Server can't enroll: FAILED: Missed two check-ins"
Hi,

we adopted `elastic-package` to use predefined [agent policies](https://github.com/elastic/elastic-package/blob/main/internal/profile/_static/kibana_config_8x.yml#L23) and confirmed with @juliaElastic that we're ready for switch (main branch is green).

Since yesterday we're facing problems with enrollment:

[code]

More logs: https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/jo

[2022-02-03 10:22] mtloaprhn commented on #1124
I check the data and the elastic-agent have any data. My windows nodes not fully supported.

[2022-02-03 12:00] joshdover commented on #1129
Curious that there's no logs from Fleet server related to the policy it selected.

One possible workaround could be to add `FLEET_SERVER_POLICY_ID=fleet-server-managed-ep` to the env vars for Fleet Server here: https://github.com/elastic/elastic-package/blob/main/internal/profile/_static/docker-compose-stack.yml#L79

But we should figure out what the root issue here is regardless of if the workaro

[2022-02-03 12:04] mtojek commented on #1129
Hey @joshdover, we tried it with Julia while working on migration to hosted policies. With `FLEET_SERVER_POLICY_ID=fleet-server-managed-ep` it will break compatibility with 7.x stack. If it isn't really necessary, I would postpone introducing this env. Otherwise, we'll have to implement some hack/forked stack.

[2022-02-03 12:55] mtojek commented on #1129
We did some investigation and it seems that the root cause is in the Elastic Agent Docker image. The last stable one we managed to build is this one: https://github.com/elastic/elastic-package/pull/683 (`@sha256:a5c580573376d65ed2eba92d359b411cdae4bf52745af8e3bb8c0c91f8ce53a5`).

It maps into:

[code]

[2022-02-03 12:57] mtojek commented on #1129
We suspect that problem might have been introduced with this PR: https://github.com/elastic/beats/pull/29031

cc @ph @blakerouse

[2022-02-03 13:11] ph commented on #1129
I will take a look, but I think the PR you have is the only major thing that I know that could have impact the agent.

[2022-02-03 13:36] juliaElastic commented on #1129
this change might be related as well: https://github.com/elastic/kibana/issues/108252

when starting elastic-package locally, I see this in fleet-server logs:
`Kibana Fleet setup failed: http POST request to http://kibana:5601/api/fleet/setup fails: Forbidden: <nil>. Response: {"statusCode":403,"error":"Forbidden","message":"Forbidden"}`

what is more, .fleet-agents index is not created, I have a

[2022-02-03 13:46] joshdover commented on #1129
I don't think it's related to that change. I've been able to successfully run this on `main` with any issues as a manual test:

[code]

Do we need to update the token that we're using? Maybe our manual hardcoded token isn't working anymore due to a change in ES?

[2022-02-03 13:58] mtojek commented on #1129
@joshdover In [this PR](https://github.com/elastic/elastic-package/pull/683) I forced the specific Docker image for Elastic Agent and it passed. Elasticsearch, Kibana images were the same.

[2022-02-03 14:08] ph commented on #1129
OK, I went through the all commits in fleet-server, the latest commit that add actual code in the server is 4 days ago, https://github.com/elastic/fleet-server/pulls?q=is%3Apr+is%3Amerged I am going to concentrate on the Agent side of things.

[2022-02-03 19:51] ph commented on #1129
This was a really deep rabbit hole, I took some time to have a running testing and a fast environment to debug using the `AGENT_DROP_PATH` and having part of Elastic-Agent precompiled and just building the current platform and architecture of the Elastic Agent. Looking at the behavior of the `elastic-package` the Fleet server was really waiting for an initial configuration. Looking at the Fleet in

[2022-02-04 04:44] amolnater-qasource opened #1132 "Hosted Fleet Server not available on Healthy deployment of 8.1 BC-1"
**Description:**
Hosted Fleet Server not available on Healthy deployment of 8.1 BC-1 when deployed from:
- https://cloud.elastic.co/
- https://staging.found.no/

**Screenshots:**
![1](https://user-images.githubusercontent.com/77374876/152472690-9ee97d0d-26f4-498a-a5dc-6e14122fd6d9.JPG)

![4](https://user-images.githubusercontent.com/77374876/152472973-1a2b9e50-177a-4164-96f2-25e6c5bfd8bc.JPG)

![3

[2022-02-04 04:45] amolnater-qasource commented on #1132
@manishgupta-qasource Please review.

[2022-02-04 05:58] manishgupta-qasource commented on #1132
Reviewed & mention to @jlind23

[2022-02-04 08:17] amolnater-qasource opened #1134 "[Self-Managed]: Unable to install Fleet Server on 8.1 BC-1."
**Kibana version:**  8.1 BC-1 Kibana self-managed environment

**Host OS:** Windows 10x64

**Build details:**
[code]

**Pre-requirements:**
1. ELK setup should be completed.

**Steps to reproduce:**
1. Login to Kibana and navigate to Fleet>Agents tab.
2. Add host ip:`https://1.1.1.1:8220`.
3. Generate token and copy fleet server install command for windows.
4. Run agent install command and observe

[2022-02-04 08:19] amolnater-qasource commented on #1134
@manishgupta-qasource Please review.

[2022-02-04 08:23] amolnater-qasource commented on #1134
Similar issue at: https://github.com/elastic/fleet-server/issues/1129

[2022-02-04 08:28] jlind23 commented on #1132
the pipeline is failing for a couple of days due to a issue. Thus it may explain why the fleet-server installer is not available.

[2022-02-04 08:30] manishgupta-qasource commented on #1134
Reviewed & mention to @jlind23

[2022-02-04 08:33] jlind23 commented on #1134
Thanks, it should be fixed in a couple of days as soon as the binary will be released.

[2022-02-04 09:08] mtojek commented on #1129
Let's keep it open until we confirm that it fixed.

[2022-02-04 14:52] ph commented on #1129
interesting that the issue was closed from a forked repository? I don't remember seeing that ever.

[2022-02-06 22:08] mimeie commented on #1034
Hi

Did it help restarting the service?
Had the same issue, after that it worked fine

[2022-02-08 09:58] axw commented on #1129
I'm seeing what appears to be the same issue with `docker.elastic.co/beats/elastic-agent:8.2.0-5d69c4c3-SNAPSHOT`, which is built from https://github.com/elastic/beats/commit/5529c31cf1bd68bf2ad089ef747186f9510ff3f1 (after the revert).

To reproduce, clone https://github.com/elastic/apm-server/pull/7227 and run `docker-compose up -d`. Fleet Server fails to enroll,

Logs:

[code]

[2022-02-08 10:11] mtojek commented on #1129
@ph Could you please check what is the status of the elastic-agent Docker image? the issue still persists in [Integrations](https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/main/125/pipeline).

[2022-02-08 14:10] ph commented on #1129
@mtojek I am taking another look.

[2022-02-08 14:16] ph commented on #1129
@mtojek Looking at the [failure of the ci](https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/main/125/pipeline), this concern the 8.1 snapshots, and well I didn't merge https://github.com/elastic/beats/pull/30209, I will double-check the failures and merge it. Is there a job that test on master?

[2022-02-08 14:38] axw commented on #1129
@ph if you don't care about running the specific steps that @mtojek mentioned: the steps I listed in https://github.com/elastic/fleet-server/issues/1129#issuecomment-1032421904 are for main (8.2.0-SNAPSHOT).

[2022-02-08 16:45] ph commented on #1129
[code]

[2022-02-08 16:49] ph commented on #1129
Build is `5529c31cf1bd68bf2ad089ef747186f9510ff3f1` and does include the revert

[code]

This is indeed a strange behavior, because I was able to reproduce the bug everytime with the instrumention commit and not without it.

[2022-02-08 17:04] mtojek commented on #1129
I retriggered the main job. Let's see what's the current status: [link](https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/main/126/)

[2022-02-08 17:34] ph commented on #1129
Interesting logs in the Kibana side, not sure why we have multiple `fleet-setup completed statement`

[code]

[2022-02-08 18:10] ph commented on #1129
OK, I think we might have two different problems, let's start with the APM-Server, recently we have removed the autogeneration of configuration of fleet-server without a human 'intervention' https://github.com/elastic/kibana/issues/108456.  Looking at the APM docker-compose file at https://github.com/elastic/apm-server/blob/main/docker-compose.yml#L41-L63 we never configure the default fleet serve

[2022-02-08 19:11] ph commented on #1129
When I've tested https://github.com/elastic/fleet-server/issues/1129#issuecomment-1029344378 I didn't use the **container** subcommand and did use the link from the kibana UI, so in that case Kibana generates the appropriate server configuration.

[2022-02-08 20:28] ph commented on #1129
Added notes here, using this configuration yield a few deprecation warning from https://github.com/elastic/kibana/issues/108456#issuecomment-1016502179
[code]

[2022-02-08 20:32] ph commented on #1129
I still think it's something only when using an automation workflow, when I have a user journey it seems to work at least outside of containers.

[2022-02-08 22:38] ph commented on #1129
OK, 8.1.0 is stuck in a failure loop on Fleet-Server, the server is not even started. This is exactly what marcin had.
Going to do the same thing in the 8.2.0 artifacts.

[2022-02-08 23:02] ph commented on #1129
OK, 8.2.0 elastic-package stack works for me.

[code]

Logging into Kibana show both Elastic Agent connecting to it. everything seems to be enrolled fine.
I don't know how it's used in the CI but if the 8.2.0 works. I wonder if the asserts or the configuration of the integration has issues in the CI.

@jlind23 @axw The main difference in 8.2.0 and 8.1.0 is really the instrumentation. fleet-server

[2022-02-09 08:08] mtojek commented on #1129
Thanks, @ph, for working on this to reduce the blast.

I opened a similar PR to verify the 8.2.0 stack: https://github.com/elastic/elastic-package/pull/692

Hey @simitt @axw @stuartnelson3, I suppose you've been already researching the APM instrumentation issue. Could you please share more details or link the issue, so we can learn what went wrong here? My bet is an undetected library conflict som

[2022-02-09 10:43] aarju commented on #903
Here is a real world 'multi cloud' scenario we are looking at internally in Elastic.  We want to migrate to using Fleet for security and o11y in Elastic Cloud. Elastic Cloud currently spans 53 different cloud regions across multiple providers. Each of these regions has it's own stack that we collect the o11y and security data. We then use Cross Cluster Search so we can use a single 'overview' clus

[2022-02-09 13:06] amolnater-qasource commented on #1132
Hi @jlind23
We have observed this issue on latest 8.1 Snapshot build too.

**Screenshot:**
![image](https://user-images.githubusercontent.com/77374876/153206727-ac3d15ce-8664-4884-917d-543206621ae1.png)

**Build details:**
BUILD: 50203
COMMIT: dd503b312534b3ade6da21625793fbbc87191a04

Thanks

[2022-02-09 14:26] jlind23 commented on #1132
So you can not find any policies right?

[2022-02-09 15:10] aarju commented on #903
Thanks for the input @mostlyjason!

We are really looking forward to this capability in 8.2, I think that will help a lot with this problem.

[2022-02-09 19:23] ph commented on #1129
Elastic-package and apm-server problem is fixed so I am going to close this issue, If there is a problem we can reopen it.

[2022-02-09 19:23] #1129 closed

[2022-02-10 08:33] amolnater-qasource commented on #1132
@jlind23 We are not getting the Hosted fleet server, however we are getting Elastic cloud agent policy as expected.

**Screenshots:**
![image](https://user-images.githubusercontent.com/77374876/153368206-bec655e4-5178-4352-8e0e-2ddd769e18b9.png)
![image](https://user-images.githubusercontent.com/77374876/153368253-fb068db3-e245-45cb-a6f4-c8d4caf1e781.png)

Thanks

[2022-02-10 11:00] jlind23 commented on #1132
@amolnater-qasource do you have any logs to provide?
@ph i suspect this is due to the removal of default fleet policy?

[2022-02-10 14:08] jlind23 commented on #1132
Open fleet, then click on the host and you should be able to access the fleet integrations log.
@ph i'll soon be on PTO so I may need your help following up here.

[2022-02-10 14:51] ph commented on #1132
This shouldn't be the case, This is an hosted Agent,

The issue only affects on-premise environment that are completely automated.

[2022-02-11 04:52] amolnater-qasource commented on #1132
Hi @jlind23
There are no logs available for hosted agent and managed policy doesn't allow to enable logs for this Hosted fleet server.

**Screenshot:**
![image](https://user-images.githubusercontent.com/77374876/153539172-d45899d6-7ede-498a-939d-ba72ca685837.png)
![image](https://user-images.githubusercontent.com/77374876/153539338-28998c2e-bf50-4b3c-a21d-977b1d714795.png)

Further we are also blo

[2022-02-11 05:52] amolnater-qasource commented on #1134
Hi @jlind23
We have revalidated this issue on 8.1 BC2 self-managed environment and we are successfully able to install Fleet Server.

**Screenshot:**
![1](https://user-images.githubusercontent.com/77374876/153543649-8886ef59-bdac-455a-bbec-46cd7a49c98f.JPG)

**Build details:**
BUILD: 50222
COMMIT: ee89ebfddeda3baaf6cd87c0299247c5248cb952
Artifact Link: https://staging.elastic.co/8.1.0-024d23aa/sum

[2022-02-11 05:52] #1134 closed

[2022-02-11 16:00] simitt commented on #1129
@stuartnelson3 is looking into this.

[2022-02-11 17:16] ph commented on #1090
@axw We can close this one?

[2022-02-11 17:16] #1090 closed

[2022-02-11 20:14] nchaulet commented on #1132
Not sure what the status of that issue but just tested a 8.1 deployment and my Fleet server is switching from online to offline and there is a lot of these in Fleet server logs
<img width="1408" alt="Screen Shot 2022-02-11 at 3 14 36 PM" src="https://user-images.githubusercontent.com/1336873/153663564-74e1d319-a5e8-454c-807a-8b486f59d7ab.png">

[2022-02-14 01:46] axw commented on #1090
I left it open for you all to look into, but a more recent image is working so I guess it's related to the default policy removal.

[2022-02-14 03:05] Jhinxs commented on #905
thanks a lot man,i will try that

[2022-02-15 16:36] dmehra23 commented on #746
+1

[2022-02-17 12:20] #1132 closed

[2022-02-22 09:23] #948 closed

[2022-02-22 09:23] jlind23 commented on #948
Closing it as @nimarezainia provided guidance.

[2022-02-22 20:17] ph opened #1161 "Add linting based on the elastic-agent-libs for the Fleet Server"
Now that a base configuration for [golangci-lint](https://golangci-lint.run/) has been created and setup for [elastic-agent-libs](https://github.com/elastic/elastic-agent-libs) we should do the same for this repository.

See https://github.com/elastic/beats/issues/30150 for the related PRs.

[2022-02-22 23:05] m-hoskin-unisa commented on #1049
The ability to configure logstash as an output rather than forcing elastic would also be useful. We're currently using standalone agents that have their config managed outside Elastic in order to use logstash as the ingestion point for all our agents.

[2022-02-23 21:45] ph opened #1167 "Linter issues"
[code]

[2022-02-24 18:35] #1161 closed

[2022-02-28 11:08] gabrielfsousa opened #1178 "No dashboard for kubernetes, using fleet / elastic agent."
- Version:
7.16.2

![image](https://user-images.githubusercontent.com/722744/155972788-e596c3f9-6e60-44fd-b68c-70347a8d1d8f.png)

No dashboard for kubernetes, using fleet / elastic agent

[2022-02-28 18:56] ph commented on #1178
This is an issue with the k8s integration, I will move this issue to the appropriate repository.

[2022-02-28 18:57] ph opened #1184 "Integration test failures with Elasticsearch"
[code]

[2022-02-28 19:39] lykkin opened #1185 "Fleet server currently requires an elasticsearch output defined on agent policies."
Fleet server should be able to handle output sets that don't include an ES output. Currently, fleet-server will sift through the agent policies while parsing them in order to designate a default policy. This default must be of type elasticsearch.

As part of supporting more output types, it's realistic that a policy won't have an ES output on it, and this behavior should be rectified.

[2022-03-09 03:18] qiansheng2 opened #1209 "elastic-agent can not install in macbook"
- Version:
   elastic-agent-8.1.0
- Operating System:
  macbook(apple m1 max)  macos12.2.1
- Steps to Reproduce:
   Download elastic-agent-8.1.0-darwin-x86_64
   unzip
   sudo ./elastic-agent install ...

error:
-> % sudo ./elastic-agent install  \
  --fleet-server-es=http://localhost:9200 \
  --fleet-server-service-token=AAEAAWVsYXN0aWMvZmxlZXQtc2VydmVyL3Rva2VuLTE2NDY3OTUxOTE1Mjk6cFJ1UDdGbUtUMnVz

[2022-03-09 03:40] qiansheng2 commented on #1209
Version:
   Macbook Pro(Apple M1 Max)
   docker desktop  4.5.0（Engine:20.10.12）
   docker compose v2.2.3

I installed the docker image from ==>  https://www.elastic.co/guide/en/elasticsearch/reference/8.1/docker.html#docker-prod-prerequisites

[2022-03-09 03:50] qiansheng2 commented on #1209
add:

{"log.level":"info","@timestamp":"2022-03-09T11:47:41.164+0800","log.origin":{"file.name":"cmd/enroll_cmd.go","file.line":777},"message":"Fleet Server - Error - could not start the HTTP server for the API: could not set mode 480 for unix socket file at location /Library/Elastic/Agent/data/tmp/default/fleet-server/fleet-server.sock: chmod /Library/Elastic/Agent/data/tmp/default/fleet-server/f

[2022-03-09 05:42] qiansheng2 commented on #1209
add by elasticsearch log out:

es-cluster-es01-1    | {"@timestamp":"2022-03-09T05:40:10.120Z", "log.level": "WARN", "message":"received plaintext http traffic on an https channel, closing connection Netty4HttpChannel{localAddress=/172.21.0.3:9200, remoteAddress=/172.21.0.1:64874}", "ecs.version": "1.2.0","service.name":"ES_ECS","event.dataset":"elasticsearch.server","process.thread.name":"elastic

[2022-03-09 10:00] amolnater-qasource commented on #1028
Hi @mostlyjason
We have attempted to change log level for Hosted fleet server on 8.2 Snapshot and found it **reproducible** there.
- On changing log level for hosted fleet server a new Hosted fleet server gets installed with the "info" logging level.

Further this issue is **also reproducible on 8.1** released Kibana cloud environment.

**Screenshots:**
![4](https://user-images.githubusercontent.c

[2022-03-09 12:04] jcimins opened #1210 "Elastic Fleet Server problem"
https://discuss.elastic.co/t/fleet-server-problems/299204

Problem with setting up fleet server on Ubuntu 20.04 - all updates are on and Elastic+Kibana works fine. I can add beat logs as well.
When I try to set up Fleet server I get this error:
siem@siem:~/elastic-agent-8.1.0-linux-x86_64$ sudo ./elastic-agent install   \

Elastic Agent will be installed at /opt/Elastic/Agent and will run as a ser

[2022-03-09 13:21] qiansheng2 commented on #1210
As same error as my issue(#1209) in "{"file.name":"cmd/enroll_cmd.go","file.line":777}".

[2022-03-09 13:30] jcimins commented on #1210
I have the same error on Windows installation as well (just tested)

[2022-03-09 17:45] ph commented on #1210
@jcimins @qiansheng2 Kibana and Elasticsearch are running on 8.1?

[2022-03-09 17:46] #1184 closed

[2022-03-09 17:46] ph commented on #1184
Seem to have been transient.

[2022-03-09 18:03] ph commented on #1209
Running Agent on M1 is not yet supported, we are working on it. (see our [current matrix)](https://www.elastic.co/support/matrix)

[2022-03-09 19:02] Chadwiki commented on #1049
https://github.com/elastic/observability-dev/issues/1592

[2022-03-10 02:32] qiansheng2 commented on #1209
thanks for your comment.

[2022-03-10 02:36] qiansheng2 commented on #1210
Yes, they are running on ver8.1.0.

[2022-03-10 07:25] ruflin commented on #1210
Of course, 8.1.0 should work with 8.1.0. The error seems to come from here: https://github.com/elastic/fleet-server/blob/8.1/internal/pkg/ver/check.go#L40

@jcimins @qiansheng2 When you start the Elastic Agent, in the logs directory there should be a log file from fleet-server that logs more details around what the exact versions of Elasticsearch and fleet-server it detects. Any chance you could s

[2022-03-10 13:24] ph commented on #1210
@ruflin I've already made the change in https://github.com/elastic/fleet-server/pull/1211, I've recently worked with 8.2.0 (main) and I didn't experience that issues so I am a bit surprised by it.

[2022-03-10 13:27] ph commented on #1210
Looking at the code, it look to behave as expected.

@jcimins @qiansheng2 The log would help us here, can you also do `elastic-agent version` ?

[2022-03-10 13:45] ph commented on #1209
I should add we are actively working on it, see https://github.com/elastic/beats/pull/29585

[2022-03-10 15:23] ph commented on #1209
fyi @AndersonQ related to your M1 work

[2022-03-10 17:43] qiansheng2 commented on #1210
-> % ./elastic-agent version
Binary: 8.1.0 (build: da4d9c00179e062b6d88c9dbe07d89b3d195d9d0 at 2022-03-03 17:48:46 +0000 UTC)
Daemon: <failed to communicate>
could not get version. failed to communicate with running daemon: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial unix /Users/nick/es-cluster/elastic-agent-8.1.0-darwin-x86_64/data/tmp/elasti

[2022-03-10 17:56] qiansheng2 commented on #1210
I run ./elastic-agent install .... once again.

1.  In elastic console log，there are many logs as blow:
es-cluster-es01-1    | {"@timestamp":"2022-03-10T17:52:04.038Z", "log.level": "WARN", "message":"received plaintext http traffic on an https channel, closing connection Netty4HttpChannel{localAddress=/172.21.0.3:9200, remoteAddress=/172.21.0.1:65526}", "ecs.version": "1.2.0","service.name":"ES_E

[2022-03-10 17:59] qiansheng2 commented on #1210
I start my elasticsearch in docker desktop, the log is:
-> % docker compose up
[+] Running 5/0
 ⠿ Container es-cluster-setup-1   Create...                                0.0s
 ⠿ Container es-cluster-es01-1    Created                                  0.0s
 ⠿ Container es-cluster-es02-1    Created                                  0.0s
 ⠿ Container es-cluster-es03-1    Created

[2022-03-11 09:02] JohanPhom commented on #1210
Same error, my config is:

Elasticsearch version: 7.17.1
Elastic-agent version: I tried  8.0.0 and 8.1.0

./elastic-agent install     --fleet-server-es=https://10.4.8.10:9200   --fleet-server-service-token=AAEAAWVsYXN0aWMvZmxlZXQtc2VydmVyL3Rva2VuLTE2NDY5ODU3NjY3ODM6c2dsSEpMR3RRanVfdVNNb2M3UXF0dw   --fleet-server-policy=499b5aa7-d214-5b5d-838b-3cd76469844e   --fleet-server-insecure-http --fleet-ser

[2022-03-14 14:09] AndersonQ commented on #1209
Thanks, I'm gonna ensure we cover this when testing the M1 agent

[2022-03-15 14:48] b2ronn opened #1227 "Field from the document for the data_stream.namespace"
if I specify "${kubernetes.namespace}" in the namespace field, in the integration through kibana, then I get the error
{"log.level":"error","@timestamp":"2022-03-15T14:43:26.432Z","log.origin":{"file.name":"fleet/fleet_gateway.go","file.line":181},"message":"failed to dispatch actions, error: could not convert the configuration from the policy: missing field accessing 'output_permissions'","ecs.ve

[2022-03-16 13:29] jlind23 commented on #524
Closing at it is fixed, related to: https://github.com/elastic/fleet-server/issues/741

[2022-03-16 13:29] #524 closed

[2022-03-18 14:00] ph opened #1243 "Golangci-lint issues with go 1.18.0"
Same as https://github.com/elastic/elastic-agent/issues/224
[code]

[2022-03-20 19:42] b2ronn commented on #1227
if i specify namespace as -  $${kubernetes.namespace}

[code]
but the data doesn't come in that way.

[2022-03-21 09:18] jlind23 commented on #1209
@AndersonQ shouldn't we close this one and keep only the M1 build?

[2022-03-21 12:29] ph commented on #1227
The problem you are experiencing is, fleet and fleet server are not able to generate the appropriate _permissions_ for the targetted datastream, because using `${kubernetes.namespace}` means that the number of data streams could explode based on the number of namespaces you are running.  It should target `metrics-apm.app.*-*`

Before we evaluate if this is a feature we should support, I would like

[2022-03-21 13:44] ruflin commented on #1227
I think what @b2ronn is trying to do is a very good example on how to use namespaces. We should figure out how to best solve this on the permission side. Few ideas:

* Have a checkbox on a policy to give permissions for all data streams (metrics-*-*, logs-*-*) etc. instead of the locked down.
* Detect that a variable is set as namespace and make the user aware, that now `*` is set to have the righ

[2022-03-21 13:45] AndersonQ commented on #1209
I'd say so.

[2022-03-21 14:31] #1209 closed

[2022-03-21 15:32] b2ronn commented on #1227
while bits (and apm server) I do through logstash
[code]

[2022-03-21 17:26] nimarezainia commented on #432
@ruflin is there an issue that we could track on the platform side?
if we are allowed we should set xpack.security.authc.api_key.cache.max_keys with our simplified fleet-server config when max agents is set.

[fyi @ph]

[2022-03-21 17:27] #1185 closed

[2022-03-22 06:10] zez3 opened #1251 "Allow configuration of Agent(+)Beats Internal queue (on disk queue)"
**Describe the enhancement:**
Enable the options to configure from Fleet (policy) the Internal Queue of my Agents and/or underlying Beats.

At the moment this is only available for standalone Agents.
https://www.elastic.co/guide/en/beats/filebeat/current/configuring-internal-queue.html

**Describe a specific use case for the enhancement or feature:**

When an Managed Agent dies or gets restarted w

[2022-03-22 06:10] zez3 commented on #1251
@joshdover

[2022-03-22 06:15] zez3 commented on #1251
https://github.com/elastic/kibana/issues/81353

This issue was already described under Kibana issues

[2022-03-22 11:10] joshdover commented on #1251
@nimarezainia Would this fall under the "input settings" effort?

[2022-03-22 11:16] joshdover commented on #1227
Right, we don't yet support variables in the `namespace` field and we'd need to adjust the permissions requested for API keys for Agents to write to `logs-*-*` etc and offer some UX warning the user about this.

I think we should tackle this as part of the input variables and conditions effort. @mostlyjason do we have a better tracking issue for this effort? All I could find is https://github.com/

[2022-03-23 04:46] ghost opened #1253 "Fleet-server error"
Iam trying to get apache logs using kibana!!

1. Installed fleet-server in one VM
2. Configured agent policy
3. when i try to run this command according to the document

**sudo elastic-agent enroll --insecure --url=http://ip-address:8220 of fleet-server --enrollment-token=bac52714-fadb-415a-83ba-da05c839b834**

iam getting below error :

{"log.level":"info","@timestamp":"2022-03-23T07:52:08.099Z",

[2022-03-23 07:34] ruflin commented on #1227
I expect most input variables will not have an affect on the data stream names and with it the permissions. Because of this I would treat this as a special case to be covered.

[2022-03-23 07:47] ruflin commented on #432
Lots of things have changed since this initial comment, we should likely revisit this in general. The part I referred to above was that on Cloud users could set this key in Elasticsearch but the team decided not to do it. Instead if I remember correctly the limit was increased. Are we still seeing issue? If yes, we should reopen the discussion with the Elasticsearch team.

[2022-03-23 14:43] ph opened #1256 "Issues with Logstash output on cloud."
Recent changes to support Logstash (https://github.com/elastic/fleet-server/pull/1188) cause some problems, we have reverted it in https://github.com/elastic/fleet-server/pull/1252
--
Kibana version: 8.2.0-SNAPSHOT

Steps to reproduce:

Create 8.2.0-SNAPSHOT deployment on cloud staging
Ingest some data to APM Server, for example either use the apm-integration-testing repository, or post an [exampl

[2022-03-23 20:35] ph commented on #1253
@Karewisetech2021 a few question heres:

- What is the health status of the Elastic Agent that run Fleet server?
- Is there anything in between the agent you try enroll and the instance that run fleet server? A proxy?
- Is there any error logs on Fleet server?

[2022-03-24 06:29] lykkin commented on #1256
after doing more digging, i think the root cause is an inaccuracy in the way the outputs are named. here's a snippet of a config request from the agent before it gets sent down:
[code]

Note that the `use_output` value is `default`, but the output name is `elasticsearch`.

[2022-03-24 09:05] Karewisetech2021 commented on #1253
1. it shows Healthy
2. No
2. No

[2022-03-24 10:56] Karewisetech2021 commented on #1253
curl --insecure https://fleep-ip:8220/api/status - when i use https iam getting error
curl: (35) SSL received a record that exceeded the maximum permissible length.

curl --insecure http://fleet-ip:8220/api/status
{"name":"fleet-server","status":"HEALTHY"}

[2022-03-24 13:22] nchaulet commented on #1256
@lykkin it is a bug in the policy we send to the agent? or the default appear after some transformation on your side?

[2022-03-24 15:04] lykkin commented on #1256
@nchaulet reverting the fleet server changes i made fixed the issue, so it's most likely an issue there. i'll keep this issue updated as i learn more

[2022-03-24 18:33] jlind23 commented on #1256
You mean with the policy reported by fleet that was containing multiple outputs including a logstash one right?

[2022-03-24 20:05] lykkin commented on #1256
I've narrowed this down to the ssl block in the output: when removing the ssl block the address the beats get are correct. I suspect the dummy values I'm using for the ssl values are causing some issues while resolving the connection, then it defaults back to `localhost:9200`

@nchaulet it looks like when updating a logstash output to an elasticsearch output the ssl block sticks around, which caus

[2022-03-24 20:09] nchaulet commented on #1256
Yes you are correct it seems to have a bug here when we transform a logstash output to an elasticsearch one the ssl props are not remove, I am going to fix that. But for the cloud policy we should not have a logstash output so it seems not related correct?

[2022-03-24 20:09] lykkin commented on #1256
It looks like policies are generated using a different policy as a template. I created a fresh policy and the output block from the first policy I was working from was copied over, including the ssl block.

[2022-03-24 20:10] lykkin commented on #1256
That sounds right to me, now that I have a better understanding of the issue I'll test it against the cloud instance I was using prior.

[2022-03-24 20:52] lykkin commented on #1256
I found the issue in the cloud case:

this block here: https://github.com/lykkin/fleet-server/blob/logstash-output/internal/pkg/policy/policy_output.go#L82-L84
should have a predicate like
[code]

The current thing it is throwing on the policy to be shipped down is an object, and it is expecting a string :face_exhaling:

I'll have a PR up for this fix after testing to make sure this solves the pro

[2022-03-28 12:41] mostlyjason commented on #1227
@joshdover Yes that is the only tracking issue for conditions support in Fleet. @akshay-saraswat and I are preparing a google doc proposal but its still WIP. I'll mention this as a use case in that proposal.

[2022-03-28 17:39] #1256 closed

[2022-03-30 08:57] cachedout commented on #486
@jlind23 Not sure if you want to keep this issue open or not. We'll be building all of this as a part of https://github.com/elastic/observability-robots/issues/989 so this might be redundant.

[2022-03-30 09:51] jlind23 commented on #486
@cachedout thanks for the heads up. It is redundant indeed let me close this one.

[2022-03-30 09:51] #486 closed

[2022-03-30 20:01] lykkin opened #1278 "Logging is awkward during bootstrapping"
Currently the way logging is handled during bootstrapping (i.e. before configuration has been resolved) is a bit haphazard.

It would be better to instantiate a bootstrapping logger with some default verbosity to pass around, then instantiate a new logger with the resolved configuration when possible.

Ideally, this code base should use the same logging library/conventions as the agent code base.

[2022-03-31 14:19] ph commented on #1278
@lykkin Do you think if we were moving from a Logger that write to disk to a logger that writes to stdout and collected by agent. This would result in only ahve the log level (and selector in the future) being a changing configuration?

[2022-04-01 06:57] deepikakeshav-qasource opened #1285 "[Self-Managed]: No logs available under agent Logs tab for installed fleet server agent"
**Describe the bug**
[Self-Managed] Logs are not displayed for agent installed

**Build Details:**
[code]

**preconditions**
1. Policy should be exist or created

**Steps to Reproduce**
1. Navigate to fleet tab
2. Install the agent with policy.
3. Navigate to logs tab
3. Observe that Logs are not displayed for agent installed

**Actual Result**
Logs are not displayed for agent installed

**Expecte

[2022-04-01 10:52] manishgupta-qasource commented on #1285
Secondary review for this ticket is Done

[2022-04-01 12:18] ph commented on #1285
@deepikakeshav-qasource can you send me a diagnostics per email? fyi @jlind23 can someone look into this one.

[2022-04-01 12:22] jlind23 commented on #1285
What are the agent logs? Is the agent started on the host?

[2022-04-01 12:28] jlind23 commented on #1285
@lykkin could you answer here?
The error appears to be

It seems to be linked to your change on the default policy.

[2022-04-01 12:40] ph commented on #1285
I have a few questions:

The agent logs in the zip are from the Elastic Agent running Fleet server?

Did you run into any issues when installing/enrolling that agent in fleet-server?
The warning message `fleet.agent.id` should have ben generated outside of fleet-server in the agent, and I wonder if there is something that was raised during the `enrollment` process? I would have expected the enroll

[2022-04-01 14:01] ph opened #1288 "Possible Flaky test in /internal/pkg/dl"
When running `make test-int` possible flaky test in the dl package.
Found in #1287

[code]

[2022-04-01 14:07] #1288 closed

[2022-04-01 14:51] ph opened #1289 "Flaky test enrollment_api_key_integration_test.go:113"
## Flaky Test

* **Notes:**
  Looking at the `diff` and the code it's one of the following:
 - The return of the values from Elastic is not deterministic, maybe not sorting
 - Do the code require the values to be always return in the right order?

Found in https://github.com/elastic/fleet-server/pull/1287

Where unrelated code was touched, rekicking the ci and the test was green again.

### Stack

[2022-04-01 19:50] ph commented on #1251
I am going to move this to the Elastic-Agent repository

[2022-04-01 19:58] ferullo opened #1293 "[BUG] Elasticsearch API key is not included in Endpoint config updates for 8.2.0 BC1"
In 8.2.0 BC1 the first config Endpoint receives on install includes an API key for Elasticsearch, so everything works. However, after a policy change for Endpoint the config no longer contains an API key. This means Endpoint cannot write to Elasticsearch.

Steps to reproduce:
1. Install Agent 8.2.0 BC1 (I used x86_64 Linux)
2. Add Endpoint Security integration
3. Wait for Endpoint to be installed

[2022-04-04 12:38] kevinlog commented on #1293
Here's another bug this is a symptom of this: https://github.com/elastic/kibana/issues/129281

[2022-04-04 13:30] ph commented on #1293
Going to close this in favor of https://github.com/elastic/elastic-agent/issues/285

[2022-04-04 13:30] #1293 closed

[2022-04-04 16:02] ph opened #1301 "Investigate impact of LS output addition with the number of allocation"
We had allocation optimization in place when adding the api key to the output block, We the changes we might removed all the optimization.

[2022-04-04 16:38] lykkin commented on #1301
As an addition to this: we should have benchmarks around the scenarios we optimize for to catch regressions.

[2022-04-04 17:26] michel-laterman commented on #114
From what I can tell instrumentation was added with https://github.com/elastic/fleet-server/pull/898 (and issue https://github.com/elastic/fleet-server/issues/850)

[2022-04-04 20:42] ph commented on #1289
Saw in https://github.com/elastic/fleet-server/pull/1306

[2022-04-06 09:11] amolnater-qasource commented on #1285
Hi @ph

The attached agent logs we shared earlier in the zip are from the Fleet-Server agent that is installed using user created Fleet Server policy having System and Fleet Server integration.
We attempted this on 8.2 BC-1 Kibana self-managed environment.

We haven't observed any issues in installation of this Fleet Server at console.
To avoid any confusions we have updated the defect summary.
Th

[2022-04-06 12:08] jlind23 commented on #1285
@amolnater-qasource it seems to be the exact same behaviour as in https://github.com/elastic/elastic-agent/issues/281
If you agree, can we keep only one?

cc @AndersonQ

[2022-04-06 12:33] amolnater-qasource commented on #1285
@jlind23 We have reported this issue because:
- Firstly we have observed this on **self-managed environment**.
-  The **Fleet-Server agent** was not generating any logs on **Fleet UI** under Agent>Logs tab.

The other log issues we have reported were for Elastic-Agent installed on Kibana cloud environments.
Thanks!

[2022-04-07 12:08] amolnater-qasource commented on #1285
Hi @jlind23
We have revalidated this issue on 8.2 BC-2 Kibana self-managed environment and found it **not reproducible** now.
- Logs are available under agent logs tab for Fleet Server installed on a self-managed environment.

**Build details:**
BUILD: 51772
COMMIT: 3535a206838845689639344afaf64a58c663b3c1
Artifact Link: https://staging.elastic.co/8.2.0-1bde7c3b/downloads/beats/elastic-agent/elast

[2022-04-07 12:08] #1285 closed

[2022-04-07 19:06] michel-laterman commented on #971
Currently the `go.mod` of the beats repo is set to have the `v7` major version. go detects incompatible major versions when trying to update to `v8.x`. We will not be able to use a tagged version of the beats module unless the module is updated to point provide v8 paths.

An alternative solution is to change the beats import to use https://github.com/elastic/elastic-agent-libs

[2022-04-12 13:49] ph commented on #971
Yes, the data plane have looked at moving to v8, but that decided the number of changes didn't worth the risk.  So we will run off a commit for a long time.

[2022-04-12 13:55] ph commented on #971
See this https://github.com/elastic/beats/pull/31213#event-6407482014 I will close this issue.

[2022-04-12 13:55] #971 closed

[2022-04-12 13:57] ph opened #1338 "Automate updating our dependencies on beats"
Updating our dependencies on beats is a manual tasks, this can lead to our code to diverge in feature from beats.
We should automatically update our dependencies.

@v1v I belive there is something in place for other repositories, is this a big task to add this to this repository.

[2022-04-12 14:33] v1v commented on #1338
I'll ping you in one of our internal issues that discussed this deeply, IIRC

[2022-04-12 15:42] ph opened #1340 "Provide upgrade stats as metrics and build a visualization in agent dashboards"
As a user I need to be able to monitor the rolling out of an upgrade to a cluster of Agent, to do so I need the following:

# Tasks
- [ ] Collect metrics (TBD with @nimarezainia )
  - Policy name
  - Agents upgraded already
  - Total agents in the policy
  - Number of failed upgrades
- [ ] Define the format structure (Look at ecs)
- [ ]  Send theses metrics into a data stream (define if we do it w

[2022-04-12 16:36] jlind23 commented on #1340
@ph Could you tell me more about the `v8.3.0`label?

[2022-04-12 16:58] ph commented on #1340
This will contains our jobs for the rolling upgrade, going with Kibana as the schedule removes a lof of things required to be done in Fleet-Server. But we need to provide stats to monitor that upgrade.

[2022-04-12 17:20] joshdover commented on #1340
It might be helpful to think about these stats more generically, as agent status stats and then use that data to build the visualizations for upgrades. I don't think there's anything particular about the upgrades that need to be represented in the data, but an upgrade would change the general agent status.

All of these could be answered by a simple count of agents, broken down by version number a

[2022-04-19 15:51] AndersonQ opened #1364 "Update Go to 1.17.9"
**Describe the enhancement:**

Update Go to 1.17.9

**Describe a specific use case for the enhancement or feature:**

It's a security path

[2022-04-20 08:34] AndersonQ commented on #1371
Closed by #1267

[2022-04-20 08:34] #1371 closed

[2022-04-21 10:57] #1364 closed

[2022-04-22 00:42] michel-laterman opened #1380 "Fleet server should be able to schedule future actions"
**Describe the enhancement:**

Fleet server actions should have start_time and minimum_execution_duration attributes that can be used to schedule an action in the future.

Scheduling future actions should spread out start times within the start:expiration range when given multiple agent IDs

**Describe a specific use case for the enhancement or feature:**
In order to support agent upgrades we need

[2022-05-02 17:20] #466 closed

[2022-05-03 14:33] Leandreer opened #1419 "Null ID Agent Policy breaks the API"
Using the fleet API, I created a new Agent Policy. But by accident, I provided the ID for the new Policy : "null". Now when I try to view my policies using the UI or the API, I get this :

[code]
I suppose that the reason is that the request considers the null value as a missing text or no text at all. So I can only access a Policy using his ID that I saved before the bug.

When I tried to delete

[2022-05-04 07:47] jlind23 opened #1423 "Document how to locally run fleet server within Go and add it to our development guide"

[2022-05-05 12:39] ph commented on #1419
@jen-huang Seems to be a Fleet problem?

[2022-05-05 13:51] #1278 closed

[2022-05-06 15:20] michel-laterman opened #1431 "Evaluate replacing internal/pkg/danger with bytes.Buffer"
**Describe the enhancement:**

We have rolled our own buffer in the form of `pkg/danger`. It will not return errors.
A more complete buffer is provided by the standard library with `bytes.Buffer`, we may want to use that implementation instead

Note that because we know the `danger` buffer does not return errors, we don't check for them where ever the buffer is used, that may need to change if we

[2022-05-06 18:20] dedemorton commented on #839
Noting here that we got another question about this on slack:

"We have a customer who has Elasticsearch on Elastic Cloud and wants to install Self-managed Fleet Server. Based on [Fleet Server deployment models](https://www.elastic.co/guide/en/fleet/current/deployment-models.html), it doesn’t look like it’s possible but [here](https://www.elastic.co/guide/en/fleet/8.1/add-a-fleet-server.html#:~:te

[2022-05-11 11:15] amolnater-qasource commented on #1285
### `Bug Conversion`

-  Testcase already exists for this scenario under Fleet test suite at link:
   - [C15282](https://elastic.testrail.io/index.php?/cases/view/15282)

Thanks!

[2022-05-16 16:14] v1v opened #1472 "GitHub branch protection with CODEOWNERS and Mergify does not allow to auto-merge"
I've just found that Mergify cannot auto-merge PRs with the existing branch protection.

CODEOWNERS does not support GitHub apps https://github.community/t/is-it-possible-to-add-github-apps-bot-to-codeowners/3146/3

As a consequence, PRs are pilled up and need a manual approval from the owners to allow Mergify to auto-merge.

There are two actions:

1) I'd propose to ignore `dev-tools/integration/

[2022-05-17 14:06] scunningham commented on #1431
Replacement can work; however this was specifically added as an optimization to limit byte copies in a performance sensitive part of the code.   If removed, we should validate that the performance does not regress excessively.

[2022-05-17 15:54] v1v commented on #1472
It's now solved, and tested with https://github.com/elastic/fleet-server/pull/1474

[2022-05-17 15:55] v1v commented on #1472
@ph @jlind23 , what are your thoughts? https://github.com/elastic/fleet-server/pull/168 doesn't work anymore with the existing branch policy and GitHub codeowners in the release branches.

[2022-05-17 16:01] jlind23 commented on #1472
@v1v can not we just ignore this specific path?

[2022-05-18 14:34] v1v commented on #1472
That's done in https://github.com/elastic/fleet-server/pull/1473

But automated backports are not anymore merged since the OWNERSHIP branch protection does not allow to do so, those backports are not about the automated bumps but all the backports done from `main` to the different release branches. As long as there is a GitHub OWNERSHIP, the auto-merge with Mergify won't work.

https://github.com/

[2022-05-18 16:39] #571 closed

[2022-05-19 13:27] ph commented on #1472
Would adding the bot account to the codeowner actually fixes this?

[2022-05-19 14:19] v1v commented on #1472
The bot account is an APP ,  and CODEOWNERS does not support GitHub apps https://github.community/t/is-it-possible-to-add-github-apps-bot-to-codeowners/3146/3

[2022-05-20 11:07] joshdover commented on #749
@ph I think this would be solved by our new design for agent health status which does not update the `last_checkin` field on a regular basis. Do you agree?

[2022-05-20 22:12] zez3 opened #1488 "Fleet Data Streams sort by size incorrect"
Can someone please have a look at that numeric sort function, it looks like it needs an extra touch.

![image](https://user-images.githubusercontent.com/22619253/169618904-0e5333ab-1130-454f-a2c4-8970c8a62b70.png)

Thanks

[2022-05-23 09:22] ruflin commented on #903
Assigning this to @ph to take over the lead on it. I would still like to see us driving this to a conclusion on the long term vision / goal to guide us on any future implementations. @joshdover

[2022-05-23 10:47] joshdover commented on #903
It seems there general preference for exploring option 4, being able to assign a Fleet Server host(s) per Agent policy, which generally fits well with how we expect users to use agent policies to group agents. IMO it makes sense to start there and see which use cases we can't solve with this solution.

[2022-05-23 14:59] joshdover commented on #903
Think I jumped the gun a bit on this one. Looking closer at https://github.com/elastic/beats/blob/b5e94143d774f2434432a578f7ef5bbd71002bca/x-pack/elastic-agent/pkg/remote/client.go#L241, it appears that we do currently round-robin Fleet Servers and choose the host that was used least recently. We would need to stop doing that before exploring option 4.

[2022-05-24 04:42] #1380 closed

[2022-05-24 12:04] joshdover opened #1496 "Reduce load and log noise when agents are force unenrolled"
When agents are "force" unenrolled, they can continue to attempt to check-in with Fleet Server using invalid API keys. This can produce a lot of noise in the Fleet Server and Elasticsearch logs on each check in attempt by these agents. This is common scenario when using Agent inside VMs and containers where instances may be reverted to a snapshot or spun back up after being force unenrolled. These

[2022-05-24 12:05] joshdover commented on #1496
Related to this is a request to surface details about unenrolled agents that are attempting checkin in the UI: https://github.com/elastic/kibana/issues/132702

[2022-05-24 14:41] joshdover opened #1499 "Add a tool for recovering agents and API keys from a snapshot"
We've had a few SDH cases where the unenrollment timeout functionality executed by Fleet Server gets triggered in an undesirable situation, leading to 1000s of agents being unenrolled with no way to recover them.

I have a very hacky workaround that allows recovering these agents from a snapshot. We could turn this into a CLI tool that users could use to recover from these situations.

Here is the

[2022-05-24 15:53] gemaliano commented on #1488
https://github.com/elastic/kibana/issues/132825

[2022-05-24 17:38] ph commented on #1488
I will close this since there is a kibana issue linked above.

[2022-05-24 17:38] #1488 closed

[2022-05-24 17:52] ph opened #1500 "Do not invalidate API Key right after restarting the Elastic Agent."
# Context

When Fleet Server has issues and goes offline for a long period of time and comes back online, it will look if it needs to unenroll any agents. If the offline time is higher than the [unenrollTimeout](https://github.com/elastic/fleet-server/blob/main/internal/pkg/coordinator/monitor.go#L51), the Fleet server will unenroll any Agent matching the unenroll timeout, since all agent was not

[2022-05-24 17:58] ph commented on #1496
I would prefer not changing the behavior in the Elastic Agent loops, I'd assume this could be temporary depending on the setup.

This would not work in the context of multiple Fleet-Server.

I will make a PR to reduce the number of log generated for this, I still think we need to see something in the log for now,
but we don't need it to see if for all the Agent that will try to connect.

[2022-05-24 18:06] ph commented on #1496
OH I see, this warning is actually coming from the ES layer. So in that case we could indeed have caching that would keep track of failed API Keys, for a period of time maybe 1 hour?

[2022-05-24 21:27] nimarezainia commented on #903
@joshdover
if the fleet server list is per policy, the behavior you describe here would pertain to those in that policy correct?

[2022-05-25 15:59] scunningham commented on #903
I suppose that's another way to do it.  We did a similar design at Endgame where Agents could be automatically assigned to a specific policy by applying a prioritized set of rules to metadata regularly.  We did, however, also have the concept of statically assigned agents; those for which the policy would never change.   This was desirable for certain classes of user personas, for example C level

[2022-05-25 19:04] ph commented on #749
@joshdover Yes I think so too.

[2022-05-27 14:59] SenthilkumarRasan opened #1507 "fleet server yaml for kubernetes deployment"
Looking to deploy fleet server in kubernetes. Could you provide sample config files to deploy as container in kubernetes?

[2022-06-01 04:19] samratbhadra-qasource opened #1510 "[Fleet]: On fresh 8.3.0 kibana environment fleet tab shows 'Enable fleet tab' and fleet tab is not accessible."
**Describe the bug:**
On fresh 8.3.0-snapshot kibana environment fleet tab shows 'Enable fleet tab' and fleet tab is not accessible.

- https://cloud.elastic.co/
- https://staging.found.no/

**Build Details:**
VERSION: 8.3.0-SNAPSHOT
COMMIT:  2111fc418e7e7019fa846bc3dd1d7dc531dfce51
BUILD:  53192
ARTIFACT LINK:

**Preconditions:**
1. Elastic 8.3.0-SNAPSHOT environment should be deployed.

**Steps

[2022-06-01 04:20] samratbhadra-qasource commented on #1510
@manishgupta-qasource Please review.

[2022-06-01 11:40] joshdover commented on #1510
I'm seeing this error repeatedly in the logs which is interesting: `Error: could not save enrollment information: non-root file owner`

[2022-06-01 11:41] dikshachauhan-qasource commented on #1510
Hi @joshdover

This error, is already highlighted by Manu in automation test runs as well.

[2022-06-01 11:42] joshdover commented on #1510
@juliaElastic found a related change here: https://github.com/elastic/elastic-agent/pull/398#discussion_r864306614

@aleksmaus could you assist here?

[2022-06-02 07:57] amolnater-qasource opened #1519 "[Self-Managed]: Metricbeat gets failed once on initial installation of Fleet Server."
**Kibana version:**  8.3 BC1 self-managed environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 8.3 BC1 self-managed environment should be available.
2. A fleet server should be installed using Fleet server policy having System and Fleet Server integration.

**Steps to reproduce:**
1. Navigate to Fleet>Agents tab.
2. Navigate to Fleet server l

[2022-06-02 07:58] amolnater-qasource commented on #1519
@manishgupta-qasource Please review.

[2022-06-02 08:24] manishgupta-qasource commented on #1519
Secondary review for this ticket is Done

[2022-06-03 09:11] samratbhadra-qasource commented on #1510
Hi @aleksmaus
We are now able to successfully deploy **Healthy 8.3.0-snapshot** build from:

- https://cloud.elastic.co/
- https://staging.found.no/

 Also, the fleet tab is now accessible. Please find below the testing details:

**Screen-Recording:**

https://user-images.githubusercontent.com/84007952/171811591-6be25272-2376-46c0-8300-9d18587273fc.mp4

**Build Details:**
VERSION: 8.3.0-SNAPSHOT
B

[2022-06-03 12:40] ablnk opened #1524 "Agents selection resets in Fleet UI in some cases"
This defect found during Fleet scale testing.

I reproduced it with 3k and with 10k agents.

**Environment:**

ESS cluster was built with oblt-cli.
![ESSspecs](https://user-images.githubusercontent.com/34958359/171855224-5446c7e2-91da-479d-963b-5aac17996225.png)

[Horde](https://github.com/elastic/horde) was used to deploy agents.

**Precondition to reproduce:**
Have 3-10k agents in Fleet.

**Step

[2022-06-03 12:43] ablnk commented on #1524
FYI @cachedout

[2022-06-03 12:53] ablnk opened #1525 "Illegal argument exception returns when navigating to the last page of agents"
This defect found during Fleet scale testing.

A defect is intermittent. In some cases cannot be reproduced, exact conditions are not defined. I reproduced it with 10k agents.

**Environment:**
ESS cluster was built with oblt-cli.
![ESSspecs](https://user-images.githubusercontent.com/34958359/171855224-5446c7e2-91da-479d-963b-5aac17996225.png)

[Horde](https://github.com/elastic/horde) was used to

[2022-06-03 12:53] ablnk commented on #1525
FYI @cachedout

[2022-06-03 13:10] jlind23 commented on #1525
Thanks @ablnk but this is rather something that should be created in the kibana repo.
@kpollich @jen-huang Can I move it to Kibana?

[2022-06-03 13:21] kpollich commented on #1525
@jlind23 - Yes let's transfer this to Kibana. I'll move it over now.

[2022-06-03 13:36] ablnk commented on #1524
Hey @kpollich , this also may belong to kibana repo, but I can't transfer the issue on my own

[2022-06-07 07:00] jlind23 commented on #166
Closing it as this was done already.
cc @nimarezainia @ph

[2022-06-07 07:00] #166 closed

[2022-06-07 08:32] joshdover commented on #903
I personally prefer we decouple the dynamic policy assignment feature from having a prioritized Fleet Server hosts list. The latter is generically useful for more simple deployments that don’t need dynamic policy assignments and for the case Sean mentioned above. A prioritized list is also likely much lower effort than dynamic policy assignment to deliver and would unblock being able to release do

[2022-06-07 20:05] zez3 opened #1535 "Send a (/var/log) directory listing to Fleet and display it on the Agent status page"
Sometimes we need to gather more logs from our installed Agents but in the blind we are not always sure what is relevant and what not. The team that manages Elastic Stack does not always have access to the hosts where the Agents are running.
The system owner or sysadmin use sssd or sometimes they use shibolet for authentication of other different services. For security reasons we need to gather al

[2022-06-07 20:17] zez3 commented on #1535
@joshdover What do you think?

[2022-06-08 11:08] jlind23 commented on #1519
@pierrehilbert @ph This is not a blocker but could you please assign someone to investigate this behaviour?

[2022-06-08 16:12] ablnk opened #1541 "Unable to reassign a large number agents to a new policy"
This defect found during Fleet scale testing. Please note that this defect may be caused by Horde, behavior may differ with real agents. During Fleet Scale sync we agreed to file issues even if it's not clearly a bug.

I reproduced it with 10k agents.

**Environment:**
ESS cluster was built with oblt-cli.
[Horde](https://github.com/elastic/horde) was used to deploy agents.

**Kibana version:**
8.3

[2022-06-09 10:41] narph commented on #1519
@amolnater-qasource, from what I see, the issue is that Metricbeat took very long time to stop and exceeded the timeout.
I tried to reproduce the scenario on Windows 11 and metricbeat managed to stop in a timely manner.
I am not seeing anything in metricbeat logs that would cause this, were you able to reproduce this each time with a fresh installation?

Where there any specific steps you took whe

[2022-06-09 11:26] joshdover commented on #749
We decided to defer on this checkin frequency change to a later release. Currently, the Fleet UI considers an agent offline if it's [missed 4 check-ins (each 30s)](https://github.com/elastic/kibana/blob/c1025d81278f75b0d836235caf45f26329a543cd/x-pack/plugins/fleet/common/services/agent_status.ts/#L37), effectively hasn't checked in for 2 minutes. Maybe for now we should just increase this to somet

[2022-06-10 14:13] ablnk opened #1548 "Upgrading a large number agents results in some getting stuck in "updating""
This defect found during Fleet scale testing. Please note that this defect may be caused by Horde, behavior may differ with real agents. During Fleet Scale sync we agreed to file issues even if it's not clearly a bug.

I reproduced it with 2k and 10k agents.

**Environment:**
ESS cluster was built with oblt-cli.
[Horde](https://github.com/elastic/horde) was used to deploy agents.

**Kibana version

[2022-06-10 14:20] ablnk commented on #1548
FYI @nimarezainia

[2022-06-11 11:07] kiran2sasi commented on #1210
Error: fleet-server failed: context canceled
May I know the possible reasons to get this error

[2022-06-13 07:59] juliaElastic commented on #749
@joshdover I created an issue in kibana repo for this: https://github.com/elastic/kibana/issues/134182

[2022-06-13 10:32] amolnater-qasource commented on #1519
Hi @narph
We have revalidated this on latest 8.3 Snapshot self-managed environment and found it reproducible there too.

**OS:**
Windows 10

**Steps followed:**
1. Install fleet-server and navigate to Fleet>Agents tab.
2. Navigate to Fleet server logs and select log level `error` from dropdown filter.
3. Observe in logs metricbeat fails on fleet server installation and then gets restarted.

**Logs

[2022-06-14 10:57] joshdover commented on #749
Thanks, Julia. Let's close this in favor of the Kibana issue.

[2022-06-14 10:57] #749 closed

[2022-06-15 13:49] 111andre111 commented on #1535
You could use OSQuery for that as well:
`SELECT path FROM file WHERE path LIKE '/var/log/%%';`

[2022-06-16 11:09] amolnater-qasource opened #1564 "[Self-Managed]: Fleet Server failed to upgrade from 8.2>8.3 on self-managed 8.3 Kibana"
**Kibana version:**  8.3 Snapshot Kibana self-managed environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 8.3 Snapshot Kibana self-managed environment should be available.
2. Lower version 8.2.0 fleet server should be installed.

**Steps to reproduce:**
1. Navigate to Fleet>Agents tab.
2. Click upgrade lower version fleet server.
3. Observe

[2022-06-16 11:16] manishgupta-qasource commented on #1564
Secondary review for this ticket is Done

[2022-06-17 11:08] juliaElastic commented on #1548
@ablnk for this test, did the `bulk_upgrade` Fleet API call return successfully? Are the `.fleet-actions` and` .fleet-agents` indices updated in kibana as expected?
If so, the issue might be on agent/fleet-server side only.

[2022-06-17 12:59] pjbertels commented on #1548
Yesterday(June 16th 2022) I tried to update a single Horde drone and it is stuck in 'updating state'. I'm making a change to my cluster that will hopefully get me some more info.

[2022-06-17 13:03] ph commented on #1548
I am investigating this from https://github.com/elastic/horde/pull/41 too, this might be a regression in horde that I've introduced.

[2022-06-17 13:04] juliaElastic commented on #1548
I see, that sounds like an issue on agent side, because what Fleet UI does is only update the elastic index, which seems successful (no error in bulk api call).
@nimarezainia is anyone looking at this issue from elastic agent side?

[2022-06-17 13:07] ph commented on #1548
I am looking from the agent side.

[2022-06-17 13:15] pjbertels commented on #1548
Based on what I know ... from having done this testing previously, large operations like this get bogged down with resource contention. Some agents complete and some agents get into stuck in ''updating. Now that we have bulk_upgrade maybe the solution is not to allow the workflow Andrei is doing or somehow limit it.

[2022-06-17 14:52] jdixon-86 opened #1567 "Allow HTTP to /api/status even when HTTPS is configured"
**Describe the enhancement:**
Add the ability to access the /api/status using GET with HTTP even if the fleet server is configured for HTTPS.

**Describe a specific use case for the enhancement or feature:**
Some load balancers do not have the ability to check the response of a HTTPS request to a back end server and can only check the response of a HTTP request.

For example a Fortigate load balan

[2022-06-17 15:35] KnowMoreIT opened #1568 "Document the ulimit changes needed for running fleet-server in larger environments!"
**Describe the enhancement:**
Please document the required changes for the ulimit settings, especially on Ubuntu in order to run the fleet server in larger environment. If people do not do this then their fleet servers can stop responding due to having too many open files

**Describe a specific use case for the enhancement or feature:**
What I have ran into with nearly 4,000 agents and two fleet s

[2022-06-18 17:04] pjbertels commented on #1548
Debugging session link(pb and ph):
https://app.slack.com/client/T0CUZ52US/C014NMM7BPF/thread/C014NMM7BPF-1655489669.134099

[2022-06-21 07:34] amolnater-qasource opened #1596 "[Fleet]: Duplicate tags are displayed under Agents tab when agent is installed with same tags during installation."
**Kibana version:**  8.3 BC5 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.3 BC5 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Install Agent with `--tag=hey,hey,hey,hey,hey`.
3. Navigate to Fleet>Agents tab.
4. Observe agent is installed with duplicate tags.
5. Clic

[2022-06-21 11:01] amolnater-qasource opened #1574 "[Deployment]: Hosted fleet server gets unhealthy on 8.4 Snapshot."
**Deployment Links:**
- https://staging.found.no/
- https://console.qa.cld.elstc.co/

**Description:**
Hosted fleet server gets unhealthy on 8.4 Snapshot and we have observed APM disabled under Deployment page.

**Screenshots:**
![17](https://user-images.githubusercontent.com/77374876/174783262-905683c3-996f-4558-9bd0-f966eb990efe.JPG)
![18](https://user-images.githubusercontent.com/77374876/17478

[2022-06-21 11:01] amolnater-qasource commented on #1574
FYI @jlind23 @joshdover

[2022-06-21 11:22] manishgupta-qasource commented on #1574
Secondary review for this ticket is Done

[2022-06-21 11:28] jlind23 commented on #1574
@amolnater-qasource Don't we need APM integration to enable this? Do you have access to fleet-server logs?

[2022-06-21 13:52] amolnater-qasource commented on #1574
Hi @jlind23
Thanks for looking into this.
APM integration is already added in the Hosted fleet server.

**Screenshot:**
![image](https://user-images.githubusercontent.com/77374876/174814667-890d0353-c930-42dc-a3e3-756cc1029d61.png)

As we are testing on a cloud build we are not sure how to get hosted fleet-server logs.
Further no logs are available under Logs tab for hosted agent, as logs collecti

[2022-06-21 16:04] ph opened #1575 "failed on waiting for global checkpoints advance"
Looking at a fleet server debug log on cloud I could see a lot of `failed on waiting for global checkpoints advance` errors messages, looking at the JSON payload I see the actual go error.

[code]

This is a message returned directly from Elasticsearch and I don't think we can recover from returning a 403 in ES, so I am not sure what has changed, I know we are using some features of Elasticsearch

[2022-06-21 19:42] joshdover commented on #1575
This looks like an exception from Elasticsearch: https://github.com/elastic/elasticsearch/blob/e6c0ca3e0901cd014a0fe1941bda6cbea70bd409/x-pack/plugin/core/src/main/java/org/elasticsearch/license/LicenseUtils.java#L27-L31

[2022-06-21 19:45] nimarezainia commented on #1548
I agree with @pjbertels with the rolling upgrades this may not be an issue of concern anymore. I would suggest concentrating our efforts in using the rolling upgrades in the scale test environments.

[2022-06-22 07:00] jlind23 commented on #1574
As stated yesterday by @cmacknz no 8.4 snapshots were built for more than 15 days. Could you please try again with a fresh snapshot?

[2022-06-22 08:30] amolnater-qasource commented on #1574
Hi @jlind23
We have attempted to re-setup latest 8.4 Snapshot Kibana cloud environment and found this issue **still reproducible.**
- Hosted fleet server gets unhealthy on 8.4 Snapshot.

**Deployment Links:**
- https://staging.found.no/
- https://console.qa.cld.elstc.co/

**Build details:**
VERSION: 8.4.0
BUILD: 53825
**COMMIT: e0446dac822f55f75c1d97b6d9c3f4647c445973
(June 21, 2022 04:04 PM GMT 5

[2022-06-22 15:18] juliaElastic commented on #1574
have you tried checking the logs in https://admin.found.no ? it should work for staging instances, more info here: https://docs.google.com/presentation/d/1lIEQsQGgUR0H3MRhMqyZFP3wdofmZmiqmhYX--xT6FE/edit#slide=id.g12bd3a98d22_1_0

[2022-06-22 15:24] juliaElastic commented on #1575
this error come up in an sdh recently where the customer had multiple shards in fleet index: https://github.com/elastic/sdh-elasticsearch/issues/6199#issuecomment-1157339976

[2022-06-22 15:27] ph opened #1581 "Update our API Key handling logic for updatable permission and bulk operation on the api endpoint"
## Situation
The current implementation of the API keys come with two problematic for Fleet-Server:

- The API key permission are immutable, when an API key is created it will be stuck with the same permissions. When a new integration is added to an Agent policy it meant that all the Elastic Agent API need to be invalidated and recreated.
- The API key endpoint in Elasticsearch doesn't support bul

[2022-06-22 16:00] jlind23 commented on #1574
Thanks @juliaElastic.
@amolnater-qasource I created a new deployment and did not succeed reproducing it.
As soon as you try again, could you please share your deployment ID in order to take a look at the logs?

[2022-06-22 16:30] jlind23 commented on #1574
@elastic/apm-server on this particular deployment I see a lot of apm error like:
`precondition failed: dial tcp [::1]:9200: connect: cannot assign requested address`

Does it ring a bell on your end?

[2022-06-23 02:01] axw commented on #1574
@jlind23 that error message means APM Server is trying to connect to Elasticsearch on localhost, which is obviously not going to work. This implies that Elastic Agent is not sending the Elasticsearch output config to APM Server, or otherwise there's a bug in APM Server related to handling the config.

We also have an issue open to investigate 8.4 failing here: https://github.com/elastic/apm-server

[2022-06-23 06:07] amolnater-qasource commented on #1574
Hi @jlind23
Thanks for the update.

We have attempted to restart the integration server and we have got a Healthy Hosted Fleet server once under Agents tab.
However, this hosted fleet server again gets Unhealthy again in sometime.
![1](https://user-images.githubusercontent.com/77374876/175224036-0124bfea-42b6-4b0d-8d86-85d80ab48a6d.JPG)
![3](https://user-images.githubusercontent.com/77374876/17522

[2022-06-23 08:23] jlind23 commented on #1574
Hi @amolnater-qasource , thanks for the deployment id.
Indeed I do observe the same connection problem coming from apm-server.
@amolnater-qasource can you also check the policy content to check what is the ES output value?

@pierrehilbert @ph can we quickly have someone from the control plane team looking at it?

[2022-06-23 12:41] ph commented on #1581
Single operation route PR https://github.com/elastic/elasticsearch/issues/87870

[2022-06-23 20:23] pjbertels opened #1595 "max_agents setting in fleet unclear"
**Kibana version:**
8.3.0+

**Elasticsearch version:**

**Server OS version:**

**Browser version:**

**Browser OS version:**

**Original install method (e.g. download page, yum, from source, etc.):**

**Describe the bug:**
The Fleet integration has a field max_agents and some other advanced settings and they are documented here(https://www.elastic.co/guide/en/fleet/current/fleet-server-scalabilit

[2022-06-24 08:17] amolnater-qasource commented on #1574
Hi @jlind23

Host value for ES is: `http://fa60f7f1004648e78c8d6b853e89569a.containerhost:9244`

Further for detailed information please find below attached `Elastic Cloud agent policy`:
[elastic-agent.zip](https://github.com/elastic/fleet-server/files/8974186/elastic-agent.zip)

Please let us know if anything else is required from our end.
Thanks

[2022-06-24 12:46] joshdover commented on #1595
We need to provide some documentation on this setting, including what it sets, how the default is calculated (or not), etc. We should also consider automatically configuring this value in Cloud if possible (either auto-calculated at runtime or set via kibana.yml)

[2022-06-24 16:48] nimarezainia commented on #1595
@joshdover I do have a draft to mend documentation. However last week we realized that these defaults may not be set correctly. i don't know how to confirm if these variables are set or set to the correct value.

@pierrehilbert We need someone to take this topic up urgently. My suggestion would be to have the yaml box show the configuration (it used to have that) when the max agents value is set.

[2022-06-24 16:56] michel-laterman commented on #1574
One thing i've noted from the policy posted in https://github.com/elastic/fleet-server/issues/1574#issuecomment-1165325115 that the fleet-server input has
[code]

and the APM server input also has
[code]
I don't think this would effect the ES output, but it may be another issue

[2022-06-24 19:08] aleksmaus commented on #1575
@ph do you still have access to that instance? How often did this happen? Did it resolve? Can I get access to that deployment?

[2022-06-24 20:39] gwbrown commented on #1575
The Elasticsearch cluster logs would be very useful in figuring out what's up here.

[2022-06-25 00:55] axw commented on #1574
I'm pretty sure this is related to some recent APM Server build changes I made, which inadvertently have us building without the Fleet management code. I'll merge a fix ASAP.

[2022-06-25 02:06] #1574 closed

[2022-06-27 16:28] ablnk commented on #1548
Update. I tried to upgrade to 8.2.1 instead 8.3. 50% of agents have been updated, 50% stuck in updating state.

[2022-06-27 16:37] ph commented on #1548
@ablnk Can you give the link to the cluster?

[2022-06-27 16:38] ph commented on #1548
@ablnk And the which horde installation in GCP so we can check the drone log for that.

[2022-06-27 18:28] joshdover commented on #1548
It seems the problem is that the upgrade from the UI on snapshot builds is telling agents to upgrade to `8.3.0` (which isn't released) from production instead of `8.3.0-SNAPSHOT`. I believe this changed from 8.2 and is one unrelated issue that is happening.

This seems to be a separate problem, we need to get horde logs to investigate this. I'm also going to run a test tonight and see what results

[2022-06-27 19:06] joshdover commented on #1548
This can be worked around for now with API calls in Console like:

[code]

[2022-06-28 09:04] ablnk commented on #1548
https://perf-bscpi-custom.kb.us-west2.gcp.elastic-cloud.com:9243/
horde (http://34.67.34.150/)

[2022-06-28 11:30] amolnater-qasource commented on #1574
Hi @jlind23
We have revalidated setting up 8.4 Snapshot kibana cloud-staging environment and found it **fixed** now.
- Hosted fleet server remains Healthy on 8.4 Snapshot.
- APM is enabled under Deployment settings

**Screenshots:**
![1](https://user-images.githubusercontent.com/77374876/176137060-5d8f5b27-5d94-4820-aeba-b4beeefe1455.JPG)
![2](https://user-images.githubusercontent.com/77374876/176

[2022-06-28 11:31] amolnater-qasource commented on #1564
Hi @jlind23
We have revalidated this issue on 8.3 Snapshot self-managed environment and found it **fixed** now.
- 8.2.0 Fleet Server upgraded to latest version on self-managed 8.3 Snapshot Kibana.

**Screenshots:**
![3](https://user-images.githubusercontent.com/77374876/176137417-a5e27c02-e5f0-45ce-95cc-8a5c17e80acb.JPG)
![4](https://user-images.githubusercontent.com/77374876/176137425-f471cf0d-7a

[2022-06-28 11:31] #1564 closed

[2022-06-28 11:35] joshdover commented on #1548
I was able to reproduce this and I have some evidence that shows that this is a horde bug, all of the agents that failed have this same `context canceled` error: `Post "https://7a3ba35e101df8cbe368f00531017483.fleet.us-west2.gcp.elastic-cloud.com:443/api/fleet/agents/3327a954-6a42-4673-8278-0d1522874dd5/acks": context canceled`

Will keep investigating.

[2022-06-28 12:29] ph opened #1608 "Optimize Key invalidation by aggregating ids."
The _invalidate API key endpoint_ support passing multiple API Key ids and will invalidate all of them.
Looking at the fleet-server we do leverage this feature for on a small operation, only pass an agent current api key or old api keys, if we have multiple api key to invalidate we would still do one request per agent context.

It should be possible to aggregate the IDS of the api key and do a sin

[2022-06-28 12:29] ph commented on #1608
@joshdover and @nimarezainia we could possibly add this to the scaling effort.

[2022-06-28 12:31] ph commented on #1548
Interesting, do you see that the drone is redeployed? Is there more log around that before/after?

[2022-06-28 16:34] elasticmachine opened #1609 "Build 1 for v7.17.5 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Ffleet-server%2Fv7.17.5/detail/v7.17.5/1//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Ffleet-server%2Fv7.17.5/detail/v7.17.

[2022-06-28 20:38] pjbertels opened #1612 "a /api/fleet call that just gives us a list of agent ids"
**Describe the enhancement:**

In order to use the /api/fleet REST interface to run performance testing we need to provide lists of agent ids to calls like bulk_unenroll, bulk_upgrade, bulk_reassign. For large numbers of agents generating these lists is too time consuming at 15000 agents we need to make 150 calls at 100 items per page to collect the ids. Then we have to pass that list into the bul

[2022-06-28 21:55] michel-laterman commented on #828
I was able to recreate it today with the same version numbers. It also effects upgrading from `7.17.5` -> `8.2.3`.

[2022-06-29 02:18] pjbertels commented on #1595
I noticed that the 8.3 documentation(current) and the master documentation don't refer to max_agents but refer to max_connections
https://www.elastic.co/guide/en/fleet/current/fleet-server-scalability.html
https://www.elastic.co/guide/en/fleet/master/fleet-server-scalability.html
but in the 8.3.0-SNAPSHOTS we have an indication to effect that max_connections is being deprecated.
![image](https://u

[2022-06-29 12:20] jlind23 commented on #828
Closing for now following @michel-laterman comment..

[2022-06-29 12:20] #828 closed

[2022-06-29 12:26] jlind23 commented on #1609
Fleet package was not ready.

[2022-06-29 12:26] #1609 closed

[2022-06-29 14:34] ablnk opened #1617 "Aborting upgrade of a large number of agents results in instability"
**Kibana version:**
8.3.0 SNAPSHOT
Build 86bc2a3e

**Environment:**
perf-rjktl-custom

**Precondition to reproduce:**
Have **15k** agents in Fleet under the same policy.

**Steps to reproduce:**
1. Click on the select all checkbox. then "Select everything on all pages".
2. Select "Upgrade agents" in actions.
3. After upgrade operation is started, click on the "Abort upgrade" button, confirm choice

[2022-06-29 14:36] ablnk commented on #1617
@jlind23 @joshdover @nimarezainia

[2022-06-29 15:54] ph commented on #1617
@AndersonQ Please verify in fleet-server is there is any panic, we have merge this https://github.com/elastic/fleet-server/pull/1597 not sure if this was included in the current tested artifact.

[2022-06-29 17:03] joshdover commented on #1595
Some action items we identified in our sync today:
- Need to clarify when the “max agent” field is not set, what is the behavior.
- Add documentation about this behavior
- Add a link to the “max agent” section in the integration to our documentation to explain how this works.
- Add a log to Fleet Server that would dump all the information that is related to the server.runtime configuration. https:

[2022-06-29 17:06] ph commented on #1617
@nchaulet Can you give me the step of what is happening when an abort is done on Fleet?

[2022-06-30 08:34] gideonw commented on #1519
I am experiencing this error as well, except in my case I am running in a resource starved Raspberry Pi cluster and it is causing the fleet-server to crashloop.

[code]
[code]

I have been unsuccessful in resolving this issue, this same configuration has work on this cluster when there were more resources available. Having the option to increase the timeout might be nice if that is the eventual is

[2022-06-30 10:00] joshdover commented on #1548
@ph has found what we believe to be the root cause of this issue, within horde. When running horde on k8s the autoscaling can cause drones to get shutdown before they've been able to successfully send the "ack" of the upgrade completing and there's no mechanism to retry the ack after they're started again. This causes the agents to stay in the "updating" state.

There is potential that this could

[2022-06-30 10:42] aarju opened #1622 "[Feature Request] Host upgrade files directly on the fleet server"
**Describe the enhancement:**
The Fleet server should have the option to push the upgrade binaries directly to the Elastic Agents when performing an upgrade. This would enable upgrading of agents that cannot access the artifacts server or are on a metered network. On large deployments this would let the users download once and then deploy to thousands of hosts.

**Describe a specific use case for

[2022-06-30 11:57] joshdover commented on #1617
This doesn't seem to check out. The drones will still do the upgrade, but they don't seem to get stuck in a bad state of any kind. Something must be happening at scale here.

Still, the cancel behavior does need to be fixed in horde.

[2022-06-30 12:39] ph commented on #1622
cc @nimarezainia

[2022-06-30 12:41] cmacknz commented on #1548
I think the agent would still be affected when run on Kubernetes for the same reason. The most common reason for this would be the [k8s cluster autoscaler](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler) that dynamically changes the number of nodes in a cluster. Depending on how it is configured the size of the node pool will fluctuate over the course of a day or week, cau

[2022-06-30 12:47] ph commented on #1548
@cmacknz This is a good point, this only affected scheduled and only upgrade which isn't supported in the context of k8s, but as we want to add support for scheduling action to other type of action we will have to consider what happens in the context of k8s.

Also I am not sure this would apply to k8s, since I'd assume that each new agent moved will be a new agent or ephemeral agent. In the contex

[2022-06-30 12:52] cmacknz commented on #1548
Possibly this would affect agents monitoring [StatefulSets](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/):

Although I'm not sure how DaemonSets interact with StatefulSets. Definitely this is an edge case, but if enough people use agent on k8s they'll hit it.

[2022-06-30 12:53] criamico commented on #1548
@joshdover  No we left `snapshot` builds out of the list that we show in the UI.

[2022-06-30 13:05] kowalczyk-p opened #1623 "Custom Windows Event Logs integration configuration can cause Elastic Agent crashing"
In Custom Windows Event Logs integration configuration there is a field to specify "Dataset name". Field is initialized with "winlog.winlog" value but it can be left empty. When you leave "Dataset name" empty and assign policy with this integration Elastic Agent starts crashing.

Windows system log repeating during faulty policy assigned to ELastic Agent:
[code]

Elastic Agent logs
[code]

In file

[2022-06-30 16:28] #1500 closed, assigned to nobody

[2022-06-30 17:17] joshdover opened #1625 "Fleet Server should not deliver cancelled actions"
If a scheduled action has been cancelled, Fleet Server should not deliver the original action or the cancel action to an agent if the cancel has been received by Fleet Server before the agent received the original action. This has the benefits of:
- Ensuring that an action that has been cancelled does not get started by an agent at all
- Reducing unnecessary ack requests for actions that aren't go

[2022-06-30 20:05] ph commented on #1625
@joshdover Horde is a private project.

[2022-06-30 20:09] ph opened #1626 "Log all of fleet server configuration at startup"
When debugging an issue in cloud it is useful to know with what options the fleet-server is operating at, because some options are derived from the current container size and other can be change with the fleet-server integration.

I would be good to log a single even that we can search through the log that would container the information defined in https://github.com/elastic/fleet-server/blob/3c8c

[2022-06-30 20:10] ph commented on #1626
@michalpristas @joshdover as discussed.

[2022-07-01 15:43] SanjuTechie87 opened #1628 "Fleet server apm integration - namespace change not working"
Hi ,

I have deployed the elastic stack using ECK operator in a private kubernetes cluster. I am facing the below challenges while trying to change the namespace of the apm integration for which I require some help

-  I am trying to change the namespace from default to production

![elastic1](https://user-images.githubusercontent.com/52619259/176924924-07859ab4-8eb0-4b0f-869a-43438c168774.JPG)

-

[2022-07-01 21:41] pjbertels commented on #1548
In the short term to avoid this issue, if we initiate the horde in gke with say a minimum of 4 nodes(in the ehswarm pod). In the case of trying to test 15k drones wouldn't that mitigate the issue? Given the budget is 5000 drones per machine autoscaling would seem not to be involved.

[2022-07-04 10:34] joshdover commented on #1548
Will be addressed in Horde here: https://github.com/elastic/horde/pull/54#discussion_r911286306

We also need to investigate whether or not Agent will remove actions from the queue before they're successfully ack'd. They should only be removed from the queue once they've been completed and ack'd successfully end-to-end.

@pjbertels that will likely work for now. I believe you'd just need to change

[2022-07-04 10:41] joshdover commented on #1625
Closing this for now. Agent correctly drops cancelled actions without acking them so this isn't a high priority problem right now.

[2022-07-04 10:41] #1625 closed

[2022-07-04 11:20] jlind23 commented on #1608
Per discussed with @joshdover as we will update the api key document instead of invalidating it, this is not relevant anymore.
May still be relevant if we unenroll thousands of agents at the same time.

[2022-07-05 11:04] joshdover opened #1633 "Automatically set GOMAXPROCS"
**Describe the enhancement:**
Automatically set GOMAXPROCS when Fleet Server is run in a container with a CFS quota set to minimize CPU throttling.

See https://github.com/elastic/apm-server/issues/7967 and https://github.com/elastic/apm-server/pull/8278 for more context. https://github.com/uber-go/automaxprocs can be used to easily add this feature.

**Describe a specific use case for the enhance

[2022-07-05 11:15] amolnater-qasource opened #1635 "Not all agents are unenrolled after unenrollment timeout"
**Kibana version:**  8.4 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 Snapshot Kibana cloud environment should be available.
2. Multiple agents should be installed.

**Steps to reproduce:**
1. Navigate to Fleet>Agents tab.
2. Set 10k multiple agents to same policy.
3. Set unenrollment timeout to 240 Seconds.
4. T

[2022-07-05 15:14] joshdover commented on #1626
These logs need to be sure to sanitize the configuration to avoid logging any sensitive fields like certificate private keys

[2022-07-05 20:37] michel-laterman commented on #1626
It looks like there is some existing redacting/logging of fleet-server's config (from https://github.com/elastic/fleet-server/pull/692 and https://github.com/elastic/fleet-server/pull/620). I can use the same functions in order to ensure that config is also displayed on load.

[2022-07-06 10:32] amolnater-qasource opened #1639 "[Fleet]: Agents stuck in Updating state on triggering 10k agents `Unenroll` from Bulk actions."
**Kibana version:**  8.4 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 Snapshot Kibana cloud environment should be available.
2. 10k agents should be installed.

**Steps to reproduce:**
1. Navigate to Fleet>Agents tab.
2. Select 10k agents and trigger Unenroll from bulk actions.
3. Observe Agents start unenrolling

[2022-07-06 10:33] amolnater-qasource commented on #1639
FYI @joshdover

[2022-07-06 10:52] manishgupta-qasource commented on #1639
Secondary review for this ticket is Done

[2022-07-06 14:02] joshdover commented on #1639
This is likely related to https://github.com/elastic/fleet-server/issues/1548 which may only be a problem with Horde. Let's retest this once those issues are resolved.

[2022-07-08 12:57] joshdover commented on #1548
I wonder if we should add a bit more robustness to this so that losing an ack can't create this scenario at all:
- Keep track of upgrade_started_version: `8.3.0` in the .fleet-agents document
- If the agent checks in and reports that it’s already running this version, then we set upgrade_completed_at as if the ack had happened. This way the agent doesn't keep showing up as "updating" in the UI.

[2022-07-08 13:39] nicpenning opened #1645 "[Fleet Server] 🔐 TLS 1.2+ Support"
**Describe the enhancement:**
Greetings! Currently, Fleet servers are listening on port 8220 by default and appear to be using TLS 1.1 according to vulnerability scan data. This is in a cluster version of 8.3.2. Is TLS 1.1 the only option for secure authentication/communication? I would like the ability to use TLS 1.2 and 1.3 if possible.

**Describe a specific use case for the enhancement or feat

[2022-07-08 18:47] nicpenning commented on #1645
So it appears I can enumerate TLS 1.3 from a browser so that is great. So I guess this feature might better be adjusted to allow configuration settings to be set to only specific versions of TLS that can be used.

I tried this settings in the Fleet Server settings:
(But after another scan, TLS 1.1 still seems to be popping up.)
![image](https://user-images.githubusercontent.com/5582679/178052455-7

[2022-07-12 16:29] nimarezainia commented on #1622
We will be addressing this use case by allowing the user to configure a local server to download from. If in the future (based on user demand) we see a need to pursue a download from Fleet Server  we will consider it. For now closing this request.

[2022-07-12 16:29] #1622 closed

[2022-07-13 14:28] joshdover commented on #1548
A fix to horde was merged which should help with this case. I still think we should do the robustness improvements in Fleet Server though. @ablnk @pjbertels it'd be good to know if you all ever see this again after that horde change.

[2022-07-13 15:52] joshdover opened #1660 "Make Fleet kibana bulk action execution async"
Currently, agent actions performed from Fleet UI go through Fleet API and are executed synchronously.
This worked well for a small number of agents, but it is not scalable.
In 8.4, actions were optimized in a way to introduce batching on the Fleet API side, so that the actions are executed in 10k batches. This unblocked actions for up to 50-60k selections, but it will hit a limit of Network timeou

[2022-07-13 15:53] joshdover commented on #1660
cc @juliaElastic would like to get your input on this since you worked on the recent Kibana changes

[2022-07-15 06:19] aung-mm opened #1666 "ECK Fleet TLS Disabled NOT Working"
I would like to disable TLS in the fleet server that I deployed with eck. According to documentation, I should be able to disable with "http" configuration. But it is not working at all.
Please see the following configuration. Thanks.

[code]

[2022-07-18 10:53] juliaElastic commented on #1660
@joshdover Here are my thoughts on this:
- What is the purpose of storing the PIT finder instead of Fleet Server opening it? One reason I can think of is to avoid including new agents in the action that are included in the filter.
- PIT finder has a timeout that can be set, so closing it manually is not necessary, but could be done by Fleet Server when it finished the action execution.
- Fleet Ser

[2022-07-18 15:12] joshdover commented on #1660
It may not be strictly necessary, but without creating the PIT in Kibana, there will be some edge cases where a different number of agents are selected for the action than the user saw in the UI. I'd be ok with doing this all in FS at first and seeing how much of a problem that edge case actually confuses users.

The `.kibana` access would be a problem, but I think we'd be able to remove that depe

[2022-07-18 17:25] michel-laterman commented on #1626
I have a PR that needs testing, i'll push it as a draft

[2022-07-18 17:48] AndersonQ opened #1672 "Fleet-server does not correctly update API keys on policy output permissions change"
- Version: 8.3.2, the commit causing this problem was merged on 04/04/2022 and backported to v8.2.0 and v8.3.0
- Operating System: all
- Steps to Reproduce: see below

Fleet-server will change the API key for an input when ever the output permissions change. However given a policy with 2 or more outputs, if only a sub set of the policies has a permission change, there is the chance that the new AP

[2022-07-19 06:47] jlind23 commented on #1626
@michel-laterman thanks, would you mind linking it to this issue to keep track?

[2022-07-19 10:10] joshdover commented on #1548
I'm going to close this issue for now. We can consider additional robustness (https://github.com/elastic/fleet-server/issues/1548#issuecomment-1178960193) if this presents again in the future. The retry logic in Agent (and now Horde) should handle this already.

[2022-07-19 10:13] joshdover commented on #1617
@ablnk @pjbertels Have we seen this happen again? If not I think we can close this and re-open with more evidence if we have it.

I think using the new `upgrade_mode=check_exists` option should help if this were the cause. Could we test with this and close this issue if we can't reproduce anymore?

[2022-07-19 12:45] #1617 closed

[2022-07-21 13:20] joshdover commented on #1660
Discussed this with @juliaElastic today. Julia shared that she saw the current behavior take about 10s per 10k agents, meaning we're likely to starting hitting proxy timeouts in Kibana somewhere around 50k-60k (60s).

We will need to prioritize this to be able to execute tests against 100k agents.

[2022-07-22 05:18] ZhaoGuoXin commented on #1666
My problem is more strange. If I config fleet server with "http" configuration, the agent can't be created.
![image](https://user-images.githubusercontent.com/35018957/180367982-69b9496a-dc5b-4914-9c8f-41e2efbc6ae1.png)

[2022-07-22 09:46] aung-mm commented on #1666
Yes. The same for me. I had to run the fleet server with https but I was able to do reverse proxy from nginx as workaround.

[2022-07-22 11:30] joshdover commented on #1660
I think this issue could potentially be worked on by engineers on Control Plane or Fleet UI. @jen-huang and @pierrehilbert should discuss ownership, depending on team capacity.

[2022-07-22 15:42] joshdover commented on #1672
@AndersonQ where did we land on the approach for fixing this problem? Will we be adding a new fields to `.fleet-agents` to track the API keys for each output?

[2022-07-25 14:16] AndersonQ commented on #1672
hi @joshdover. Yes, we'll add new fields, keep the old ones for backward compatibility and fleet-server will do a "migration" of the data from the old, now deprecated fields, to the new ones. I started the work on it. You can already check the new model [here](https://github.com/elastic/fleet-server/pull/1684/files), have a look at `internal/pkg/model/schema.go` and `model/schema.json`.

[2022-07-27 17:22] ph commented on #1660
I think this features is really similar to our current implementation of the Batching for `Upgrade` or any other actions that support an agents target. The only difference is instead of receiving a list of ids you receive a `point-in-time` search query that would return the list of agents to target with a specific action.

I think that could be implement as a really thin layer over our existing ac

[2022-07-28 10:42] mdelapenya commented on #299
I think this is not relevant any more and can be closed for now

[2022-07-28 10:42] #299 closed

[2022-07-28 13:55] joshdover opened #1696 "The current "unenrollment timeout" feature creates worse problems than it solves"
While we've introduced some mitigations to make this feature less deadly (eg. https://github.com/elastic/fleet-server/pull/1605), this feature puts customers in a difficult place whenever an agent is unenrolled that they didn't want.

Some raw thoughts:
- Agents that are unenrolled can't be easily re-enrolled because their access API key has been invalidated.
  - What if instead, we put these agen

[2022-07-28 17:49] michel-laterman commented on #1660
I don't think there's any issues with that plan @ph.

Are these UUIDs the agent IDs?

[2022-07-28 18:38] ph opened #1697 "Investigate the traffic use for Elastic Agent"
It would be good to know what is the amount of traffic used by Elastic Agent during his operation.
This would help us for sizing calculation.

 I would like to say:

- Considering a normal operation, healthy state and a stable deployment X Elastic Agent would consume X number of bytes for a time period.
- When Elastic Agent is failing it consume X number of bytes per period.

[2022-07-29 09:04] simranvaseer-qasource opened #1701 "[Fleet]: User is unable to install Fleet Server agent on Kibana Cloud environment."
**Kibana version**: 8.4 BC1 Kibana cloud environment

**Host OS and Browser version**: All, All

**Build details:**

VERSION: 8.4 BC1
BUILD: 54999
COMMIT: 58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d
ARTIFACT LINK: https://staging.elastic.co/8.4.0-91109cf0/summary-8.4.0.html

**Preconditions:**
- 8.4 BC1 Kibana cloud environment should be available.

**Steps to reproduce:**

1. Login to Kibana environ

[2022-07-29 13:34] juliaElastic commented on #1660
Yes, those are agent ids.

I think it would be best to break up the execution to multiple batches, so we don't have a limit on how many agents can be actioned. We did it [similarly](https://github.com/juliaElastic/kibana/commit/af3a2d487dc94ad2d9f2f1f5a0aadde9d2b32cd4) in Fleet API, so we could create multiple action documents, each with up to 10k agents.

[2022-08-01 09:07] simranvaseer-qasource opened #1704 "[Fleet]: Last activity 'in x seconds ago' is shown for Mac Fleet Server agent."
**Kibana version**: 8.4 BC1 Kibana cloud environment

**Host OS and Browser version**: All, All

**Build details:**

VERSION: 8.4 BC1
BUILD: 54999
COMMIT: 58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d
ARTIFACT LINK: https://staging.elastic.co/8.4.0-91109cf0/summary-8.4.0.html

**Preconditions:**
- 8.4 BC1 Kibana cloud environment should be available.

**Steps to reproduce:**

1. Login to Kibana environ

[2022-08-01 09:10] simranvaseer-qasource commented on #1704
@dikshachauhan-qasource Please review

[2022-08-01 09:11] dikshachauhan-qasource commented on #1704
Secondary review done for this ticket.

[2022-08-01 11:26] juliaElastic commented on #1660
Linking test results with 15k agents for reference: https://github.com/elastic/kibana/pull/134565#issuecomment-1164046122

[2022-08-01 14:40] AndersonQ commented on #1581
@ph, sorry, I'm a bit unsure about what you meant when you said: _"Verifies what happen when we migrate from non updatable to updatable api keys."_. Is it to measure the performance before and after the change?

[2022-08-01 19:06] simitt commented on #1633
cc @marclop who has worked on switching to `GOMAXPROCS` for the apm-server.

[2022-08-01 19:34] defensivedepth commented on #1622
@nimarezainia Where can we track the progress for: `configure a local server to download from.`

This is a key piece of functionality, especially since the binary upgrades are so large

[2022-08-02 11:19] amolnater-qasource commented on #1639
Hi @joshdover
We have revalidated this issue on latest 8.4 BC1 Kibana cloud environment and found it **still reproducible**.

**Observations:**
- Agents stuck in Updating state on triggering 10k agents Unenroll from Bulk actions.

**Build details:**
BUILD: 54999
COMMIT: 58f7eaf0f8dc3c43cbfcd393e587f155e97b3d0d

**Screen Recording:**

https://user-images.githubusercontent.com/77374876/182362328-b3f

[2022-08-02 12:13] steveytam commented on #1701
havingthe same issue here using elastic agent 8.3

[2022-08-03 12:41] joshdover commented on #1639
@amolnater-qasource Could you test using a Integrations Server with 4gb memory and the "Max agents" setting in the Fleet Server policy set to 10000?

[2022-08-03 14:20] ph commented on #1581
@AndersonQ let me clarify, I was more curious about upgrade in the stack.

1. 8.4  Api keys permissions are not updatable.
2. 8.5 Api Keys permissions are updatable.

If I remember correctly from the ES proposal, you cannot update permission on keys created on 8.4, they are immutable.
So you will have to create new keys in 8.5, after that point the new keys would be updatable.

Is this more clear?

[2022-08-04 09:48] simranvaseer-qasource commented on #1701
Hi Team
We have revalidated this issue on latest 8.4 BC2 Kibana cloud environment and found it **fixed** now.

- We are successfully able to install Windows Fleet Server.

**Build Details:**
BUILD: 55166
COMMIT: 9e9e0d6a685cbc2858a85a357f93dcb76259fdee
ARTIFACT LINK: https://staging.elastic.co/8.4.0-f1a133aa/summary-8.4.0.html

**Screenshots:**
![Screenshot (3)](https://user-images.githubuserconte

[2022-08-04 09:48] #1701 closed

[2022-08-05 09:29] ablnk commented on #1548
I'm reopening the issue since it has been reproduced with 50k agents.

Some observations:
- when reaching 45k upgraded agents, some of them (2k) went offline; at this point, the load on CPU jumped to 61%
![upgrade 50k](https://user-images.githubusercontent.com/34958359/183047954-378adc20-ab31-426b-90a0-98907d4b7ce3.jpg)
- within a few minutes, the number of upgraded (healthy) agents began to grow

[2022-08-08 06:35] amolnater-qasource opened #3101 "User is able to create agent tags with more than 20 characters through enroll command."
**Kibana version:**  8.4 BC-2 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 8.4 BC2 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Install an agent with say --tag= `abcabcabcabcabcabcabcabcabcabc1234567890` (More than 20 characters.)
3. Observe user is able to create t

[2022-08-08 10:59] amolnater-qasource commented on #1639
Hi @joshdover
Thank you for the feedback.
We have revalidated this issue with increased Integration Server memory and "Max agents" count setting set to 10000 and found it working fine.

**Observations:**
- All agents gets unenrolled on triggering 10k agents Unenroll from Bulk actions.

**Build details:**
BUILD: 55166
COMMIT: 9e9e0d6a685cbc2858a85a357f93dcb76259fdee

**Screenshot/Screen Recording:*

[2022-08-08 10:59] #1639 closed

[2022-08-08 10:59] joshdover commented on #1548
@pjbertels @ablnk Do we know if this happened with the `upgrade_mode=check_exists` flag on the Horde deployment? I'd like to eliminate any horde-related issues before we go further.

Another thing that would really help us identify where problems are happening is to be looking at the response codes on proxy logs. I am going to see about getting this on the default monitoring dashboards on Cloud.

[2022-08-08 19:48] aleksmaus commented on #1660
Hi!
I'm trying to understand the problem here and most likely missing some history and/or context.
So, the problem is selecting many agent ids into kibana that is currently slow, and we are moving this logic to the fleet server, correct? Assuming the query result for the agent ids returns only the ```source.agent_id```.
The fleet server had some pretty strict requirements on memory consumption as

[2022-08-09 09:53] juliaElastic commented on #1660
@aleksmaus We are discussing the approach in the [RFC](https://docs.google.com/document/d/1HIU9d_3z2mnMR_f6YM_klKONgDSjqUh-OdxryQ8lGlA/edit), it is an option to keep the agent id resolution logic in kibana, and move it out of the API handler.
Do we have these Fleet Server memory constraints documented somewhere?

[2022-08-09 11:25] joshdover commented on #432
@scunningham I've updated this issue with our current plans in rough priority order. Any feedback is welcome here.

[2022-08-09 13:46] pjbertels commented on #1548
We always use upgrade_mode=check_exists flag on the Horde deployment.

[2022-08-09 14:24] aleksmaus commented on #1660
@scunningham had to optimize and add some configuration knobs for that back in the days, as far as I remember he had some measurements and fleet server configuration recommendations depending on the number of the agents the fleet server is going to serve. Sean do you have the these numbers anywhere?

[2022-08-09 14:41] juliaElastic commented on #1660
I think you mean this recommendation?
![image](https://user-images.githubusercontent.com/90178898/183678070-42ffc531-43c9-45e8-bc70-c82b7f402fe5.png)

[2022-08-09 18:37] joshdover commented on #1548
Status: @ablnk is going to reproduce this to allow us to look at the logs and metrics in Cloud to do RCA.

In the future we should keep note of the EC cluster IDs for each component (ES, Kibana, Fleet) for easy lookup after reporting a case (only for test clusters, not for user deployments).

[2022-08-09 18:38] joshdover commented on #1548
Have we checked to see if we're getting any of these `context canceled` errors we were getting before when drones got rescheduled in horde?

[2022-08-09 18:52] joshdover commented on #1548
@ablnk would you mind opening a separate issue for this? Though we have the same symptom we were having before at 2k, I think we should treat this as a new investigation so the old information doesn't get confused with the new one.

[2022-08-10 12:05] ablnk opened #1729 "Upgrading 50k agents results in some getting stuck in "updating""
**Environment:**
![image](https://user-images.githubusercontent.com/34958359/183048102-dfbdbf84-f0a6-4d7d-b1ee-9ccd3e2e0d66.png)

**Stack version:**
8.4.0-5954f776

**Kibana version:**
8.4.0 SNAPSHOT

**Precondition to reproduce:**
Have 50k agents in Fleet under the same policy.

**Steps to reproduce:**
1. Click on the select all checkbox. then "Select everything on all pages".
2. Select "Upgrade

[2022-08-10 12:07] ablnk commented on #1548
@joshdover  https://github.com/elastic/fleet-server/issues/1729

[2022-08-10 12:07] #1548 closed

[2022-08-10 13:59] scunningham commented on #432
Having the proxy route to a specific integration server based on a hash of the agentId should improve ApiKey cache hit.  The default TTL for the cache is [15m](https://github.com/elastic/fleet-server/blob/main/internal/pkg/config/cache.go#L15).  This is configurable and could be adjusted higher, with the caveat that an invalidated ApiKey might be allowed for longer than anticipated.  The latter co

[2022-08-10 16:12] ablnk opened #1730 "Enrolling 50k agents sometimes results in some agents to be offline"
![image](https://user-images.githubusercontent.com/34958359/183958752-54e1ead7-5407-4ecd-a812-8b0716cc30de.png)

**Stack version:**
8.4.0-5954f776

**Kibana version:**
8.4.0 SNAPSHOT

**Steps to reproduce:**
Enroll 50k drones at default enroll rate (20).

**Actual result:**
![image](https://user-images.githubusercontent.com/34958359/183957817-12b3772e-39cb-43aa-92b4-b50c432f4b26.png)
Enrollment st

[2022-08-10 22:37] gbeltramelli commented on #1210
i´m facing this issue with elastic-agent 8.3.3, installing form tar and from yum in my centos 7.5 also tested using downloading rpm.

./elastic-agent install --url=https://xxxxxxt:8220 --enrollment-token=xxxxxxxxxxxxxxxx --tag=linux,test --insecure
Elastic Agent will be installed at /opt/Elastic/Agent and will run as a service. Do you want to continue? [Y/n]:y
{"log.level":"warn","@timestamp":"202

[2022-08-11 09:26] michalpristas commented on #1581
checked that
- API Keys before change will be updatable
- there's no flag required to make new/old keys become updatable

Considering this I was looking into how API keys works now in the code for quick summary:(if i missed something please correct me)

1. User changes ES policy, change is reflected in `.fleet_policies`
2. `fleet-server` is notified about the change comparing to last checkpoints
3

[2022-08-11 14:18] ph commented on #1581
Good news, we don't have to deal with that special upgrade case.

I agree you would lose some of the benefit of bulking but you can also have a flush timeout with quantity flush. you would still bulk, but instead of bulking on the every agent associated to the policy you may bulk on a subset, which would still be better that n request that we have today.

[2022-08-11 14:22] ph commented on #1581
I do like _option 3_, I've hit submit before reading option 3, just to clarify you will still need to have an expended permission set for this option no?

cc @cmacknz @joshdover

[2022-08-11 14:26] michalpristas commented on #1581
if we're ok with up to 5 second skew then i don't need to extend and we will save a lot of requests.
otherwise we can do it in 2phase fashion: option 3 with extending but cleaning up on ACK which will reduce requests compared to today. but not to the minimal value, in case of _ACK failure api key will exist with extended set of roles_.

if _this_ is considered security risk we should maybe aim for

[2022-08-11 14:27] ph commented on #1581
I don't think it's different as today when we have two api key are valid, and can be valid for an extended period of time.

[2022-08-11 14:30] michalpristas commented on #1581
just point for me: for this option we need to make sure we dont have a race when ack update is applied before initial bulk update

[2022-08-11 14:47] ph commented on #1581
So there could some ordering needed in that case ?
Let's say that the user is really going wild on the policy changes, no sure if there is some kind of debounce in fleet.

[2022-08-11 14:53] michalpristas commented on #1581
there can be but if we take it as a queue/journal and compose on flush it should be fine, but it's something to keep in mind

[2022-08-11 14:55] aleksmaus commented on #1581
👍 for #3

[2022-08-11 15:03] juliaElastic opened #1736 "[Scalability] Add APM instrumentation with Span Links"
I have a use case for this with in Fleet Server's APM instrumentation. We have a bulk process that will batch search and indexing requests from multiple incoming HTTP requests from Elastic Agents into a single `_msearch` or `_bulk` request against Elasticsearch. It'd be great to be able to connect each bulk request to their upstream incoming HTTP request from Elastic Agents.

The Go API is availab

[2022-08-11 16:04] AndersonQ commented on #1581
:+1: for option 3

[2022-08-12 11:45] joshdover opened #1738 "Unenrollment timeout monitor can crash with concurrent access panic"
- Version: 8.3.2, likely earlier releases too
- Operating System: Linux
- Steps to Reproduce: Not sure yet

There are cases where the unenrollment scheduler can cause a concurrent write or concurrent read and write error, causing Fleet Server to panic and crash with logs like:

[code]

See full logs here [fleet-server stderr.txt](https://github.com/elastic/fleet-server/files/9315991/fleet-server.s

[2022-08-12 11:50] joshdover commented on #1738
cc @pierrehilbert we likely need to spend some time fixing this relatively soon. I think many of the recent "Fleet Server is down" urgent support cases are related to this.

[2022-08-12 12:39] ph commented on #1738
@joshdover I don't think we need to add the complexity of channel a simple mutex to control access to theses critical zone should be enough. The race is enable in our test suite, but it doesn't mean it will catch all of them especially if the code is not tested in a way to trigger the race condition.

[2022-08-12 15:20] cmacknz commented on #432
I am just catching up on this series of issues, but one thought I had is that rather than sticky sessions or consistent hashing in the proxy/load balancer you may be able to solve this problem by extracting the cache into a dedicated cache service each fleet-service instance knows to check. This would traditionally be memcached or redis.

While I don't think we could deploy memcached or redis to s

[2022-08-12 15:26] ph commented on #1738
Ok, well, I have a fixes that seems to work, I will try to trigger the panic on my side.

[2022-08-12 17:34] joshdover commented on #1729
I suspect that this is the same one as the enrolling issue, a bug in horde. @ablnk let's revalidate this and close if no longer reproducible.

[2022-08-12 17:55] #1626 closed

[2022-08-15 06:37] michalpristas opened #1743 "Incorrect behavior for `http.detailed_errors.enabled: false`"
`http.detailed_errors.enabled` is an ES option modifying format of error responses
while we expect complex error response such as this
[code]

when `http.detailed_errors.enabled` is modified and set to `false` error returned is a simple string e.g.

[code]

we need to have a fallback mechanism in place which is capable of handling both cases.

**This makes starting a fleet server problematic and u

[2022-08-15 12:57] ph commented on #1743
Oh I didn't know about this error detailed..

[2022-08-15 14:08] aleksmaus commented on #1743
neither did I

probably change to json.RawMessage for the "error" and update the error parsing code slightly

[2022-08-15 15:22] ph opened #1744 "Refactor and rethink the coordinator/monitor implementation"
When an elastic policy is dispatched to fleet server, one of the fleet server will be elected and take take the control of some of the management task, like when to unenroll agent after a last seen timeout. I've fixed a race condition issue discovered in #1738. When I've jumped the code I found it a bit harder to ready to really understand the flow of events and when goroutine were created and rem

[2022-08-15 17:32] #1738 closed

[2022-08-16 13:54] cmacknz commented on #1743
I think there is a duplicate report of this in the agent repo https://github.com/elastic/beats/issues/32676 but with some clarifying comments from the ES team https://github.com/elastic/beats/issues/32676#issuecomment-1214730480

[2022-08-17 11:04] shahzad31 opened #1754 "Extend local_meta information for elastic agent"
Each registered agent in the fleet contains information about it's local meta

<img width="884" alt="image" src="https://user-images.githubusercontent.com/3505601/185102828-240d1fb7-3f60-4a2a-b449-90bde7494502.png">

For synthetics, we ask user to use elastic-agent-complete variant which also contains browser dependencies. From synthetics plugin in kibana, we would like to determine if the agent r

[2022-08-17 13:52] shahzad31 commented on #1754
so this will not a user action, we want this boolean to auto added based on the docker image being used.

[2022-08-17 13:55] ph commented on #1754
I see in this case, it could be added automatically when the elastic agent is run with the `container` subcommand.

[2022-08-18 09:48] ablnk commented on #1729
I revalidated this scenario twice with a new version of horde and reproduced it.
Every single time I was getting an error on UI "Error upgrading all selected agents".
![image](https://user-images.githubusercontent.com/34958359/185364774-bac94969-28e8-4199-b883-ff3a528de542.png)
Regardless the error, the process continued, but in the end some agents (to note - much less than before) are in "updatin

[2022-08-18 14:24] michalpristas commented on #1743
correct, thank @cmacknz i'm closing this in favor of that one. source is the same SDH

[2022-08-18 14:24] #1743 closed

[2022-08-18 16:45] ablnk opened #1759 "Aborting upgrade of 50k agents results in null pointer exception"
**Note**
It might be related to https://github.com/elastic/fleet-server/issues/1729

![image](https://user-images.githubusercontent.com/34958359/183958752-54e1ead7-5407-4ecd-a812-8b0716cc30de.png)

**Stack version:**
8.4.0-5954f776

**Kibana version:**
8.4.0 SNAPSHOT

**Precondition to reproduce:**
Have **50k** agents in Fleet under the same policy.

**Steps to reproduce:**
1. Click on the select

[2022-08-18 17:53] cmacknz commented on #1759
@kpollich any ideas on what might be causing this in the Fleet UI? I'm not sure if this is an issue with fleet-server itself.

[2022-08-22 10:50] joshdover commented on #1729
This appears to be a UI issue, @juliaElastic could you help investigate?

I think we may need to capture a HAR from the browser to see the HTTP response from the bulk upgrade API call.

[2022-08-22 10:52] joshdover commented on #1759
This appears to be an Elasticsearch bug, though maybe our usage pattern of the API is surfacing it. I wasn't able to find any relevant issues in the ES repo. @juliaElastic or @nchaulet could one of you investigate this one?

[2022-08-24 15:03] michel-laterman opened #1773 "filter out POLICY_CHANGE actions from .fleet-actions"
The fleet-server will blindly serve all actions from the `.fleet-actions` index.
We should filter out certain actions - specifically the `POLICY_CHANGE` actions as they are generated by fleet-server when an agent checks in.
Allowing them to be sourced from the `.fleet-actions` index makes it possible to have an agent that is not running the correct policy.

[2022-08-24 15:16] michel-laterman opened #1774 "remove events from agent checkin"
Issue https://github.com/elastic/elastic-agent/issues/993 tracks removing events from checkin requests.
we should also remove any references in the server codebase, i.e., https://github.com/elastic/fleet-server/blob/e65a42e98c3f8ff3edd676712addac61e1187e10/internal/pkg/api/schema.go#L83

[2022-08-26 09:44] matthiasledergerber commented on #1034
Observed the same issue. Restarting the Elastic-Agent Service helped to get the agent from Updating to Healthy state in Fleet. Elastic-Stack 8.4.0. We rolled out the agents in an industrial environment where bandwith is very low due to different bandwith demanding traffic so maybe there was an issue with the connection during the rollout. Peaked into the logs but didn't find anything interesting.

[2022-08-31 08:36] zzyyi66 opened #1793 "can not select new outputs for agent policies,why?"
![image](https://user-images.githubusercontent.com/89442807/187634840-06bb3271-0422-43d6-8d32-d101c35fd3d3.png)

[2022-08-31 09:06] jlind23 commented on #1793
Hi @zzyyi66,

Agent monitoring data will only be send to the default output for now. This is why you can not change it.
What you can change is the output for other data gathered by integrations for example.

[2022-08-31 09:06] #1793 closed

[2022-08-31 09:18] zzyyi66 commented on #1793
Output for integrations is also can not change,i'm on eck 2.4

[2022-08-31 09:20] zzyyi66 commented on #1793
![image](https://user-images.githubusercontent.com/89442807/187644872-0adcd97f-2d31-43ca-951c-9a5feecabde6.png)

[2022-08-31 10:06] amolnater-qasource commented on #1519
### `Bug Conversion`

- We have updated 01 testcase for this scenario in our fleet test suite at:
   - https://elastic.testrail.io/index.php?/cases/view/164233

Thanks!

[2022-08-31 11:05] amolnater-qasource commented on #1701
### `Bug Conversion`

- Test-Case not required as this particular checkpoint is already covered in the following testcase:
   - https://elastic.testrail.io/index.php?/cases/view/77048

Thanks!

[2022-08-31 11:48] jlind23 commented on #1793
@zzyyi66 Would you mind opening a discuss thread for that? Engineers will take a look over there and give you pointers as soon as possible.

[2022-09-01 11:10] chaishiqi opened #1798 "Fleet Server - Error - decode fingerprint: encoding/hex: invalid byte: U+0051 'Q'"
I have downloaded elastic-agent-8.1.3-linux-x86_64.tar.gz and decompress it. As clicked add fleet server on kibana, I copy the command as below, certificate and key created by the instructions.

[code]

But the error decode fingerprint: encoding/hex: invalid byte: U+0051 'Q', how to solve it?

[2022-09-01 15:57] elasticmachine opened #1800 "Build 170 for main with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Ffleet-server%2Fmain/detail/main/170//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Ffleet-server%2Fmain/detail/main/170//tes

[2022-09-01 15:58] elasticmachine opened #1801 "Build 1 for 7.17 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F7.17/detail/7.17/1//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F7.17/detail/7.17/1//tes

[2022-09-01 16:00] elasticmachine opened #1802 "Build 1 for 8.3 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.3/detail/8.3/1//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.3/detail/8.3/1//tests)

[2022-09-01 16:00] elasticmachine opened #1803 "Build 1 for 8.4 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.4/detail/8.4/1//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.4/detail/8.4/1//tests)

[2022-09-01 16:00] elasticmachine opened #1804 "Build 1 for main with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2Fmain/detail/main/1//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2Fmain/detail/main/1//tes

[2022-09-01 16:05] elasticmachine opened #1805 "Build 2 for main with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2Fmain/detail/main/2//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2Fmain/detail/main/2//tes

[2022-09-01 16:24] v1v commented on #1800
https://github.com/elastic/fleet-server/blob/ebd56802b99c9697809174f0284ebd3109acb6fd/.ci/Jenkinsfile#L142 needs to be changed accordingly

Leftover from the migration

[2022-09-01 17:30] elasticmachine opened #1816 "Build 2 for 7.17 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F7.17/detail/7.17/2//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F7.17/detail/7.17/2//tes

[2022-09-01 17:32] elasticmachine opened #1817 "Build 2 for 8.4 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.4/detail/8.4/2//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.4/detail/8.4/2//tests)

[2022-09-01 17:41] elasticmachine opened #1818 "Build 3 for 7.17 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F7.17/detail/7.17/3//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F7.17/detail/7.17/3//tes

[2022-09-01 17:47] elasticmachine opened #1820 "Build 3 for 8.4 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.4/detail/8.4/3//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.4/detail/8.4/3//tests)

[2022-09-02 10:01] elasticmachine opened #1824 "Build 2 for 8.3 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.3/detail/8.3/2//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.3/detail/8.3/2//tests)

[2022-09-05 05:17] simranvaseer-qasource opened #1825 "[Self-managed]: Unable to install fleet-server using Quick start and Production mode."
Kibana version: 8.5 Snapshot Kibana self-managed environment

Host OS and Browser version: Windows, All

**Build details:**
VERSION: 8.5 Snapshot self-managed
BUILD: 55993
COMMIT: 436b2874794a6ffc05ad3b9ef28c298ff5384ca4

**Preconditions:**
- 8.5 Snapshot Kibana self-managed environment should be available.

**Steps to reproduce:**
1. On fresh Kibana setup navigate to Fleet tab.
2. Create Fleet Se

[2022-09-05 05:37] dikshachauhan-qasource commented on #1825
Secondary review is done

[2022-09-05 05:49] amolnater-qasource opened #1829 "[Fleet]: Unable to install fleet server when policy having id other than `fleet-server-policy` used for installation."
**Kibana version:** 8.5 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
VERSION: 8.5 Snapshot Kibana cloud environment
BUILD: 55993
COMMIT: 436b2874794a6ffc05ad3b9ef28c298ff5384ca4

**Preconditions:**
1. 8.5 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Navigate to Fleet>Add Fleet Server.
2. From Advanced option

[2022-09-05 05:50] amolnater-qasource commented on #1829
@manishgupta-qasource Please review.

[2022-09-05 06:14] viszsec commented on #1519
I got the same error as well.

elastic_agent
[elastic_agent][error] metricbeat stderr: ")\n\t/go/src/github.com/elastic/beats/metricbeat/beater/metricbeat.go:276 +"
14:12:26.018
elastic_agent
[elastic_agent][error] metricbeat stderr: "0x28\ngithub.com/elastic/beats/v7/libbeat/cmd/instance.(*Beat).launch.func5("
14:12:26.018
elastic_agent
[elastic_agent][error] metricbeat stderr: ")\n\t/go/src/gith

[2022-09-05 06:20] manishgupta-qasource commented on #1829
Secondary review for this ticket is Done

[2022-09-05 09:17] elasticmachine opened #1830 "Build 3 for 8.3 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.3/detail/8.3/3//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.3/detail/8.3/3//tests)

[2022-09-07 07:48] #1672 closed

[2022-09-07 18:49] michel-laterman commented on #1253
Is this still an issue?
It looks like an SSL issue between the agent and fleet-server

[2022-09-07 18:52] michel-laterman commented on #1210
Looks like the discuss issue was resolved

[2022-09-07 18:52] #1210 closed

[2022-09-08 05:09] samratbhadra-qasource opened #1836 "[Fleet]: Hosted Fleet Server is not available on Healthy deployment of 8.5.0-SNAPSHOT build."
**Description:**
Hosted Fleet Server not available on Healthy deployment of 8.5.0-SNAPSHOT when deployed from:

https://console.qa.cld.elstc.co/
https://staging.found.no/

**Build Details:**
VERSION: 8.5.0-SNAPSHOT
COMMIT:  2c5fae2037b138f09231770ef19f0b11c0325c01
BUILD:  56060
ARTIFACT LINK: https://snapshots.elastic.co/8.5.0-4140365c/summary-8.5.0-SNAPSHOT.html

**Preconditions:**
1. Elastic 8.5

[2022-09-08 05:21] dikshachauhan-qasource commented on #1836
Secondary review is done

[2022-09-08 19:32] michel-laterman opened #1841 "custom server.limit values are not used"
Loading agent limits (introduced in https://github.com/elastic/fleet-server/pull/1014) ignores any custom `server.limits` settings that are set in the fleet-ui and propagated to the fleet-server instance.

The fleet-server instance will receive the changed config and emit the "Re-configuring" message, however the `configServerChagned` comparison returns false

This is due to the [LoadServerLimits(

[2022-09-09 11:49] joshdover opened #1848 "Invalid config values in Fleet Server policy crash without warning"
- Version: 8.4.1
- Steps to Reproduce:
1. Add an invalid config to Fleet Server's "custom configuration" yaml box on the policy in the Fleet UI, like `agent.logging.level: debug`
2. Save the policy
3. Fleet Server / Integrations Server will go unhealthy, nothing works now
4. There's no log anywhere to be found
5. Since Fleet Server is unhealthy, you can't remotely update the agent's configuration

[2022-09-09 12:28] joshdover commented on #1848
@kpollich Ideally we don't allow invalid configuration in the custom yaml box at all. I don't believe we have support for validation from the package-spec side, but I wonder if we should hard code something special for Fleet Server for now.

[2022-09-09 12:54] kpollich commented on #1848
I'd be open to hardcoding some kind of validation schema for Fleet Server specifically in this instance because the result of misconfiguring Fleet Server through this YML box is essentially taking down your whole Fleet environment.

[2022-09-09 13:28] #1774 closed

[2022-09-09 13:30] amitkanfer commented on #1774
@blakerouse should we back-port to 8.4?

[2022-09-09 18:56] blakerouse commented on #1774
Backport here -  https://github.com/elastic/fleet-server/pull/1850

[2022-09-12 05:54] amolnater-qasource commented on #1836
Hi @joshdover @jlind23
We are unable to deploy latest 8.5 SNAPSHOT kibana from:
- https://console.qa.cld.elstc.co/
- https://staging.found.no/

**Screenshot:**
![image](https://user-images.githubusercontent.com/77374876/189580225-2606f6ab-06d2-460f-bdf9-257b50e070ff.png)

Hence we are blocked to test any features/fixed PR merges on latest 8.5 Snapshot Kibana cloud environment.
However we are runni

[2022-09-12 12:30] joshdover commented on #1848
@kpollich could you track a separate issue for this for the UI validation? I think we can prioritize this one first since we should have both.

[2022-09-13 06:26] drizzthacker commented on #1645
Same problem here, we cannot pass a certification while fleet server supports tlsv1.1 and old cipher suites. Is there a way to properly setup tls?

[2022-09-13 09:23] joshdover opened #1857 "Add load limit presets for larger container sizes"
- Based on the work in https://github.com/elastic/fleet-server/pull/1014
- Blocked by https://github.com/elastic/fleet-server/issues/1841

We need to be able to support larger container sizes in Cloud for Fleet Server and have it scale appropriately to maximize its resource utilization. This allows more agents to connect to each instance which well help improve the effectiveness of caching in Flee

[2022-09-13 11:53] joshdover opened #1858 "Load limit presets should not overlap on max agents"
Our presets currently overlap by 1 which ends up in having unexpected behavior if you configure max agents to a value like 30000. In this case you'll end up using the 12,500 - 30,000 presets rather than the >= 30000 preset:

[code]

You can see how the bug presents itself:
- 12.5k preset has a max of 30k: https://github.com/elastic/fleet-server/blob/0181e484a71fe98864a2c96866b3594970116612/interna

[2022-09-13 11:54] joshdover commented on #1858
For now we could probably solve this easily by just changing the `min` on each preset to be one less than the max on the next preset