[2020-12-02 08:42] ruflin opened #16 "Setup test environment with Elasticsearch"
Fleet-Server has a tight integration with Elasticsearch. Part of our tests suite should run against and actual version of Elasticsearch, for example the setup part.

[2020-12-07 14:52] aleksmaus commented on #16
This is done now, we can tweak as needed.
Closing.

[2020-12-07 14:52] #16 closed

[2020-12-08 13:47] ruflin opened #25 "Add scale testing for fleet-server"
This is a reminder issue that early on we should start to test fleet-server at scale with many Elastic Agents connected to it and potentially more then a fleet-server at the time.

[2020-12-21 10:08] simitt opened #47 "Decide on the Fleet Server default port"
Picking up on async communication initiated by @ruflin the Fleet Server should run on a default port not likely to conflict with other ports. At the moment it runs on `8000`.

This issue should reflect the decision about the port.

[2020-12-22 02:10] aleksmaus opened #48 "TestMonitor_NewPolicyExists flaky test"
Adding the issue so we don't forget about this after coming back after holidays.

First noticed the intermittent CI failures with TestMonitor_NewPolicyExists test on master branch.
Then it randomly was failing blocking this PR:
https://github.com/elastic/fleet-server/pull/46

CI failure upon merging to master (the PR built ok).
<img width="1246" alt="Screen Shot 2020-12-21 at 8 56 03 PM" src="http

[2021-01-05 00:37] aleksmaus commented on #48
Looked a bit more into this. The root cause of the issue was that if you subscribe too soon before the monitor is fully running the monitor is doesn't get a chance to read from `m.kickCh` yet
and calling Subscribe right after in the test falls through due to `default:` in the `select`

[code]

and logging

[code]
since the channel is non-buffered.

Making the channel buffered allows "the kick" to

[2021-01-05 13:27] #48 closed

[2021-01-06 07:35] ruflin opened #50 "[Meta] Fleet Server Phase 1"
This is a meta issue about all the tasks related to Phase 1 of the Fleet Server project.

* [x] Fleet Server is run by Elastic Agent https://github.com/elastic/beats/issues/22686 https://github.com/elastic/beats/pull/23736 (@blakerouse )
* [x] Elastic Agent with Fleet Server enrolls itself https://github.com/elastic/fleet-server/issues/55 (@blakerouse )
* [x] Elastic Agents can connect to Fleet Se

[2021-01-06 07:46] ruflin opened #51 "Bootstrapping of Elastic indices for Fleet / Fleet-Server, Phase 1"
Currently the bootstrapping of the fleet-server indices happens in fleet-server. This issue is to come to a conclusion on where the bootstrapping should happen (fleet-server, Elasticsearch, Kibana) for the first phase.

Related issues / PRs:

* System index plugin in Elasticsearch https://github.com/elastic/elasticsearch/issues/64971 https://github.com/elastic/elasticsearch/pull/65275

[2021-01-06 07:48] ruflin opened #52 "Improve index changes monitoring"
Better index changes monitoring, that reduces the number of requests to Elasticsearch (due to global checkout checks). There was a discussion with the elasticsearch team about implementing the sequence number monitoring as a part of the system index plugin.

[2021-01-06 07:49] ruflin commented on #52
@aleksmaus Would be great if you could add a bit more details here.

[2021-01-06 07:49] ruflin opened #53 "Cleanup old actions"
Curently old actions are not cleaned up. Actions should be cleaned up automatically after a certain time (2 weeks?)

[2021-01-06 07:52] ruflin opened #54 "Improve actions in the Elastic Agent"
The way actions work in Elastic Agent should be improved. Most of the work here probably must happen in the Elastic Agent itself. Filing it here for now as the new action implementation is driven by fleet server.

High level notes (needs more details):

* The agent side changes (as far as I understand):
    * action token exchange on checkin
    * agent actions routing (specifically for osquery in

[2021-01-06 07:53] ruflin opened #55 "Elastic Agent with Fleet Server enrolls itself"
An Elastic Agent with a Fleet Server inside must enroll itself.

[2021-01-06 14:07] aleksmaus commented on #52
When the Fleet Server monitors for the new actions documents in the index, it is using the document sequence numbers as described in the proposal
https://docs.google.com/document/d/15sF6IZdH5KfbJmkDP97qIpmbNOUBWUGbBOEFS1ZigvQ/edit#heading=h.s3gr9natpeyf

The Elasticsearch team proposed to expose the system index plugin API that would encapsulate the logic of checking on global checkpoint value unt

[2021-01-06 14:17] aleksmaus commented on #51
Adding @nchaulet since probably he might end up handling that on Kibana side for the beta release upon the fleet enabling in the Kibana UI.

[2021-01-06 17:12] james-elastic commented on #54
Another action routing in the short term would be for endpoint for the host isolation action

[2021-01-06 17:14] james-elastic commented on #54
cc  @kevinlog

[2021-01-06 17:59] aleksmaus commented on #54
Yep. That's the idea. the action input id will correspond to the integration uuid and will be routed by the agent and is expected to receive the the action completion with possible errors

An example of action document
[code]
where the ```data``` property is opaque to the agent is can be specific anything for the beat/app

And the example result document would something along these lines, example

[2021-01-08 01:06] aleksmaus commented on #50
We probably need to figure how or what is going to clean up the old (older than 2 weeks) actions for the Phase 1, since we can't use the datastream with ILM policy for the actions.

We could do that with fleet, BUT:
1. This would require permissions to delete the actions documents by the fleet, which is not ideal.
2. The multiple instances of fleet would be cleaning the same data concurrently

Ide

[2021-01-13 07:49] ruflin opened #60 "Define permissions user for fleet-server needs"
A username / password needs to be passed into the fleet-server to work. It needs to be defined what the permissions are that are required for this user.

For reference, the current permissions of the fleet-user can be found here: https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/server/services/setup.ts#L140

[2021-01-13 07:50] ruflin commented on #60
@aleksmaus Would be great if you could take this on.

[2021-01-20 08:37] ruflin commented on #60
@scunningham If you have some cycles, would be great if you could also help with this one to define the minimal permissions we need. We should also decide if we need a built in role in Elasticsearch for this or not.

[2021-01-20 21:02] scunningham commented on #60
Specifying the required perms is the easy part.

- read/write on all of the associated fleet indices
- manage api key perms to create new api keys
- perms for application level api key to talk to fleet: https://github.com/elastic/fleet-server/blob/bd7527d668ec07744317e2daac245d1eed27131e/cmd/fleet/schema.go#L25
- superset of perms to create a default api key: 7d668ec07744317e2daac245d1eed27131e/cm

[2021-01-21 09:55] ruflin commented on #60
* Do we need write permissions on all fleet indices? What about the enrollment keys, does fleet server need write permissions? Also some `.ds-*` are in this list which I assume we don't need?
* For handling upgrading permissions, agree not possible today. @bytebilly are working on fixing this but not sure if it arrives in time. In general I like the idea that each fleet-server could have its own A

[2021-01-26 17:23] scunningham commented on #60
- We will have to use username/password in the short term.  As has been pointed out, Fleet must create API keys during enrollment and currently an API key cannot but used to authenticate the creation of another API key with any useful privileges (see [docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-create-api-key.html#security-api-create-api-key-prereqs)

- The f

[2021-01-27 15:29] nchaulet opened #72 "Acking a POLICY_CHANGE action do not update agent.policy_revision"
## Description

Currently in Kibana we rely on the propert `policy_revision` of the agent to display the agent policy revision  these field was populated when the agent ack the policy change action

Tested against that branch https://github.com/elastic/kibana/pull/89372

[2021-01-27 16:03] nchaulet commented on #72
My bad the name of the property in Fleet server is `policy_revision_idx` going to change that in Kibana

[2021-01-27 16:03] #72 closed

[2021-01-27 18:38] scunningham commented on #51
@ruflin Objections to pushing this code into Kibana and dropping packages?  The packages don't seem to be buying us much here.  They are particularly problematic during upgrade scenarios, as it requires direct user interaction with privs to install the new packages.  So you end up in scenarios where Kibana is upgraded, but the Fleet code in Kibana cannot behave properly because it is dependent a p

[2021-01-27 18:41] scunningham commented on #51
To wit, we have the following dependencies:

mapping templates
ilm policy

those should be installed *before* creating the indices.

Looking into how system indices might help alleviate this issue.  It's not clear that ILM policy is related to system indices.

[2021-01-28 10:38] ruflin commented on #51
@scunningham No objections to drop the package idea. The issue that will stay is around index template setup and permissions, would be good to solve it in ES for now.

[2021-02-01 13:51] nchaulet commented on #60
We probably need `auto_configure` too to create the datastream from the index template

[2021-02-01 14:29] scunningham commented on #60
@nchaulet Agreed.  Modified above.

[2021-02-01 17:02] ph commented on #60
This is indeed good timing we were looking into limiting the permissions on the API key in https://github.com/elastic/kibana/issues/89713

Do we really need **auto_configure** ? I though **append** was taking care of that? cc @skh for info.

[2021-02-01 17:38] scunningham commented on #60
To follow, after conversation on #es-core-features, two items:

1) create_doc is effectively append_only when working with data streams:

<<
Dan Hermann  12:23 PM
ok, create_doc does not permit updating mappings on data streams. we made that change for precisely the use case you are describing.

2) We should revert to the same undocumented priv Kibana was using instead of "auto_configure":

<<
Sea

[2021-02-01 17:47] EricDavisX opened #77 "Fleet Server needs CI Integration with e2e-testing repo to run the Agent (and Kibana/Fleet-server side) tests"
We have a repo that we use to run Agent (and other Fleet related) tests:
https://github.com/elastic/e2e-testing

When Agent shifted to use Fleet server adjusted the available tests, here:
https://github.com/elastic/e2e-testing/issues/438
Though we still need to flesh out and implement deeper actual Fleet Server tests:
https://github.com/elastic/e2e-testing/issues/1266

Still, with the coverage we

[2021-02-01 17:48] EricDavisX commented on #77
@mdelapenya is this something you want to help work with us on?

[2021-02-01 18:26] scunningham commented on #60
Also, the "cluster:monitor" privilege is too broad.  We should consider removing it and see what it breaks.  For one thing, the license api [requires](https://www.elastic.co/guide/en/elasticsearch/reference/current/get-license.html#_authorization_2) it.  Do we really need it?

[2021-02-01 18:27] ph commented on #60
I was discussing with @scunningham over the "monitor" cluster privileges and the beats, IIRC it is used for one or two things:

- Retrieving the license information from the remote cluster.
- Ping to the remote cluster.

The _monitor_ [permissions](https://www.elastic.co/guide/en/elasticsearch/reference/current/get-license.html#_authorization_2) give a lot more information:

As far as I know, ther

[2021-02-01 18:32] aleksmaus commented on #60
We use https://www.elastic.co/guide/en/elasticsearch/reference/master/indices-stats.html to get the global checkpoint value for actions monitoring at the moment.
[code]

[2021-02-02 20:37] danhermann commented on #60
Elasticsearch issue to track the addition of an append-only role: https://github.com/elastic/elasticsearch/issues/68414

[2021-02-03 13:52] mostlyjason commented on #50
I added 3 new items at the end of the top list. Let me know if there is a better place to track them. They could potentially be in phase 2, depending on when that is scheduled to be released.

[2021-02-03 13:53] ruflin commented on #60
I'm also wondering if we could skip the license check as fleet-server will be only for future releases?

[2021-02-03 13:56] ph commented on #60
@scunningham is "events" a typo in https://github.com/elastic/fleet-server/issues/60#issuecomment-767698070 I believe this should be traces?

[2021-02-03 15:25] scunningham commented on #60
@ph The permissions above were snapshotted out of kibana when I wrote original fleet off of the [7.9](https://github.com/elastic/kibana/blob/7.10/x-pack/plugins/ingest_manager/server/services/api_keys/index.ts#L27) branch.

The latest perms in Kibana are [here](https://github.com/elastic/kibana/blob/master/x-pack/plugins/fleet/server/services/api_keys/index.ts#L16)

Looks like events have been rep

[2021-02-03 15:38] ruflin commented on #60
`.ds-*` is historically as data streams initially also required permissions for the indices itself. This is not needed anymore and should be removed from the Kibana code (an issue for it is somewhere). For the `.logs` this comes from endpoint telemetry. @kevinlog knows more here.

[2021-02-03 15:38] ph commented on #60
@scunningham The `.ds-` will be ne removed, they were required because of an issue with data stream and the permission on the backing indices.

[2021-02-03 15:44] nchaulet opened #83 "Agent timeout"
## Description

Currently the agent request timeout after 5 minute, if there is no action Fleet server send the request just at 5 minute causing timing issue and errors on the agent:

[code]

[2021-02-03 15:50] nchaulet opened #84 "Handle INTERNAL_POLICY_REASSIGN action"
## Description

In Kibana We are currently creating an action `INTERNAL_POLICY_REASSIGN` to know when we need to fetch again the agent and distribute a new policy, this should probably handled in Fleet Server too.

[2021-02-03 17:38] scunningham commented on #84
@nchaulet As I read this implementation in Kibana, it would appear that the reason is to short circuit a long poll?  It seems the system would work as currently written when the long poll is over and the agent checks-in again?

[2021-02-03 17:39] nchaulet commented on #84
Yes it works as it is right now, but a policy reassign could take up to 5 minute instead of being an instant action.

[2021-02-03 17:46] scunningham commented on #84
I would suggest a different mechanism to signal the fleet server than an action.  This is an ephemeral signal that does not require perfect delivery and should roll off fast.  Actions are designed for fault tolerant delivery at bulk scale.

We would have to use elastic search as a go between.  Perhaps a dedicated signal data stream with a fast ILM rollover.  There may be other mechanisms we can le

[2021-02-03 18:08] scunningham commented on #84
Race condition here no matter what we do.  If the fleet server is watching policy A for changes, and is reassigned policy B, policy A could change to rev 2 and get applied before we notice policy B as been assigned.  Could mitigate somewhat with an agent record check before updating policy, but there's still a race.  This is true whether we use alerts or another mechanism to signal.

We will, howe

[2021-02-03 18:14] kevinlog commented on #60
I spoke with @scunningham

Currently, when the Endpoint package is installed, it creates the index template, but the data stream isn't created until the Endpoint actually sends the first document, so this permission was required.

If we can create the data stream before the Endpoint sends the first document (i.e. the Endpoint no longer needs to be able to created the data stream, just send docs to

[2021-02-04 18:00] #83 closed

[2021-02-05 18:01] scunningham opened #86 "Dynamic mappings allow an attacker to degrade indexing capability"
Dynamic mappings are a dangerous privilege to grant to an untrusted endpoint:

1. An attacker could overwhelm the index with a bunch of bogus mappings intended to prevent new valid mappings from being created, hitting the mapping limits.
2. An attacker could, if the timing is right, purposely mis-map a field such that subsequent valid documents would fail due to mapping exceptions.

To support onl

[2021-02-08 19:57] EricDavisX commented on #77
@elastic/observablt-robots I should have tagged the team.

[2021-02-09 21:44] blakerouse opened #90 "Handling of TLS"
## Overview

Fleet Server needs to be bootstrapped by the Elastic Agent and be running with TLS. At the moment the bootstrap is all HTTP, which is not secure.

The goal is for in the default case that security is priority #1 followed by a good user experience. We would rather communication between a remote Elastic Agent and Fleet Server fail due to invalid TLS configuration versus being successful

[2021-02-09 21:46] scunningham commented on #90
should we have an optional private key password, maybe pass by environment variable doesn't have to be on the command line?

[2021-02-09 22:03] blakerouse commented on #90
@scunningham Yes we can add that but that will still need to be written to the `fleet.yml` so that password will still need to live on disk.

Maybe `--cert-key-password`? With `--cert-key-password -` pulling the value from stdin.

[2021-02-10 13:03] scunningham commented on #90
If we have to persist, we should not include;  we can't protect the yaml file.  Worse to imply that its more secure with the password.

[2021-02-10 15:34] ph commented on #90
@mostlyjason fyi

[2021-02-10 16:13] scunningham commented on #90
@mostlyjason This is a product concern.  The above proposal would place much of the onus on an on-prem customer to provide the cryptographic material in a production system.  It will not be turnkey.  However, it's not unreasonable to ask a customer to manage their own crypto; they often want to be able to control the key material.

For a on-prem customer that is just trying the system out, the --i

[2021-02-16 15:11] ruflin opened #91 "[Meta] Fleet Server Phase 2"
Goal of this phase is to bring Fleet-Server to beta stage. This is a meta tracking issue.

* [x] Use Elasticsearch system indices (@scunningham)
  * [x] Elasticsearch change: https://github.com/elastic/elasticsearch/pull/68919
  * [x] Fleet server system indices https://github.com/elastic/fleet-server/issues/135 (Jay)
  * [x] Switch fleet-server over to system indices
* [x] Elastic Agent with Flee

[2021-02-16 15:57] mostlyjason commented on #90
Option 2 (Auto-generated) is a creative way to make it easier to get started and test it out.

@scunningham you are saying that if the user wants to provide a password on their certificate, they should use option 1 instead? Option 2 will only auto-generate certs without a password?

As another option, the ES docs talk about storing a password in a keystore https://www.elastic.co/guide/en/elasticse

[2021-02-16 16:01] scunningham commented on #47
Team has chosen 8220.  Pull request is [here](https://github.com/elastic/fleet-server/pull/92).

[2021-02-16 16:01] #47 closed

[2021-02-16 21:55] scunningham commented on #90
@mostlyjason I am saying that if user puts a password on their private key, they will need to pass it every time via environment variable in order to allow the agent to decrypt.  If we only make them pass it in once, we have to persist either the password or the decrypted credential in an insecure way.  We do not have a secure mechanism for protecting secrets in agent at the moment.

To minimize c

[2021-02-17 09:32] ruflin commented on #55
@blakerouse Can we close this?

[2021-02-17 09:34] ruflin commented on #51
Closing this issue as https://github.com/elastic/kibana/pull/91543 got merged. @nchaulet Please let me know if there are parts missing for Phase 1.

[2021-02-17 09:34] #51 closed

[2021-02-17 09:36] ruflin commented on #50
Closing this issue as we have an e2e prototype working. All the open points I took over to Phase 2: https://github.com/elastic/fleet-server/issues/91

[2021-02-17 09:36] #50 closed

[2021-02-17 09:47] ruflin opened #93 "[Meta] Fleet Server Phase 3"
This is currently a placeholder for Phase 3 of the Fleet Server.

[2021-02-17 11:48] mostlyjason commented on #90
Thanks Sean that sounds good to me!

[2021-02-17 15:56] aleksmaus opened #95 "[Meta] Fleet Server Scale Testing"
### Initial Scale Testing Findings. February 17th, 2021.

Could not use https://staging.found.no/ due to the fleetServerEnabled flag that needs to be in kibana.yml config, lack of ssh access or ability to update that flag via deployment UI.

Had to build the cluster from scratch on GCP.
Did the first round of testing using the similar cluster configuration
that you get out of the box (without cust

[2021-02-17 16:10] ph commented on #95
cc @urso FYI

[2021-02-17 17:29] simitt commented on #95
@aleksmaus could you please also include the the memory usage of the Fleet Server in idle mode?

[2021-02-17 17:48] aleksmaus commented on #95
Idle means no agents?

Idle with the agents (checking in only) at the beginning on the doc:
[code]

[2021-02-17 17:55] aleksmaus commented on #95
Fleet Server idle, no agents, started fresh, hovers around 48-50MB:
<img width="860" alt="Screen Shot 2021-02-17 at 12 53 13 PM" src="https://user-images.githubusercontent.com/872351/108246327-4fb32f00-711f-11eb-86d5-90d404d65306.png">

[2021-02-17 22:43] urso commented on #95
The go runtime holds on some memory eventually releasing it later. The actual stats from the runtime might be interesting as well.

Beats and agent are build with go1.15. Also run with `GODEBUG='madvdontneed=1'` to force the runtime to properly return used pages to the OS. This is the default in go1.16. If not set pages will be marked as free, but the linux kernel is lazy and the freed pages are s

[2021-02-18 10:48] ruflin commented on #95
@aleksmaus In all your tests, are you running just the `fleet-server` binary or Fleet-Server through Elastic Agent?

[2021-02-18 14:31] simitt opened #96 "Make cache settings configurable"
For sizing of the Fleet Server when running on Cloud, ensure that settings for internal [cache instances](https://github.com/elastic/fleet-server/blob/master/internal/pkg/cache/cache.go) can be configured, to be able to control the cache size.

[2021-02-18 15:40] aleksmaus commented on #95
@ruflin at this point just running fleet-server binary standalone, no agent. started doing that before agent changes were merged.

@urso need to profile the memory for more precise number.
for each connected (long polling) agent all of the allocations are done in the handler:
here https://github.com/elastic/fleet-server/blob/master/cmd/fleet/handleCheckin.go#L91
it looks like we have:
1. agent inf

[2021-02-18 16:15] blakerouse commented on #55
Yes this is complete.

[2021-02-18 16:15] #55 closed

[2021-02-22 08:08] ruflin opened #99 "Collect and expose metrics from fleet-server"
It needs to be defined which metrics from the fleet-server should be collected and how they are exposed.

[2021-02-22 21:01] mostlyjason commented on #90
One more use case to consider. If the user has multiple fleet servers and one or more is running with self-signed certs, and Elastic Agent does not have the `--insecure` parameter then it should only connect to the secure ones. If it has the parameter, then I imagine it could connect to insecure or secure servers.

[2021-02-23 14:05] aleksmaus commented on #95
50K+ agents scale testing. February 23th, 2021.

Bigger ES cluster: 5 nodes = 1 voting only + 4 N1 4 CPU, 15GB RAM
Fleet Server box: N1 2CPU + 7.5GB RAM
Running Fleet Server as standalone systemd service  with
[code]

**TLDR**: Works swimmingly enrolling 50K agents, sitting on long poll. ES nodes start hitting full CPU utilization during enrollment, that drops down after enrollment. ES nodes JVM h

[2021-02-23 15:50] ruflin opened #101 "[Discuss] Indexing permissions as part of the Elastic Agent policy"
Currently all Elastic Agents enrolled into the fleet-server get the same permissions. To cover all the use cases these are the most permissive permissions. This proposal is to reduce the permissions given to an Elastic Agent based on the the policy. With this, each Elastic Agent would receive an API Key with the minimal permissions needed to get its job done.

#  Elastic Agent Policy contains perm

[2021-02-23 16:11] aleksmaus commented on #95
50K agents scale testing - let it reap. February 23th, 2021.
Bigger ES cluster: 5 nodes = 1 voting only + 4 N1 4 CPU, 15GB RAM
Fleet Server box: N1 2CPU + 7.5GB RAM
Running Fleet Server as standalone systemd service **WITHOUT**
[code]

TLDR: Letting horde to enroll 50K agents at it's full capacity. Got to almost 3x higher IO rate ES nodes JVM heap is healthy. Fleet Server process gets OOM killed d

[2021-02-23 17:08] scunningham commented on #101
To the extent that can be achieved, it would desirable for the fleet server to limit the amount of interpretation it has to do.  Ideally, the permissions required would be listed explicitly in a section of the policy, or if necessary, multiple sections that the fleet server has to combine.  It's not yet clear where in the system these explicit permission will be enumerated and what support is nece

[2021-02-23 17:14] scunningham commented on #101
Also, Fleet-Server should have the permission to create these data streams. Basically, for any explicitly enumerated data stream that does not have the auto_configure, Fleet-Server will need to attempt to create the data stream (and no-op if already there).  This is to avoid having to provide auto_configure privileges to untrusted endpoints, which is what we have right now.

[2021-02-23 18:22] ph commented on #101
The data stream fields are already present in each input or default values already exists, if we add a "permission" key under the "input", the stream, or both the input can be traversed and an aggregated set of permissions be generated.

@ruflin Where the required permissions would be defined, would it be the package responsable of defining the permissions. The system integration should only be ab

[2021-02-23 18:23] ph commented on #101
@andresrc FYI, I am adding this item to both Agent and Fleet board, once the design we surely have 2 (or more issues)

[2021-02-23 18:29] ph commented on #101
This is the design issue to fix the APM-Server different permissions

- Requirement for Kibana API Key for Agent subprocess elastic/kibana#89311

With the above proposal the Elastic Agent would still have a single api key to talk with Elasticsearch, that API key will have the correctly defined permission defined on it based on the configuration. Based on this dicussion I will close https://github.

[2021-02-23 18:38] blakerouse commented on #90
Completed with elastic/beats#24142

[2021-02-23 18:38] #90 closed

[2021-02-23 19:10] aleksmaus commented on #95
### 70K agents scale testing. February 23th, 2021.
ES cluster: 5 nodes = 1 voting only + 4 N1 4 CPU, 15GB RAM
Fleet Server: n1-standard-4 (4 vCPUs, 15 GB memory)

**TLDR**: Enrolled 50K agents at full horde capacity fine.
ES nodes JVM heap is healthy
Fleet Server process is healthy at 50K.
Slow rolling additional 20K agents on top of 50K polling works, but getting lots of 503s, which ultimately re

[2021-02-24 02:29] aleksmaus commented on #95
100K agents scale testing. February 23th, 2021.
ES cluster: 7 nodes = 1 voting only + 4 N1 8 CPU, 30GB RAM
Fleet Server box: N1 4CPU + 715GB RAM
10 Horde boxes

Observed 503s errors in the fleet server log right from the start:
[code]
Eventually rolled out 100K agents. Fleet Server handled 100K agents checking in fine.

<img width="1212" alt="Screen Shot 2021-02-23 at 9 00 50 PM" src="https://user

[2021-02-24 02:42] axw commented on #101
Thanks for filing this @ruflin. This sounds similar to what I've had in mind, like an app store type approach: install an app (integration), and the store (Fleet/Integrations UI) prompts you to grant additional privileges. I guess we can skip this until untrusted integrations need the feature.

In an email thread @simitt raised the principle of least privilege. I tend to agree that in an ideal wor

[2021-02-24 12:45] ruflin commented on #95
@aleksmaus Great data. Would be interesting to see how 2 fleet-servers of half the size compare to 1 fleet-server of double the size for one scenario.

Now that Elastic Agent can run fleet-server and enroll, could you switch over the testing to directly use Elastic Agent to make sure we test it all together?

[2021-02-24 13:28] aleksmaus commented on #95
### 150K agents scale testing. February 24th, 2021.

In all of the tests above it seems that the bottleneck eventually is at ES cluster responsiveness.
In order to quickly check the assumption, lets put a really beefy cluster and horde and fleet in in the same zone.
So, the last one just to set the bar for the best case scenario with low ES comms latency.

ES cluster: 7 nodes = 1 voting only + 6 N

[2021-02-24 15:36] ruflin commented on #101
@scunningham My assumption was that `Fleet` (Kibana) would be the tool that sets up all the data streams if need as setup of the stack already happens there. fleet-server just takes the permissions and creates API keys based on it.

@ph I assume the definition of the permissions needed should happen where the data streams are defined. So this would be in the manifest of the data_stream directory f

[2021-02-24 15:38] scunningham commented on #101
@ruflin I would prefer if Kibana creates the data streams as well, assuming the kibana_system user has permissions to do that.

[2021-02-24 15:40] scunningham commented on #101
I should clarify that to the extent we can, we should not be giving wild carded privileges to the endpoints.  Even an append-only logs-* privilege will allow an attacker to scribble over any log data stream in the system.  We should try to limit permissions as specifically to the target data streams as possible.

[2021-02-24 15:49] ruflin commented on #101
I don't think the kibana_system user has and should have the permission. But the user that creates the policy should have sufficient permissions, be it in the UI or API call. The creation of the data_streams happens as soon as the user hits `save` for a policy.

With the above model, we delegate the responsibility about how many privileges an integration needs to the creator of the integration. Th

[2021-02-24 15:57] scunningham commented on #101
Yep, that sounds right.  Customer should not be able to implicitly create data streams by adding an integration to a policy without having the privileges to do so.  For the exceptional cases, and there will be some, the user adding the integration should have those privileges as well.  Exceptional cases should be called out in the UX by marking a policy as untrusted or some other obvious treatment

[2021-02-24 18:50] aleksmaus commented on #95
sorry forgot about this @urso

Fleet Server itself idle, no agents, right from the start is about 50MB RSS
<img width="986" alt="Screen Shot 2021-02-24 at 1 49 15 PM" src="https://user-images.githubusercontent.com/872351/109050217-24908880-76a7-11eb-91c1-3f9ec288f811.png">

[2021-02-24 19:17] ph commented on #53
@ruflin is this handled by this [ILM policy](https://github.com/elastic/integrations/blob/master/packages/fleet_server/elasticsearch/ilm_policy/.fleet-actions-results.json) or something more involved?  The 2 weeks case you are referencing is similar to a user taking two weeks of vacation. What happens when the laptop goes back online?

[2021-02-24 19:18] ph commented on #25
Going to close this in favor of https://github.com/elastic/fleet-server/issues/95 and update the related issue.

[2021-02-24 19:18] #25 closed

[2021-02-25 09:31] ruflin commented on #101
Do we forsee any other permissions which might be given out to Agents beside read / write index permissions? The reason I'm asking is because if we only need index permissions, we could just take the ES format that exists today and add it to the policy. So if new permissions are introduced, only Kibana would need to be updated but fleet-server would just forward the request to ES and not know abou

[2021-02-25 10:37] ruflin commented on #101
Thinking out loud about a potential implementation: We add this feature to fleet-server and Fleet at first, just keep shipping down what we have defined today as defaults. This makes it possible that we can start to iterate on this feature in Kibana and don't require changes to fleet-server.

[2021-02-25 11:43] ruflin commented on #53
Looks like this is solved by the policy. We should probably have a follow up discussion around the exact content of the policy. Closing this issue.

[2021-02-25 11:43] #53 closed

[2021-02-25 18:59] blakerouse opened #108 "Ensure GZIP responses are returned from HTTP endpoint"
From elastic/integrations#729 we need to ensure that Fleet Server is returning gzipped compressed responses to the Elastic Agent.

[2021-03-01 00:54] aleksmaus commented on #95
### 20K agents memory usage deeper dive. February 28th, 2021.

Bigger ES cluster: 3 nodes = 1 voting only + 2 N1 2 vCPU, 7.5GB RAM
Fleet Server box: N1 2CPU + 7.5GB RAM
Running Fleet Server as standalone systemd service  with
[code]

Utilizing this nifty tool to instrument fleet-server
https://github.com/tevjef/go-runtime-metrics
This collects and forwards lots of useful Go Runtime stats to Influx

[2021-03-01 13:34] ruflin commented on #60
Closing for Phase 2. Further follow up discussions needed.

[2021-03-01 13:34] #60 closed

[2021-03-02 00:24] aleksmaus commented on #95
### 100 agents. March 1st, 2021.

ES cluster: 1 nodes  N1 2 vCPU, 7.5GB RAM
Fleet Server box: N1 2CPU + 7.5GB RAM
Running Fleet Server as standalone systemd service  with
[code]

Initial RSS without agents about **47MB**
<img width="992" alt="Screen Shot 2021-03-01 at 4 16 41 PM" src="https://user-images.githubusercontent.com/872351/109561183-ce5a8580-7aaa-11eb-8117-2db52a724bba.png">

Go heap in-

[2021-03-02 01:49] aleksmaus commented on #95
### 1,000 agents. March 1st, 2021.

Per @urso request, test with smaller number of agents.

ES cluster: 1 nodes  N1 2 vCPU, 7.5GB RAM
Fleet Server box: N1 2CPU + 7.5GB RAM
Running Fleet Server as standalone systemd service  with
[code]

Initial RSS without agents about **45MB**
<img width="1019" alt="Screen Shot 2021-03-01 at 7 44 06 PM" src="https://user-images.githubusercontent.com/872351/109579

[2021-03-03 10:01] ruflin opened #114 "Instrument fleet-server with apm client"
The fleet-server should be instrumented with our go apm Agent so we can use APM to get information out of fleet-server.

Two places we could start with:

* instrument http router https://github.com/elastic/apm-agent-go/blob/master/module/apmhttprouter/router.go
* instrument elasticsearch client: https://github.com/elastic/go-elasticsearch/blob/c653ef6811d294db6a7cb0efbeae96db24ead2da/_examples/ins

[2021-03-03 10:32] axw commented on #114
It's hopefully straightforward and obvious, but anyway here's a gist with the minimal changes needed to instrument httprouter: https://gist.github.com/axw/65f1cf31172056d8ae8feaead0aa0e90

Although the agent is intended to have minimal overhead, and prefers to drop data than impact the instrumented application, I would still recommend rerunning performance tests after instrumenting fleet-server. H

[2021-03-03 19:54] aleksmaus opened #115 "Checkpoint Monitoring is broken after replacing .fleet-policies and .fleet-actions indices with aliases"
Checkpoint Monitoring is broken after a change in .fleet indices bootstrapping by kibana that replaced .fleet-policies and .fleet-actions indices with aliases.

For example the API call
[code]

returns
[code]
and ".fleet-actions_1" doesn't match the index name as currently expected, so the global checkpoint is not found.

One possible issue down the road with aliasing the index is that there is no

[2021-03-03 20:50] #115 closed

[2021-03-03 21:04] aleksmaus opened #119 "Report degraded status from Fleet Server if there is an issue with indices monitoring"
**Describe the enhancement:**
Report degraded status from Fleet Server if there is an issue with indices monitoring and keep Fleet Server running.
The Fleet Server will not be able to detect new actions and the new policy changes in this state.
Follow up on https://github.com/elastic/fleet-server/issues/115

**Describe a specific use case for the enhancement or feature:**
The current implementatio

[2021-03-04 14:26] scunningham opened #121 "Add an option to set a hard limit on the number of TCP connections the fleet server will accept."
**Describe the enhancement:**

To prevent a fleet server from allocating too many resources in a low resource environment, allow an optional hard limit on the number of concurrently accepted connections.  The option will be disabled by default.

[2021-03-04 15:14] blakerouse opened #123 "Unenroll ACK needs to invalidate the API keys for the Agent"
At the moment the ACK of an unenroll action does not invalidate the API keys for the Agent. It needs to invalidate both the API key used to communicate with Fleet Server as well as its output API key used for communication to Elasticsearch.

[2021-03-04 22:59] #123 closed

[2021-03-05 13:55] urso commented on #99
@ruflin @scunningham Can we close this issue or is something missing?

[2021-03-05 13:57] ruflin commented on #99
Going to close this issue as we have an implementation. @michalpristas I assume these are not yet picked up by Metricbeat?

[2021-03-05 13:57] #99 closed

[2021-03-08 14:41] nchaulet commented on #84
Will be solved by https://github.com/elastic/kibana/issues/93945

[2021-03-08 14:41] #84 closed

[2021-03-08 19:01] ph commented on #101
@ruflin looking at https://github.com/elastic/fleet-server/issues/101#issuecomment-785795272 I think @aleksmaus could take that action item?

[2021-03-09 10:00] ruflin commented on #101
I filed https://github.com/elastic/kibana/issues/94058 on the Kibana side as a follow up.

There was an offline discussion around how we detect changes to the permissions to not have to give out new API keys all the time. The idea here was to potentially use a hash that is persisted and used for comparison. @nchaulet This might also solve https://github.com/elastic/kibana/issues/85777 ?

[2021-03-09 16:06] ph commented on #101
@ruflin Concerning the hash, this is something that fleet-server would compute? We have code in place in the Elastic Agent that can be reused to generate a predictable hash for a specific tree-structure.

[2021-03-10 12:02] ruflin commented on #101
The hash could be calculated by Fleet or fleet-server. I was thinking of fleet-server as it needs to read and store the config anyway. Someone should think through the pros / cons here.

[2021-03-10 12:07] scunningham commented on #101
Fleet Server should normalize the input and calculate a sha2 on the normalized input.  This is the natural place for the calculation is the Fleet Server will be making the decision whether or not it needs to regenerate an output API key based on this input.  Sha2 is pretty brute force; a more subtle method could be employed later; however I think it is sufficient to handle the 99% use case here.

[2021-03-10 12:36] ph commented on #101
This is what I had in mind, we have something that does the normalization in elastic-agent to decide if the configuration changed so we could use the same logic there.

[2021-03-16 07:36] ruflin opened #132 "Use -buildmode=pie (position independence executable)"
See https://github.com/elastic/beats/issues/24323 for more details.

[2021-03-16 12:07] ruflin commented on #132
I quickly tried out this change for the build script. As long as I run it on my darwin machine for just darwin, all is fine. But it breaks cross platform compilation:

[code]

Does anyone know if this is expected or if there is an easy way around this?

[2021-03-16 15:58] scunningham commented on #108
This is going to be resource intensive. Which part are we worried about getting too big?

[2021-03-16 16:49] mostlyjason opened #134 "Provide scaling guidance for Fleet server on cloud"
We'd like to provide updated scaling guidance for the new Fleet server on ESS. We currently publish scaling guidance to help users determine how many agents they can realistically expect to enroll into a given instance size for the hosted agent on cloud https://www.elastic.co/guide/en/fleet/current/fleet-limitations.html. This was based on Kibana so we should update it for Fleet Server.

We should

[2021-03-16 17:06] scunningham opened #135 "Manage fleet server indices as system indices in the Elastic Stack"
**Describe the enhancement:**

Fleet Server relies on a set of indices to store operational data about Fleet.   These indices must be created early in the system lifecycle.  Currently the indices are instantiated in Kibana.  This enhancement will move the instantiation to the Elastic Stack where the fleet indices will be treated as managed system indices.  Moving forward, updates and migrations of

[2021-03-17 10:06] ruflin commented on #108
The problem are that some policies are pretty large as they have (too much) js lookup tables inside. We should make this feature configurable.

One issue I see is that we have to gzip it for every agent as each policy is a bit different because of the API keys? This means we also can't do it once and ship the same to all agents?

[2021-03-17 12:46] scunningham commented on #108
I am concerned about payload size too.  Supporting compression at the http level is the simplest solution.  I'm not sure we have a choice without significantly changing how the payload is structured because when inject data into the policy.

Best we can do is support the cheapest/fastest compression we can get away with.  Either zlib.BestSpeed or lz4 is better if the agent supports it.  This will

[2021-03-17 12:53] ruflin commented on #108
@leehinman @ycombinator For visibility as you were involved in https://github.com/elastic/integrations/issues/729 ^

[2021-03-17 13:06] ruflin commented on #101
One issue to think through is how and when we revoke the old api keys.

[2021-03-17 14:23] ruflin opened #136 "Test and improve Elasticsearch dsl"
The Elasticsearch dsl in https://github.com/elastic/fleet-server/tree/master/internal/pkg/dsl was initially implemented for a POC. Tests should be added and the code reviewed for improvements.

It seems also quite a few of the methods are not used anymore and should be removed.

[2021-03-17 14:58] ruflin opened #137 "Add system tests"
As part of the fleet-server CI some of the test should be run against Elasticsearch. apm-server today already has a go based framework to do this for apm-server: https://github.com/elastic/apm-server/tree/master/systemtest We could reuse (copy) parts of it and use it for the fleet-server to test some of the parts.

[2021-03-18 15:28] mostlyjason opened #153 "[Meta] Fleet server should gracefully reject connections"
When incoming connections to Fleet server exceed the capacity for that server, we should gracefully reject those connections. This will allow the clients to be load balanced to other nodes, when available.

Currently, Fleet server will consume all available RAM as the number of connections increases until it [triggers the OOM killer](https://github.com/elastic/fleet-server/issues/95#issuecomment-7

[2021-03-18 15:54] ruflin opened #140 "Add autobackports with labels to fleet-server repository"
Work is in progress to get auto backports into the beats repository: https://github.com/elastic/beats/pull/24608 Same should be done for the fleet-server repo.

[2021-03-22 13:08] mostlyjason opened #144 "[Meta] Run select inputs on dedicated hosts"
Some Fleet operators would like to ensure consistent performance for integrations running on hosted Elastic Agents. This is particularly important for Synthetics because a change in the underlying host resources may create noise that could impact the accuracy of website performance measurement.  It is also important for APM server where operators want to ensure the performance for loading real tim

[2021-03-22 15:00] mostlyjason opened #145 "Report error on install if Fleet server URL is missing"
The Fleet server URL is required to be set in Kibana before the Fleet server bootstraps itself. When the user installs Fleet server, we should check if the Fleet server URL has been set. If it has not, we should display an error message in the logs telling the user to set it up in Kibana. Ideally, it will also provide a link to the docs where they can learn more.

Related:
- Fleet server URL requi

[2021-03-22 15:06] #132 closed

[2021-03-22 15:06] #96 closed

[2021-03-22 18:54] mostlyjason opened #151 "Validate and update the Elasticsearch URL with the agent policy"
Currently, Fleet server does not apply updates to the Elasticsearch URL when the agent policy is updated. This is inconsistent with other integrations and can result in a situation where a single agent may be using two different Elasticsearch URLs, one for Fleet server and one for the other integrations. The user may be confused why they updated the URL in FLeet settings but it is not applied. Thi

[2021-03-22 20:01] jaymode commented on #135
I've opened https://github.com/elastic/elasticsearch/pull/70689 for the indices and will follow-up on the data stream.

[2021-03-23 09:18] #140 closed

[2021-03-23 13:09] urso commented on #153
In addition to returning 503 a [LimitListener](https://pkg.go.dev/golang.org/x/net/netutil#LimitListener) can be used to limit the total number of accepted connections. Additonal connection attempts will time out on the TCP level. No need for the TLS handshake.
The LimitListener is unfortunately static, but in essence it is just using a semaphore/counter to stop calling `Accept` once the limit is

[2021-03-23 13:40] blakerouse opened #155 "Cache configuration keys should be under the input"
At the moment the newly added `cache` key is at the top-level of the configuration. It should have been added nested under the input:

[code]

Without it in this structure these values will never be able to be adjusted when running under Agent, which is the only officially supported way of running Fleet Server.

[2021-03-23 14:03] ph commented on #153
There is already an optional limiter added to the Fleet Server https://github.com/elastic/fleet-server/pull/122 by @scunningham.
 So we could have something initially and with testing we could probably define a safe high limit of the number of Agent a specific container can manage.

[2021-03-23 17:13] #155 closed

[2021-03-23 19:36] #121 closed

[2021-03-24 07:14] ruflin opened #166 "Drop support for 32bit version"
Currently fleet-server is also built for 32bit version: https://github.com/elastic/fleet-server/blob/master/Makefile#L3 I think for simplicity fleet-server is not required in 32bit and we should drop support for it. This issue is to discuss this.

[2021-03-24 08:53] ruflin opened #167 "Validate Elasticsearch version for compatibility"
Fleet Server is compatible with an Elasticsearch version >= the fleet-server version of the same major. The bugfix version differ. On majors, it is expected that the last minor of fleet-server is compatible with the first minor of the next major Elasticsearch version.

This issue is to document and verify that these restrictions are in place.

Few examples (made up versions):

* fleet-server 7.13.

[2021-03-24 18:54] mostlyjason commented on #166
I think 32 bit platforms are less common in the o11y space, particularly for centralized infrastructure like Fleet server. Elasticsearch and Kibana only support 64-bit platforms https://www.elastic.co/support/matrix. We expect Fleet server to run close to Kibana from an infrastructure perspective.

@bradenlpreston @caitlinbetz is there any need for 32-bit support in Fleet server on the security si

[2021-03-24 21:00] mostlyjason commented on #153
Thanks for linking the PR! That looks like a fixed hard limit, hence why I added the open question about how this would work on ESS when the user drags the memory slider higher. I assume changing the slider would need to result in a changed limit, but I'm not sure on the mechanics of it.

Ok thanks I can remove that as an open question

[2021-03-25 01:13] aleksmaus commented on #101
For the very first cut PR that works against https://github.com/elastic/kibana/pull/94591

revoking the old key as soon as the new one is sent.

In the next iteration we could:
keep and array of old keys id (maybe with ttl, possibly with coordinar/revision idxs) within the agent document. revoke the keys as soon as we get the policy coordinator/revision past the values that are kept or expire them

[2021-03-25 09:24] ruflin commented on #153
We need to have an option to set these parameters dynamically in the future based on the memory / instance size. I think a first solution is to expose it in the integrations policy so users can adjust it.

[2021-03-25 11:57] ph commented on #153
@ruflin @nchaulet is already modifying the integration to add hosts/port we can add `max_connection` with the same PR https://github.com/elastic/integrations/issues/803

[2021-03-25 13:45] ruflin commented on #101
If we get the ACK from all Agents for a policy, does it mean already all sub processes are shipping data now with the new API Keys or can be there a certain delay, meaning some of the events are still send with the old API Keys? TTL of 1 week sounds pretty long, assuming all Agents have acked, we could probably choose something shorter?

[2021-03-25 14:31] EricDavisX commented on #166
Is it confusing if we have an x86 version of Agent (we have many artifacts) but they are unable to run Fleet server?  As long as it fails gracefully with some error messaging, I think it is a win to reduce scope and complexity with this decision.

[2021-03-25 16:15] aleksmaus commented on #101
Just had a conversation with @blakerouse over Slack. As far as I understood there beats are not restarted, and will continue using the the old key.
Here is the issue about that:
https://github.com/elastic/beats/issues/24538

So it's not clear at the moment when it it safe to invalidate the key.

It would be nice to be able to update the output key without restarting the beats though.

[2021-03-25 18:58] bradenlpreston commented on #166
No issues from my end in not supporting a 32-bit fleet server. Do we need to check with APM as agent will eventually run Fleet Server and APM server.

[2021-03-26 07:30] ruflin commented on #101
@urso Would it be possible to exchange API Keys in the output without a restart of the Beat?

[2021-03-26 07:38] ruflin commented on #166
I'm not sure if we need to attach this to apm-server as a user could still run Elastic Agent with apm-server on the edge in 32bit but Elastic Agent with fleet-server centrally. The two do not depend on each other.

@graphaelli What is the apm-server support for 32bit?

[2021-03-26 08:26] ruflin commented on #137
There are already some tests in fleet-server running against Elasticsearch and part of CI: https://github.com/elastic/fleet-server/blob/master/internal/pkg/monitor/subscription_monitor_integration_test.go

[2021-03-26 13:28] graphaelli commented on #166
We currently do publish 32 bit packages and support them, though I don't recall any issues specifically mentioning those artifacts.  Stats indicate ~ 20% of downloads are 32 bit, a much higher percentage than beats.

[2021-03-26 14:01] nchaulet opened #172 "[Fleet] Configuring host through the agent policy is not working"
## Description

In a docker container
While configuring the host to `0.0.0.0` through the fleet server integration https://github.com/elastic/integrations/pull/806 the fleet server inside the container is still bind to `localhost`.

[2021-03-26 15:33] ruflin commented on #172
It works when the FLEET_SERVER_HOST is set to `0.0.0.0`. I wonder if the fleet-server does not reload the server part on changes?

[2021-03-26 18:12] mostlyjason opened #173 "[Meta] Fleet Server observability"
Observability for Fleet Servers is important because operators are expected to scale them manually. They are also expected to troubleshoot operational issues and fix them. This is true in various degrees from self-managed environments, to ECE/ECK and ESS. As a result, we should provide users visibility to issues and documentation on how to address common ones.

As a Fleet operator, I need:
- [ ] L

[2021-03-29 17:31] nchaulet opened #176 "[Fleet] creating a policy without integration break fleet server"
## Description

Blocking https://github.com/elastic/beats/issues/24725

When creating a policy without integrations, looks like Fleet server is in a stuck phase where it's not possible to create new policy change, new policy with integrations.

## How to reproduce

1. create a policy without any integrations
2. Try to assign an agent to that policy or to trigger a policy change of a previous polic

[2021-03-29 20:54] mostlyjason opened #182 "Let the user set the Fleet Server host after installing"
Currently, the user is required to set the Fleet Server host in Fleet Settings before installing Fleet Server. If they do not, the agent will get a policy with no valid hosts and it will no longer receive updates. I'm worried that not all users will read the instructions carefully. It'd be nice if we designed our fleet server to be more resilient and able to recover in this scenario.

The agent al

[2021-03-29 20:57] blakerouse commented on #182
I think you are speaking specifically of an Elastic Agent not being able to talk to its local (running on same box) even if the `fleet.host` is wrong in the policy?

If that is the case then this is already solved. The Elastic Agent knows when its running Fleet Server on its own host and will talk to it through localhost only. So in the case the Elastic Agent does not care what is set in Kibana. I

[2021-03-29 21:01] mostlyjason commented on #182
Thanks @blakerouse! I filed this thinking it doesn't work but I just got confirmation that it does. I think we can close this issue.

[2021-03-29 21:01] #182 closed

[2021-03-29 21:51] #176 closed

[2021-03-30 06:33] ruflin opened #184 "Fleet-server docs overview"
This issue is to keep a list of all the things that should be documented for fleet-server.

* [ ] What is fleet-server. Describe architecture on a high level
* [ ] How is fleet-server run / setup
  * [ ] Prerequisites, eg. 7.13+, ECE 2.10+
  * [ ] What params exist
  * [ ] What environment variables exist
  * [ ] What needs to be done in Fleet?
  * [ ] How to enroll an Elastic Agent into fleet-ser

[2021-03-30 10:44] mostlyjason commented on #145
This is not needed because Fleet Server will automatically check localhost, and the user can set the URL at any time https://github.com/elastic/fleet-server/issues/182#issuecomment-809708698

[2021-03-30 10:44] #145 closed

[2021-03-30 11:18] mostlyjason opened #185 "Allow the user to edit the connection limit live"
We'd like to gracefully manage the capacity of the Fleet Server to prevent it from crashing. In the first phase, there will be hard limit(s) and users must manually adjust them. The [overall meta issue](https://github.com/elastic/fleet-server/issues/153) defines the subsequent phases where we hope to make this more automatic.

We've already implemented a max connection limit here https://github.co

[2021-03-30 11:23] mostlyjason opened #186 "Automatically adjust the connection limit"
In the second phase of our [epic to gracefully reject connections](https://github.com/elastic/fleet-server/issues/153), we'd like to automatically adjust the connection limit.

In the first phase the user has to manually edit the limit. This results in a sub-optimal UX because the user has to make adjustments in two places when scaling the Fleet Server instance. They have to edit the memory size i

[2021-03-30 11:25] mostlyjason commented on #185
@ph I filed this one to confirm that it works as a live setting, and I left the original as a meta issue / epic

[2021-03-30 19:06] mostlyjason commented on #134
I spoke with @scunningham and he's going to do some scale testing on cloud to get initial numbers. One concern is that APM is a GA release and users may not anticipate that they need to scale their instance just because Fleet server is included, even if they are not using it. Ideally, a default slider with 512 MB could handle a full load for APM traffic and a small load for Fleet Server. During th

[2021-03-31 01:41] aleksmaus opened #193 "Implement support for API Key metadata"
ES reference: elastic/elasticsearch#48182

[2021-03-31 11:37] ruflin commented on #101
Closing as https://github.com/elastic/fleet-server/pull/187 was merged.

[2021-03-31 20:11] paul-tavares opened #196 "Policy change acknowloedgement does not set the correct value for `packages` which causes kibana filtering to fail if trying to query against this field"
#### Background
In Kibana, when agents are enrolled and running Endpoint, the following KQL filter in the Agents list view is no longer displaying only the agents that are running endpoint integration:

[code]

![agents-filter-issue-fleet](https://user-images.githubusercontent.com/56442535/113204952-af7f1880-923b-11eb-87d7-d1d1f2ac4da4.gif)

[2021-03-31 20:11] paul-tavares commented on #196
@nchaulet can fill in more details if needed. He mentioned a change that was done in Kibana that perhaps has not yet been done in Agent.

[2021-03-31 20:14] nchaulet commented on #196
To give a little more context, previously when we were acknowledging a `POLICY_CHANGE` in kibana we were populating the field `packages` of the agent with the packages contained in the policy

[2021-04-01 12:28] blakerouse commented on #196
@nchaulet How would fleet-server know that packages that agent is running? Idk if that information is available at the fleet-server level? Seems that maybe that should just be set by Kibana, why would fleet-server need to set that information?

[2021-04-01 15:08] #193 closed

[2021-04-05 14:54] mostlyjason commented on #196
There has been some discussion about whether this should be implemented in Kibana or Elastic Agent. It seems like a useful feature to have in Kibana because it could work for any package. We've also discussed  UI designs for integration-specific views that would provide a list of agents. https://github.com/elastic/obs-dc-team/issues/380

@nchaulet @paul-tavares what is the use case for implementin

[2021-04-05 17:33] #108 closed

[2021-04-05 19:00] paul-tavares commented on #196
I'll defer to @nchaulet on that, but thinking a little more about this today, I can see why the suggestion is being made to have the Agent or fleet-server populate this information now that we have agent management out of Kibana.

Kibana no longer have the ability to detect when an agent has ack'd a change to the policy _(that is done via fleet-server now)_, so it becomes tricky as to when we upda

[2021-04-06 08:51] simitt commented on #134
I am setting up an ECE instance allowing us to run some tests with APM and Elastic Agent/Fleet Server enabled.

[2021-04-06 11:18] ruflin commented on #196
Moving forward, a package will be able to contain multiple integrations and an integration can contain multiple inputs. The Elastic Agent itself only knows about input. In the Endpoint case, package, integration, input are all the same but this is not the usual case.

Taking the above, I think what we are normally interested in is what input is actually running on an Agent and its state. Even if a

[2021-04-06 18:54] kevinlog commented on #196
Is this minimum piece doable before `7.13` @paul-tavares @ruflin @nchaulet

[2021-04-06 19:19] nchaulet commented on #196
@michalpristas  @blakerouse do you think it's doable to have the agent report the integrations/packages in the local_metadata for 7.13.0?

[2021-04-07 09:07] ruflin opened #206 "Use ECS logging library for fleet-server"
fleet-server should log by default in ecs format. Ideally it uses the ecs logging library: https://github.com/elastic/beats/pull/17974 This important to make sure if all the logs are shipped into a single index for the Elastic Agent and its processes, there are no conflicts.

Related ECS logging for Elastic Agent: https://github.com/elastic/beats/issues/23871

[2021-04-07 09:08] ruflin commented on #206
Short term it should be verified that fleet-server logs do not conflict with ECS.

[2021-04-07 12:14] ph commented on #185
@scunningham or @aleksmaus can confirm, you have added a limit on the number of connections that the fleet server can accept, if we expose that value in the fleet-server integration and the value changes, how fleet server will behave? Does it use the new limit and what happens to the connected clients it we are over limit?

[2021-04-07 12:59] blakerouse commented on #196
When speaking about this the other day I was of the idea that Elastic Agent should not provide this information, but @ruflin mentions a good point. With capabilities and coordinations it would be really hard for Kibana to know which packages an Elastic Agent is actually running.

Adding this to `local_metadata` would be the best idea. It will need to have this change also in Fleet Server to add th

[2021-04-07 13:36] scunningham commented on #185
In the current implementation, the max_connections is a hard limit on the number of connections that the server will accept.  If the user reconfigures the server, the previous connections will be dropped, and subsequent connections will obey the new limit.

However, I am also adding more fine grained controls on each of the API's which limits the rate at which we can service each api, and how many

[2021-04-07 14:56] ph commented on #185
@scunningham I was not able to find an issue for the behavior you are describing, when you are considering landing theses options? Because this would require change in the fleet-server integration and possibly in the way we setup the integration?

@mostlyjason With the above comment from Sean and the work that @nchaulet did I think the first requirement is done.

Looking at the second one which is

[2021-04-07 15:01] scunningham commented on #185
Working on the PR.  This working is being done to help limit RAM bursts in the tiny amount of memory we have available in the 512mb container along side agent, beats, and apm server.

I don't think it changes the setup much.  Just more configuration options;  this one limit just happens to be in a different place in the configuration than the previous.

[2021-04-07 15:27] mostlyjason commented on #185
@scunningham Its not ideal to drop thousands of connections, but I assume there is not a straightforward to drop only the connections over the new limit?

I think i misunderstood the definition for max connections. I think we need a way to limit the max number of agents that are allowed to enroll so the agents can be load balanced to a fleet server with available capacity. This allows fleet server

[2021-04-07 17:36] mostlyjason commented on #185
I had a chat with @scunningham on Slack and clarified that I meant to describe a limit on the number of persistent connections from agents checking in to an instance of Fleet server, not the number of enrollments. He also described his idea for multiple rate limits, where we could have separate limits for check ins and artifacts. I'll let him describe his proposal when he's ready.

[2021-04-08 06:36] ruflin commented on #196
I'm a bit concerned that for additional metadata we need to modify the fleet-server. Is this because of a strict mapping? Could we allow some metadata to be free form / all keywords? If we move forward here, it is important that we find a better solution down the road.

[2021-04-08 09:30] #206 closed

[2021-04-08 11:46] kevinlog commented on #196
@ruflin

What's important for us is that we'll be able to use the `AgentService` to pull only Agents with an Endpoint integration/Endpoint installed, etc.  Just want to make sure we could figure that out with whichever solution we go with.  We can update the way we construct our queries in any way.

cc\ @paul-tavares @nchaulet

[2021-04-08 13:37] nchaulet opened #212 "[Fleet] checkin fail if the `.fleet-actions` indice do not exists"
## Description

Related to the move to ES system indices, the agent checkin fail if the `.fleet-actions` indice do not exists

[code]

[2021-04-08 14:03] blakerouse commented on #212
This was already fixed in https://github.com/elastic/fleet-server/pull/205.

Be sure you are running from latest master, the SNAPSHOT build is probably out of date.

[2021-04-08 14:03] #212 closed

[2021-04-09 07:41] simitt commented on #185
Load balancing was mentioned a couple of times here; what happens if multiple fleet-server instances are running? Are they sharing the same limit and therefore would be some simple load balancing be sufficient?

[2021-04-09 18:35] scunningham commented on #153
I have added additional controls to the server to allow both rate limiting per API call, and a cap on the number of parallel executions of that API.   This finer grained control allows us to tweak consumption rates on each API based on both memory and CPU impact to the system.  We can tune down rate of processing to lower the bursts.  Basically we trade performance for memory.

The control on the

[2021-04-12 12:49] simitt opened #217 "Seeing 401 errors in fleet-server logs"
**Version**: master/7.13 snapshots

**Issue**
Starting an Elastic Agent docker container with Fleet-Server setup enabled, results in `401` errors in the Fleet Server.

**Steps to reproduce**:
 1. Set up an ES and Kibana instance based off `7.13-SNAPSHOT`.
 2. Set up an Elastic Agent container with Fleet Server setup enabled, that cannot be reached from Kibana and Elasticsearch.
[code]
where the `<

[2021-04-12 17:29] simitt opened #220 "CPU usage up to 100% without traffic"
A docker setup with Elastic Agent w. Fleet Server was running for some time without any traffic or additional agents. After some time, when uninstalling the Elastic Agent with the Fleet Server, the CPU usage for the `cgroup` containing the Fleet Server went up to `100%` and `fleet-server.logs` showed following:
[code]

What is shown as `APM Server Usage` is actually the `cgroup` container usage (s

[2021-04-12 18:38] ph commented on #220
@aleksmaus or @blakerouse any idea here? is that something to worry about?

[2021-04-12 18:46] simitt commented on #217
So far the issue can only be reproduced on an AWS instance (set up using the Ubuntu AMI described in the [ece-configuration](https://www.elastic.co/guide/en/cloud-enterprise/current/ece-configure-ami.html)).

After debugging this with @blakerouse it turned out that the setting `fleet_server.insecure_http: true` caused the issues. When setting to `false` everything works as expected. Issues were se

[2021-04-12 20:10] blakerouse opened #223 "POLICY_CHANGE action is not setting the api_key for the output"
A recent change to improve the memory usage of Fleet Server caused an issue of not returning the created default `api_key` for the Elastic Agent output.

This caused the Elastic Agent to be able to communicate with Fleet Server, making it look like it is working correctly but no `api_key` was provided in the outputs. With beats still not reporting status of their output, it is still reported as HE

[2021-04-12 20:21] #223 closed

[2021-04-13 13:52] simitt commented on #220
From a cloud/apm perspective this is pretty much worse case scenario, as the fleet-server would consume all available CPU.

[2021-04-13 17:30] ruflin commented on #220
Pinging @scunningham as he might be able to help. Agree, this is a worst case scenario for APM on Cloud.

[2021-04-13 18:03] scunningham commented on #220
Looks like a bug.  @simitt can. you reproduce?

[2021-04-13 18:09] mostlyjason commented on #185
@simitt I think if multiple instances were running they could have the same or different limits, and even a simple algorithm like round robin would distribute load to available servers. Is that what you had in mind?

[2021-04-13 18:14] aleksmaus commented on #220
possible tight loop on shutdown: https://github.com/elastic/fleet-server/blob/b70022150cf4d9c22b2caacff41c7ffdd4256ab2/internal/pkg/coordinator/monitor.go#L370
can take a look now

[2021-04-13 18:24] scunningham commented on #185
The cloud proxy is expected to load balance in the way @simitt describes.  Just as well, a customer could stand up a load balance in front of N fleet servers to achieve a similar effect.

[2021-04-13 18:56] scunningham commented on #217
@simitt ok to close this?

[2021-04-13 19:25] aleksmaus commented on #220
it's possible there could be a couple of issues
1. the tight loop that caused the logging and 100% spike
2. fleet server not exiting for some other reason
The PR takes care of the loop.
@simitt what is the best way to retest it in your setup?

[2021-04-13 19:26] #220 closed

[2021-04-13 20:19] simitt commented on #217
No, the issue still exists when `fleet_server.insecure_http: true`; figuring out that the setting was the root cause did unblock e though.

[2021-04-13 20:45] blakerouse commented on #217
With `fleet_sever.insecure_http: true` I am unable to reproduce this. I have not been able to determine what makes @simitt setup different than mine and causing it to fail.

[2021-04-14 05:21] simitt commented on #220
I started the elastic-agent container with:
[code]
setting Kibana and ES endpoints and credentials accordingly and using the `config/fleet-setup.yml`:
[code]

[2021-04-14 12:34] amolnater-qasource opened #234 "Should prevent install on x86 systems and/or show helpful error message from Fleet Server usage if attempted"
**Kibana version:** 8.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows 7 x32, All

**Build Details:**
[code]

**Preconditions:**
1. 8.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Run Fleet server install command on windows powershell.
3. Observe repetitive Fleet-Server Starting, Restarting errors.

[2021-04-14 12:34] amolnater-qasource opened #235 "[Windows and Linux ARM64]: Unable to install agent with Fleet Server URL."
**Kibana version:** 8.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows and Ubuntu ARM64, All

**Build Details:**
[code]

**Preconditions:**
1. 8.0 Snapshot Kibana cloud environment should be available.
2. Fleet Server should be setup for Windows and Linux endpoints.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Run install command for Agent installation:

[2021-04-14 12:35] amolnater-qasource opened #236 "[Linux .deb and .rpm]: No System integration Data displayed under Data Streams tab for agent enrolled with Fleet Server URL"
**Kibana version:** 8.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Centos 7.5 and Debian 9, All

**Build Details:**
[code]

**Preconditions:**
1. 8.0 Snapshot Kibana cloud environment should be available.
2. Fleet server must be setup for Centos and Debian.
3. Enroll .rpm and .deb agents with default policy having System and Endpoint Security integrations using respective

[2021-04-14 12:52] karanbirsingh-qasource commented on #235
Reviewed and assigned to @EricDavisX

[2021-04-14 12:52] karanbirsingh-qasource commented on #234
Reviewed and assigned to @EricDavisX

[2021-04-14 12:52] karanbirsingh-qasource commented on #236
Reviewed and assigned to @EricDavisX

[2021-04-14 13:10] mostlyjason commented on #185
@nchaulet @ph I think we still need to update the package definition to allow the user to set the new limits that Sean added?

[2021-04-14 17:13] ruflin opened #238 "Validate fleet-server compatibility in Elastic Agent"
Currently Elastic Agent talks to Kibana and verifies the version. In the future this will fleet-server. For Elastic Agent there are 2 compatibility parts:

* Standalone: Compatibility with Elasticsearch
* Managed: Compatibility with fleet-server

As the compatibility with Elasticsearch in the managed mode is enforced by fleet-server (https://github.com/elastic/fleet-server/issues/167) this should

[2021-04-14 19:31] scunningham commented on #185
I added a sample configuration file with all the tweaks necessary to run Fleet Server in a memory constrained environment.  The change is in PR: https://github.com/elastic/fleet-server/pull/240

For larger installations we will need tweaks to make it run more efficiently.  If we change only the number of endpoints allowed to long poll for say a 10k installation, it will work but performance will b

[2021-04-15 17:45] jen-huang opened #244 "Fleet server agent stuck in Updating after triggering unenrollment"
- Version: 8.0 snapshot
- Operating System: MacOS
- Steps to Reproduce:

1. Enroll FS agent using instructions in https://github.com/elastic/kibana/pull/97206
2. Trigger unenrollment for FS agent in UI
3. After a while, observe that the agent is stuck in `Updating` status

![image](https://user-images.githubusercontent.com/1965714/114914776-9a77bd00-9dd7-11eb-809e-bcd69cce401c.png)

[2021-04-15 17:47] ph commented on #244
Thanks @jen-huang

@nchaulet Where do you think it the most plausible place of this bug, is this something in Kibana or fleet-server/

[2021-04-15 18:09] ruflin commented on #244
@jen-huang In the above scenario, do you remove the only fleet-server? If yes, it kind of means this Elastic Agent now has nothing left to communicate to Fleet.

[2021-04-15 18:16] jen-huang commented on #244
@ruflin Yes in this case I triggered unenrollment on only the FS agent. I would expect that the FS agent cleans up its Kibana information like status before all communication is stopped. @blakerouse said this was validated to work a few weeks ago so might be a new regression.

[2021-04-15 18:44] simitt commented on #244
I've been running into the same problem with multiple elastic-agents enrolled into the same fleet-server.

[2021-04-15 18:50] EricDavisX opened #245 "Fleet Server is not installing (starting) correctly, stuck in crash loop (confirmed on LInux and macOS)"
Testing on latest 8.0 versions of Cloud + Agent on: Centos7

https://artifacts-api.elastic.co/v1/versions/8.0-SNAPSHOT/builds/8.0.0-12de385c

[root@mainqa-atlcolo-10-0-7-165 elastic-agent-8.0.0-SNAPSHOT-linux-x86_64]# elastic-agent version
Binary: 8.0.0-SNAPSHOT (build: fb1eb8d812002c28dd0478eb636b792d8b1abea2 at 2021-04-15 09:08:32 +0000 UTC)
Daemon: 8.0.0-SNAPSHOT (build: fb1eb8d812002c28dd0478e

[2021-04-15 19:08] mostlyjason commented on #184
This issue is a duplicate of https://github.com/elastic/observability-docs/issues/449 so I merged the items from this list into the other one

[2021-04-15 19:08] #184 closed

[2021-04-16 10:19] simitt opened #246 ".fleet-actions index not found"
Running with the latest 7.13.0-SNAPSHOT (20201/04/16) the fleet-server logs an error that the `.fleet-actions` index cannot be found.
[code]

## How to reproduce
Start agent with docker container command, for example (change ES and Kibana configs accordingly)
[code]

[2021-04-16 11:42] ruflin commented on #246
My initial thought was that maybe a backport on the Elasticsearch side is missing as this index should be created by Elasticsearch. But it is here: https://github.com/elastic/elasticsearch/blob/7.x/x-pack/plugin/core/src/main/resources/fleet-actions.json

[2021-04-19 08:39] ruflin commented on #135
Here is the related PR for data streams: https://github.com/elastic/elasticsearch/pull/71667

[2021-04-19 11:42] aleksmaus commented on #246
Do you want to change this to debug level log?

[2021-04-19 11:43] aleksmaus commented on #246
It is WAD. The index is not created until the first action document is indexed. And so far the .fleet-actions are only used for osquerybeat as far as I know.

[2021-04-19 11:45] simitt commented on #246
ah ok, I believe logging as `debug` instaed of `info` would make more sense then.

[2021-04-19 11:48] aleksmaus commented on #246
sounds good. will update.

[2021-04-19 12:08] #246 closed

[2021-04-20 01:39] adam-stokes commented on #244
I can easily reproduce this as well, is there any specific logs I can grab that would help with this?

[2021-04-20 05:47] ruflin commented on #244
@aleksmaus or @blakerouse Could one of you take a look at this?

[2021-04-20 07:53] amolnater-qasource opened #251 "Fleet Server Agent goes offline on inactivity."
**Kibana version:** 7.13.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows 10 x64, All

**Build Details:**
[code]

**Preconditions:**
1. 7.13.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Add "Fleet Server host" url under "Fleet Settings".
3. Run fleet server installation command:
[code]

**Note:**
-

[2021-04-20 08:28] amolnater-qasource commented on #235
Hi @EricDavisX
We have observed few changes in Fleet Server setup command and are able to setup Fleet Server with updated command.

**Command used for Fleet Server:**
[code]
However, we are still not able to install secondary agent and getting same errors: `Remote Server not ready to accept connections`

Currently we are blocked for testing because of this issue. Please let us know if there are an

[2021-04-20 12:15] EricDavisX commented on #235
@amolnater-qasource hi.  I can cite that we need to keep the Fleet Server install and the subsequent Agent installs in sync in terms of security usage.  If you intend to use the --insecure option with the Agent install, then you must use the --fleet-server-insecure-http option when first installing the Fleet Server.
That may help

[2021-04-20 12:42] simitt opened #305 "[elastic-agent] zap key in logs"
@juliocamarero reported that some flogs from the `elastic-agent-json.log` contain the logs nested under a `zap` key. Logs should not be nested under that key.

[code]

[2021-04-20 12:50] manishgupta-qasource commented on #251
Reviewed & Assigned to @EricDavisX

[2021-04-20 13:28] adam-stokes commented on #245
Here is some additional logs:

[code]

[2021-04-20 13:32] amolnater-qasource opened #253 "Elastic-Agent setup errors regarding certs usage in Fleet Server"
We have attempted to Install Elastic-Agent setup with the following ways:

**Scenario 1:**
If we try to install fleet server with "--fleet-server-insecure-http"
CLI shows errors.

**Scenario 2:**
If we try to install fleet server without "--fleet-server-insecure-http"
Able to install Fleet server.

**Following this:**
Ideally, secondary agent should be installed without --insecure
but CLI shows th

[2021-04-20 13:32] amolnater-qasource commented on #253
@manishgupta-qasource Please review.

[2021-04-20 13:35] manishgupta-qasource commented on #253
Reviewed & Assigned to @EricDavisX

[2021-04-20 15:35] blakerouse commented on #245
I cannot confirm this on Mac OS X. With latest 8.0.0-SNAPSHOT installation on Mac OS X installation with Fleet Server works correctly.

I have it fully installed with just:

`sudo ./elastic-agent install -f --fleet-server-es=http://elastic:changeme@localhost:9200`

[2021-04-20 15:43] blakerouse commented on #245
I have also tested this connected to a cloud instance of 7.13.0-SNAPSHOT and that is also working.

[2021-04-20 15:48] mostlyjason commented on #245
I get this behavior on Ubuntu 16.04 with Elastic Agent snapshot build for 7.13 and edge-oblt

[code]

[2021-04-20 17:28] blakerouse commented on #245
I am also showing success on Linux with the `install` command (using version 7.13.0-SNAPSHOT), connecting to 7.13.0-SNAPSHOT cloud.

[2021-04-20 17:30] blakerouse commented on #245
@mostlyjason What is in the `logs/default/fleet-server.log*`?

[2021-04-20 17:38] blakerouse commented on #245
I am also having success on Linux (Ubuntu 20.04) with the DEB installation method running Fleet Server. Again this is all using `7.13.0-SNAPSHOT`.

[2021-04-20 17:39] blakerouse commented on #245
At the moment I cannot reproduce the errors, so please provide all the logs when you hit an issue.

[2021-04-20 18:04] EricDavisX commented on #245
we should probably be quite explicit with the commands used when it has been successful.  I wonder if we're just mis-using it?

[2021-04-20 19:14] adam-stokes commented on #245
[code]

[2021-04-20 19:24] adam-stokes commented on #245
Here are logs when we attempted to force the enrollment token:

`/elastic-agent/elastic-agent install --force --fleet-server-es http://elastic:changeme@elasticsearch:9200 --enrollment-token=MWlLNjhIZ0JRdDhBM0ViSDRUTnk6d0hCa0VLeERTOWF2dVNHOHJEMmdaZw==`

[code]

[2021-04-20 20:47] blakerouse commented on #245
@EricDavisX I ran the same command you stated in the description: `install` or `enroll` with the single `--fleet-server-es` flag.

[2021-04-20 20:54] adam-stokes commented on #245
Ok I believe I've resolved at least my issue:

We run multiple tests which require the use of the fleet server being bootstrapped. On the first test and first fleet server bootstrap both the default and default fleet server policies are created. The thing to note is here that the fleet-server integration is also added to the default fleet server policy.

In our case after each test run we would cl

[2021-04-21 04:56] amolnater-qasource opened #260 "No logs and no data under Data Streams tab for Fleet Server on Kibana UI."
**Kibana version:** 7.13.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows 10 x64 All

**Build Details:**
[code]

**Preconditions:**
1. 7.13.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana Cloud environment.
2. Navigate to Fleet>Agents tab and add Fleet server host URL: `https://1.2.3.4:8200` under Fleet Settings.
3.

[2021-04-21 04:57] amolnater-qasource commented on #260
@manishgupta-qasource Please review.

[2021-04-21 05:07] amolnater-qasource commented on #260
On revalidating found it not reproducible hence closing this out.

[2021-04-21 05:07] #260 closed

[2021-04-21 07:21] amolnater-qasource commented on #235
Hi @EricDavisX

As per feedback we have attempted to setup Fleet Server on 7.13.0 Self managed Kibana environment.
We are able to setup fleet server, however getting same `Remote Server not ready to accept connections` errors for secondary agent.

**Build details:**
[code]
**Screenshots:**
![Agent self managed](https://user-images.githubusercontent.com/77374876/115510415-54ba6900-a29d-11eb-9a9c-02

[2021-04-21 09:05] ruflin commented on #245
@adam-stokes Thanks for all the details. I'll remove the blocker label from this issue for now as it this is more a use case related to testing. We maybe should have a follow up discussion on how ideally the testing should look like.

[2021-04-21 09:22] ruflin commented on #135
@scunningham @jaymode Going to close this as I think all changes landed. Can you confirm?

[2021-04-21 09:22] #135 closed

[2021-04-21 09:23] ruflin commented on #91
I checked off e2e tests as some initial work for https://github.com/elastic/e2e-testing/issues/438 was merged. More is needed but tracked in https://github.com/elastic/e2e-testing/issues/438

[2021-04-21 09:24] ruflin commented on #91
Closing this issue as all related tasks have been completed. The testing is ongoing and will continue.

[2021-04-21 09:24] #91 closed

[2021-04-21 12:54] blakerouse commented on #235
You cannot install 2 Elastic Agents on the same machine. You will need to either install an Elastic Agent with a Fleet Server on that machine (then add integrations to the `Default Fleet Server policy`) or install an Elastic Agent without Fleet Server connecting to a remote Elastic Agent that is running the Fleet Server.

Seems that the installation of the first one works correctly. The second one

[2021-04-21 12:55] blakerouse commented on #245
Please let me know if we can completely close this? I have not been able to reproduce either of these issues on either Mac OS X or Linux using either `install` or `enroll`.

[2021-04-21 12:56] adam-stokes commented on #244
Here are the fleet logs from the failed unenrollment:

[code]

[2021-04-21 12:58] adam-stokes commented on #244
And elastic-agent logs for reference:

[code]

[2021-04-21 12:59] aleksmaus commented on #244
looks like you are running against the older version of ES

{"log.level":"error","index":".fleet-policies","ctx":"index monitor","error":"elastic fail 400:illegal_argument_exception:request [/.fleet-policies/_fleet/global_checkpoints] contains unrecognized parameter: [wait_for_index] -> did you mean [wait_for_advance]?","@timestamp":"2021-04-21T12:55:03.813Z","message":"failed on waiting for globa

[2021-04-21 13:00] aleksmaus commented on #244
the ```wait_for_index``` was pushed in yesterday. I checked that it works with the latest ES snapshot build.

[2021-04-21 13:00] adam-stokes commented on #244
Thanks let me repull, this was from the ES image from about 20 hours ago

[2021-04-21 13:02] aleksmaus commented on #244
yeah, that one was posted like 10 hours ago.

[2021-04-21 13:14] EricDavisX commented on #245
I'm thinking now that the differences we're seeing are because we're using a cloud based stack to test vs a self-managed stack - the built-in setup defaults are different.  Have you tried on a cloud-staging based stack @blakerouse ?  I will try a self-managed setup myself.

I will close this out after I've seen it work.

[2021-04-21 13:21] blakerouse commented on #245
I have tested both, cloud and self-managed. No issues or differences between them.

[2021-04-21 14:21] scunningham commented on #135
Landed.

[2021-04-21 14:58] adam-stokes commented on #244
In my particular case, we were calling unenroll via the api:

`/api/fleet/agents/agentid/unenroll` with `{"force": true}`

The parameters have since changed to:

`/api/fleet/agents/agentid/unenroll` with `{"revoke": true}`

Calling this api I was able to successfully unenroll the agent and verify that it goes into an inactive state

[2021-04-21 18:38] mostlyjason commented on #245
Here is what I found in my fleet-server-json.log. It looks like an error for the service account.

[code]

I'm using https://edge-oblt.elastic.dev/app/fleet#/fleet/agents and I just copied the command from the fleet server install instructions on the agent page (that Jen added yesterday). I'm using the latest snapshot of elastic agent https://snapshots.elastic.co/7.13.0-7a272954/downloads/beats/el

[2021-04-21 19:03] mostlyjason commented on #245
Another crash loop is described here, but it looks like a different reason https://github.com/elastic/observability-test-environments/issues/1043

[2021-04-21 19:06] blakerouse commented on #245
I feel like this issue is quickly becoming a catch all for all issues.

@mostlyjason The one about service token, seems that Fleet Server is giving you the correct error and its clearly a permissions issue. I would file that one with Kibana.

The second one seems like they are not even running with Fleet Server as Filebeat will not restart until after Fleet Server, so don't see how it related to F

[2021-04-21 19:36] mostlyjason commented on #245
Thanks @blakerouse I'll file a separate issue so you can close this one

[2021-04-21 20:43] EricDavisX commented on #245
I am not seeing the crash-loop that I was with the most recent 7.13 Agent and cloud-stack deploy:
Agent build hash:
7a272954

Agent version:
Binary: 7.13.0-SNAPSHOT (build: c52c43963ca8416dc92c7d3dbf6cb6e89dd00acf at 2021-04-21 06:47:00 +0000 UTC)

and the Kibana cloud hash is:
506291847da6aa959066f0ec7d5bc17aa092d709

so I am now closing it out.

[2021-04-21 20:43] #245 closed

[2021-04-21 21:57] EricDavisX commented on #236
hi - i used a deb Agent install against a working Fleet Server:

zeus@mainqa-atlcolo-10-0-6-185:~$ sudo elastic-agent enroll -f --url=https://1.0.0.1:8220 --enrollment-token=asdf1234asf1234== --insecure

![Screen Shot 2021-04-21 at 5 43 02 PM](https://user-images.githubusercontent.com/12970373/115625291-d7f1b400-a2c9-11eb-9eb9-e165b3464e33.png)

I then 'unenrolled it' from the Fleet UI and then ba

[2021-04-21 21:57] #236 closed

[2021-04-22 07:36] amolnater-qasource commented on #235
Hi @blakerouse
We have **reported this issue for Cloud environment**. However as per Eric's feedback we have attempted the same way on self-managed Kibana and shared our observations in this comment: https://github.com/elastic/fleet-server/issues/235#issuecomment-823839036

Further we have re-attempted this today on 7.13.0 Snapshot Kibana Cloud environment and still getting the same issue.
**Fleet

[2021-04-23 05:23] amolnater-qasource opened #264 "Pre-installed Fleet-Server agent under Agents tab on 7.13.0 BC-1 Kibana cloud environment."
**Kibana version:** 7.13.0 BC-1 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build Details:**
[code]

**Preconditions:**
1. 7.13.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab.
3. Observe pre installed Agent with "Elastic Agent on Cloud policy".

**Expected Result:**
No agent shou

[2021-04-23 05:24] amolnater-qasource commented on #264
@manishgupta-qasource Please review.

[2021-04-23 06:48] manishgupta-qasource commented on #264
Reviewed & Assigned to @EricDavisX

[2021-04-23 07:46] simitt commented on #264
If you had `APM & Fleet Server` enabled, then this is expected behavior on cloud. From `7.13` on ESS/ECE will always create a policy with an elastic-agent and a fleet-server running when `APM & Fleet Server` is enabled for the cluster.

[2021-04-23 08:20] amolnater-qasource commented on #264
Hi @simitt
Thank you for the feedback.

We have observed this agent already installed when we logged into kibana just after deployment from staging. We didn't enabled any `APM & Fleet server` settings manually.
It would be very helpful if you could share related PR, so that we can validate and update our test content accordingly.

Thanks
QAS

[2021-04-23 12:47] ruflin commented on #196
@kevinlog Based on some more recent discussions, I assume we don't need this at the moment and it can be closed?

[2021-04-23 12:47] #196 closed

[2021-04-23 14:22] blakerouse commented on #235
@amolnater-qasource The second agent is on a different host correct? Seems that it cannot communicate with the first host? Have you confirmed that there is not a network issue for them to communicate? Make the first one has its firewall enabled?

I have confirmed that installation of Elastic Agent w/ Fleet Server on Windows is working correctly. This at the moment seems to be a communication issue

[2021-04-23 14:45] kevinlog commented on #196
@ruflin yes, we can close

[2021-04-23 17:20] EricDavisX commented on #264
closing as this is working as designed, and is exemplifying the beginning of the new cloud based 'hosted agent' work-flow!

[2021-04-23 17:20] #264 closed

[2021-04-23 18:36] EricDavisX opened #271 "Changing log level in Kibana UI of Agent with Fleet Server causes problem"
Using the latest 8.0 artifacts as of April 23 I am seeing a Fleet Server come on line and show logging in the Kibana UI.  When I update the Agent from 'INFO' to 'DEBUG' log level it seems to stop ingesting logs in the UI - it is possible the timing is just coincidental.  Either way I can attach the logs I see on the host, that are not showing in Kibana.

Kibana is self-managed snapshot deploy comm

[2021-04-23 20:07] EricDavisX opened #272 "when I install Fleet server as http it works, but installing as https it does not finish the install"
this is using the latest 8.0 artifacts as of April 23

Kibana is self-managed snapshot deploy commit:
commit f094d9fdc23d0bc393c072b96e437cdefc12bc4f
Date: Thu Apr 22 12:50:35 2021 +0100

Agent artifacts are deployed to debian9 in GCP
elastic-agent version yields:
Binary: 8.0.0-SNAPSHOT (build: 43280e0f690bdacca03d313bd3121247833854ea at 2021-04-22 16:20:05 +0000 UTC)

using this on Debian9 I see:

[2021-04-23 20:17] jesse-sant commented on #272
This is very similar to an issue I am seeing in some automated tests for the Elastic Endpoint that I updated to use fleet server.  On some nodes it installs fine, while others just sit in this same `Starting`/`Restarting` loop that Eric reported.  All are using a single agent install as both fleet server and agent (managing beats) configured with `https://localhost:8220` as the fleet-server host a

[2021-04-23 20:27] EricDavisX commented on #272
when  I 'install -f' elastic agent into stand-alone mode and then do the 'enroll' call I can at least see the latest fleet-server log, it shows

'{"log.level":"info","@timestamp":"2021-04-23T20:24:59.174Z","message":"waiting for Elastic Agent to send initial configuration"}

more details below:
admin@security-linux-1:~/elastic-agent-8.0.0-SNAPSHOT-linux-x86_64$ sudo ./elastic-agent install -f
The

[2021-04-23 21:02] EricDavisX opened #273 "get 404 response from fleet-server api/fleet/status, when it appears to be running, even over localhost"
this is using the latest 8.0 artifacts as of April 23

Kibana is self-managed snapshot deploy commit:
commit f094d9fdc23d0bc393c072b96e437cdefc12bc4f
Date: Thu Apr 22 12:50:35 2021 +0100

Agent artifacts are deployed to debian9 in GCP
elastic-agent version yields:
Binary: 8.0.0-SNAPSHOT (build: 43280e0f690bdacca03d313bd3121247833854ea at 2021-04-22 16:20:05 +0000 UTC)

I have set up fleet server u

[2021-04-26 06:44] amolnater-qasource commented on #235
Hi @blakerouse
We have revalidated this on 7.13.0 BC-1 Kibana Cloud Environment and we are still facing this issue.

Yes

Internet on both the machines is working fine. Firewall is "ON" too.

**Steps followed:**
Fleet-Server agent install:
1. Under Fleet Settings we added the Fleet Server host url: https://1.2.3.4:8220.
2. Installed Fleet server agent with` .\elastic-agent install --fleet-server-e

[2021-04-26 08:05] ruflin commented on #271
I'l marked this as 7.13 as I'm pretty sure the exact same thing exists in 7.13

[2021-04-26 09:10] ruflin commented on #235
Is there an easy way to debug the connection? I filed https://github.com/elastic/beats/issues/25304 as a follow up idea.

[2021-04-26 10:07] amolnater-qasource commented on #251
Hi @EricDavisX
Today while testing on 7.13 BC-2 self managed Kibana, we have observed similar issue.
On inactivity Fleet Server agent goes to **offline** state.

**Build details:**
[code]

**Screenshot:**
![7](https://user-images.githubusercontent.com/77374876/116063138-3fc94580-a6a2-11eb-8755-ced993893082.JPG)

[2021-04-26 10:45] amolnater-qasource opened #274 "[Question]: Fleet Server agent shows error logs when assigned from Default Fleet Server policy to Default Policy on self-managed Kibana."
**Description:**
Question ticket: Need to confirm fleet agent behavior on assigning new policy in a self managed stack.

Here, on 7.13 BC2 self managed stack, while doing some exploratory, we attempted to update Fleet Server Agent enrolled with Default Fleet Server Policy to Default Policy. After changing agent policy, we observed below errors under Logs tab.

**Error logs:**
`
elastic_agent
[elas

[2021-04-26 10:46] amolnater-qasource commented on #274
@manishgupta-qasource Please review

[2021-04-26 11:17] manishgupta-qasource commented on #274
Reviewed & assigend to @EricDavisX

[2021-04-26 18:02] EricDavisX opened #277 "sync up the loggers used in Fleet server with the rest of Beats/Agent"
in debugging an issue PH and I noticed the timestamps were not the same between the Agent logs and Fleet Server logs, making it very hard to match timing of log messages.  He wanted me to log a ticket to track this.

[2021-04-26 20:37] EricDavisX commented on #235
I have not yet tested the exact syntax, but I confirmed a work-around of using the preferred service token enrollment, so the test team should be unblocked now that the BC2 is available and is available on cloud-prod, particularly. I sent an email and will follow up with Amol, and will try to test this scenario too, since I know the code is working in other usage.  I will report back.

[2021-04-26 20:54] jen-huang opened #278 "Self-hosted agent shouldn't be allowed to enroll into hosted agent policies"
From discussion in https://github.com/elastic/kibana/issues/98343.

In https://github.com/elastic/kibana/issues/76843 when we added support for hosted agent policies (aka agent policies that have `is_managed: true` attribute), one of the requirements was to block self-hosted agents from enrolling in hosted agent policies. This requirement was fulfilled in PR https://github.com/elastic/kibana/pull/

[2021-04-26 21:08] EricDavisX commented on #264
the UI is subject to change of course, but one more thing on this:

@dikshachauhan-qasource if you click the 'customize' button you see here:
<img width="268" alt="Screen Shot 2021-04-26 at 8 55 11 AM" src="https://user-images.githubusercontent.com/12970373/116085960-56a17500-a66d-11eb-92a3-6ddce2d9447a.png">

this screen shows with the 'APM & Fleet nodes' on by default in a given cloud deployment

[2021-04-26 21:35] EricDavisX commented on #235
I have now gotten to test the Windows case as was originally cited.  it looks working to me with the latest 7.13 BC 2 - @amolnater-qasource I can cite the specific items I think you will want in your setup and terminal usage:
 - use https for the Kibana Fleet Server url:  https://10.0.1.1:8220
 - then also use https for the fleet server install / enrollment (but no other 'insecure' flags for the F

[2021-04-27 01:55] EricDavisX commented on #274
to your Queries:

Could you please confirm expected behavior in above scenario as Default Fleet Server Policy is not managed in self managed stack?
Answer: If the policy is the 'Default Fleet Server policy' it can be changed, it is not intended to be locked like the policy on cloud.

As we can install only single agent on self managed kibana, so how can we validate other integration such as System

[2021-04-27 10:41] amolnater-qasource commented on #274
Hi @EricDavisX
Thanks for the feedback.
We are able to assign Fleet server agent to new policy. Further to remove the errors on reassigning policy, we found out that **Fleet Server integration must be added to the policy to which agent is assigned to**.

Can you please give us detailed steps to enroll multiple fleet servers and elastic agents on self-managed kibana?
As we are unable to install sec

[2021-04-27 10:53] amolnater-qasource commented on #235
Hi @EricDavisX
Thanks for the update. However we aren't getting any service token on 7.13 BC-2 Kibana **cloud** environment to install the new fleet server with service token command.
So as an workaround we attempted to install Fleet Server agent with following command:
`.\elastic-agent install --fleet-server-es=https://elastic:password@elasticsearch-url:443`

We were able to install Fleet Server

[2021-04-27 11:38] blakerouse commented on #251
@amolnater-qasource I reviewed the `logs.zip` file attached. It only contains the `elastic-agent.log*`. That only tells one side of the story. Could you also provide the `logs` directory that includes the logs for `fleet-server`?

[2021-04-27 11:55] amolnater-qasource commented on #251
Hi @blakerouse
Please find logs for `fleet-server` below:
[default.zip](https://github.com/elastic/fleet-server/files/6384267/default.zip)

Thanks
QAS

[2021-04-27 12:12] blakerouse commented on #273
Sorry the API for status should be `/api/status`, can you try that.

[2021-04-27 12:58] simitt commented on #264
This is an expected bug until https://github.com/elastic/kibana/issues/97673 is backported and integrated in the `7.13` snapshots, and the cloud setup is adapted accordingly to use the policy ID instead of the `is_default_fleet_server` flag.

[2021-04-27 13:06] dikshachauhan-qasource commented on #264
Thanks @simitt for the update.

[2021-04-27 14:14] nchaulet opened #284 "[Fleet] Re configuring fleet server from an agent policy do nothing"
##  Description

I tried to change the port of Fleet server from the edit integration UI and looks like it's not used by Fleet sever

<img width="901" alt="Screen Shot 2021-04-27 at 10 12 17 AM" src="https://user-images.githubusercontent.com/1336873/116256348-1ad7df80-a741-11eb-8560-cd9b189edf54.png">

After that the agent log says it got the policy but there is no fleet server running at `:8221`

[2021-04-27 14:17] mostlyjason commented on #274
This seems like kind of a weird edge case because I don't expect people to run a non-fleet server policy on a fleet agent often. Theoretically it could work, but I'm worried that agent will have too many permissions. I made a note to add a more clear error message here https://github.com/elastic/beats/issues/23753

[2021-04-27 14:34] blakerouse commented on #284
Seems like a duplicate of #172. I think this is the same issue, just a different field.

[2021-04-27 14:38] blakerouse opened #285 "Policy ID should not be validated to be a UUID"
At the moment the Fleet Server policy monitor and the policy change action validates that the policy ID is a UUID. It is not required that the ID be a UUID and this validation breaks a policy that doesn't have a UUID.

[2021-04-27 14:40] #284 closed

[2021-04-27 15:06] #285 closed

[2021-04-27 15:49] EricDavisX commented on #273
with the adjusted api, it returns successful / healthy.  I will close this out, thanks - I'm still debugging the overall goal of connecting 2 hosts with fleet server, this gets us one debug step closer though!

[2021-04-27 15:49] #273 closed

[2021-04-27 15:54] ph commented on #84
@nchaulet I see this issue closed and the linked PR was not merged, is this still a problem?

[2021-04-27 15:58] ph commented on #95
@urso @aleksmaus @ruflin I believe we can close this issue and move to cloud testing?

[2021-04-27 16:53] nchaulet commented on #84
I think I missed a reference to the PRs somewhere but here it is https://github.com/elastic/kibana/pull/94116  and https://github.com/elastic/beats/pull/24616

[2021-04-27 17:35] urso commented on #95
No objections from my side.

[2021-04-27 17:45] #95 closed

[2021-04-27 18:05] #235 closed

[2021-04-27 20:35] EricDavisX commented on #274
let's talk in our sync up @amolnater-qasource - here is a screenshot for ref on how to add multiple Fleet Servers to the system:
<img width="507" alt="Screen Shot 2021-04-27 at 4 35 12 PM" src="https://user-images.githubusercontent.com/12970373/116309334-a1f37a80-a776-11eb-9a7d-f444e8b47f6d.png">

[2021-04-28 11:46] scunningham commented on #277
Both timestamps are RFC3339.  The agent timestamp is using local timezone, the fleet server timestamp is in Zulu with microsecond precision.  They should align if you take timezone into account in parsing.  @EricDavisX  Can you provide an example of two things happening at the same  time but the stamps are minutes apart?

It would be preferable if the agent logged in zulu.

[2021-04-28 11:52] EricDavisX commented on #277
I don't have the example anymore and it was the best assessment PH and I had at the time that things were not sync'ed up.  Maybe we were reading the logs wrong, a bad inference (from a repeated log line or something - it is possible it is all ok except for the minor format and time zone.

[2021-04-28 13:05] dikshachauhan-qasource commented on #251
Hi @EricDavisX

This issue is still observable on 7.13 Kibana Staging cloud build. Agent keeps on switching it state itself between healthy and offline.

Build details:
BUILD 40647
COMMIT ac09c73a4a7998c770b50d39177c22036ae14375

Please let us know if any updates are available to make fixes around this behavior.

Thanks
QAS

[2021-04-28 14:46] EricDavisX commented on #235
@amolnater-qasource @dikshachauhan-qasource if you can reproduce this one part we should log it separately and we can confirm the repro steps, it sounds like a bug if we can still see it.

[2021-04-28 14:57] ph commented on #277
Relooking at this, Elastic Agent is the problem, let me transfer that to tbe beats repository.

[2021-04-28 15:08] ph commented on #271
I wonder it this is not due to the problem with having Agent going healthy / unhealthy.
Or fleet server doesn't support updating his log level?

@scunningham @aleksmaus Can you confirm?

[2021-04-28 15:10] mdelapenya opened #297 "gRPC error when running server on ARM"
The following error appears randomly when running tests in ARM workers:

We have seen this behaviour not in a consistent manner: we bootstrap the server in 4 different/parallel executions (in separate workers), and it seems to fail in a non deterministic way. We have seen failing for 1 of 4 in different executions:

- Bootstrap successful: https://beats-ci.elastic.co/blue/rest/organizations/jenkin

[2021-04-28 15:20] scunningham commented on #271
Fleet server does support log level change.  The configuration comes in from the agent.  Do we have some indication from the agent what configuration it is sending to the fleet server?

Not clear what's going on here.  Reproducible?

[2021-04-28 15:21] EricDavisX commented on #297
Pushing it to Michal, cause he may be available shorty, please reassign as needed.  I'll add it to the urgent 7.13 list.

[2021-04-28 15:40] ph commented on #271
@urso  Can you take a look at this one to bring clarify? I think th e main issue is either: 1. we doesn't send the configuration to fleet-server or we doesn't restart doesn't work on this process.

[2021-04-28 17:17] mdelapenya opened #299 "[CI] Fleet server binaries are not signed"
When triggering the e2e tests for Beats branches/PRs, where we consume the artifacts generated by the Beats CI, the elastic-agent is not able to find how to fetch the fleet-server binary.

This is the error log:

On the other hand, when fetching the "official" artifacts, generated by the unified release, then the binaries can be downloaded.

## Impact
All Beats builds triggering the e2e-tests (any

[2021-04-28 17:39] EricDavisX commented on #251
@blakerouse I know Ruflin had offered an env to reproduce this, I see Amol has attached more logs - anything you need from us?  Any update as you research?

[2021-04-28 19:34] jen-huang commented on #244
This was still reported to be a problem in 7.13 BC3: https://github.com/elastic/kibana/issues/98589

[2021-04-28 20:26] andrew-garfield101 commented on #272
I've run into the `start / restart fleet-server` issue on a fresh install of Ubuntu 20.04.2
I haven't been able to get `fleet-server` started on said VM using the `sudo ./elastic-agent install --fleet-server-es=<ES-URL> --fleet-server-policy=<policy-id> --fleet-server-service-token=<service-token>` method

[2021-04-28 20:56] jesse-sant commented on #272
I finally managed to reproduce this manually as well by creating 3 copied agent policies that include fleet server and then trying to install on a node pointing to each of the three copied policies.  I called install on the three nodes close to simultaneously, and 2 of them hit the fleet-server start/restart looping issue.  However, the other one shows this error:

[code]

I also then tried instal

[2021-04-28 21:33] jen-huang commented on #173
I merged the requirements here into the main meta issue for Fleet Server GA: #93. Closing.

[2021-04-28 21:33] #173 closed

[2021-04-29 04:08] dikshachauhan-qasource commented on #235
Hi @EricDavisX

Earlier, we were not using Fleet server integration on attempting on install secondary agent in agent policy, so we were not able to find service token. However, this issue is not reproducible now.

Thanks for confirmation around buggy areas.

[2021-04-29 10:02] dikshachauhan-qasource opened #303 "Able to Install agents more than the limit set in Fleet server integration."
**Kibana version:**
7.13 BC3 Kibana Cloud Production environment

**Host OS and Browser version:**
Linux, All

**Preconditions**
1.  Fresh newly created 7.13 BC3 Kibana Cloud Production environment should be available.
[code]
2.  **A new policy having fleet server integration with limit on TCp connections should be available on cloud.**

**Steps to reproduce:**
1. Login to Kibana cloud environment

[2021-04-29 10:03] dikshachauhan-qasource commented on #303
@manishgupta-qasource Please review

[2021-04-29 10:24] manishgupta-qasource commented on #303
Reviewed & assigned to @EricDavisX

[2021-04-29 11:57] ruflin opened #304 "Error message: failed on waiting for global checkpoints advance"
I'm currently running a setup on Cloud QA with 7.13.0-SNAPSHOT (builds from yesterday) and from time to time the following error shows up in the error logs:

[code]

The error does not happen constantly but still shows up from time to time (see below)

![Screenshot 2021-04-29 at 13 53 52](https://user-images.githubusercontent.com/244900/116546876-74334080-a8f2-11eb-8df2-76b2c0a5f2c3.png)

Here is

[2021-04-29 11:58] ruflin commented on #304
@aleksmaus You might be able to share more insights here.

[2021-04-29 12:19] aleksmaus commented on #304
@ruflin that log should have the error details (error from Elasticsearch), it's not on the screenshot.
Could you post the details?
The monitor logs the error from Elasticsearch and continues monitoring. Do we need to change the log level?

[2021-04-29 12:48] aleksmaus commented on #304
Looks like error from transport:
[code]

Current long poll request passes 5 minutes timeout by default to the request:
https://github.com/elastic/fleet-server/blob/master/internal/pkg/es/fleet_global_checkpoints.go#L91

https://github.com/elastic/fleet-server/blob/2716a45dd64e05fcc49763905fd1ea20168c466d/internal/pkg/monitor/monitor.go#L27

The long poll http transport timeout is 10 mins by defaul

[2021-04-29 13:05] scunningham commented on #303
To be clear, max connections does not prevent a customer from install more than N agents.  It prevents more than N agents from long polling at once on a specific fleet server.

This is assuming above manipulates the following.

https://github.com/elastic/fleet-server/blob/master/example/fleet-server-100.yml#L27

The total number of connections allowed on the interface at one time is specified here

[2021-04-29 13:06] ruflin commented on #304
It seems like this is the connection between fleet-server and ES. @aleksmaus can confirm.

If we retry, maybe only log it on the info level instead of error? Do we expect this to happen from time to time?

[2021-04-29 13:09] aleksmaus commented on #304
@ruflin we do not control when the server resets the connection on us. I can reduce the timeout from 5 min to 4min if there is a proxy in between that cuts it at 5 mins.
There might be other errors from ES that we probably still want to log at Error level, so leaning towards changing the timeout if it is set too close to the proxy default timeout.

[2021-04-29 13:09] scunningham commented on #304
Still routes through the proxy, no?

[2021-04-29 13:14] ruflin commented on #304
@scunningham I think the answer is yes.

[2021-04-29 16:18] EricDavisX commented on #303
I was guessing it was not distinct named connections, but rather concurrent connections currently polling, as Sean notes.  I submit we could use a unit-test to validate this as it is potentially arduous to validate it via live testing.   @scunningham @ph we can close this if we think it is working, and log a new ticket for the test work on FS side if you agree?

Before that though do we need to in

[2021-04-30 01:09] #304 closed

[2021-04-30 09:17] dikshachauhan-qasource commented on #303
Hi @EricDavisX

Thank you for the feedback.

Further, it could be better if anybody can confirm how to validate above functionality, if required to test at our end.

Thanks
QAS

[2021-04-30 13:12] dikshachauhan-qasource commented on #251
Hi @EricDavisX

Today while performing testing on cloud-qa environments, we observed above reported issue as reproducible.

- On inactivity for some time say an hour or above Fleet Server Agent goes offline and status remains as offline though datastream continues to add up.

We attempted to restart agent services, assigned a new policy and also restarted Kibana. However, any action performed coul

[2021-04-30 13:38] blakerouse commented on #251
I am able to reproduce it, I am currently still trying to figure out why.

[2021-04-30 19:47] ph commented on #52
@aleksmaus we can close this one, can you link the elasticsearch's PR?

[2021-04-30 19:47] #52 closed

[2021-04-30 20:05] aleksmaus commented on #52
There were two changes of the API on Elasticsearch side, here are the two corresponding PRs on Fleet Server side:
https://github.com/elastic/fleet-server/pull/200
https://github.com/elastic/fleet-server/pull/254

The "phase 1" is completed at this point, but there are "phase 2" and "phase 3" plans to evolve the Elasticsearch API in the next releases.

[2021-04-30 20:08] ph commented on #299
@michalpristas I think we have a special flag to skip that check right when building the artifacts?

[2021-05-03 13:22] bradenlpreston commented on #134
@scunningham - FYI.

[2021-05-03 15:12] blakerouse commented on #251
This is because of #23839 not being backported to 7.x or 7.13.

[2021-05-03 16:11] EricDavisX commented on #303
I don't know if it will be feasible to test manually. Let us presume the Engineering team has or will cover this with automation, you can validate via the UI that it can be modified and saved, but we can leave the efficacy of the setting to the team.  Please update test content.

@ph I'll assign you for follow up, if that is ok.

[2021-05-03 16:26] ph commented on #303
This look ok to me, to close, and with the load testing we are doing this should be raised if anything bad is happening.

[2021-05-03 16:26] #303 closed

[2021-05-03 17:48] ph commented on #253
Can you restest the above scenario, we think we have fixed that issue

[2021-05-03 17:48] EricDavisX commented on #253
@dikshachauhan-qasource please see above, and re-test

[2021-05-03 18:06] EricDavisX commented on #272
looks like https://github.com/elastic/fleet-server/issues/253 is a dupe - we are hoping to re-test and maybe it is fixed now.

[2021-05-03 18:07] blakerouse commented on #251
This is fixed, with the backport being merged.

https://github.com/elastic/beats/pull/25498

[2021-05-03 18:07] #251 closed

[2021-05-04 08:26] dikshachauhan-qasource commented on #303
Hi @ph thanks for the confirm on its coverage being help by load testing team.

Please let us know if anything related is required to verify at our end.

cc @EricDavisX

Thanks
QAS

[2021-05-04 10:46] dikshachauhan-qasource commented on #253
Hi @EricDavisX

We have validated above mentioned issue and found it not reproducible on 7.13 BC3 Cloud-qa build.

We are able to install fleet server and elastic agent without any errors. Screenshot is attached here for reference:

![image](https://user-images.githubusercontent.com/72375798/116992678-0ae96e00-acf4-11eb-834c-720e6aa90d28.png)

Please let us know if anything else is required to cov

[2021-05-04 13:53] blakerouse opened #323 "Fleet Server doesn't response with formatted error body"
Elastic Agent expects the Fleet Server to respond with a JSON response when an error occurs. This allows the Elastic Agent to output an understandable error to a user when enrolling or in other cases.

The Fleet Server should respond with the following matching struct:

[code]

[2021-05-04 18:35] EricDavisX commented on #253
let's close it out.  thanks Diksha

[2021-05-04 18:35] #253 closed

[2021-05-04 23:04] #323 closed

[2021-05-05 14:47] nchaulet opened #329 "[Fleet] Log level settings action is not handled"
## Description

#### In an agent not running Fleet server (error but logs)

When trying to set the log level using Fleet UI I see this error in the logs. but it seems in the logs send by the agent we are correctly setting the log level.

<img width="1408" alt="Screen Shot 2021-05-05 at 10 40 53 AM" src="https://user-images.githubusercontent.com/1336873/117159635-71bb6580-ad8e-11eb-98f9-e13b56a5875

[2021-05-05 15:24] EricDavisX commented on #272
closing as a dupe to https://github.com/elastic/fleet-server/issues/253

[2021-05-05 15:24] #272 closed

[2021-05-05 15:48] nchaulet commented on #329
Duplicate of https://github.com/elastic/beats/issues/25385  and https://github.com/elastic/beats/issues/25507

[2021-05-05 15:48] #329 closed

[2021-05-06 13:25] michalpristas commented on #297
this looks to me like a timing issue, trying to reproduce with very low success rate of hitting the issue.
maybe we're hitting some weird condition in between restarts where during initial check agent is running and during restart invocation  it's not.

i will add a retry with a backoff option to see if we can manage to get rid of the condition

[2021-05-11 14:27] EricDavisX commented on #299
In re-reviewing, I will scratch it from the 'urgent' release list... but it is urgent for the team as passing tests will inform our release decisions.  @mdelapenya can you sync off line briefly with @michalpristas or @urso to help resolve what we need for the build steps for the test related CI?

[2021-05-12 18:36] ph opened #344 "Testing the project board."
Trying out the behavior of the auto assigner.

[2021-05-13 07:58] kvch commented on #271
I have tested it with the latest 7.13 snapshot and it works as expected.

[2021-05-13 09:01] mdelapenya opened #345 "Go version is not properly set on CI"
Related to that, the scripts to populate the version are only used in one release goal.

I'd suggest using GVM instead of gimme, as the first tool is widely used across the OBLT teams. In fact our shared library uses it internally to set the Go environment at CI time.

[2021-05-13 12:27] blakerouse opened #347 "How to handle simultaneous mismatched Fleet Server"
### Overview

This is to just start a discuss on if Fleet Server should do anything in the case that there are multiple Fleet Servers and they are not the same version.

### What constitutes not a same version?

I think that is clear. Any major.minor difference is a version difference that matters. Patch version differences should not affect operation, but you still want to get every Fleet Server

[2021-05-13 13:04] ph commented on #274
The original description from the translate key is fixed  by @michalpristas, can you link PR.

[2021-05-13 13:04] #274 closed

[2021-05-13 13:14] ph commented on #54
This is all done in the current iteration of the Elastic Agent.

[2021-05-13 13:14] #54 closed

[2021-05-13 13:15] ph commented on #77
Done in https://github.com/elastic/e2e-testing/issues/438

[2021-05-13 13:48] ph commented on #86
@ruflin Assigning to your temporary, what is your take on this one?

[2021-05-13 20:34] #345 closed

[2021-05-14 03:03] #344 closed

[2021-05-14 03:03] ph opened #349 "Another test issue"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2021-05-14 10:34] kvch commented on #271
As @michalpristas pointed it out, logging is not enabled by default, so the behaviour is OK.

[2021-05-14 13:22] scunningham commented on #271
I've seen similar issue in cloud qa.

1) Create a security cluster, add 24 gb fleet/apm capacity.
2) Create a metrics cluster for observabitliy.
3) Redirect logs/metrics from the security cluster to the metrics cluster using the qa.cloud console.
4) Navigate to one of the 3 agents in kibana->fleet, switch the logging from info to debug an apply
5) Note that the agent goes offline, and we see error

[2021-05-14 13:26] #349 closed

[2021-05-14 13:38] ph commented on #271
@scunningham can you add the Agent policy in this issue?

[2021-05-14 13:50] scunningham commented on #271
It is in a weird state.  The other two agents are still healthy, but the one I targeted remains "offline".  The policy doesn't seem to have changed; nothing related to log change in the "Elastic Cloud agent policy".

<<
id: elastic-agent-on-cloud
revision: 2
outputs:
  default:
    type: elasticsearch
    hosts:
      - >-
        https://c0214f7c34f7460fa378c373baf8d74b.us-central1.gcp.qa.cld.els

[2021-05-14 14:19] ph commented on #271
@scunningham Hmm this looks strange, there is not output configuration in that agent policy, did you remove it ?

[2021-05-14 14:24] blakerouse commented on #271
@scunningham can you attach the `state.yml` from the Elastic Agent that is having that issue? does a restart of the Elastic Agent keep showing the same error?

[2021-05-14 14:25] scunningham commented on #271
Not sure how to get that.  It's in cloud; i don't have direct access.

[2021-05-14 19:24] EricDavisX commented on #271
[Archive.zip](https://github.com/elastic/fleet-server/files/6480800/Archive.zip)
here is a zip of the fleet.yml (and the old fleet.yml) from a host running Fleet Server that we believe is having the same problem (it was restarted and stopped sending logs to ES)

[2021-05-17 06:29] amolnater-qasource opened #356 "[Windows vSphere host specific]: Unable to successfully install secondary agent on Windows"
**Kibana version:** 7.13.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Windows 10 x64, All

**Build Details:**
[code]

**Preconditions:**
1. 7.13.0 Snapshot Kibana cloud environment should be available.
2. Windows 10 x64 Fleet Server must be installed on 7.13.0 snapshot.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Add Fleet Server host url under Fleet Settin

[2021-05-17 06:29] amolnater-qasource commented on #356
@manishgupta-qasource Please review.

[2021-05-17 07:55] ruflin commented on #347
Maybe we could specify the acceptable mismatch to be 1 minor version? As you described, there will be a mismatch during rolling upgrades.

An other issue here is that in case one fleet-server was updated but an other one not, the Elastic Agent connected to the newer server could upgrade. That case I think we should handle in Kibana and not allow Elastic Agents to upgrade to a newer version then th

[2021-05-17 08:26] ruflin commented on #86
This should also be solved in the context of Kibana creating the exact permissions for each integration.

[2021-05-17 12:38] amolnater-qasource opened #357 "Fleet Server goes to permanent offline state when fleet server agent is reboot after Kibana restart."
**Kibana version:** 7.13.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** Ubuntu 20, All

**Build Details:**
[code]

**Preconditions:**
1. 7.13.0 Snapshot Kibana cloud environment should be available.
2. Linux .tar Fleet Server must be installed on 7.13.0 snapshot.
3. Few agents must be installed using Linux fleet server.

**Steps to reproduce:**
1. Login to Kibana environment

[2021-05-17 12:38] amolnater-qasource commented on #357
@manishgupta-qasource Please review.

[2021-05-17 12:41] manishgupta-qasource commented on #356
Reviewed & Assigned to @EricDavisX

[2021-05-17 12:45] manishgupta-qasource commented on #357
Reviewed & Assigned to @EricDavisX

[2021-05-17 13:07] juliocamarero opened #358 "Fix logs compliance with ESC (errors and hash fields)"
In `7.13` the logs claim to be ECS compliant but these two fields are not following ECS:

[code]

The `error` according to ECE 1.8.0 should be an object, not a string ([docs](https://www.elastic.co/guide/en/ecs/1.8/ecs-error.html)). The field `hash` should also be an object ([docs](https://www.elastic.co/guide/en/ecs/1.8/ecs-hash.html)).

cc @scunningham

[2021-05-17 13:12] mtojek opened #359 "fleet-server doesn't boot up in time"
With latest PR https://github.com/elastic/integrations/pull/988 introduced by @ruflin we noticed a flakiness:

https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/315/

[code]

which means that the fleet-server didn't start in time. Is it too slow now?

More logs:
https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/master/315/artifact/

[2021-05-17 13:26] ph commented on #358
@juliocamarero Can you give us the complete document? I want to make sure we have the correct source.

[2021-05-17 13:38] ruflin commented on #359
I'm trying to understand if this is in any way related to the change I made in https://github.com/elastic/integrations/pull/988. It mainly (should) have fixed that the max connection setting is correctly accepted. But turns out it still doesn't work as expected. As the limit it 50+ this should not have an effect here. I wonder if this flakyness comes from another bugfix that has been merged recent

[2021-05-17 13:48] juliocamarero commented on #358
Sure @ph, here are the logs [logs.tar.gz](https://github.com/elastic/fleet-server/files/6494190/logs.tar.gz)

You can also see this other issue in those: https://github.com/elastic/fleet-server/issues/305

[2021-05-17 13:51] mtojek commented on #359
Did you introduce anything heavy last time? Something that can affect timing?

[2021-05-17 14:20] EricDavisX commented on #358
how do we check for log compliance at dev time / automated tests?  we may have tools i'm unaware of, would like to know more.

[2021-05-17 14:26] EricDavisX commented on #297
@mdelapenya do we think the above has corrected the problem we were seeing?

[2021-05-17 14:33] mdelapenya commented on #297
We are seeing another errors before this, related to the ARM worker itself, not the elastic-agent code. Let me continue debugging the original issue, and I'll close this one once fixed. We can set a low priority label if it helps.

[2021-05-17 14:40] ruflin commented on #359
I managed to reproduce this locally and what I see happening is that the fleet-server gets a new config from Fleet so it restarts the fleet-server. This is not really heavy but I think it is related to the timing. As it reloads it is at first healthy then again not healthy and healthy again afterwards. I wonder if this reloading happened before.

The config in Fleet seems to be fully aligned with

[2021-05-17 17:24] #172 closed

[2021-05-17 19:08] ph commented on #86
So as an integration author I would be responsible of allow dynamic mapping and the required increase in privileges, that your recommended approach?

So a user running endpoint adding a new integration that requires dynamic mapping would open the cluster to the vulnerability described by Sean. I am "OK" with that solution if 👍

- We ensure that the system integration doesn't use dynamic mapping, i

[2021-05-17 19:11] ruflin commented on #86
Users setting it in the packages is one part, the other part is to set it in the policy itself. If a policy does not allow dynamic mappings, no integrations that require it can be added.

++ on fixing it for system integration.

[2021-05-17 19:25] ph commented on #86
@jen-huang @masci I would like your input on this one, because from my understanding is Agent doesn't have to make any changes in the way it works, I think this land into integration for changes on the system integration and allowing user to define the permission on the integrations and also on fleet if we choose to bubble that information up.

[2021-05-17 21:37] EricDavisX commented on #358
Actually - I'm reviewing and we have a fix backported to 7.13... it will be in the build by tonight, so testable as a snapshot in cloud-staging or on cloud-qa (I think?) tomorrow, 5/18 - let's close it out to reduce the blocker's list for clarity's sake

[2021-05-17 21:37] #358 closed

[2021-05-18 01:00] EricDavisX commented on #357
@ph @ruflin @michalpristas @blakerouse any thoughts?  Is this a blocker? It feels like it would prevent successful usage of the Beta.  I don't know if it is actually the same as other reboot host tests we've seen.  thinking of this:  https://github.com/elastic/obs-dc-team/issues/528

[2021-05-18 01:27] EricDavisX commented on #356
Can you give stats for the Windows 10 host you are using for Fleet Server?  Memory + CPU and if it is a VM what are the stats of the host?  Is it in the Endgame vSphere cluster? I'd like to have the vm name and I'll check it out off line.  I have seen Windows working but will put it to my list to do an explicit test asap.

[2021-05-18 07:55] mtojek commented on #359
Docker engine considers the container as healthy if only the health check is correct. Once it's considered "healthy", the engine proceeds to the next container to boot it up. In this case the engine didn't proceed, which means that every check had to hit the unhealthy state.

This is basic stack boot up procedure with all default policy.

No, that's why I opened this issue: https://github.com/elas

[2021-05-18 11:20] kvch commented on #271
It is no longer an issue.

[2021-05-18 11:20] #271 closed

[2021-05-18 11:30] ruflin commented on #271
@kvch Can you please provide some more details on where and how it was fixed and how to test it?

[2021-05-18 11:40] kvch commented on #271
The root cause of the problem is the same as in https://github.com/elastic/beats/issues/25709. The input configuration was incorrect, the Fleet server has stopped sending its logs after the configuration change.

I had tested it on the latest snapshot on Friday.
First phase:
1. Enroll an Agent
2. Enable Fleet logging
Check: Fleet is sending its logs

Second phase:
1. Change log level from info to

[2021-05-18 11:46] ruflin commented on #271
I see https://github.com/elastic/beats/issues/25709 is still open. Does it mean this one should be closed too? What you mean by input configuration was incorrect? Which part and was it user error or something we fixed on the code side?

[2021-05-18 12:04] kvch commented on #271
I am sorry, I meant to reference the comment: https://github.com/elastic/beats/issues/25709#issuecomment-841346153
The problem was in Fleet server and was resolved by https://github.com/elastic/beats/pull/25664

When I tested the scenario above I had no problems, so I assume the PR indeed fixed the issue.

I do not know what is the state of #25709 exactly at the moment. I spent a few hours with @E

[2021-05-18 12:06] michalpristas commented on #271
to describe a problem:
the problem was that after restart we had output configuration broken and pointing to localhost even though it was on cloud. so after restart logs were sent to void.
after a fix, we dont overwrite output which keeps logs being sent to correct location

[2021-05-18 12:12] amolnater-qasource commented on #356
Hi @EricDavisX
Thanks for feedback, please find details of host VM below:
[code]

Yes, from endgame vSphere cluster. Further, we will share the VM details separately.

Thanks
QAS

[2021-05-18 14:11] EricDavisX commented on #356
I'm seeing in the logs (in the Kibana UI even) that the Fleet server is in a bad state - that is what we need to research first, I think:
[elastic_agent][error] 2021-05-18T08:07:43-04:00 - message: Application: fleet-server--7.13.0[63313270-f619-4662-a7f2-2f864002a384]: State changed to FAILED: Error - could not start the HTTP server for the API: failed to listen on the named pipe \\.\pipe\default

[2021-05-18 14:23] EricDavisX commented on #356
I'm also realizing this is intended as a proper test-signing (turned off) test vm, perhaps we have a signing problem.  I'll research this as well - could end up as a bug.

[2021-05-18 15:24] ruflin commented on #357
@ph @mostlyjason I wonder if for 7.13, we should just state that a local fleet-server is not supported. It adds a lot of variability and complexity.

There is a chance that this is related to the fix we did. We should test again when the next SNAPSHOT / BC are out. What would be nice is if we could reproduce these things also in a local no Cloud setup.

@amolnater-qasource I assume you updated the

[2021-05-18 15:35] EricDavisX commented on #356
I compared the testsigning status on my win 10 host and on Amols and it looks the same:
![Screen Shot 2021-05-18 at 11 06 14 AM](https://user-images.githubusercontent.com/12970373/118678749-45aad600-b7cb-11eb-834f-b62e8963ba17.png)

And I got the same error I was concerned about above, on my server that I stood up and was able to connect an Agent to this FS with a common command:
sudo ./elastic-ag

[2021-05-18 17:48] mostlyjason commented on #357
@ruflin I think local fleet-server needs to be supported because about 60% of beta users are in self-managed clusters. We also have a GA release coming up, and feedback from real users during the beta will be critical for us to achieve confidence in its reliability. I'd treat it as a bug to fix.

[2021-05-18 18:02] ruflin commented on #357
Not sure if we talk about the same thing. I'm talking about a local fleet-server with Elastic Cloud. Everything on prem must work.

[2021-05-18 18:10] EricDavisX opened #371 "Change Fleet Server over to use ECS logger to ensure logging format and ECS compliance"
From the below comment:
https://github.com/elastic/fleet-server/issues/358#issuecomment-842365481

we see that Fleet sever had a bug where 2 fields were not ECS compliant.  Instead of attempting to test / validate that the current logging is compliant, we can instead switch to the Elastic ECS logger.

This is a ticket for that switch-over work.

More info about ECS logging here: https://www.elasti

[2021-05-18 18:20] simitt commented on #371
For go we only support `zap` and `logrus` at the moment.

[2021-05-18 19:45] EricDavisX commented on #357
I expect this is still be a valid bug for full on-prem environment.  @amolnater-qasource BC7 is in progress available sometime during your work day we expect, can you set up a full on-prem environment and retest and report back please?

[2021-05-18 20:38] EricDavisX commented on #356
I found in the logs that my agent was trying to connect to Amol's problematic fleet server, so I deleted the FS address in Kibana and installed and it worked.  we are still debugging what is specific about this VM or usage, but we proved SOME win 10 hosts can work, even if not all of them will / can.

I'd like to pull in @blakerouse or @michalpristas to review the logs.zip Amol has attached to see

[2021-05-19 06:39] amolnater-qasource commented on #356
Hi @EricDavisX
Thanks for the feedback. We have tried the same on various Windows 10 x64 VMs we have, however we are getting same issues.
We can share the IPs for those VMs if required.

Thanks
QAS

[2021-05-19 06:51] amolnater-qasource commented on #357
Hi @ruflin
Thanks for the feedback.

Yes, after that we were able to install secondary agents with that Fleet Server. It was initially working fine:
- We tried rebooting Fleet Server agent several times, it was coming back "Healthy" and related secondary agents also gets back healthy.[As Expected]

- After restarting Kibana, no values were reset and it just looks same as it was before kibana resta

[2021-05-19 07:06] ruflin commented on #359
Lets properly fix the health check. Have you seen the flakyness recently again?

[2021-05-19 07:35] ruflin commented on #356
Can you check if you can reach the fleet-server status page from the Elastic Agent host machine through curl or similar? Maybe a firewall or something in between?

[2021-05-19 07:58] mtojek commented on #359
It happens to me from time to time while starting the stack locally, but so far it failed on the CI once.

[2021-05-19 08:21] amolnater-qasource commented on #357
Hi @EricDavisX
We have revalidated this issue on 7.13.0 BC-7 self-managed Kibana environment.

**Steps followed:**
- After successful setup we restarted elasticsearch and kibana.
- Then we restarted Fleet Server agent and it came back "Healthy".

Hence, this issue is not observed on self managed 7.13 Kibana.

Please let us know if we are missing anything.
Thanks

[2021-05-19 09:53] amolnater-qasource commented on #356
Hi @ruflin
Can you please share any specific commands required to get that?
As far as we have checked, Firewall status is "ON".

Thanks

[2021-05-19 11:11] amolnater-qasource opened #376 "[Self managed]: elastic_agent.metricbeat/filebeat datastreams generated on installing fleet-server agent."
**Kibana version:** 7.13.0 BC-7 Kibana self managed environment

**Host OS and Browser version:** Windows 10 x64, All

**Build Details:**
[code]

**Preconditions:**
1. 7.13.0 BC-7 self-managed Kibana environment should be available.
2. Windows 10 x64 Fleet Server agent must be installed using Default Fleet server policy having only Fleet Server integration.

**Steps to reproduce:**
1. Login to Kib

[2021-05-19 11:11] amolnater-qasource commented on #376
@dikshachauhan-qasource  Please review.

[2021-05-19 11:13] dikshachauhan-qasource commented on #376
Reviewed and assigned to @EricDavisX

[2021-05-19 11:23] blakerouse commented on #356
The following should do the trick or checking that it can communicate.

[code]

[2021-05-19 20:43] EricDavisX commented on #357
Knowing this now, it is less urgent - removing from urgent issues concerns list and removing 7.13 label

[2021-05-20 06:48] amolnater-qasource commented on #356
Hi @blakerouse
Thanks for sharing the command. Please find below screenshot for the same:
![1](https://user-images.githubusercontent.com/77374876/118930823-d9afa580-b963-11eb-96a3-609421724ec2.JPG)

cc: @ruflin
Thanks
QAS

[2021-05-20 08:34] amolnater-qasource commented on #356
Hi @EricDavisX
We have revalidated this issue on Fleet Server installed on various other Window OS's other than Windows 10 x64 and observed similar Kibana connectivity issue while installing secondary agents to those fleet servers.

Please find logs for all the fleet servers attached below:
**Windows 7 x64 (version:10305) Fleet Server Logs:**
[Win 7 logs.zip](https://github.com/elastic/fleet-serve

[2021-05-20 11:24] ruflin commented on #356
It seems like something is blocking the request. If you run the same command on the machine that fleet-server is running but with the local IP / localhost instead, do you get a response?

You mentioned Kibana above, did you mean fleet-server?

[2021-05-20 14:08] blakerouse commented on #356
@amolnater-qasource The first 2 in your latest screenshot shows that it can communicate. But because of self-signed certificates it fails (this is expected and okay). This means that those 2 can communicate.

The third one cannot communicate because it is missing the `:8220` port number.

Based on all the information here, it seems that the other host cannot communicate with that host over the pro

[2021-05-20 14:55] blakerouse opened #380 "Invalidation of API key's fails using service token"
At the moment the invalidation of API keys from the UNENROLL ACK fails only when using the service token for authentication with elasticsearch.

The `client.Security.InvalidateAPIKey` needs to send `owner: true` in the request body, or elasticsearch will response with a permission error.

This relates to https://github.com/elastic/beats/issues/25773 and https://github.com/elastic/elasticsearch/iss

[2021-05-20 15:04] EricDavisX commented on #356
Thanks all.  I've spoken with Charlie who helps maintain our test vm (templates) and their configuration and who knows whats set up.  We can confirmed that:

Currently [the configuration on these templates in use by the test team are setup such that] the firewall configuration allows ingress for ssh, rdp, wman and leia.  [Note,] there may be one or two other ingress openings depending on what is n

[2021-05-20 15:07] #380 closed

[2021-05-20 16:48] EricDavisX commented on #356
issue is crested for Sec Engg Prod team

[2021-05-20 16:59] EricDavisX commented on #356
And I put a small 'suggestion' in to an open PR that the Docs team had for the FS settings, to alleviate this need - it is a small start at least.  docs can always be bettered!
https://github.com/elastic/observability-docs/pull/673/files#r636286308

[2021-05-20 17:28] EricDavisX commented on #376
@ph @ruflin I'd like to understand this before putting to the backlog - I'd want to know a work-around too.  It actually sounds severe, doesn't it?  that is, if it is a real issue and not otherwise accounted for in other tickets.

The first step to confirm is, with more time (more than 6 minutes, per the screenshot) would the other datastreams not eventually send data?    I don't see what would be

[2021-05-20 17:30] EricDavisX commented on #376
ok, digging into more git /email updates, this seems to exactly relate - metricbeat is crashed on a restart.
https://github.com/elastic/beats/issues/25785

We can close as a dupe if everyone feels confident

[2021-05-24 05:22] amolnater-qasource commented on #356
Hi @EricDavisX
Thanks for the feedback, we are successfully able to install secondary agent with Windows Fleet Server after opening ports.

**Steps followed:**
1. Setup windows fleet-server on 7.13.0 Kibana cloud environment.
2. Navigate to Firewall Advanced settings.
3. Add inbound rules> Port number> Add port: 8220.
4. Save the rule.
5. Run install command for secondary agent.
6. Observe seconda

[2021-05-24 05:22] #356 closed

[2021-05-24 06:49] amolnater-qasource commented on #376
Hi @EricDavisX
We have revalidated this issue on 7.13.0 BC-9 self-managed Kibana Environment.

We observed it for more than 30 minutes and still no new data for few datasets was observed.
Please refer below screenshot:
![1](https://user-images.githubusercontent.com/77374876/119305313-3376df00-bc86-11eb-855b-4b7f160603b8.JPG)

**Logs:**
[logs.zip](https://github.com/elastic/fleet-server/files/65302

[2021-05-24 19:51] jen-huang opened #391 "Some field mapping in .fleet-agents index are unused"
In mappings for `.fleet-agents` index, it seems like not all fields we define are actually used when ES documents are written with agent information. For example the mappings define fields like `agent`, `packages`, `last_updated` (`updated_at` is used, however), `last_checkin_status`, but they don't appear on the ES documents.

Can we do an audit and get rid of unnecessary mappings?

Currently the

[2021-05-26 19:33] EricDavisX commented on #134
@mostlyjason do you mind if we extend this to providing scale guidance not just for cloud but also self-managed clusters?  or is that implied already? :)  I can spin a new ticket if you prefer.

[2021-05-26 19:36] EricDavisX commented on #376
Adding the 7.13.1 label to help prioritize it until such time as we are confident it is a duplicate and close it, or we otherwise fix / resolve it.

[2021-05-27 07:49] amolnater-qasource commented on #376
Hi @EricDavisX

Thanks for the feedback on slack @michalpristas
We have revalidated this issue and observed that on changing the logging level to "debug" we are getting data for all the expected datasets after agent reboot.

Hence closing this out.

Thanks
QAS

[2021-05-27 07:51] CyberSecDog opened #400 "Fleet Server will not run on 7.13.0"
I'm trying out Elastic Stack 7.13. and have trouble getting the fleet server to start.
This is a new clean server, and i have tried to run the fleet server on the same host as elastic and Kibana and standalone
[code]

What ever i do I cant get elastic agent to generate debug logs.

For confirmed bugs, please report:
- Version: 7.13.0
- Operating System: Ubuntu Server 20.04.2

[2021-05-27 10:39] Aqualie commented on #400
I've been spending the last few days trying to get this working as well with no success. I'm facing the same issue as well and running in DEBUG mode does not offer any additional insight into what is causing this behavior. Examining the logs on ES and Kibana doesn't shed any insight either.
[code]
Version: 7.13.0
OS: Kubernetes

[2021-05-27 10:55] michalpristas commented on #400
are there any logs in `/opt/Elastic/Agent/data/elastic-agent-{hash}/logs/default/fleet-server*`?

[2021-05-27 12:07] blakerouse commented on #400
I believe your Fleet Server is having communication issues with elasticsearch that is why it keeps failing. As requested by @michalpristas please provide the logs for fleet-server.

[2021-05-27 12:41] Aqualie commented on #400
Thanks that information is very useful. I was using a relative path to the certificates for the testing examining the fleet  JSON logs it was complaining that it could not find the ca file. After changing this to use an absolute path some progress has been made. I'm now facing a different issue relating to the agent id missing if I'm interpreting the logs correctly so I'll raise a separate issue f

[2021-05-27 13:08] Aqualie opened #401 "Fleet server shutsdown after successfully enrolling agent"
Trying to deploy the new Elastic Fleet Server in Kubernetes results in the agent shutting down after self-enrolling for no apparent reason. As well examining the running process shows the fleet-server is not properly terminating or crashing.

I've had to set the startup arguments for the pod to sleep infinity and enter the pod to execute the process manually within the container itself as it is pr

[2021-05-27 20:23] EricDavisX commented on #376
I will work with Amol to do a retest based on my understanding and we'll report back indeed if anything further can be confirmed as a bug.

[2021-05-27 20:25] EricDavisX commented on #400
I've submitted some Docs improvements for things that could have maybe helped here, future folks may benefit.
https://github.com/elastic/observability-docs/pull/734

I see that @Aqualie intended to open a new ticket, can we link that here for all to navigate to and follow along?

@CyberSecDog please do let us know what you find and how we can help further on your side.

[2021-05-27 20:29] Aqualie commented on #400
#401 was raised for the issue I'm having after fixing the certificate path problem.

[2021-05-27 20:47] mostlyjason commented on #153
@ph @ruflin Should this one be in the 7.14 list? This will impact supportability at scale, particularly in the cloud free tier. I think it needs technical definition though.

[2021-05-28 06:44] ruflin commented on #401
Hi @Aqualie . Any chance you the pod arguments you used? For the above standalone case, after the enroll command is completed, you need to call `elastic-agent run`. If you want to do it directly, use `install`. For the containers we use a special command `elastic-agent container` that does both in a single call and support environment variables. If you run `./elastic-agent container -h` you get th

[2021-05-28 07:38] amolnater-qasource commented on #376
Hi @EricDavisX
We have revalidated this issue on 7.13.0 self managed kibana environment with "info" logging level.
We have observed 15-20 minutes before and after reboot.

Please find below the observation table for the same.

DATASET | Type | Before Reboot | After Reboot
-- | -- | -- | --
elastic_agent.fleet_server | metrics | Generating Normally | Generating Normally
elastic_agent.elastic_agent

[2021-05-28 10:18] Aqualie commented on #401
Hi @ruflin, this help clarifies things quite a bit. I'll focus on troubleshooting using the default pod entrypoint then. This is the deployment yml that I'm using:

[code]

**configmap**
[code]

**secret**
[code]

**container runtime logs**
[code]

[2021-05-28 16:59] mostlyjason commented on #134
@EricDavisX I'm wondering if it would be useful for self-managed clusters given there so much diversity in hardware configurations. Have you seen other Elastic products offer this guidance for self-managed clusters?

[2021-05-28 17:49] EricDavisX commented on #134
@mostlyjason  I have not seen any, good to call that out.  The Fleet Server use case is new to Elastic, so prior products (with the exception of ES itself) may not have had the 100k + scale of concurrent connections.   I suppose it is from my prior experience with Elastic Endgame support where security customers seem to desire some minimum expectation (which helps the product team too, to identify

[2021-05-29 20:48] EricDavisX commented on #376
@michalpristas I am re-opening this for a re-review.  It looks to me that after a reboot, the Agent stops collecting dataset elastic_agent.metricbeat and elastic_agent.filebeat data.  Can we discuss / review please?

[2021-05-31 03:21] amemkdm commented on #401
I am having the exact same issue the only difference is that I not running on Kubernetes but in vm. The fleet agent works fine in standalone mode but I am not able to get the fleet server running. The logs also don't provide much information other than the fleet server crashed with exit code 1.

[2021-05-31 06:43] ruflin commented on #401
Any chance you could get into the container and pull out the fleet-server logs under `./data/elastic-agent-{hash}/logs/fleet-server*` These log files are not outputted to stdout.

[2021-05-31 06:59] amemkdm commented on #401
@ruflin yes I have a self signed certificate because its a test setup and I am using the fleet-es-ca flag to pass the ca certificate while enrolling

[2021-05-31 10:43] Aqualie commented on #401
I do not see anything under here:

[code]

[2021-06-01 06:43] ruflin commented on #401
Sorry, my bad. I pasted you the default path outside a container. Inside the container the logs are under `/usr/share/elastic-agent/data/logs`. There is a directory `default` that contains the fleet-server logs.

[2021-06-01 09:56] Aqualie commented on #401
I found the fleet-server logs under "/usr/share/elastic-agent/state/data/logs/default"
They only contain the last 8 hours which are just filled with the exact same line repeating:
[code]

[2021-06-01 17:15] mostlyjason commented on #134
@EricDavisX makes sense! Can you create a separate issue for that so we can schedule it independently? I'd focus on cloud first since we are responsible for giving guidance, and we probably don't want users running arbitrary scale tests.

[2021-06-01 19:21] EricDavisX opened #416 "Provide scaling guidance for Fleet server on Self-Managed clusters"
This is a follow on issue to https://github.com/elastic/fleet-server/issues/134 where we are documenting (foremost) the scaling guidance for cloud-based Fleet Server usage.  This issue is to translate any findings and incorporate them into docs at earliest opportunity.  We decided to split the issue off from 134 to avoid scope creep and keep that cloud focused.

[2021-06-02 11:43] urso opened #419 "Do not use v8 Go Elasticsearch client version"
Fleet server uses go-elasticsearch v8 as dependency. We are still in the 7.x cycle and should not use v8 in the 7.x branches.

For example the effort to detect a genuine Elasticsearch cluster might differ between 7.x and 8: https://github.com/elastic/elasticsearch-team-planning/issues/151

[2021-06-02 13:23] urso commented on #371
Beats/Agent use zap. I have no strong feelings regarding zap vs. zerolog, but given that we have better support for zap and use it in other code bases as well, I think we should standardize Fleet Server on zap as well and start using https://github.com/elastic/ecs-logging-go-zap.

@scunningham Any objections?

[2021-06-02 13:55] scunningham commented on #371
In my opinion, zerolog is a better logger implementation, both from an API and a [performance](http://hackemist.com/logbench/) perspective.  Our time is better spent fleshing out ECS support for zerolog rather than convert to zap.

I've already spent some time making the fleet-server logging ECS compliant. Much of the work has to do with changing the field names and has little to do with the logge

[2021-06-02 14:51] EricDavisX commented on #77
Actually, this is not resolved in 438, this needs a fairly deep conversation and design to allow PR CI support for the Fleet-Server repo.  As it is tonight, we only have support for nightly runs to include new Fleet Sever tests, and those could be 1-2 days behind the change so the feedback loop is way too long.  This ticket is opened explicitly for the ability to provide feedback during a PR to kn

[2021-06-02 16:05] simitt commented on #371
There is an open issue for adding a formatter to [`zerolog`](https://github.com/elastic/ecs-logging/issues/16) similar to what we did for `logrus` and `zap`. I don't think there are any immediate plans to work on that, but if anyone had the bandwith to contribute, that would be more than welcome.

[2021-06-02 20:43] scunningham commented on #391
last_checkin_status add with this PR: https://github.com/elastic/fleet-server/issues/391

[2021-06-03 12:41] #419 closed

[2021-06-03 14:52] EricDavisX opened #426 "I get a 400 error executing a kibana /_flush api call from dev console citing "reason" : "Data stream(s) [.fleet-actions-results] use and access is reserved for system operations""
I dont know the API well, but if users will run into this due to permissions problems I wanted to log it to help figure out what we need to change and how it cane be supported in 7.13 / 7.14 (and 8.0 internal usage) in the mean time.  I found this against our kibana.siem server, which is currently 8.0 based and has fairly recent code (the ES instance may actually be a little older than the current

[2021-06-03 15:54] EricDavisX commented on #426
Dan Pan suggested I can work-around this by passing the Kibana header in that relates to the above issue (enh?) I logged.
'X-elastic-product-origin: kibana'

So, I'm not thinking this is a Fleet Server bug anymore.  If nobody complains I suggest we close it out.

[2021-06-03 15:55] EricDavisX commented on #426
@ruflin fyi.

[2021-06-03 15:55] #426 closed

[2021-06-04 13:28] jfsiii commented on #391
I believe `last_checkin_status` was accidental omission. It is used in `AgentService.getAgentStatus`  which is used in the Agent list and detail views, as well as a few agent API endpoints.

I found the bug while working https://github.com/elastic/kibana/issues/76841 and `last_checkin_status` was restored in https://github.com/elastic/fleet-server/pull/420

[2021-06-04 21:06] urso commented on #371
fyi; https://github.com/elastic/ecs-logging-go-zerolog/pull/1

[2021-06-07 17:40] scunningham opened #432 "ApiKey authorization performance negatively impacts large numbers of agents"
During scale testing, the performance of ApiKey authorization has been identified as a bottleneck.  The api does not support bulk requests, so we must round trip each auth request to elastic.  Depending on whether or not the ApiKey is in the cache, the round trip varies from 2ms down to 600ms on the 1 node Elasticsearch cluster that was tested against.

The default size of the cache in an Elastics

[2021-06-07 17:59] #305 closed

[2021-06-08 13:31] ruflin commented on #432
I pinged the stack team internally to take care of opening up the config. Ideally from my perspective, this value would be dynamic based on the Cluster size for example but that is likely a harder problem to solve. Maybe worth a follow up discussion with the ES team as soon as the config is available?

[2021-06-08 14:42] urso commented on #401
@blakerouse Can you have a look?

[2021-06-08 14:51] blakerouse commented on #401
I believe you have you `FLEET_URL` wrong in your configmap. You set the `FLEET_SERVER_PORT` to `5603` and then use `:443` in the `FLEET_URL`. Unless your using a K8s service to create that mapping, which is not clear (as I didn't see it in the comment).

Based on the logs, the issue is that enrollment is failing, so then the Elastic Agent stops running.

[2021-06-08 14:54] Aqualie commented on #401
@blakerouse , that is correct. The local pod is exposing the port of 5603 which is mapped to a service & external load balancer so 5603 becomes 443.

The logs in my initial post do mention that the enrollment succeeded so I'm abit confused here:
[code]

[2021-06-08 15:00] blakerouse commented on #401
@Aqualie I are speaking of when you `exec` into the Pod and ran the `enroll` command? That one did succeed to enroll, but that will not fix the issue of the container starting up, which based on the logs is not working.

I have a feeling the issue is that the service proxy is not up and routing soon enough for what your trying to do. Can you try pointing the `FLEET_URL` to `5603` and see if that w

[2021-06-08 15:24] Aqualie commented on #401
Hi @blakerouse, yes you're correct my mistake. I've modified the URL to point to the pods internal hostname instead. The logs are below:
**terminal logs**
[code]

  **fleet-server-json.log**
[code]

[2021-06-08 15:25] scunningham commented on #432
Seems a bit odd.  The elastic cluster knows how many api keys are currently enabled.  It knows what rate it is getting cache misses.  I'd like to see it internally adapt at runtime.

[2021-06-08 15:29] blakerouse commented on #401
@Aqualie Yep that fixed it for you. The Elastic Agent is now running. Seems you have some permission issues for running Elastic Agent inside of Kubernetes. You can choose to ignore those or fix the permission issues if you want.

[2021-06-08 15:29] #401 closed

[2021-06-08 16:05] Aqualie commented on #401
@blakerouse
Uhh it's not fixed the fleet-server is still exiting... as you can see in the last log file I provided... trying to access the /api/status page just results in a connection timed out page. Looking at netstat in the pod there is only:
127.0.0.1:6789 - 0.0.0.0:0

[2021-06-08 16:47] Aqualie commented on #401
@urso
Can we re-open this the issue is not resolved, the fleet server is still shutting down after successfully enrolling..

[2021-06-09 11:55] urso opened #446 "Unenroll ephemeral Agents"
The Policy for Agents will include a optional TTL (name of the setting to be defined) value for ephemeral Agents. Each Agent enrolled to a policy that includes a TTL > 0, will be an ephemeral Agent.

Fleet Server is required to automatically unenroll an Agent that didn't check in within the TTL limit (the TTL must be >= the required checking duration).

So users can still inspect the current Agent

[2021-06-10 18:23] michel-laterman commented on #371
elastic/ecs-logging-go-zerolog has been released at v0.1.0, it's available as

[code]

[2021-06-11 10:06] Aqualie opened #453 "Fleet server shutsdown after successfully enrolling agent"
Re-creating issue as #401 is not resolved and close prematurely.

Trying to deploy the new Elastic Fleet Server in Kubernetes results in the fleet server shutting down after self-enrolling for no apparent reason and not able to register any agents, access the fleet API or access the fleet agents management console in Kibana as it's still showing "Waiting for a Fleet Server to connect..."

  **flee

[2021-06-14 14:42] blakerouse opened #456 "Add integration tests for permission output changes"
Adding integration tests for the permission output changes should be done to provide better coverage of that code path. At the moment it is partially tested, but not the whole flow.

The following flow is a good start at a test:

* Enroll a fake Agent into a policy
* Add new revision of the policy adjust the permissions
* Verify that when the fake Agent checks-in (and when its already connected) i

[2021-06-15 13:47] EricDavisX commented on #376
@amolnater-qasource can you re-test this please? we believe this and
https://github.com/elastic/beats/issues/25829 are dupes (or same root cause) and are both fixed now.  thank you

[2021-06-15 18:35] bradenlpreston commented on #95
@aleksmaus , @ruflin - is there a summary fo these test results. Something like
Fleet Server Config X = 10K agents
Fleet Server Config Y = 20K agents
Fleet Server Config Z = 50K agents

Also assume I should watch this issue for cloud updates? https://github.com/elastic/fleet-server/issues/134

[2021-06-16 07:13] ruflin commented on #95
@bradenlpreston We don't have such a summary yet. @aleksmaus @scunningham Do you think we are ready to provide a rough guidance on this?

[2021-06-16 08:11] amolnater-qasource commented on #376
Hi @EricDavisX
We have revalidated this issue on 7.14.0 self-managed Kibana and found same observations as shared in comment https://github.com/elastic/fleet-server/issues/376#issuecomment-850217774

**Build details:**
[code]

Please let us know if we are missing anything.

Thanks
QAS

[2021-06-16 13:14] blakerouse commented on #347
Fleet Server version does not dictate the upgrading of Elastic Agent's only Kibana does that. So even if one Fleet Server is newer that doesn't mean that the other Elastic Agent's can upgrade.

Kibana will have to add guards here I believe to ensure that no Elastic Agent's are upgraded until all the Fleet Server's are upgraded. Otherwise the case is that Elastic Agent could actually upgrade before

[2021-06-16 13:57] EricDavisX commented on #234
I think we have documented this at least minimally that it is not recommended - but we can leave it open as a note for users to find if / when they search.  If an x86 machine has enough memeory to run FS / stack and they wish to do so, I think it is ok to let them try / use it for whatever purpose they seek.  We need not 'fix' the access to this further.

x86 architectures with Fleet Server is con

[2021-06-16 14:22] ruflin opened #466 "Introduce "max agents" config options"
fleet-server provides quite a list of config options to be tweaked: https://github.com/elastic/fleet-server/blob/master/fleet-server.yml#L24 For most standard users I would assume this is overwhelming. One of the factors driving all these config options is max number of agents that should connect to a fleet-server. This is likely a number that users might know.

Can we provide good defaults for ce

[2021-06-16 20:06] EricDavisX commented on #376
As of today the 7.14 snapshot is 7 days old, I'm not sure it has the latest fixes in it we need.  I requested the re-testing with hopes that the build was new enough - that is my fault.  Ideally, we'll re-test when the 7.x build is confirmed as new.  Let's wait.

[2021-06-18 09:48] michalpristas commented on #297
@mdelapenya any progress since your last comment?

[2021-06-18 19:07] mostlyjason opened #469 "Error messages not showing due to inconsistent field name"
When I visit the agent details page to view fleet server logs, I see several errors listed without any message contents:
![image](https://user-images.githubusercontent.com/6370704/122606169-7db16d00-d046-11eb-9317-cff11c388b7d.png)

Inspecting the log files on the host shows that errors are using the `msg` field whereas informational logs are using `message`.
[code]

Can we change errors to use  `

[2021-06-21 15:14] mostlyjason opened #473 "Add proxy between Fleet Server and Elasticsearch"
Support the use case of a user running a self-hosted Fleet Server within a firewalled network that only has access to Elasticsearch through a proxy.  This should allow a user to set the proxy URL and credentials for a proxy between Fleet Server and Elasticsearch.

[2021-06-23 18:14] #446 closed

[2021-06-24 14:27] EricDavisX opened #486 "Set up Fleet-Server automation in support of routine scale performance assessments"
This ticket is in support of regular assessment for scale guidance:
https://github.com/elastic/fleet-server/issues/134
 wherein we are citing to provide guidance to the team / documentation about scaling Fleet Server on Cloud. A separate issue exists for self-managed scale guidance.

For this we'd ideally like to have confirmation and documentation on how to run and review the data as follows:

-

[2021-06-24 15:39] cyberpescadito commented on #453
kind of same behaviour here:

[code]

fleet-json.log:
[code]

not able get it working yet. Will closely follow this issue.

[2021-06-24 17:36] EricDavisX commented on #376
all of the builds are green - so we have new artifacts, please retest this and report back.  I am wondering if we still have some issue seen in this and https://github.com/elastic/beats/issues/26034

[2021-06-28 07:45] dikshachauhan-qasource opened #495 "Host not auto un-enrolled after provided time limit."
**Kibana version:** 7.14 Snapshot Kibana Cloud-qa environment

**Host OS and Browser version:** Linux, All

**Preconditions:**
1. 7.14 Snapshot Kibana Cloud-qa environment should be available.

**Build Details:**
[code]
2. APM and Fleet section should be there while creating deployments.
3. No agent should be deployed under test policy.

**Steps to reproduce:**
- Login to Kibana.
- Navigate to tes

[2021-06-28 11:00] amolnater-qasource commented on #376
Hi @EricDavisX
We have revalidated this issue on 7.14.0 self managed kibana environment with "info" logging level.
We have observed 15-20 minutes before and after reboot.

Observations are similar to the one's shared earlier at https://github.com/elastic/fleet-server/issues/376#issuecomment-850217774
**Observation table:**

<BODY TEXT="#000000">
<TABLE FRAME=VOID CELLSPACING=0 COLS=4 RULES=NONE BO

[2021-06-28 22:23] EricDavisX commented on #453
I'd like to have Agent team triage this asap, if there is instability it would benefit us all to clear it out all the sooner.

[2021-06-28 22:30] EricDavisX opened #497 "Support direct citation (not round-robin method) to select which Fleet Server an Agent will connect to"
This was discusseed in slack and I am logging this to capture the use case specifically.

It was reported that one Fleet Server would be in the team's local intranet and one would be on the a DMZ and so they would not both be reachable by all Agents deployed.  While it may work as is, there would certainly be needless error logs and error states while the Agents randomly connect to the 2 Fleet Ser

[2021-06-29 06:56] dikshachauhan-qasource commented on #495
Hi @EricDavisX

We have missed a step while validating above issue, so we revalidated it above and found it working fine.

- we stopped the elastic-agent service and after mentioned time has passed, agent moves to inactive state,
Hence closing this out.

Screenshot:
![image](https://user-images.githubusercontent.com/72375798/123750841-ad793400-d8d4-11eb-985b-eb48d1487f60.png)

We have updated our

[2021-06-29 06:56] #495 closed

[2021-06-29 16:30] scunningham commented on #453
I am seeing the same thing on cloud.staging today (6/29).

[2021-06-30 07:19] amolnater-qasource opened #503 "[Self-managed]: Unable to install Fleet Server agent on 7.14.0."
**Kibana version:** 7.14.0 Snapshot Kibana self-managed environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana self-managed environment should be available.
2. Test Signing should be ON.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Agents tab and copy install command for Fleet Server.
3. Run ins

[2021-06-30 07:19] amolnater-qasource commented on #503
@manishgupta-qasource Please review

[2021-06-30 09:19] manishgupta-qasource commented on #503
Reviewed & Assigned to @EricDavisX

[2021-06-30 13:56] EricDavisX commented on #503
I believe this is a duplicate to the Beats ticket put in:
https://github.com/elastic/beats/issues/26588

because, as Blake notes there that it was reproducible in a 'local' environment.  He cites too that a refactor was underway and this *may be fixed already.  we can close this out when we see it fixed.

[2021-06-30 15:08] ph commented on #376
@michalpristas is looking into this one.

[2021-07-01 22:04] nimarezainia opened #1371 "Add support for Fleet-Server running on a Mac with an M1 chip"
**Describe the enhancement:**
As part of a greater effort to have beats and agent to build natively on the new M1 chip set.

**Describe a specific use case for the enhancement or feature:**
As a user I may need to deploy the fleet-server on a dedicated Mac machine

[2021-07-05 11:33] dikshachauhan-qasource opened #519 "Instructions for installing fleet-server agent are missing on Add agent flyout under Integration tab on cloud-qa deployments."
**Kibana version:** 7.14 BC1 Kibana Cloud-qa environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC1 Kibana Cloud-qa environment should be available.

**Build Details:**
[code]
2. Any user defined policy having Fleet-server integration say 'test1' should be available.

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Integrations tab.
	- Cli

[2021-07-05 11:35] dikshachauhan-qasource commented on #519
@manishgupta-qasource Please review

[2021-07-05 11:54] manishgupta-qasource commented on #519
Reviewed & Assigned to @jen-huang

CC @EricDavisX

[2021-07-06 07:36] michalpristas commented on #376
missing dataset most likely duplicate of https://github.com/elastic/beats/issues/26518
i will check missing data on other ones

[2021-07-06 09:07] michalpristas commented on #376
do we have any logs from experiment above?
i'm using same version and cannot reproduce. sometimes i needed to hit refresh on UI multiple times for timestamps to get updated though, sometimes they got updated to some stale value and then after few hits to latest ones. maybe some kind of cache (using cloud instance)

[2021-07-06 09:51] muskangulati-qasource opened #521 "[Bug] For a wrong fleet URL, the UI shows both an error and a success message"
**Description:**
For a wrong fleet URL, the UI shows both an error and a success message

**Build Details:**
[code]

**Browser Details:**
All

**Preconditions:**
1. Kibana user should be logged in.

**Steps to Reproduce:**
1. Navigate to the Security Integration
2. Add the fleet setup URL
3. Observe for wrong URL, both success message and error are thrown on the UI

**Impacted Test case:**
N/A

**

[2021-07-06 09:58] manishgupta-qasource commented on #521
Reviewed & Assigned to @jen-huang

[2021-07-07 15:07] scunningham opened #522 "A policy that is updated frequently in a large fleet may not be updated."
fleet-server 7.14  8fc011454055c1ed9f8f2c5a21a9dd12b07ddf68

Steps to reproduce:

0) Configure Fleet-Server to support 5k endpoints or higher.
1) Use Horde to enroll 5k endpoints.
2) Change the policy every 30 seconds.

Result:  The first policy change will be rolled out, but the following changes will be ignored.   The policy will appear stuck.

[2021-07-07 15:16] scunningham opened #524 "Fleet Server policy may not be delivered under load"
fleet-server 7.14

When the Fleet Server is under load, or misconfigured, it is often the case that the Agent supervising the Fleet Server cannot check in.  This is on account of the various throttles that were added to limit the number of connections and transactions on the server.  This is particularly problematic if we need to reconfigure the Fleet Server to fix these issues in the field.  With

[2021-07-07 15:22] andresrc commented on #503
We have just merged a PR that can be a fix for this, can you retest this one? Thanks! (we'll need another snapshot or BC2), see https://github.com/elastic/dev/issues/1707#issuecomment-875696846

[2021-07-07 16:42] #522 closed

[2021-07-08 10:49] amolnater-qasource commented on #503
Hi @EricDavisX
We have revalidated this issue on 7.14.0 self-managed BC-2 environment and found it **still reproducible**.
- We are still not able to install Fleet Server agent

**Screenshot:**
![16](https://user-images.githubusercontent.com/77374876/124908741-46136080-e007-11eb-8891-999364c808d4.JPG)

**Build details:**
[code]

[2021-07-08 10:49] amolnater-qasource commented on #503
Hi @EricDavisX
We have revalidated this issue on 7.14.0 self-managed BC-2 environment and found it **still reproducible**.
- We are still not able to install Fleet Server agent

**Screenshot:**
![16](https://user-images.githubusercontent.com/77374876/124908741-46136080-e007-11eb-8891-999364c808d4.JPG)

**Build details:**
[code]

@andresrc Could you please confirm if using the quick-start mode of s

[2021-07-09 11:48] andresrc commented on #503
@blakerouse can you take a look to this one? Thanks

[2021-07-09 15:11] adam-stokes opened #549 "Agents can enroll with a deleted enrollment api key"
For about 60 seconds after deleting an enrollment token new agents are able to enroll with that deleted token. It seems like there is a short window of time before the stack is fully aware that the enrollment token in question is actually deleted.

Using latest released snapshots of 8.0.0 for ES, Kibana and Fleet server. This does not currently happen on 7.13.

I can reproduce this easily I am jus

[2021-07-09 15:42] adam-stokes commented on #549
Closed in favor of https://github.com/elastic/kibana/issues/105078

[2021-07-09 15:42] #549 closed

[2021-07-13 09:53] andresrc opened #550 "Support multiple output types"
**Describe the enhancement:**

Currently Fleet Server only supports policies that use ES as the output. It needs to support other kinds of outputs, such as Logstash and Kafka.

**Describe a specific use case for the enhancement or feature:**

Shipping data indirectly through logstash or kafka is a very common scenario.

[2021-07-13 14:08] EricDavisX commented on #376
@amolnater-qasource can you re-run the test and capture the relevant logs (Agent, Fleet Server, Metricbeat, Filebeat) - the last time we posted logs was May 24, I am hoping things may be working better with recent fixes (the one Michal notes was closed out, so that is good).

[2021-07-14 03:04] kvv2021 opened #552 "[self-managed Fleet Server install] insecure flag not taking effect"
When using the `--insecure` flag the elastic agent (7.13.2) ignores it.

I am trying to install this agent as a fleet server.

Tested on CentOS 7 and Windows 10.

Here is the command directly from Kibana (7.13.2) but I also added the insecure flag.

`sudo ./elastic-agent install -f --fleet-server-es=https://IP:9200 --fleet-server-service-token=TOKENHERE --insecure`

Here is the log that came back:

[2021-07-14 03:45] kvv2021 commented on #552
From what I can tell the insecure flag is for ES over HTTP. I have attempted to use the CA as well with the same error.

`sudo ./elastic-agent install -f --fleet-server-es=https://IP:9200 --fleet-server-service-token=TOKENHERE --fleet-server-es-ca=theCA.crt`

[2021-07-14 10:27] amolnater-qasource commented on #376
Hi @EricDavisX
We have revalidated this on 7.14.0 BC-2 self-managed Kibana environment.

**Please find the required Logs as follows:**
[logs.zip](https://github.com/elastic/fleet-server/files/6814033/logs.zip)

**Build details:**
[code]

**Screenshot:**
![2](https://user-images.githubusercontent.com/77374876/125574404-a34a33c0-daa2-4082-97b3-7cce73fae713.JPG)

Please let us know if anything else i

[2021-07-14 12:12] EricDavisX commented on #376
Please do re-test on BC3 or newer snapshot (the BC2 is a week old at his point, and fixes were just merged we think).

[2021-07-14 13:23] scunningham commented on #134
We will be tracking data in [google spreadsheet](https://docs.google.com/spreadsheets/d/115Ch1U1PWoglliYptgDKsXo003akBsN5tdAbLXUVuV8/edit?ts=60ddbc67#gid=0).

# Methodology

We will attempt to qualify the number of support endpoints per configuration, both on prem and in the cloud.  For each class of hardware, we will determine the number of endpoints that Fleet can handle under the following scen

[2021-07-14 15:11] andresrc commented on #357
can we retest this once 7.14.0 is available?

[2021-07-14 19:59] EricDavisX commented on #357
FYI, prior, I had downgraded the urgency because the full cloud-stack side setup is working well, and the full on-prem solution is working well, it was only with the hybrid cloud stack and local fleet server where issues were seen (and that scenario may not yet be cited as fully supported, I need to dig up the ticket).

Regardless, and for now:
@amolnater-qasource it would be helpful to do 3 tests

[2021-07-15 07:18] amolnater-qasource commented on #376
Hi @EricDavisX
We have revalidated this issue on 7.14.0 BC-3 self managed Kibana environment with "info" logging level.

Observations are still same, please find in below table:
DATASET | Type | Before Reboot | After Reboot
-- | -- | -- | --
elastic_agent.fleet_server | metrics | Generating Normally | Generating Normally
elastic_agent.elastic_agent | metrics | Generating Normally | Generating Norm

[2021-07-15 08:51] michalpristas commented on #376
so you don't see no metrics coming in dashboards as well.

@michel-laterman were you able to find time to see if you can repro locally?

[2021-07-15 20:24] michel-laterman commented on #376
I'm having issues recreating this locally; I'm having issues setting up my environment

[2021-07-16 11:49] amolnater-qasource opened #563 "[Fleet Server][Agent]: All already-installed agents go unhealthy when user adds a new Fleet Server (self managed relating work flow)."
**Kibana version:** 7.14.0 BC-3 Kibana cloud environment

**Host OS and Browser version:** All agents, Windows Fleet Server, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 BC-3 Kibana cloud environment should be available.
2. Few Agents must be installed using Default policy having System Integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Add Fleet server integr

[2021-07-16 11:49] amolnater-qasource commented on #563
@manishgupta-qasource Please review.

[2021-07-16 12:02] manishgupta-qasource commented on #563
Reviewed & assigned to @EricDavisX

[2021-07-16 16:04] michel-laterman commented on #376
@amolnater-qasource, I'm unable to reproduce this on QA cloud with a locally running agent/fleet server. There have been occasion issues where Kibana fails to refresh the data stream displays, but clicking the "reload" button on the upper right of the UI resolves this.

[2021-07-19 09:58] amolnater-qasource commented on #376
Hi @michel-laterman

This issue is not reported for Cloud builds. It is only reproducible on self-managed/on-prem setup.

You can check that we have shared our observations based on nearly 30 mins test at https://github.com/elastic/fleet-server/issues/376#issuecomment-846802757. We were getting new logs for two of the datasets however not for others.

Thanks
QAS

[2021-07-19 11:31] mdelapenya opened #568 "Make 'EnrollKeyTTL' configurable in tests"
Hi team! Our e2e tests are suffering because of the [EnrollKeyTTL](https://github.com/elastic/fleet-server/blob/master/internal/pkg/config/cache.go#L35), which is set to 60s by default, and we are forced to wait a minute on each tests checking for invalid enrolment tokens.

@adam-stokes originally opened an issue on Kibana but @scunningham pointed out to [that fleet-server setting](https://github.

[2021-07-19 11:37] amolnater-qasource commented on #357
Hi @EricDavisX
We have attempted these scenarios on 7.14.0 BC-3

We observed this https://github.com/elastic/fleet-server/issues/376 issue reproducible after following this scenario.
- Few Datastreams stopped after Fleet Server agent reboot.
- However Fleet Server agent remained Healthy.

We haven't observed any errors while following this scenario:
- Fleet server agent and elastic-agent installed

[2021-07-19 11:37] #357 closed

[2021-07-19 12:34] scunningham commented on #568
There is a bit of a misunderstanding.  The value linked to above is the default.  The enroll timeout is configurable in the fleet-server policy section as 'cache.ttl_enroll_key'.

[2021-07-19 12:57] EricDavisX commented on #563
This is the combined / hybrid cloud stack and local Fleet Server environment - it is tbd if it is fully supported currently, we're testing and looking for bugs.

This would seem to indicate the Agents are doing a reconnection as soon as the Fleet Server kibana value is changed, is that the correct action?   Maybe @blakerouse can comment?

Either way, it isn't ideal, if we agree to release with thi

[2021-07-19 13:09] blakerouse commented on #563
This is expected behavior. You cannot add the `fleet-server` integration to an existing Policy that already has Elastic Agents enrolled. An Elastic Agent cannot just bring up a Fleet Server, that is because that Fleet Server needs a service token for it to connect. The only way to provide a service token is when the `install` or `enroll` command. So if you want to add the Fleet Server integration

[2021-07-19 13:33] mdelapenya commented on #568
Thanks for the clarification @scunningham, we will try to set that config up in our test environment. Thanks! Closing.

[2021-07-19 13:33] #568 closed

[2021-07-19 13:47] amolnater-qasource commented on #563
Hi @blakerouse

We have not added Fleet server integration to the existing policy with agents. All agents were installed with Default policy and we added Fleet Server in the policy name "Amol Policy" with which we have installed the Fleet Server and also looks Healthy.

Please refer below screenshot for further clarity:
![6](https://user-images.githubusercontent.com/77374876/126169282-85583de9-236

[2021-07-19 14:02] blakerouse commented on #563
@amolnater-qasource Did you add that Fleet Server connection information to the `Fleet Server URL` `Fleet settings` fly out?

[2021-07-19 14:47] EricDavisX commented on #563
Yes, it looks like he did, it is shown in the initial screenshots.  @blakerouse

[2021-07-19 15:03] blakerouse commented on #563
Okay then it seems possible that they are reporting unhealthy because of communication issues with that new Fleet Server. That should not be the case as if an Elastic Agent cannot communicate with a Fleet Server it will fallback to one that it can communicate and I do not believe that it should cause the Elastic Agent to report unhealthy.

Based on the logs, it is because the Fleet Server you boot

[2021-07-19 17:03] mostlyjason commented on #134
Awesome thanks @scunningham let us know when the numbers are final so we can update the docs

[2021-07-19 18:02] EricDavisX commented on #371
I'll update this to 7.15 label for now, I don't see it getting any more action during 7.14.  We can re-review later.

[2021-07-19 18:16] scunningham commented on #134
@michalpristas will finish this testing.

[2021-07-19 18:54] mostlyjason opened #571 "[Fleet] Fleet Server max connections setting is misleading"
A user filed a discuss issue that highlighted how confusing our settings page is for fleet server scaling https://discuss.elastic.co/t/elastic-agents-error-after-installation-fleet-server-returned-an-error-maxlimit/278716. Changing the max connection setting will not allow more agents to enroll. Since its such a low limit, its very likely that users will run into this problem. The longer term solu

[2021-07-19 18:55] scunningham commented on #571
Thanks @mostlyjason .  This is accurate.

[2021-07-19 23:12] michel-laterman commented on #376
I think I have recreated this using `elastic-package stack up` on the latest snapshot (on macos). I can see the same behaviour if I try to restart the docker container. The log messages look the same below is the errors in metricbeat_monitoring-json.log:
[code]
`elastic_agent.elastic_agent` and elastic_agent.fleet_server` metrics appear in the data stream up to date, `elastic_agent.fleet_server` a

[2021-07-20 06:19] michalpristas commented on #376
this looks like what metricbeat receives during call to stats does not conform to schema defined in beats module of metricbeat (hence missing fields)
maybe it's returning empty body or some error message.
does it go live after restart is performed? which container are you trying to restart?

[2021-07-20 10:45] amolnater-qasource commented on #563
Hi @blakerouse
Thanks for your feedback.

We installed few agents with `--insecure` flag and they remained Healthy on adding multiple URL's under Fleet Settings.

**Screenshot:**
![14](https://user-images.githubusercontent.com/77374876/126310179-bd782b29-ed10-40f2-9d2c-c8d878087228.JPG)

Hence we are **closing** this issue, as it is working fine.

Thanks
QAS

[2021-07-20 13:05] EricDavisX commented on #563
This is a good scenario to question.  I'd like to pull in @mostlyjason and @nimarezainia for their input.

I have more questions, myself:
 I wonder what actions / timing triggers an Agent to attempt to connect to a different fleet server?  In the scenario the test team presents, it seems to make sense (and be expected) that setting up an additional fleet Server wouldn't impact existing connected a

[2021-07-20 13:05] EricDavisX commented on #563
I've briefly re-open this for discussion.  we can close it back when desired.

[2021-07-20 14:57] michel-laterman commented on #376
@michalpristas, I was trying to restart the fleet-server container

[2021-07-20 18:18] michel-laterman commented on #376
The error logs above are from metricbeat trying to collect state/stats from `fleet-server`.
The state endpoint returns `null` and the stats endpoint is missing the `libbeat` attribute.
However this is the case when the fleet-server initially starts (and all streams work as expected)

[2021-07-20 20:10] EricDavisX commented on #571
linking this to the original 'max settings' ticket which is still open:
https://github.com/elastic/fleet-server/issues/466

[2021-07-21 04:49] amolnater-qasource commented on #376
Hi @michel-laterman
We have revalidated this issue on 7.14.0 BC-3 self managed Kibana with **"debug"** logging level.

Please find our observations below:
<HTML>
<HEAD>

</HEAD>

<BODY TEXT="#000000">
<TABLE FRAME=VOID CELLSPACING=0 COLS=3 RULES=NONE BORDER=0>
	<COLGROUP><COL WIDTH=228><COL WIDTH=86><COL WIDTH=213></COLGROUP>
	<TBODY>
		<TR>
			<TD STYLE="border-top: 1px solid #000000; border-bott

[2021-07-21 14:05] blakerouse commented on #563
In a production situation you would never enroll with `--insecure` and you would also not setup a production Fleet server that is not full TLS.

So the question really is should Elastic Agent that was installed without `--insecure`, should it ignore Fleet Servers that are not secure and only connect to those that are secure. Negative is that it might not be obvious that none of the Elastic Agent's

[2021-07-22 14:16] mostlyjason commented on #563
Maybe we can just document that we expect all the fleet servers to be secure or insecure, that we don't support blended models? We could do that here https://github.com/elastic/observability-docs/issues/523?

If that works, we can close this as won't fix.

[2021-07-22 15:58] blakerouse commented on #563
@mostlyjason Or if you want mixed you need to enroll all your agents with `--insecure`. I think that would be acceptable and we can set it to won't fix.

[2021-07-22 16:20] nimarezainia commented on #563
@mostlyjason @blakerouse tbh mixed makes no sense to me. it needs to be secure all the time. (i realize that all agents can be --insecure but i don't think we want this to be the default position).

I suggest we close this and keep an eye on what the customer feedback is in this regard.

[2021-07-22 17:46] EricDavisX commented on #563
I agree - closing it out, again.

[2021-07-22 17:46] #563 closed

[2021-07-26 15:34] nimarezainia commented on #571
@mostlyjason I agree with your statement but I wonder if this absolutely needs to be configurable or just clearly stated for the user to know.

The main variable here the user would need to know about is the number of agents that can enroll into the fleet-server - given resources (cpu/mem) they have made available to it. Number of connections and other artifacts should be calculated or looked up i

[2021-07-26 20:15] mostlyjason commented on #571
@nimarezainia ++ on what you described as the longer term solution. For the short term, I believe we need a way to modify both `server.limits.checkin_limit.max` and `server.limits.max_connections`. The latter would ideally be calculated, but I assume its too late to make any change for that in 7.14 so we could leave it as is, and `server.limits.checkin_limit.max` could be set via a second input bo

[2021-07-27 12:46] ruflin commented on #571
Option 1 I think is the short term solution we should have for the next minor by hardcoding the values like apm-server does. Option 2 is where I would like to see us heading long term but it means Fleet becomes directly or indirectly in control of the deployed Elastic Agents.

For the short term solution, I'm worried that we might break something here. I agree it is not ideal but I would rather fo

[2021-07-27 17:10] michel-laterman commented on #376
Alright, after some discussion I think that the description for the bug is wrong.

The `elastic_agent.metricbeat` and `elastic_agent.filebeat` streams should **not be generated** by the fleet-server default policy. However, currently before the server is restarted the metricbeat_monitor instance is attempting to gather this data.

If you take a look at the entries from these datasets, it will show

[2021-07-27 18:48] pzl opened #595 "Populate agent.id field in .fleet-agents index"
:wave:  The OLM team in Security Solution (Endpoint) is looking to use a [transform to combine](https://discuss.elastic.co/t/is-is-possible-to-partially-update-a-dest-doc-with-transforms/209808/4?u=pzl) Agent and Endpoint documents (among other data sources) for a combined UI-centric index. To do this, the group-by field must be the same value, and have the same path for all indices involved.

`ag

[2021-07-28 17:07] nimarezainia commented on #571
@ruflin @mostlyjason   We know what the max_connection count needs to be (along with ES size etc) to hit a certain scale. I propose that for 7.14 we leave the code as is and add max_connections to be configured in the scale table for documentation and clearly state where it can be found (to be configured). We can change the docs at anytime when this config is no longer required.

lmk

[2021-07-28 20:22] EricDavisX commented on #376
Thanks Michael!

@amolnater-qasource @dikshachauhan-qasource if you agree and understand the reasoning, I would like to know.  In this case, too, you can update the short description to align to the 'inverse' issue that is identified.  We can also update our test suite steps to confirm what is configured and note the current bug, until such time as it may be fixed.  Thanks.  I'll mark it as 'done'

[2021-07-29 07:31] ruflin opened #602 "Add Changelog for fleet-server"
Fleet-server requires its own changelog. It needs to be decided what the right format is and how it fits into Elastic Agent release notes.

[2021-07-29 18:11] EricDavisX commented on #77
We're pairing with the above issue in e2e-testing repo now.  The details on how to build the Fleet Server binary are actually in the repo readme.md, as as follows.  To build Fleet Server:

pre-conditions (2 options):
option 1: pull the head of the branch in the Beats repo from which the Fleet Server PR is aimed (they will be in sync)
... and do a mage build to build all the artifact types

option

[2021-07-30 06:14] amolnater-qasource commented on #376
Thanks @michel-laterman for looking up into this issue.
@EricDavisX  yes we agree with michel as on cloud also we observed that only 4 datasets are generated for Fleet Server agent.
No elastic_agent.metricbeat/filebeat data is generated for fleet server on 7.14.0 BC-5 cloud build.

**Screenshot:**
![9](https://user-images.githubusercontent.com/77374876/127607607-4f4fc982-e0bd-4f46-8173-4ed169846df

[2021-07-30 07:02] cyberpescadito commented on #453
Have you been able to fix it? Still looking for a solution about this
thanks !

[2021-07-30 10:59] urso commented on #371
@michel-laterman @scunningham Didn't we introduce ecszerolog in 7.14 already? Can we close this issue?

[2021-07-30 11:40] ruflin commented on #86
By now the control of the policy permissions is in Fleet and fleet-server creates specific API keys for each agent with the according permission. This can now be solved by Fleet likely with involvement from the integrations team.

[2021-07-30 13:14] scunningham commented on #371
@urso Work to switch to ecszerolog has not been done.

[2021-08-02 13:02] amolnater-qasource opened #608 "[Fleet] Hosted Fleet Server agent not available on deploying 8.0.0-alpha1 from cloud (can't be started on self-managed either) due to Semver check"
**stack version:** 8.0-alpha1-qa cloud environment

**Kibana commit details from /status api:**
[code]

**Preconditions:**
1. 8.0-alpha1 cloud-qa environment should be available.

**Steps to reproduce:**
1. Login to Kibana.
2. Navigate to Agents tab and observe No Hosted Fleet Server agent.

**Note:**
- Build is deployed with warnings and "Latest change to APM & Fleet configuration failed" errors.

[2021-08-02 13:06] manishgupta-qasource commented on #608
Reviewed & Assigned to @EricDavisX

[2021-08-02 14:17] EricDavisX commented on #608
@blakerouse mentions in the x-team meeting that this is from our Semver usage / restraint and that it isn’t compatible with the string that is in place for the release:
8.0.0-alpha1

It should be adjusted in Fleet Server and also checked in Beats/Agent side, as well, for a likely adjustment needed.

And he notes that both the recent issues logged by test team are likely the same.  I’ll link them:

[2021-08-02 14:58] EricDavisX commented on #608
From the Beats issue logged in parallel (I've closed it now) - the cli output fails as such if you try to run the Fleet Server start up (bootstrap) sequence:

Extract and run Agent install command.
[code]

Observe errors: Error - failed version compatibility check with elasticsearch on running install command.

[2021-08-02 21:58] #608 closed

[2021-08-02 21:59] EricDavisX commented on #608
the next BC (BC3 or later) of 8.0 will / would have this, if it gets built!

[2021-08-03 06:13] amolnater-qasource commented on #608
Hi @EricDavisX
Thanks for the feedback, we will initiate our tests on 8.0-alpha1, as soon as new BC will be available.

[2021-08-03 15:42] #595 closed

[2021-08-04 09:57] almico commented on #552
Same here.
We are unable to install the Agent as the Fleet Server, thus the whole infrastructure is unusable.

[2021-08-04 14:54] andresrc commented on #473
Done in another issue.

[2021-08-04 14:54] #473 closed

[2021-08-04 19:44] EricDavisX commented on #608
BC3 is out and the team reported they got past this error and are testing deeper.

[2021-08-04 20:51] EricDavisX opened #617 "How to know what commit / version of Fleet-server is running in a given Agent"
This was raised earlier and I didn't have an answer, so I'm logging it.

From slack:
  I am using the elastic-agent docker image. Just pulled 8.0.0-SNAPSHOT, with image ID 6f68895f7ff2 which has a git ref of afe17b833cc2. But that's for the github.com/elastic/beats/v7 repo. How can I check what fleet server I will get here?

[2021-08-04 20:52] EricDavisX commented on #617
This may end up as more of a Beats side change, I acknowledge.

[2021-08-05 08:27] hst0ychev commented on #453
Hi folks, I'm trying to deploy Fleet server v.7.14.0 not on K8s, rather on Elastic Cloud Enterprise 2.10.0 (but still docker container based) with same error:

[code]

However on container logs it's not enrolling it successfuly:

[code]

Thought it's related issue so decide not to open a new case. Any update as it's already GA and Fleet server is not enrolled.
Regards,
Hristo.

[2021-08-05 16:10] khangcnttspkt opened #619 "Fleet Server - Error - x509: certificate relies on legacy Common Name field, use SANs or temporarily enable Common Name matching with GODEBUG=x509ignoreCN=0"
Please post all questions and issues on https://discuss.elastic.co/c/beats
before opening a Github Issue. Your questions will reach a wider audience there,
and if we confirm that there is a bug, then you can open a new issue.

For security vulnerabilities please only send reports to security@elastic.co.
See https://www.elastic.co/community/security for more information.

Please include configurati

[2021-08-06 07:44] cyberpescadito commented on #453
Hi
Just tried with 7.14 and successfully enrolled my fleet server.
I wasn't able to enroll in any 7.13.X version...
Now let's read release notes :)

[2021-08-06 20:26] nimarezainia commented on #134
The document is under review. We will add the details that we have to our public docs.

[2021-08-09 15:48] EricDavisX commented on #617
From Sean in slack:
FWIW, the fleet server commit is in the boot log message

With this info we may skip any further changes.

[2021-08-11 14:53] EricDavisX commented on #77
Some discussion was had via email, I am summarizing the questions and my initial answers below:
---------

It feels best to keep it extremely simple, where possible, reduce combinations of tests to just one form and make assumptions that allow repeatability.

To your notes @ruflin), I could add the following:
Q) What version of the Elastic Agent do we test it with? Which commit?
 - I hope we know

[2021-08-12 08:44] hst0ychev commented on #453
It's fixed and working now for me:

Fleet is not working when enabled in an Elastic Cloud Enterprise deploymentedit
When an Elastic Cloud Enterprise deployment is set up with APM and Fleet, even though the deployment operates as expected, Fleet cannot be configured. Agent log files may contain a message like the following:

WARN [transport] transport/tcp.go:52 DNS lookup failure "instance-000000 0

[2021-08-12 16:10] ppf2 opened #633 "More human/user friendly error handling"
https://github.com/elastic/fleet-server/blob/fdb97bcf4c1a5e88eec4f142bda4df2d9c1292c4/internal/pkg/dl/enrollment_api_key.go#L57

Error messages like above doesn't mean much to the end user of Fleet.  It will be helpful to have more human/user friendly error handling :)

![image](https://user-images.githubusercontent.com/7216393/129230774-9e1ab77f-ed70-4280-ac81-98605d1dfc5b.png)

[2021-08-13 09:13] amolnater-qasource commented on #608
Hi @EricDavisX

We have created a testcase for above reported issue under bug conversion task .

Testcase link is : [C149907](https://elastic.testrail.io/index.php?/cases/view/149907)

Thanks

[2021-08-13 13:20] andrewkroh commented on #633
It would be nice to include some additional context about remote requests in log messages like this. I'm thinking of `source.ip` and `user_agent.original`.

[2021-08-13 13:34] andrewkroh opened #636 "Set User-Agent in HTTP requests"
**Describe the enhancement:**

For HTTP requests made by Fleet Server set a User-Agent header that identifies the software as Elastic Fleet Server and include version/build metadata.

For example this is a helper that Beats has https://github.com/elastic/beats/blob/95626b8f1690344312c0831ab2bdcbccffe4d089/libbeat/common/useragent/useragent.go#L27-L34.

**Describe a specific use case for the enhanc

[2021-08-13 16:20] scunningham commented on #633
@andrewkroh  That log data is available on each HTTP transaction if you turn debug logging on FWIW,

[2021-08-13 16:23] andrewkroh commented on #633
Is it available on the errors, like the one in the picture, or only with debug logging?

[2021-08-13 16:30] scunningham commented on #633
With debug logging, every transaction is logged with a bunch of metadata:
'
https://github.com/elastic/fleet-server/blob/master/internal/pkg/logger/http.go#L116

On Fri, Aug 13, 2021 at 12:23 PM Andrew Kroh ***@***.***>
wrote:

[2021-08-17 12:27] aleksmaus commented on #619
Just a note, if tempted to use GODEBUG=x509ignoreCN=0 workaround, it's now gone in Go 1.17
https://blog.golang.org/go1.17
"The temporary GODEBUG=x509ignoreCN=0 flag has been removed."

[2021-08-17 16:14] #376 closed

[2021-08-18 18:02] michel-laterman opened #644 "Fleet should sanity check values"
The fleet-server currently does no additional validation for config values, anything that is parsable by go is passed to fleet. This may result in values such as a negative duration being accepted and passed down.

For example durations (for cache config) can be set to negative numbers in Kibana (also jitter in this example is greater then any TTL):
[code]
Leading to the following config running o

[2021-08-20 15:43] khangcnttspkt commented on #619
Thank @aleksmaus for your support ,

How I run fleet server or how i can do to fix this problem.

[2021-08-20 16:43] aleksmaus commented on #619
Couple of ways at the moment:
1. Create and use a new certificate with SAN. There are plenty of resources on how to do this: https://www.google.com/search?q=GODEBUG%3Dx509ignoreCN%3D0&oq=GODEBUG%3Dx509ignoreCN%3D0

2. Set environment variable ```GODEBUG=x509ignoreCN=0```. Depending on how you run the agent, if you run with systemd, then just add a line into ```elastic-agent.service```:
[code]
This