[2022-09-13 12:19] drizzthacker commented on #1645
I think I've solved it, instead your options I've tried this with "server." before "ssl":

`server.ssl.supported_protocols: [ TLSv1.2 ]
server.ssl.cipher_suites: [ "ECDHE-RSA-AES-256-GCM-SHA384", "ECDHE-RSA-AES-128-GCM-SHA256", "ECDHE-ECDSA-AES-128-GCM-SHA256", "ECDHE-ECDSA-AES-256-GCM-SHA384", "ECDHE-ECDSA-CHACHA20-POLY1305" ]`

and seems to work, at least fot TLSv1.2 could you try it?

It should

[2022-09-13 12:42] jlind23 opened #1859 "Load limit on fleet server also limits its own Elastic Agent"
Apparently, the connection limit is applied to Fleet Server own Elastic Agent.
This mean that under an heavy load, the Fleet Server Elastic Agent can be prevented from checkin in and as a result FS is shown as unhealthy.

This issue will act as a placeholder for any further discoveries regarding Fleet Server config.

[2022-09-13 12:53] scunningham commented on #1859
This was noted a while ago:  https://github.com/elastic/fleet-server/issues/524

The Fleet Server should be communicating with the Elastic Agent on a dedicated loopback port.  Related code [here](https://github.com/elastic/fleet-server/blob/main/internal/pkg/config/input.go#L97).  Is this not happening?

[2022-09-13 12:54] jlind23 opened #1860 "Can we get rid of Fleet Server max agent config option?"
Today, in order to set up fleet server config, we ask user to type the max number of Elastic Agent they are going to run on their deployment by using the Fleet ui.

Based on this number, we generate fleet server config based on the files available in this [folder](https://github.com/elastic/fleet-server/tree/main/internal/pkg/config/defaults).

The question is - Can we get rid of this option and r

[2022-09-13 12:54] blakerouse commented on #1858
I am working on #1841, I will take this one as well.

[2022-09-13 12:57] jlind23 commented on #1859
Based on recent tests done by @ablnk and following an analysis done by @joshdover. Fleet server elastic agent is logging "429" errors due to Fleet server limiting the number of connection.

[2022-09-13 13:00] blakerouse commented on #1858
I went with lowering the `max` by 1 in each default. That way if the number is 30000 you get the higher limits.

[2022-09-13 13:00] scunningham commented on #1860
This would be much simpler if we were in a dedicated container rather than one of N processes running in an integration container.  As it is, it is not clear what percentage of the resources we are allowed to use, and whether that should be a fixed percentage or a running average.  The Fleet Server is very bursty; under normal circumstances its CPU usage is minimal but under load it can be quite h

[2022-09-13 13:07] scunningham commented on #1859
I would be curious to know if the Fleet Agent is using the loopback.

[2022-09-13 13:10] jlind23 commented on #1860
With the recommended config that we are documenting with all the performance testing we are doing, wouldn't that be enough?

[2022-09-13 13:17] scunningham commented on #1860
Ideally the customer would not have to delve through pages of documentation when trying to setup their cluster in the cloud UX to determine this.  If we know for an integration server cluster configuration how many agents it would support, ideally that number would be visible in the UX.

The documentation will certainly be very helpful to folks standing up their own systems.

[2022-09-13 14:44] jlind23 commented on #1859
@michel-laterman - @michalpristas is already looking at it. We'll ping you as soon as we progress on this

[2022-09-13 15:13] michalpristas commented on #1859
looks like failure is not coming from max_connection limiter but rather from checkin Limit limiter.
While max connection limiters are separated and created per listener.
Limits (such as checkin) are enforced in handler while router is shared in between servers.

in `main.go`

[code]

inside handler (`internal/pkg/api/handleCheckin.go`) we have

[code]

then this is used in `internal/pkg/api/server

[2022-09-13 15:37] scunningham commented on #1859
Interesting.  Probably not hitting the max-checkin case; but can certainly hit the throttle to prevent check-ins coming to fast.

Cleanest way would be to create a separate router for each interface.  Agreed.  Adding limit per external request is going to be messy and hard to reason about.

[2022-09-13 18:43] michel-laterman commented on #1860
Wasn't the `max_agent` config added to simplify the custom yaml needed to increase the limits?
If we wanted to remove it we would need to ensure that on-prem instances are simple to configure.

[2022-09-13 20:40] michel-laterman commented on #1848
I'm unable to recreate this on a selfhosted deployment for 8.4.1

[2022-09-13 21:33] michel-laterman commented on #1848
also unable to recreate on `8.4.1` on cloud

[2022-09-14 05:46] samratbhadra-qasource commented on #1836
Hi Team
We are successfully able to deploy latest Healthy 8.5.0-SNAPSHOT environment from:

https://console.qa.cld.elstc.co/
https://staging.found.no/

**Screenshot:**
![Screenshot (967)](https://user-images.githubusercontent.com/84007952/190064849-68cfc570-97c5-4349-9444-e715a1cf6134.png)
![Screenshot (968)](https://user-images.githubusercontent.com/84007952/190064859-f0295d31-deb3-4caf-a391-24f8

[2022-09-14 05:46] #1836 closed

[2022-09-14 11:22] joshdover commented on #1825
FYI @jen-huang and @kpollich

[2022-09-14 15:00] kpollich commented on #1825
I see an `x509 - Certificate signed by unknown authority` error in the quick start logs. Confusing since Fleet Server should be generating its own cert in this context.

[2022-09-14 19:53] kpashko opened #1865 "GET /agent_policies doesn't return any package_policies"
Hi, in 8.5.0 we noticed that [/agent_policies](https://petstore.swagger.io/?url=https://raw.githubusercontent.com/elastic/kibana/master/x-pack/plugins/fleet/common/openapi/bundled.json#/default/agent-policy-list) endpont of Fleet API doesn't return any package_policies for policies.

At the same time [ /agent_policy/{id}](https://petstore.swagger.io/?url=https://raw.githubusercontent.com/elastic/k

[2022-09-14 20:29] nchaulet commented on #1865
Hi @kpashko

We made a breaking change in 8.5 https://github.com/elastic/kibana/pull/138677 (Fleet API are still beta)
If you need the package policies in the `GET /agent_policies` this could be done by calling the API with `?full=true`

[2022-09-15 02:23] jen-huang commented on #1660
@juliaElastic Shall we close this as https://github.com/elastic/kibana/pull/138870 is merged?

[2022-09-15 03:22] viettel-solutions opened #1866 "[Fleet]: Unable to install fleet server"
Kibana version: 8.4.1
Steps to reproduce:
1. Navigate to Fleet>Add Fleet Server.
2. From Advanced option create a new policy, add host and run fleet server install command.
3. Observe install command failed: Error: fleet-server failed: context canceled
Expected Result:
Fleet server should be installed success

Logs:
duybvk@Buis-MacBook-Pro elastic-agent-8.4.1-darwin-x86_64 % sudo ./elastic-agent i

[2022-09-15 07:18] deepikakeshav-qasource opened #1869 "[Self-managed]: Unable to install fleet-server on 8.4.2"
Kibana version: 8.4.2 Kibana self-managed environment

Host OS and Browser version: Windows

**Build details:**
VERSION: 8.4.2 Snapshot self-managed
BUILD: 55523
COMMIT: d34da2c98a97aac80c2b9e8ab197c76cc149574e

**Preconditions:**
- 8.4.2 Kibana self-managed environment should be available.

**Steps to reproduce:**
1. On fresh Kibana setup navigate to Fleet tab.
2. Create Fleet Server Policy.
3. S

[2022-09-15 07:20] amolnater-qasource commented on #1869
Secondary review for this issue is Done.

FYI @joshdover @jlind23

[2022-09-15 07:27] amolnater-qasource commented on #1825
Hi @kpollich

We have observed this issue reproducible on 8.4.2 BC1 self-managed environment and reported a separate issue at https://github.com/elastic/fleet-server/issues/1869

Thanks

[2022-09-15 07:45] jlind23 commented on #1869
@amolnater-qasource seems to be a certificate issue. @michel-laterman @narph can one of you take a look at it please?

[2022-09-15 08:46] zez3 commented on #1645
Indeed, I see the same on my ECE containers

hmm, not quite behind the go-http-proxy?

[code]

3DES_EDE_CBC_SHA
Hmm, that ^ is not good

and directly in container:

[code]

and no @drizzthacker,  that workaround does not work for my ECE for Fleet
but is indeed included in the APM config
under
# USER OVERRIDES

[2022-09-15 09:19] kpashko commented on #1865
@nchaulet got it, thanks!
Should I open an issue to kibana team to update the [api doc](https://petstore.swagger.io/?url=https://raw.githubusercontent.com/elastic/kibana/master/x-pack/plugins/fleet/common/openapi/bundled.json#/default/agent-policy-list)?

[2022-09-15 09:26] juliaElastic commented on #1660
@jen-huang there is still an [improvement](https://github.com/elastic/kibana/pull/138870#discussion_r968198040) I wanted to do, and also planning to add more tests.

Also I was thinking of the use cases of action validation errors, e.g. agent already assigned to new policy, hosted agent can't be unenrolled, host might not be upgradeable.
When taking a bulk action, the agents failing validation do

[2022-09-15 11:11] narph commented on #1869
@amolnater-qasource , @deepikakeshav-qasource I've tried reproducing this on Windows 11 using:

https://snapshots.elastic.co/8.4.2-36096067/downloads/kibana/kibana-8.4.2-SNAPSHOT-windows-x86_64.zip with the commit you mentioned
https://snapshots.elastic.co/8.4.2-36096067/downloads/elastic-agent/elastic-agent-8.4.2-SNAPSHOT-windows-x86_64.zip
https://snapshots.elastic.co/8.4.2-36096067/downloads/el

[2022-09-15 11:19] narph commented on #1869
I had a look at the issue you linked and I there the communication is encrypted, will test further with certificates but it's worth mentioning that the ticket description.

[2022-09-15 11:31] joshdover commented on #1848
Let's close this if we can reproduce. I've only seen this once and haven't been able to repro either. Must have been caused by something else.

[2022-09-15 11:31] #1848 closed

[2022-09-15 11:59] joshdover commented on #1660
+1 on this. We should have a paper trail of what's happening in the system to be able to show this to the user and for our own debugging purposes.

[2022-09-15 12:00] kpollich commented on #1825
Closing in favor of https://github.com/elastic/fleet-server/issues/1869 - please reopen if needed.

[2022-09-15 12:00] #1825 closed

[2022-09-15 18:50] nchaulet commented on #1865
Thanks for catching this I created the following PR to fix the documentation https://github.com/elastic/kibana/pull/140857

[2022-09-16 12:15] defensivedepth commented on #1645
Will this be set by default in upcoming versions of Fleet?

[2022-09-16 13:25] zez3 commented on #1645
any ETA on the new version?

[2022-09-16 17:11] pjbertels opened #1874 "policy reassign of 5000 agents sometimes incomplete"
Running in Cloud with image_tag:8.5.0-37418cf3-SNAPSHOT using Horde with 5000 drones.

We have a test where we move all agents in one policy to another and then check they are all online(swarm_0-pp1-a35c92 to pp2-a35c92). All 5000 should be moved to the new policy but a number of times 1 agent was left behind. I noticed this a number of time while doing some script updates, not every time but abou

[2022-09-16 17:58] joshdover commented on #1499
I now think our long-term solution to this should be moving to a different model where we don't invalidate agent's access API key but instead move agents to a de-activated state which could easily be re-enabled via the UI.

[2022-09-16 20:00] KnowMoreIT commented on #828
@jlind23  I'm going from 8.3.1 to 8.4.1 and still experience this. I'm getting around it with the force command but I have 600 agents stuck updating at this time. Restarting the agent doesn't fix it and only the force upgrade does.

[2022-09-18 21:42] sanhardik commented on #1866
Having the same issue.

[2022-09-19 07:40] amolnater-qasource commented on #1869
Hi @narph
We have revalidated this issue on 8.5 Build Candidate Kibana self-managed environment and found this issue still reproducible:
- We are still not able to install Fleet server and getting x509 certificate error.

Further as per our observation for your comment https://github.com/elastic/fleet-server/issues/1869#issuecomment-1247953778

We have setup our kibana using Security on by default

[2022-09-19 07:59] jlind23 commented on #828
@KnowMoreIT we do have this [issue](https://github.com/elastic/elastic-agent/issues/760) that will fix the problem

[2022-09-19 10:17] kpashko commented on #1865
Thanks @nchaulet! Feel free to close the issue. All good on our side.

[2022-09-19 11:20] joshdover commented on #1595
Close in favor of https://github.com/elastic/fleet-server/issues/1860

[2022-09-19 11:20] #1595 closed

[2022-09-19 11:29] joshdover commented on #1860
This is a really important point. Especially if we're going to consider adding any other processes to this container in the short-term (which I'd still prefer to avoid), we'll need some way to artificially and intelligently throttle each process. Currently, the max agents setting is serving this purpose. I don't think with our current cloud architecture that we can start making assumptions that th

[2022-09-19 11:34] joshdover commented on #1869
@amolnater-qasource Are we sure this isn't expected behavior? I'd expect that Fleet Server would refuse to connect to an ES with a self-signed cert unless one of the following CLI flags are passed: `--insecure` or `--fleet-server-es-ca-fingerprint`

[2022-09-19 12:55] #1865 closed

[2022-09-19 13:04] jlind23 commented on #1696
@nimarezainia @mukeshelastic Is that a mandatory feature we should keep or should we get rid of it to simplify those behaviours overall?

[2022-09-19 13:21] kevinlog opened #1877 "8.5.0-SNAPSHOT Endpoint can't connect to ES"
When installing the latest 8.5.0-SNAPSHOT Agent and Endpoint, it cannot connect to Elasticsearch.

The version I used in this bug report: https://snapshots.elastic.co/8.5.0-c7913db3/downloads/beats/elastic-agent/elastic-agent-8.5.0-SNAPSHOT-linux-arm64.tar.gz

There are two somewhat different scenarios depending on the protocol you use when installing the Agent.

#### Using `--insecure` flag when

[2022-09-19 13:24] cmacknz commented on #1877
We are seeing the same problem with Beats started by agent, with a similar log message that an API key has been invalidated. This is not specific to Endpoint.

[2022-09-19 14:11] narph commented on #1869
@amolnater-qasource , @joshdover took some time but I wanted to test this further.

I've configured tls/ssl for elasticsearch/kibana/fleet server and then ran the following:

[code]
which means tls enabled should work.

then ran:

[code]

and got the same error as above.

then ran:
[code]

There are 2 separate flags here: `--insecure` and ` --fleet-server-es-insecure`

 --insecure

[2022-09-19 14:30] joshdover commented on #1877
@AndersonQ can we test reverting https://github.com/elastic/fleet-server/pull/1684? If that fixes the issue, we may just want to do that to unblock other teams while we figure out the real fix.

[2022-09-19 14:46] cmacknz commented on #1877
+1 to reverting https://github.com/elastic/fleet-server/pull/1684 while we debug this, we need to unblock others and we will not want this bug in the first 8.5.0 build candidate scheduled to be created on Wednesday.

[2022-09-19 14:49] AndersonQ commented on #1877
I have no problem reverting it, that's a good idea. I'm still trying to reproduce it to debug, but reverting it is also a way to check if it's indeed the root cause of the issue :)

[2022-09-19 14:50] AndersonQ commented on #1877
2 PRs need to be reverted, in the right I guess. I'll open the PRs to revert it

[2022-09-19 17:19] joshdover commented on #1696
We discussed this a bit today, here's a summary:
- This is really painful for our customers when this gets triggered in ways that weren't expected, giving them no option but to reinstall their agents.
- We should consider a solution that is less destructive than the current unenrollment timeout. This would help quite a bit when customers configure something incorrectly or there's a bug or availabi

[2022-09-20 07:08] #1581 closed

[2022-09-20 08:28] joshdover commented on #1696
Here's my proposal for the minimum amount we could do to solve this as a lower-risk "bug fix" in the 8.5 release.

### Short-term
- No more "unenrollment timeout" setting
- Add a "dormant" TTL setting to the agent policy
- No automatic revokation of API keys
- Rename the current "inactive" status to "unenrolled" to be more clear
- Show agents as "dormant" if they haven't checked-in since the TTL o

[2022-09-20 08:37] amolnater-qasource commented on #1869
Hi @narph @joshdover
Thank you for looking into this.

We have revalidated this issue by running Fleet server installation command using `--fleet-server-es-insecure` and found it working fine.
- We are successfully able to install fleet server using `--fleet-server-es-insecure` flag.

**Screenshot:**
![6](https://user-images.githubusercontent.com/77374876/191207249-94c1c886-7ad7-4097-ae52-d67ee3cb

[2022-09-20 08:40] narph commented on #1869
@amolnater-qasource can you create a separate issue regarding the fingerprint flag and the steps you are taking to reproduce it? it will be easier to follow on a separate thread

[2022-09-20 10:38] jlind23 commented on #1660
Closing as @juliaElastic fixed both issues.

[2022-09-20 10:38] #1660 closed

[2022-09-20 10:46] jlind23 commented on #1696
But we can be able to filter them out using a toggle option or whatever.

What is the purpose of this?

[2022-09-20 13:06] joshdover commented on #1696
I guess I was thinking the "dormant" status would be some sort of dynamically calculated status based on whatever they set in each agent policy. But maybe we should go even simpler:

- No more "unenrollment timeout" setting
- No automatic revokation of API keys
- Rename the current "inactive" status to "unenrolled" to be more clear
- Have a filter in the UI for any agents that have been offline fo

[2022-09-20 13:08] kpollich opened #1883 "[Fleet] Support new "request diagnostics" action type"
Relates to https://github.com/elastic/kibana/issues/141074
Blocked by https://github.com/elastic/security-team/issues/4661
Blocked by https://github.com/elastic/fleet-server/pull/1902

## Summary

We're looking to add a "request diagnostics" workflow to Fleet UI that allows users to remotely fetch diagnostics from their running agents, then download the resulting `.zip` files in Fleet UI. This wil

[2022-09-20 14:14] kevinlog commented on #1877
@AndersonQ

The QA team on our side encountered this bug, but found an odd workaround.  They add os_query to the Agent and then Endpoint seems to install.  I'm not sure if that helps with finding the root cause.

More about the bug and potential workaround here: https://github.com/elastic/kibana/issues/141036

[2022-09-20 15:08] #1877 closed, assigned to AndersonQ

[2022-09-20 15:13] juliaElastic commented on #1883
Currently the actions work in a way that actions are delivered on check-in, so Fleet Server is not doing anything with an action if the agent is offline (not checking in). Eventually the action will expire though (expiration is set to 1 month for unenroll and reassign, 1 or more hours for upgrade).

[2022-09-20 15:18] kpollich commented on #1883
This makes sense. We'll probably want a shorter TTL on these actions so we can display an error state in the file listing UI once we're confident the agent isn't going to successfully upload them.

[2022-09-20 15:22] blakerouse opened #1884 "Enrollment at load causes 503 HTTP response and rollback fails"
## Overview

When 75k Elastic Agent's where in enrolled 34 stayed in Updating. Updating in this case means that it has enrolled but has never checked in. The reason the Elastic Agent has never checked in is because Fleet Server hit an error and failed to rollback the creation of the API key (aka. invalidate) and the creation of the Elastic Agent (aka. delete document).

### Log for a single 503 re

[2022-09-20 19:05] michel-laterman opened #1885 "Cleanup fleet/cmd"
The main command file is 1k lines.

This is difficult to test or even understand what is going on.
We should clean up the main package to move setup logic and allow for further restructuring.

[2022-09-21 05:42] nimarezainia commented on #1696
@joshdover @jlind23 so clearly this unenrollment timeout needs to be removed. We can deal with the breaking change. Fact is that even though the config is changed, the behavior that the user sees is not that different.

(1) there are legit reasons that an agent goes offline - like in an ephemeral environment.
(2) there are illegitimate reasons that an agent goes offline - something that may need f

[2022-09-21 08:50] jlind23 commented on #1858
@blakerouse is this something you have done already?

Otherwise I created a [PR](https://github.com/elastic/fleet-server/pull/1891)

[2022-09-21 10:02] jlind23 commented on #1696
@jen-huang shouldn't it be something to add into your backlog?

[2022-09-21 11:04] joshdover commented on #1696
If this is important enough, then I think something close to my original proposal in https://github.com/elastic/fleet-server/issues/1696#issuecomment-1252015077 would work. It basically allows you to have an agent policy specific TTL on how old agents should be shown in the UI. I'd expect users to set this something fairly low for containers (say, 30 minutes) and higher for employee workstations (

[2022-09-21 13:09] #1858 closed

[2022-09-21 15:35] blakerouse opened #1894 "Bulker swallows errors from elasticsearch when the error is specific to the document"
## Overview

Inside of the `BulkIndexerResponseItem` there is an error field that could have possible been set but is ignored in here https://github.com/elastic/fleet-server/blob/main/internal/pkg/bulk/opBulk.go#L77.

## What should be done?

Any code path that reads a `BulkIndexerResponseItem` should check the `Error` field and ensure that an error has not occurred. If an error has occurred then

[2022-09-21 19:31] michel-laterman commented on #1859
Instead of creating a separate router per listener, which would require creating separate endpoint handers (`CheckinT`, `AckT`, etc) just so a different instance of a listener is associated with a route.
I think we should refactor the limiter so it can be used as a route-aware middleware layer on the http server. This way we can just make separate limiters for each listener.
It also would cleanly

[2022-09-21 20:56] #1894 closed

[2022-09-22 09:22] GillesHorn commented on #1866
Same issue, impossible to enroll a new fleet server with custom certificates.

[2022-09-22 11:23] dstircz commented on #1866
You can specity the root CA in the install command with this parameter:
--fleet-server-es-ca=/home/elk/root.pem
This solved the issue for me.

[2022-09-22 14:15] GillesHorn commented on #1866
already done with --certificate-authorities, --fleet-server-es-ca, --fleet-server-cert, --fleet-server-cert-key but still the same issue, the communication seems to work fine, certificate is trusted, but I have the timeout.

[2022-09-23 08:15] shahzad31 commented on #1754
@ph any updates on prioritising this issue?

[2022-09-23 10:37] amolnater-qasource commented on #1829
FYI @jlind23

[2022-09-23 13:26] nchaulet commented on #1829
It's normally possible to add a Fleet server with another id than `fleet-server-policy` as long the policy has the `fleet-server` integration, @amolnater-qasource can you confirm that the policy `42...` contains a Fleet server package policy?

[2022-09-23 14:21] cmacknz commented on #1754
We don't have this on our priority list, you'll want to get in touch with @pierrehilbert (currently on PTO) about getting this prioritized.

[2022-09-23 20:14] pjbertels opened #1907 "nbAgentsAck in /action_status endpoint greater than number of actions"
Testing with action_status and found nbAgentsAck in /action_status endpoint greater than number of actions.

TF_VAR_stack_version=8.5.0-SNAPSHOT TF_VAR_stack_hash=7dc445a0.  Cluster https://pb8506.kb.us-west2.gcp.elastic-cloud.com:9243/app/fleet/agents

[code]

[2022-09-26 07:38] juliaElastic commented on #1907
This pr will solve this: https://github.com/elastic/kibana/pull/141651

[2022-09-26 13:16] amolnater-qasource commented on #1829
Hi Team
We have revalidated this issue on latest 8.5 BC1 kibana cloud environment and found it **fixed** now.

**Observations:**
- We are successfully able to install fleet server using policies with id having other than `fleet-server-policy`.

**Build details:**
VERSION: 8.5 BC1
BUILD: 56595
COMMIT: 0d8de4df69f8084a94cdd9638d7de510813cb5ce

**Screenshots:**
![6](https://user-images.githubusercont

[2022-09-26 13:16] #1829 closed

[2022-09-26 16:22] jlind23 commented on #1696
@kpollich @jen-huang Can we consider this as a P1 for Sprint 2?

[2022-09-26 21:02] nimarezainia commented on #1696
**In summary:**

1. Repurpose the unenrollment timeout to be a Fleet UI TTL (give me a better name pls :-)
2. Upon TTL expiry the offline agents are hidden from the main fleet UI
3. Upon TTL expiry the agent status will not change. They are offline and still have their API keys
4. There should be no breaking change since by default the unenrollment timer is not set, offline agents stay in the main

[2022-09-26 22:22] #1841 closed

[2022-09-27 17:40] kpollich commented on #1696
Chatted with @nimarezainia @jen-huang @dborodyansky @mukeshelastic offline today about state transitions and how they'll work in the new "timeout" concept. We came up with this simplified diagram to capture the high-level state transitions:

![image](https://user-images.githubusercontent.com/6766512/192598086-e16ad8aa-8ba7-48c2-86b3-345db9841e0b.png)

[2022-09-27 17:55] nimarezainia commented on #1696
To add to hat @kpollich mentions above, an "Inactive" status with active API keys makes intuitive sense since those agents could transition to become "Active". Where as an "Unenrolled" needs a new enrollment.

[2022-09-27 21:04] dborodyansky commented on #1696
Please find [design proposal based on discussion](https://www.figma.com/file/3HvuewyuiOMmiPRVUkcltT/Fleet-scalability?node-id=1305%3A239787) and share any questions or concerns. Thank you.
(@kpollich @nimarezainia @jen-huang @mukeshelastic)

[2022-09-28 04:24] amolnater-qasource opened #1922 "Hosted Fleet Server not available on Healthy deployment of 8.4.3 BC-1"
**Description:**
Hosted Fleet Server not available on Healthy deployment of 8.4.3 BC-1 when deployed from:
- https://cloud.elastic.co/
- https://staging.found.no/

**Screenshots:**

![15](https://user-images.githubusercontent.com/77374876/192687184-c67af28d-1a20-44b0-9b63-3468ca4b25b8.JPG)

![14](https://user-images.githubusercontent.com/77374876/192686765-08ecafa9-d68f-4054-94a5-eb70946b23ee.JPG)

[2022-09-28 04:24] amolnater-qasource commented on #1922
@manishgupta-qasource Please review.

[2022-09-28 05:53] manishgupta-qasource commented on #1922
Secondary review for this ticket is Done

[2022-09-28 07:03] AndersonQ commented on #1922
I'm looking at it, just to confirm, the 8.4.3 BC-1 is the 8.4.3-SNAPSHOT, right?

[2022-09-28 08:18] joshdover commented on #1922
No it's not necessarily the exact same build. To deploy BC1 you can go to staging and deploy the 8.4.3 release (not SNAPSHOT)

[2022-09-28 09:55] cachedout opened #1927 "E2E testing and Fleet Server"
This is a downstream issue from a tracking issue located here: https://github.com/elastic/e2e-testing/issues/3053

## Fleet Server pipeline

We have a pipeline which was at one time running on the Beats CI, called [Pipeline Fleet Server e2e tests Pipeline](https://beats-ci.elastic.co/job/e2e-tests/job/e2e-testing-fleet-server/). It has not been executed since [October of 2021](https://beats-ci.ela

[2022-09-28 10:02] joshdover commented on #1922
The root cause has been identified as a panic being caused by an elastic-agent bug introduced in https://github.com/elastic/elastic-agent/commit/7f10625c444b93ed9b3df79efbb473de0fb6a4e7. @AndersonQ is preparing a fix which should be up very soon.

[code]

Some learnings form this:
- The panic crash from elastic-agent is not showing up in the logs we have ingested in Cloud. We need to have this res

[2022-09-28 14:04] joshdover commented on #1927
Let's close this in favor of https://github.com/elastic/elastic-agent/issues/1174

[2022-09-28 14:04] #1927 closed

[2022-09-29 03:39] nimarezainia commented on #1696
@dborodyansky these look great to me.

Should we also add the inactive count (where we have the healthy, unhealthy, offline counters) so the users knows to go an clean it up if required? or perhaps some sort of a message reminding them? (this might be too chatty)  @kpollich thoughts?

[2022-09-29 08:47] elasticmachine opened #1933 "Build 38 for main with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2Fmain/detail/main/38//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2Fmain/detail/main/38//t

[2022-09-29 08:51] amolnater-qasource commented on #1869
Hi @nchaulet

We have attempted to install fleet server using `--fleet-server-es-insecure` flag on 8.5 BC2 Kibana self-managed environment and observed that fleet server gets stuck in updating state after running install command.

**Build details:**
VERSION: 8.5.0 BC2
BUILD: 56806
COMMIT: dc769f45a5a6dafb0a8c8f0c0cabcced4df45e11

**Screenshot:**
![1](https://user-images.githubusercontent.com/77374

[2022-09-29 09:25] amitkanfer commented on #1696
@nimarezainia I'll consider using the diagram @kpollich prepared in our user-facing docs, it's great.

[2022-09-29 09:47] joshdover commented on #1696
From an implementation standpoint, we'll need to consider how we model the new "inactive" state. I'd really prefer that we shy away from making an actual state change on the agent documents and instead calculate this at runtime, but I'm curious what the team thinks about this considering the discussion in #141107.

One option that could be attractive is to use a runtime field in the `.fleet-agents

[2022-09-29 09:55] amitkanfer commented on #1696
to me this sounds like a pure UI consideration, hence a new status field is not needed.
however, it might become tricky to calculate the inactivity status for 100K agents for every page refresh. There are a few shortcuts we can take ofcourse (eg. caching the results, ignoring all active agents etc`). So question is - is it doable in runtime?

[2022-09-29 10:41] narph commented on #1869
@amolnater-qasource this only happens when using the --fleet-server-es-insecure flag? does it work when entering the certificates configuration?

[2022-09-29 10:44] joshdover commented on #1696
Agreed we don't need a new field, but we have been discussing ways to simplify our state calculation logic to make it easier for support folks. Having the state directly in the agents index has some value.

ES can do these types of calcs pretty quick, even with that many documents. Caching may not be necessary. At least, I haven't seen any stats that concern me in our scale tests so far. It would

[2022-09-29 10:51] amolnater-qasource commented on #1869
Hi @narph

We are unable to install fleet server without using ` --fleet-server-es-insecure` flag and actual reported issue is reproducible to us.
Further using --fleet-server-es-insecure it gets stuck in updating state as shared https://github.com/elastic/fleet-server/issues/1869#issuecomment-1261972290 .
Please let us know if anything else is required from our end.

Thanks

[2022-09-29 11:34] simranvaseer-qasource opened #1934 "[Fleet]: Fleet Server stuck in updating state after installation."
Kibana version: 8.4.3 BC2 Kibana Cloud environment

Host OS and Browser version: Windows

**Build details:**
VERSION: 8.4.3 BC2
Build: 55572
Commit: 1ceb607762eaafa726c61d6eee5b95359142d4c4

**Preconditions:**
- 8.4.3 BC2 Kibana Cloud environment should be available.

**Steps to reproduce:**
1. On fresh Kibana setup navigate to Fleet tab.
2. Click 'Add Fleet Server'.
3.  Generate Fleet-server poli

[2022-09-29 11:39] dikshachauhan-qasource commented on #1934
Secondary Review is done.

[2022-09-29 14:53] kpollich commented on #1696
I very much like the idea of using a runtime field for this use case. An `is_inactive` runtime field that uses a painless script to determine whether an agent has exceeded the configured TTL seems like a good fit here. We'll need to make sure we update the agent index mappings when the user makes changes to the TTL value, as mentioned above.

[2022-09-29 17:12] joshdover commented on #1696
The trick will be how to have a separate TTL setting for each agent policy and ensuring that the scripts or mappings in ES stay in sync with Kibana.

[2022-09-29 17:19] #1859 closed

[2022-09-29 18:24] #1885 closed, assigned to michel-laterman

[2022-09-29 19:02] cmacknz commented on #1934
Probably a duplicate of https://github.com/elastic/elastic-agent/issues/760

[2022-09-29 23:50] aztazt commented on #1866
same problem here
#flag

[2022-09-30 05:51] simranvaseer-qasource commented on #1934
Hi @cmacknz
I have observed that the attached logs was incorrect. Further, I have attached the correct logs below:

Elastic-agent log:
[elastic-agent-diagnostics-2022-09-30T04-12-58Z-00.zip](https://github.com/elastic/fleet-server/files/9681057/elastic-agent-diagnostics-2022-09-30T04-12-58Z-00.zip)

Please let us know if anything else is required from our end.
Thanks

[2022-09-30 09:27] joshdover commented on #1934
I don't think this is a Fleet Server problem, the logs for FS look normal to me. There are a couple other interesting things in the logs.

It looks like the agent is in a bootloop due to this error:

`{"log.level":"error","@timestamp":"2022-09-30T03:55:41.968Z","log.origin":{"file.name":"status/reporter.go","file.line":326},"message":"Elastic Agent status changed to \"error\": \"app filebeat--8.4.

[2022-09-30 09:56] joshdover commented on #1869
@nchaulet do you know what may be going on here?

[2022-09-30 19:36] nimarezainia commented on #1696
Would the user be able to build alerts on agent status if we go down this path? (using a runtime field on .fleet-agents index)?

[2022-10-03 13:39] nathanatimu commented on #1869
Hi,
I'm facing also this issue. detail are provided here:
https://discuss.elastic.co/t/elastic-agent-error-dialing-x509-certificate-signed-by-unknown-authority/315675/3

in short: command:
`./elastic-agent install --url=https://ip-adress-of-other-server:8220
--fleet-server-es=https://machine-host-name:9200
--fleet-server-service-token=token
--fleet-server-policy=fleet-server-policy
--certificate-a

[2022-10-03 14:25] cmacknz commented on #1869
Also seems to be reported in https://github.com/elastic/fleet-server/issues/1866

[2022-10-03 14:31] nathanatimu commented on #1869
@cmacknz yeah, only difference is that the --fleet-server-es-insecure flag doesn't provide a solution

[2022-10-03 14:36] nchaulet commented on #1869
The fact that the trusted fingerprint is missing is related to that bug https://github.com/elastic/kibana/pull/142109

Using ` --fleet-server-es-insecure` seems to be the correct workaround, The fact that the agent is stuck in updating means the agent is not able to checkin, they should probably check the fleet server url here I saw this in the discussion that seems incorrect to me `url=https://12

[2022-10-03 15:24] gonzo919 commented on #1034
@mimeie I have a customer with similar issue but restarting did not work. It ended up creating 3 instances in healthy, offline and updating status:
![Screenshot from 2022-10-03 11-21-39](https://user-images.githubusercontent.com/42326086/193615392-3784d787-04ed-49ce-af2f-4dab76dc4381.png)

Anything else to try? Thanks

[2022-10-03 15:36] cmacknz commented on #1034
Possible duplicate of https://github.com/elastic/elastic-agent/issues/760 which we have now root caused.

@joshdover is there a link we can share for recovering agents in this state?

[2022-10-03 16:39] michalpristas commented on #1934
This was fixed but fix did not make it to BC2
![image](https://user-images.githubusercontent.com/1522652/193631716-06398e97-9d0b-4a79-88ed-b1ed4c20fecd.png)

Fix PR: https://github.com/elastic/elastic-agent/pull/1371
Issue: https://github.com/elastic/elastic-agent/issues/1361

[2022-10-03 17:34] cmacknz commented on #1934
Closing as fixed by https://github.com/elastic/elastic-agent/pull/1372

[2022-10-03 17:34] #1934 closed

[2022-10-03 21:09] nchaulet commented on #903
@michel-laterman I am wondering if there is any Fleet server to do here, or it's just a matter of populating differently `fleet.hosts` in the agent policy from Kibana depending on what the user is configuring, and showing different enroll command too.

[2022-10-04 06:52] nathanatimu opened #1945 "Error dialing x509: certificate signed by unknown authority | Fleet server not able to connect with elasticsearch"
Elastic - Kibana Version: 8.4.2
OS - Ubuntu 22
Installation - Self managed

**Steps to Reprduce:**
- install Elastic and Kibana
- reversed proxy used to access Kibana
- login via Elastic user
- go to management => fleet => add fleet server => advanced => follow steps
- go to fleet server => install elastic agent with certificates
- installation is successfull
- go to either metricbeat or filebeat

[2022-10-04 09:33] amolnater-qasource commented on #1869
Hi Team
We have attempted to install fleet-server using production mode with certs and fleet server stuck in `Updating` state.
- We have run below command:
[code]

**Build details:**
[code]

**Screenshots:**
![1](https://user-images.githubusercontent.com/77374876/193778216-1675b77c-27bc-4752-bb04-923dba0ad970.JPG)
![2](https://user-images.githubusercontent.com/77374876/193778226-1b86cc72-2bfc-4299

[2022-10-04 11:25] jlind23 commented on #903
@jen-huang Nima is assigned to that issue, shouldn't it be an engineer from your team instead?

[2022-10-04 14:46] joshdover commented on #1034
We don't have a public doc, but we should add this to our troubleshooting page.

The most simple workaround is to force the agent to upgrade again via API from the Dev Tools app:

[code]

A slightly less disruptive change if you have many agents in this state is to manually fix the documents in the agent index:

All that we need to do, is to un-mark the Elastic Agents as upgrading, but this is a b

[2022-10-05 09:32] simranvaseer-qasource commented on #1934
Hi Team
We have revalidated this issue on latest 8.4.3 BC3 kibana cloud environment and found it **fixed** now.

- Fleet Server is healthy after installation.

**Build Details:**
Version: 8.4.3 BC3
BUILD: 55572
COMMIT: 1ceb607762eaafa726c61d6eee5b95359142d4c4

**Screenshot:**

![image](https://user-images.githubusercontent.com/102019374/193995636-a04b08c3-37ae-4628-a90f-6ed1152bdf1c.png)
Hence, ma

[2022-10-05 11:53] narph commented on #1869
@amolnater-qasource looking at the errors in the logs you linked:

[code]

[2022-10-05 15:28] jlind23 commented on #903
Discussing this with @blakerouse and @michalpristas today and no changes are needed on fleet-server's end.

[2022-10-05 20:04] pjbertels opened #1952 "actionId nbAgentsAck greater than nbAgentsActionCreated on completion"
image_tag:8.5.0-58624073-SNAPSHOT

Examples:
[code]
[code]

[2022-10-06 11:17] joshdover opened #1958 "AgentOutputs migration runs indefinitely under high scale and breaks Fleet Server"
- Version: 8.5.0+
- Steps to Reproduce:
	1. Enroll a lot agents agents
	2. Restart the Fleet Server
	3. Observe constant "migration AgentOutput done" logs
	4. Fleet Server hangs on this and won't be able to fully startup and accept requests from Agents

<img width="1748" alt="image" src="https://user-images.githubusercontent.com/1813008/194297616-f391882d-0ee7-49f2-95f0-789f194e7b0b.png">

The mig

[2022-10-06 12:05] joshdover commented on #1958
The plan right now is to do (1) + remove the invalid mappings from ES for the 8.5.0 release. This is the least risky option.

[2022-10-06 12:36] juliaElastic commented on #1952
I had a look at the data, and it looks that the [fix](https://github.com/elastic/kibana/pull/141651) we did for this issue before is not good enough.
We are doing a `cardinality` aggregation to filter out multiple acks for the same agent, but it is not accurate for too many agents as [documented](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-cardinalit

[2022-10-07 17:11] pjbertels commented on #1958
Tested in 8.5 SNAPSHOT c52257ee looks good. Verified migration related debug logs(~70logs) are only at the beginning.

[2022-10-07 17:11] #1958 closed

[2022-10-10 13:44] juliaElastic commented on #1883
I had a look at the Fleet Server code, and it doesn't seem like we need any special logic for the new action type.
Tested with local FS, and the `REQUEST_DIAGNOSTICS` action was delivered to agents and was acked immediately without any code change. I suppose it works as a no-op on Agent and FS side.
@michel-laterman do you find this assumption correct?

[2022-10-10 14:48] juliaElastic commented on #1883
Changes needed in elastic-agent:

- [ ] Add a new handler for request diagnostics action [here](https://github.com/elastic/elastic-agent/tree/main/internal/pkg/agent/application/pipeline/actions/handlers)
- [ ] call the [function](https://github.com/elastic/elastic-agent/blob/main/internal/pkg/agent/cmd/diagnostics.go#L197) that collects diagnostics and creates a zip file
- [ ] upload zip file to

[2022-10-11 08:06] jlind23 commented on #1883
@juliaElastic Who is working on the Elastic Agent end?
@pierrehilbert @cmacknz was this plan in the first sprint?

[2022-10-11 08:19] juliaElastic commented on #1883
@jlind23 I pinged @michel-laterman to find out if he has time, otherwise I can look into it, though it might take longer as I am not familiar with the agent codebase.

[2022-10-11 12:01] jlind23 commented on #1883
@juliaElastic thanks for the answer. @michel-laterman would indeed be a perfect fit here 😄

[2022-10-11 12:21] pjbertels opened #1977 "ActionId lost during unenroll at 75k"
With 75k drones up and running towards the end of a test_perf02 test run we requested that all agents be force unenrolled.

FleetAgentStatus(total=75000, inactive=0, online=75000, error=0, offline=0, updating=0, other=0, events=0, doc_id=None, run_id=None, timestamp=None, kuery='local_metadata.host.hostname like eh*', cluster_name=None)

The actionId we got back was : actionId='5bfc58f2-6c2d-4984-

[2022-10-11 14:24] pjbertels opened #1980 "Fleet counts duplicate drones"
Doing a test at 25K agents I found that when removing an integration there was some instability and agents were going offline. This resulted in the total agents for the policy being reported as 25004 when there were only 25000 drones. We should not get into this state. Once this happens it is difficult to figure out which agents are duplicates and clean things up.

TF_VAR_stack_version=8.5.0-SNAPS

[2022-10-11 15:23] kpollich commented on #1977
@juliaElastic - Could you provide any insight into why we might be running into this issue where the bulk unenroll action is dropped before the operation completes?

[2022-10-11 17:04] juliaElastic commented on #1977
I checked the `.fleet-actions` index and the kibana logs, and I don't see the `FORCE_UNENROLL` action anywhere.
@pjbertels do you know around which time the action was taken? I didn't see any specific error in the logs, maybe if we can narrow down the timeframe, I can check again.

[2022-10-12 08:41] juliaElastic commented on #1980
I see 4 agents in updating, and 25k offline. When I searched on one of the updating hosts, I see two agents, with different ids.
Could it be that the agent re-enrolled on the same host?

<img width="3006" alt="image" src="https://user-images.githubusercontent.com/90178898/195294486-1fcfa858-86f6-4f32-9687-7edca90b386f.png">

[2022-10-12 16:47] pjbertels commented on #1980
Here are the Horde logs for drones with that name:
[code]

[2022-10-12 17:35] pjbertels opened #1985 "Progress of the rolling out of a policy modification is uneven"
Progress of the rolling out of a policy modification is uneven.

Cluster details:
TF_VAR_cluster_name=pb85_09886b6e_003 TF_VAR_cluster_template_id=gcp-io-optimized-v2 TF_VAR_cluster_mem_fleet=24G TF_VAR_cluster_mem_es=128G TF_VAR_stack_version=8.5.0-SNAPSHOT TF_VAR_stack_hash=09886b6e oblt-perf run suites.test_perf02.py --perf-conf  ~/elastic/obs-configs/perf_pb85_09886b6e_002.toml  --harness-conf

[2022-10-13 11:46] amolnater-qasource commented on #1869
Hi Team
We have revalidated this on 8.5 BC4 kibana self-managed environment and found it **fixed now**.

**Observations:**
- Fleet-server is installed Healthy using Quickstart mode.

**Build details:**
BUILD: 57008
COMMIT: b2b4d5c5b4742fcfe5699dbcbffb9a98a5f06b5f

**Screenshots:**
![15](https://user-images.githubusercontent.com/77374876/195586043-24d1a8dd-23bb-490b-9127-171396309ed0.JPG)
![14](htt

[2022-10-13 11:46] #1869 closed

[2022-10-14 10:28] joshdover commented on #1985
Thinking about this more, I think we should confirm this is indeed the case in the logs. If we can grab the host name for any of the drones that are falling behind we can quick check the horde logs and see what's going on on those agents.

[2022-10-17 12:31] kpollich commented on #1744
This issue is a little out of my wheelhouse in terms of expertise, but it seems like a very nuanced technical debt issue. I think the best path forward is to keep this near the top of the backlog and look to take this on during feature freeze or ON week in the near future.

@michel-laterman - let me know if you have other thoughts here. Curious about how mission critical this refactor might be or

[2022-10-17 15:16] nimarezainia commented on #1696
**In summary:**

1. Repurpose the unenrollment timeout to be a Fleet UI TTL (give me a better name pls :-)
2. Upon TTL expiry the offline agents are hidden from the main fleet UI
3. Upon TTL expiry the agent status will not change. They are offline and still have their API keys
4. There should be no breaking change since by default the unenrollment timer is not set, offline agents stay in the main

[2022-10-17 16:09] jlind23 commented on #1696
@nimarezainia As we still miss the UX and the mockups, moving it out of our current sprint.

[2022-10-17 19:15] #1773 closed

[2022-10-17 20:24] pjbertels commented on #1985
[code]
![image](https://user-images.githubusercontent.com/4389260/196275615-5ef83054-3bd0-49c9-907c-52736b6a82b7.png)

Here are the log headers:
[code]

[2022-10-17 20:59] michel-laterman commented on #1883
Oops, sorry I missed the earlier discussion.

Yes, the `fleet-server` changes are not going to be very extensive, we would just need to determine signaling for successful/failed actions, does a successful ack contain any metadata about the uploaded archive? how does a failed attempt/upload indicate an issue?

With the v2 changes the diagnostics collection will have changed slightly(pr https://gith

[2022-10-18 07:26] jlind23 commented on #1883
@kpollich has the most knowledge here and should be able to answer ^

[2022-10-18 08:08] juliaElastic commented on #1883
I think Fleet Server should receive the file ID (should be returned by the upload API) on ack and save it in `.fleet-actions-results`, so then Fleet UI can retrieve the file by ID.
Failure messages can also be saved in `.fleet-actions-results` in the `error` field similarly to other actions.

Yes, we want to upload the diagnostics `.zip` file.

[2022-10-18 12:30] joshdover commented on #1985
Backoff logic seems a bit aggressive on Horde, especially in the last jump from 82s to 600s: 1.3s, 1.4s, 4.5s, 7.2s, 14s, 72s, 41s, 82s, 600s

We should probably duplicate Agent's backoff logic to horde and go from there.

[2022-10-20 17:00] pjbertels opened #2015 "ActionId for Tag removal completes but the tag is still in the list of tags"
image_tag:8.5.0-792499b4-SNAPSHOT

When doing a 50k run and adding and removing tags we found that the ActionId for Tag removal completes but the tag is still in the list of tags and this causes the test to fail.

[code]

[2022-10-24 08:15] juliaElastic commented on #2015
@pjbertels could you give some more info about the order of events here? which tags were added/removed?
We have a known [issue](https://github.com/elastic/kibana/issues/142330) with multiple tags being removed quickly, I am wondering if this is the same root cause.

[2022-10-24 15:08] pjbertels commented on #2015
We add the tag test_tag_d54827c0-508d-11ed-8ccc-39cdadc9db68 (test_tag_<policyId>) to all the agents. When the actionId completes we verify that the tag is also in the list of tags. We remove the tag and wait for the actionId to complete and then we check the list of tags to check if it is also removed.

[2022-10-25 13:49] pjbertels commented on #1977
I have not seen this issue since. When the issue occurred things were going very slowly, normally force unenroll is pretty fast. Need to see another instance of this issue to get better debug info.

[2022-10-25 14:49] jlind23 commented on #1977
Closing this for now until further occurence.

[2022-10-25 14:49] #1977 closed

[2022-10-26 08:52] joshdover commented on #1866
This was caused by a bug in our Kibana setup code which resulted in the UI not providing the CA fingerprint CLI arg to the Fleet Server setup command. This was resolved in 8.5.0: https://github.com/elastic/kibana/pull/142109

To workaround this issue you _can_ use `--fleet-server-es-insecure` but the more secure option would be to copy the `xpack.fleet.outputs.ca_sha256` value from `kibana.yml` an

[2022-10-26 14:24] nchaulet opened #2029 "[Fleet] Unable to enroll a Fleet server in a policy with more than 10 inactive enrollment tokens"
It's not possible to install a Fleet server in a policy with more than 10 inactive enrollment tokens.

let say you have a `fleet-server-policy` with 10 inactive enrollment tokens and 1 active installing Fleet server results in Fleet stuck in the following state

[code]

I think the issue is because we fetch all enrollment token (active or not) in a policy without size parameter, by default ES sear

[2022-10-27 09:28] jlind23 commented on #1860
After discussing with @joshdover we will close this issue and rather work on adding more presets files inside the fleet server repository.
https://github.com/elastic/fleet-server/tree/main/internal/pkg/config/defaults

[2022-10-27 09:28] #1860 closed

[2022-10-27 09:33] jlind23 commented on #1857
After discussing with @joshdover we should take a look at the scale testing we did and probably came out with the following additional presets limits:
- New file: gt25000_limits
- New file: gt50000_limits
- New file: gt75000_limits
- Updated file: maxlimits needs to be scale up in order to support 100K Elastic Agent.

[2022-10-27 18:48] kpollich opened #2033 "test issue please ignore"

[2022-10-27 19:58] pjbertels commented on #2015
An example from a 50K run on 8.5.0-bdb8ff4d. https://apm-ci.elastic.co/job/perf/job/observability-perf-mbp/job/main/191/consoleText

[2022-10-28 11:41] juliaElastic commented on #2015
@pjbertels I wouldn't reproduce this so far. Could you share the admin link to this cluster and the password to log in to kibana? I would like to check if there are any errors in kibana logs.

One thing that could be happening that the ack count calculation in `/action_status` is not accurate, and the action is not yet finished when you check the tags. Could we try adding some wait to the test to

[2022-10-28 14:27] juliaElastic commented on #1857
As discussed on a debugging session, there should be a file for 100k as well.
After changing the limits, `make generate` should be run.

[2022-10-29 05:37] zez3 opened #2038 "end of the stream or a document separator is expected at line 13, column 1:"
syslog enable in policy UI not working with custom processors

Steps to reproduce:

Use a custom UDP integration, enble syslog in UI and a add a simple processor in advanced options
Try to save this policy.
An error will occur

[code]

Workaround:
Disable the UI option and use the syslog processor directly in the advanced option section together with other processors there.

For confirmed bugs, pl

[2022-10-31 05:42] elasticmachine opened #2042 "Build 70 for main with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2Fmain/detail/main/70//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2Fmain/detail/main/70//t

[2022-10-31 10:21] joshdover commented on #1857
This should be covered by the max_limits file.

Yes we need to define this clearly. @ablnk has been using some of the settings recommended over in https://github.com/elastic/observability-perf/issues/208#issuecomment-1263675432. Originally these were intended for larger instance sizes, but I think we've been using them on smaller sizes too. I think we still need to have a product decision about ho

[2022-10-31 10:57] ablnk commented on #1857
@joshdover this can be checked on configs tab in the [spreadsheet](https://docs.google.com/spreadsheets/d/1V3RlxZOkNQYpAMPGtWUtLRggaHYqVIISQacSynyVDkw).
Though I used settings for 50k from [that comment](https://github.com/elastic/observability-perf/issues/208#issuecomment-1263675432), I applied them for 100k, since 30gb Integrations Server in enough to have everything working as expected. For 50k

[2022-10-31 18:40] michel-laterman commented on #2029
It should be pretty straightforward to query for active tokens, @kpollich should we backport a fix to 8.5?

[2022-10-31 18:48] kpollich commented on #2029
Yes let's look to backport this for sure.

[2022-11-01 01:32] ddatsh commented on #1945
any progress?

[2022-11-01 19:45] #2029 closed

[2022-11-01 20:17] michel-laterman commented on #1635
I think this may be caused by the query for offiline agents returning 10 at a time.
We can send a size or use a scroll parameter

[2022-11-03 08:21] juliaElastic commented on #1857
Blocked because waiting for testing: https://github.com/elastic/fleet-server/pull/2043#issuecomment-1298722932

[2022-11-04 19:59] linyaru opened #2054 ""Learn more" on Integrations > APM page links out to 404 error"
- Version: Confirmed in 8.4 and 8.5
- Operating System: Elastic Cloud
- Steps to Reproduce:
1. Visit Integrations -> Elastic APM
<img width="600" alt="Screen Shot 2022-11-04 at 3 57 20 PM" src="https://user-images.githubusercontent.com/13274684/200063961-a66c7423-6c2d-4e17-8a1b-8ad2b4960225.png">
2. Click on "Learn more"
<img width="600" alt="Screen Shot 2022-11-04 at 3 56 07 PM" src="https://user

[2022-11-07 06:51] amolnater-qasource opened #2059 "[Self-Managed]: Unable to install fleet server using available command."
Kibana version: 8.6.0 Kibana self-managed environment

Host OS and Browser version: Windows

Build details:
VERSION: 8.6.0 Snapshot Kibana self-managed environment
BUILD: 57997
COMMIT: b78f785b3c25792e1803f7c77512bc38d1a10afa

**Preconditions:**
- 8.6.0 Snapshot Kibana self-managed environment should be available.

**Steps to reproduce:**

1. On fresh Kibana setup navigate to Fleet tab.
2. Create

[2022-11-07 06:51] amolnater-qasource commented on #2059
@manishgupta-qasource Please review.

[2022-11-07 16:08] cmacknz opened #2060 "Merge feature-arch-v2 into main"
The agent v2 branch will be merged to main very soon. This tracks to work to ensure fleet-server is merged at the same time:

Tasks:
- [x]  Merge main branch into feature-arch-v2
- [ ]  Testing to validate that everything is still working
- [ ]  Merge feature-arch-v2 branch into main once the time of the merge is decided.

[2022-11-07 22:28] nimarezainia commented on #903
https://github.com/elastic/kibana/issues/137785

[2022-11-07 22:28] #903 closed

[2022-11-08 15:52] cmacknz commented on #2059
@michel-laterman or @kpollich does anything seem familiar here? Any ideas what might have caused this?

[2022-11-08 16:08] kpollich commented on #2059
@nchaulet - Anything with multiple Fleet Server hosts that could've caused this?

[2022-11-08 16:25] nchaulet commented on #2059
This line in the log seems confusing to me
<img width="1346" alt="Screen Shot 2022-11-08 at 11 24 21 AM" src="https://user-images.githubusercontent.com/1336873/200620177-3a829784-e4b8-4b33-9bcf-60464acf5e9b.png">

It's possible to get more logs, Kibana logs? and to take a look at what the Fleet server policy looks like?

[2022-11-08 19:51] kpollich opened #2063 "[Fleet] Remove automatic unenrollment of agents"
Relates to https://github.com/elastic/kibana/issues/143455

Currently, after agents haven't checked in in a time period greater than the configure "unenrollment timeout," they are automatically "unenrolled" and their API keys are decommissioned. With the work being done in https://github.com/elastic/kibana/issues/143455, this process will no longer be necessary as the filtering of "inactive" agent

[2022-11-09 09:05] amolnater-qasource commented on #2059
Hi @nchaulet

Thank you for looking into this.

While revalidating this issue on latest 8.6 Snapshot self-managed environment and observed different issue where we are unable to add fleet server integration.

**Build details:**
[code]

We have reported separate issue for this at https://github.com/elastic/kibana/issues/144880

Further we will revalidate this issue, once the above shared issue will

[2022-11-09 11:34] nyukers commented on #1253
Excuse me, but I can't understand where is good reason for "insecure" with "https" values in **enroll** statement.

[2022-11-09 12:43] nyukers commented on #1253
Fleet hosts is https://192.168.1.11:8220
Elasticsearch hosts is http://192.168.1.11:9200

**Try to run:**
sudo ./elastic-agent enroll  --url=https://192.168.1.11:8220 --enrollment-token=UHlWRlc0UUJyOXZ1blFVTzB1ZFM6cWRSTlpvUnpRMUNlVkxZVWI0VThGUQ== --insecure

**Output:**
2022-11-09T14:35:16.435+0200    WARN    cmd/enroll_cmd.go:453   Remote server is not ready to accept connections, will retry in a

[2022-11-09 13:28] pjbertels opened #2068 "/settings in Fleet API no longer lists Fleet endpoints - Fleet Scaling BLOCKER"
We use the Fleet API to provision cluster in order to execute the Fleet Scaling tests.

TF_VAR_stack_version=8.5.0 TF_VAR_stack_hash=f1d5f5cd
In 8.5 when we check the /settings we get ...
{'item': {'id': 'fleet-default-settings', 'fleet_server_hosts': ['https://1fe39f71920365b4a4173e20f1295d0b.fleet.us-west2.gcp.elastic-cloud.com:443'], 'preconfigured_fields': []}}

TF_VAR_stack_version=8.6.0-SNAP

[2022-11-09 19:27] jlind23 commented on #2063
After discussing with @michel-laterman this one is a pretty light one and @hop-dev should be able to take this one too.

[2022-11-09 19:39] michel-laterman commented on #1635
https://github.com/elastic/kibana/issues/143455 will result in the removal of fleet-server unenrollment and will bypass this issue

[2022-11-10 10:40] nyukers commented on #1253
It's interesting - where is my Fleet server must be if I have Kibana host and Elasticsearch host **separately**?

[2022-11-10 14:15] jlind23 commented on #2059
@amolnater-qasource as https://github.com/elastic/kibana/issues/144880 is fixed, could you please retest this one?

[2022-11-11 15:51] zez3 opened #2075 "Make Fleet spaces aware"
There was this discussion here:
https://discuss.elastic.co/t/elastic-agent-fleet/254691

Also my other issue https://github.com/elastic/kibana/issues/132559 that I suppose it can be moved or closed as long as this one will get a team assigned

and an Internal  ER number 17456

[2022-11-14 04:29] prachigupta-qasource opened #2076 "[Deployment]: Hosted Fleet Server is not available under Fleet> Agents Tab on 8.6 SNAPSHOT"
**Description:**
- `Hosted Fleet Server` is not available under `Fleet> Agents` Tab on 8.6 SNAPSHOT.

  - https://staging.found.no/deployments/create

**Platform:**
Google Cloud Platform

**Observations:**

- Build is `Healthy with Warnings`.
- `Hosted Fleet Server` is not available under `Fleet> Agents` Tab.

**Screenshots:**

![image](https://user-images.githubusercontent.com/97870262/201574732-

[2022-11-14 04:32] amolnater-qasource commented on #2076
Secondary review for this ticket is Done.

FYI @cmacknz

[2022-11-14 07:59] amolnater-qasource commented on #2059
Hi @jlind23
We have revalidated this issue on latest 8.6 SNAPSHOT Kibana self-managed environment and found it **fixed** now.

**Observations:**
- We are successfully able to install Fleet-Server on self-managed environment.

**Build details:**
BUILD: 58205
COMMIT: 8a34465b29c90aa996ff0c4c65a0539b392640f6

**Screenshot:**
![10](https://user-images.githubusercontent.com/77374876/201605703-e58aeff8-

[2022-11-14 07:59] #2059 closed

[2022-11-14 18:56] cmacknz commented on #2076
Probably a duplicate of https://github.com/elastic/elastic-agent/issues/1712. We will need to retest with a snapshot build that includes https://github.com/elastic/elastic-agent/commit/8eb334aa6731afacf7161edfd33f5915a5a6b3ba

[2022-11-15 07:25] amolnater-qasource opened #2083 "[Self-Managed]: Fleet server gets unhealthy on installation on self-managed environment."
**Kibana version:**  8.6 Snapshot self-managed environment

**Host OS and Browser version:** Windows, All

**Build details:**
[code]

**Preconditions:**
1. 8.6 Snapshot self-managed environment should be available.
2. Fleet server policy should be created having fleet server integration.

**Steps to reproduce:**
1. Install fleet-server using Fleet server policy.
2. Observe agent gets unhealthy.

*

[2022-11-15 07:25] amolnater-qasource commented on #2083
@karanbirsingh-qasource Please review.

[2022-11-15 07:27] karanbirsingh-qasource commented on #2083
Secondary review for this ticket is Done

[2022-11-15 18:39] cmacknz commented on #2083
I see this in the logs that is probably causing this problem:

[code]

Specifically `"Running on policy with Fleet Server integration: fleet-server-policy; missing config fleet.agent.id (expected during bootstrap process)"` seems to be the problem.

@michel-laterman any ideas what might be missing here?

[2022-11-15 23:59] michel-laterman commented on #2083
The most recent logs output by the agent in the log bundle indicate a recovery:
[code]

[2022-11-16 06:37] amolnater-qasource commented on #2076
Hi @cmacknz
We have attempted to redeploy latest 8.6 SNAPSHOT kibana cloud-staging environment and had below observations:
- APM & Fleet settings still failed.
- Hosted fleet server is available, however it goes offline after sometime.

**Screenshots:**
![3](https://user-images.githubusercontent.com/77374876/202102832-9d638493-f8d8-4a47-9a42-b3fd0818cc3f.JPG)
![4](https://user-images.githubusercon

[2022-11-16 12:41] kevinlog commented on #2083
@amolnater-qasource

Since we reverified [this ticket](https://github.com/elastic/kibana/issues/145202) about an unhealthy Endpoint and Fleet Server, does it follow that we can also close this ticket?  I think it may have been the same root cause.

[2022-11-16 13:05] amolnater-qasource commented on #2083
Hi @kevinlog

We have revalidated this on latest 8.6 SNAPSHOT and found that the issue is **still reproducible**.

**Observations:**
- Installed fleet server gets unhealthy on installation with Fleet Server policy having System and Fleet Server integration.

**Build details:**
BUILD: 58247
COMMIT: f893523d63e99d623269969af3f611ddff36c1c1

**Agent details:**
![image](https://user-images.githubuserc

[2022-11-16 16:49] cmacknz commented on #2083
Thanks this appears to be intermittent. @amolnater-qasource does fleet-server eventually recover to a healthy state as we observed previously?

[2022-11-16 16:57] michel-laterman commented on #2083
Can you provide a diagnostics bundle from the failing instance?

[2022-11-17 11:01] amolnater-qasource commented on #2076
Hi Team,

We have attempted to redeploy latest 8.6 BC1 kibana cloud-production environment and had below observations:
- APM & Fleet settings failed.
- Hosted fleet server is available, however it goes offline after sometime.

**Build details:**
BUILD: 58392
COMMIT: 50a7feb0a5eb068d3acccc49c83b9ccb6db6734f

**Screenshot:**
![image](https://user-images.githubusercontent.com/77374876/202412135-fdada

[2022-11-17 13:30] juliaElastic opened #2091 "Offline agents not unenrolled after unenrollment timeout has expired"
On upgrading the stack, old version of Fleet Servers remain in Agent list as Offline, even long after 1 day (default unenrollment timeout of fleet servers in cloud).

![image](https://user-images.githubusercontent.com/90178898/202459182-9a55cac7-e3c5-43ba-b858-6caab512e639.png)

This deployment has the issue for example: https://admin.found.no/deployments/0934b24bbdb34df2ae14912c9266a46a

In Fleet

[2022-11-17 13:32] juliaElastic commented on #2091
@elastic/elastic-agent-control-plane @michel-laterman Does this error ring a bell for you?

[2022-11-17 14:23] juliaElastic commented on #2091
I think the empty keys were introduced in this change: https://github.com/elastic/fleet-server/pull/1879/files#diff-093304d653ec6c08cbb650ebe6a6f76fc8e048b8ebfd06c6e49ea4f1c3906f80

Because the `key.ID` is not checked for being empty before appending:
https://github.com/AndersonQ/fleet-server/blob/e7756bd3f3f7d532a5ade9a01526d10418a5f3d0/internal/pkg/model/ext.go#L56

[2022-11-18 08:47] amolnater-qasource commented on #2083
Hi @cmacknz @michel-laterman
We have revalidated this issue on latest 8.6.0 BC1 self-managed kibana environment and had below observations:

- Fleet server policy is created with Fleet Server and System integration.
- Fleet Server is installed with the above created fleet server policy integration
- **Fleet Server is unhealthy when Fleet Server policy has the System integration.**
- **On removing

[2022-11-21 11:02] joshdover commented on #2083
This is actually "normal" and it confuses us and support on a regular basis. You'll see this on every boot of Fleet Server on Cloud, for instance.

We should fix this log by either removing it or getting ID in there correctly. Maybe the log just needs to be moved to a later part of the flow. @michel-laterman could you take a quick look at that? If it's more than an hour or so we can file a follow

[2022-11-21 15:52] #2033 closed

[2022-11-21 15:58] cmacknz commented on #2076
@joshdover I suspect your comment was meant to be on https://github.com/elastic/elastic-agent/issues/1756 since there is no API key error on this one.

[2022-11-22 10:58] simranvaseer-qasource commented on #1825
### `Bug Conversion`

- Test-Case not required as this particular checkpoint is already covered in the following testcase:

- https://elastic.testrail.io/index.php?/cases/view/147843&group_by=cases:section_id&group_order=asc&display_deleted_cases=0&group_id=30364

Thanks

[2022-11-22 10:58] simranvaseer-qasource commented on #1836
### `Bug Conversion`

- Test-Case not required as this particular checkpoint is already covered in the following testcase:
   - https://elastic.testrail.io/index.php?/cases/view/149907&group_by=cases:section_id&group_order=asc&display_deleted_cases=0&group_id=25985

Thanks

[2022-11-22 10:58] simranvaseer-qasource commented on #1869
### `Bug Conversion`

- Test-Case not required as this particular checkpoint is already covered in the following testcase:
   - https://elastic.testrail.io/index.php?/cases/view/147843&group_by=cases:section_id&group_order=asc&display_deleted_cases=0&group_id=30364

Thanks!

[2022-11-22 13:24] joshdover commented on #2076
🤦 yes, too many issue tabs

[2022-11-23 01:12] nchaulet opened #2105 "[Fleet] policy_revision_idx is not updated on policy change ack for policy without Elasticsearch output"
## Description

Looks like `policy_revision_idx` is not updated in `.fleet-agents` for policy without Elasticsearch output, normally when an agent acknowledge a policy change fleet server update the `policy_revision_idx` looks like for policy with only logstash output (for data and monitoring, and agent never used ES before) the field is not updated

## Impact

I think the problem was introduced i

[2022-11-23 08:14] #2091 closed

[2022-11-23 12:32] amolnater-qasource commented on #2076
Hi Team,

We have attempted to redeploy latest 8.6 BC2 kibana cloud-production environment and had below observations:
- APM & Fleet settings failed.
- Hosted fleet server is available, however it goes offline after sometime.

**Build details:**
BUILD: 58485
COMMIT: b52b34c2ff5216c395bd49c5fbc97744b646f34d

**Screenshot:**
![image](https://user-images.githubusercontent.com/77374876/203536733-b9cc5

[2022-11-23 14:08] jlind23 commented on #1857
@pjbertels @joshdover what is left here that prevent us moving this forward?

[2022-11-23 15:48] jlind23 commented on #1635
Let's close this issue as this functionality will be removed from 8.7 on.

[2022-11-23 15:48] #1635 closed

[2022-11-23 15:49] jlind23 commented on #1704
@kpollich I just came across this issue but it seems to be a fleet ui one and not a fleet server. May I transfer it?

[2022-11-23 15:50] jlind23 commented on #1028
@amolnater-qasource @dikshachauhan-qasource is this still relevant or can I close it?

[2022-11-23 16:00] kpollich commented on #1704
Yes this is probably a calculation issue in Fleet UI - let's transfer it

[2022-11-23 16:19] #2076 closed

[2022-11-23 17:52] michel-laterman commented on #2083
Has the agent been installed as admin/root?

[2022-11-23 17:59] michel-laterman commented on #2083
The ID is missing as part of the bootstrap. I don't think we want to loose the message entirely. And we are unable to (easily) just set that one message to debug. But we can set all state change messages that the fleet-server logs to debug

[2022-11-24 05:46] amolnater-qasource commented on #1028
Hi @jlind23

We are currently blocked to retest this issue as per https://github.com/elastic/elastic-agent/issues/1731 issue.

We will be revalidating this issue once 8.6 BC3 is available.

Thanks

[2022-11-24 05:46] amolnater-qasource commented on #1635
Hi Team,

Thank you for the update.
We will be deprecating these test scenarios as soon as the unenrollment timeout functionality will be updated.

Thanks

[2022-11-29 01:13] cmacknz commented on #1028
BC3 is now available for re-testing

[2022-11-29 08:27] elasticmachine opened #2130 "Build 6 for 8.6 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.6/detail/8.6/6//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.6/detail/8.6/6//tests)

[2022-11-29 09:02] elasticmachine opened #2135 "Build 7 for 8.6 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.6/detail/8.6/7//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.6/detail/8.6/7//tests)

[2022-11-29 10:13] amolnater-qasource commented on #2076
Hi Team,

We have attempted to redeploy latest 8.6 BC3 kibana cloud-production environment and had below observations:
- Hosted fleet server is available.
- Fleet settings are working, however APM settings are still failing.

**Build details:**
BUILD: 58485
COMMIT: b52b34c2ff5216c395bd49c5fbc97744b646f34d

**Screenshot:**
![image](https://user-images.githubusercontent.com/77374876/204487552-f95041

[2022-11-30 04:34] amolnater-qasource commented on #1028
Hi @cmacknz @jlind23

We have revalidated this issue on latest 8.6 BC3 kibana cloud-production environment and observed that the issue is still reproducible.

**Observations:**
- A new hosted fleet server shows up, on changing log level for the existing fleet server.

**Build details:**
BUILD: 58485
COMMIT: b52b34c2ff5216c395bd49c5fbc97744b646f34d

**Screen Recording:**

https://user-images.github

[2022-11-30 06:33] jlind23 commented on #1028
@belimawr I saw you are assigned to this [issue](https://github.com/elastic/elastic-agent/issues/1137), correct me if I am wrong but it seems to be the occurence of this right? Closing this issue as we will follow up in the other one.

[2022-11-30 06:33] #1028 closed

[2022-11-30 08:50] elasticmachine opened #2141 "Build 8 for 8.6 with status FAILURE"
## :broken_heart: Build Failed

[![Pipeline View](https://img.shields.io/badge/pipeline-pipeline%20-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.6/detail/8.6/8//pipeline) [![Test View](https://img.shields.io/badge/test-test-green)](https://fleet-ci.elastic.co/blue/organizations/jenkins/fleet-server%2Ffleet-server-mbp%2F8.6/detail/8.6/8//tests)

[2022-11-30 10:14] belimawr commented on #1028
I haven't looked into the issue yet, but it seems to be the same bug/issue.